[2018-10-27 12:55] desperateCoder commented on #659
Great, that is good to know so far.
I'll start building the App-DB next.
If there are news concerning the Headers, just let me know. Also, a little more documentation of the endpoints would help a lot.

Thank you so far and sorry for spamming my questions here :)
Happy coding!

[2018-11-01 11:20] cloud2018 opened #668 "overlay shared-icon like in app files"
**Is your feature request related to a problem? Please describe.**
just increase consistency to app files

**Describe the solution you'd like**
For shared boards overlay the shared-icon in the bullet just like in the app files for shared folders

**Describe alternatives you've considered**
Change nothing to keep the UI clear

**Additional context**
app files:
![screenshot_2018-10-31 files - nextcl

[2018-11-01 11:33] juliushaertl commented on #668
Thanks for your suggestiong @cloud2018. While I like the indicator in the right board list, the small icon in the sidebar is definitely to small to be recognized. I think we should instead display it the same way other apps like calendar/contacts are doing it:

![image](https://user-images.githubusercontent.com/3404133/47849466-00bc2100-ddd2-11e8-9358-9b24a69570c6.png)

For the main list, we proba

[2018-11-02 14:37] dosch opened #670 "Filter view: only see cards by person x or tag y"
I'd like to have filtered views

When viewing a deck full of cards I'd like to filter to see only cards assigned to me, or with a certain tag on them.

This would allow me to quickly see what is relevant to me.

[2018-11-05 06:17] tobiasKaminsky opened #674 "Master upgrade failed"
**Describe the bug**
I did a git pull on master and all apps.

**To Reproduce**
1. git pull
2. see this on reloading page
[code]

**Expected behavior**
Smooth updgrade.

[2018-11-05 06:18] tobiasKaminsky commented on #674
Due to "oc_cards" I assumed that this is deck app, but I do not have it installed…

[2018-11-05 14:07] #659 closed

[2018-11-06 16:52] brianbgness opened #678 "Checkboxes in v0.5.0-beta1 behave upside down"
### Steps to reproduce
1. Create a new card with many checkboxes like this.
[ ] 1
[ ] 2
[ ] 3
[ ] 4
[ ] 5
[ ] 6
[ ] 7
[ ] 8
[ ] 9
[ ] 10
[ ] 11
[ ] 12

2. Check box number 12
3. Exit the card and return
4. Notice box number 1 is checked instead
5. Uncheck box number 12
6. Exit the card again and return
7. Notice box number 1 is unchecked

If you map the boxes, you will notice the following:
1 = 12

[2018-11-06 18:18] brianbgness opened #679 "Manage user permission in v0.5.0-beta1 is confusing"
**Is your feature request related to a problem? Please describe.**
Currently, the 'Manage' user permission lets users to insert/modify/delete tags, and also gives read-only view to the permission checkboxes.  This is very confusing to me.

**Describe the solution you'd like**
1. rename 'Manage' permission to 'Manage Tags'
2. rename 'Edit' permission to 'Edit Cards'
3. rename 'Share' permission to

[2018-11-06 18:43] #588 closed

[2018-11-06 18:51] juliushaertl commented on #670
Seems to be a duplicate of #414

[2018-11-06 18:51] #670 closed

[2018-11-06 18:52] juliushaertl commented on #664
You can already add images that are uploaded as an attachment to the description. Is that what you had in mind?

[2018-11-06 18:56] juliushaertl commented on #438
This is ongoing effort, therefore removing the milestone.

[2018-11-07 01:49] brianbgness commented on #679
Oops I failed to include that the 'Manage' permission lets a user assign a card.  So continuing from above:

10.  create 'Assign Cards' permission
11. 'Admin' users can set 'Assign Cards' permission
12. of course the owner can set all permissions for all users

[2018-11-07 02:03] brianbgness commented on #249
I would love to have this functionality!  If too difficult to implement drag and drop, perhaps a Move option could be added to the card triple-dot menu.  Then be prompted for which board and stack to move to.

[2018-11-07 03:29] RyanFletcher86 commented on #249
Yes the ... dot menu is my plan for this. I've been taking some job interviews in my local area and getting bogged down by the code challenges companies are wanting me to do as part of their application process. Going to touching up my own portfolio tomorrow morning, but back around to this in the afternoon.

[2018-11-07 03:41] RyanFletcher86 commented on #14
Unassigning myself for the time being to encourage other potential bounty hunters to have a go at this. If anyone else would like to take this on by all means feel free to explore what has already been started. I'll revisit this task in the New Year if it's still open at that time.

This is just a bit much for me at the moment.

[2018-11-07 05:11] plyaskin commented on #663
@brianbgness, I told about all the information on one board. Do you ready to share financial information of the company for all users even if you to trust all of them? Agree not everyone should know this information as some other.

[2018-11-07 14:32] aeph6Ee0 commented on #577
The **deep copy** in following two lines looks suspicious:
https://github.com/nextcloud/deck/blob/6754cfe73bbbae388742bbc0664fa1fd09bcc09d/js/controller/CardController.js#L103
https://github.com/nextcloud/deck/blob/6754cfe73bbbae388742bbc0664fa1fd09bcc09d/js/controller/CardController.js#L144

[2018-11-08 17:07] brianbgness commented on #663
Good point.  Some information within organizations should be kept confidential.  Human Resources (aka HR) is one example.  Suppose the HR department wanted to use Deck to track employee annual reviews where employees are given raises and bonuses.  In this use case, the whole board cannot be public due to the salary information.  HR would own the board and see it all.  But for everyone else, cards

[2018-11-08 17:20] brianbgness commented on #679
Editing 8 to reflect assigning cards:

8. (edited) 'Admin' users have de-facto permission to 'Manage Tags', 'Edit Cards', and 'Assign Cards'

[2018-11-09 11:40] #621 closed

[2018-11-09 13:45] #678 closed

[2018-11-09 14:50] #577 closed

[2018-11-09 15:01] #575 closed

[2018-11-09 15:09] cloud2018 opened #683 "show deleted items only from active board not from all boards"
**Is your feature request related to a problem? Please describe.**
In the right board details, all deleted items are displayed, regardless of which board the cards or stacks are deleted from.

**Describe the solution you'd like**
In the right board-details view show only the deleted items, which are deleted from the active board, not from other boards

[2018-11-09 15:38] juliushaertl commented on #683
Thanks for reporting. I could reproduce, seems the list isn't cleared properly.

[2018-11-09 15:41] juliushaertl commented on #634
Fixed with a6da1de

[2018-11-09 15:41] #634 closed

[2018-11-09 15:42] #683 closed

[2018-11-09 15:56] juliushaertl commented on #531
Let's keep it this way for the first API version.

[2018-11-09 15:56] #531 closed

[2018-11-09 15:56] cloud2018 commented on #683
Danke

[2018-11-09 16:07] cloud2018 opened #684 "wrong timestamp is shown in timeline"
**Describe the bug**
When i try to undeleted a card from a shared board and i have no right to share, edit and manage the time of deletion is wrong

**To Reproduce**
Steps to reproduce the behavior:
1. share a board to user 2 and share without rights
2. delete a card from the shared board
3. as user 2 try to undelete the card
4. See "49 years ago"

**Expected behavior**
The correct time is shown o

[2018-11-09 16:30] cloud2018 opened #685 "endless load icon on avatar"
**Describe the bug**
When i click on my avatar in a shared board and i have no right to share, edit and manage a popup is displayed and the first line shows the waiting icon forever

**To Reproduce**
1. share a board to user 2 and share without rights (same as in 684)
2. open the board details view
3. click on the avatar of the owner (1), nothing happens
4. click on the avatar of myself (2), popup

[2018-11-09 21:48] weeman1337 commented on #631
I'll have a look at this one

[2018-11-10 09:19] juliushaertl opened #687 "Fix nightly builds"
Nightly builds are currently broken, since we switched to krankerl. Unfortunately the krankerl Deb package doesn't like the libssl version on the build machine.

Maybe we should just move the nightly build to the CI and build a package for every master push.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/65990821-fix-nightly-builds

[2018-11-10 09:49] #363 closed

[2018-11-10 09:49] #655 closed

[2018-11-10 09:57] cloud2018 opened #688 "papercut: unify title of icon-more"
icon-more has title / aria-label "Actions", "More action" or "View more" or not labeled.
part.board.mainView.php, part.card.attachments.php and part.navigation.php

What do you think about always  use title "More actions"?

[2018-11-10 10:14] juliushaertl commented on #688
I think just "Actions" is the best option. We should probably use more actions if there were another action button besides the three dots menu, but we don't have that right now.

[2018-11-10 12:52] cloud2018 opened #691 "Papercut: unify name of actions"
Sometimes the name of actions is short, sometimes long
ex.: board actions: edit board, delete board...
ex.: card actions: edit, delete, assign, ...:

![action](https://user-images.githubusercontent.com/34692335/48301499-7bcab900-e4ef-11e8-81d4-e3bd89ed688e.png)

What do you think about always use action + object (delete board, delete card, delete attachment, ...)?
I prefer this to just only edit,

[2018-11-10 13:29] desperateCoder opened #692 "405 on GET-call for stacks"
**Describe the bug**
From the Deck-Android-app i am trying to request the stacks of a board.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout Deck app
2. Run it
3. See error (on console):

2018-11-10 14:24:45.970 14734-14734/it.niedermann.nextcloud.deck E/#### deck: GET
2018-11-10 14:24:45.970 14734-14734/it.niedermann.nextcloud.deck E/#### deck: /index.php/apps/deck/api/v1.0/board/7

[2018-11-10 13:39] desperateCoder commented on #692
Never mind. wrong URL, its "board**s**" not "board". RTFM at its finest.

[2018-11-10 19:45] stefan-niedermann commented on #692
Actually i would expect to get a `404` instead of a `405`...?

[2018-11-12 11:16] jeyca opened #696 "0.5 release?"
Can you tell when 0.5 will likely be released and available in app store? We would really need to use the comment function and we don't know if we should install the beta manually or wait for the release...

[2018-11-12 12:31] juliushaertl commented on #692
Seems this is caused by the preflighted_cors route that matches anything unter /api/v1.0/ https://github.com/nextcloud/deck/blob/37a2858d5f1cd61c7a92eb47ad7578cdd8753cb4/appinfo/routes.php#L117 So there is a route matching the url but only with the OPTIONS method.

[2018-11-12 13:31] #688 closed

[2018-11-12 13:32] juliushaertl commented on #691
Yes, I think action+object makes the most sense here. So we would have to rename the board details to "Show board details" and have "Assign to me" renamed to "Assign card to me".

[2018-11-12 13:34] juliushaertl commented on #696
0.5 is planned to be released this week. However if you want to help us testing, I don't see any major issues with running the rc2. https://github.com/nextcloud/deck/releases/tag/v0.5.0-rc2

[2018-11-12 13:34] #696 closed

[2018-11-12 15:29] stefan-niedermann commented on #692
well, makes perfectly sense now.

But instead of matching globally `/api/v1.0/{path}` - shouldn't be there a preflight route for each normal route? this way we could keep cors working while returning more descriptive http status codes? :)

[2018-11-12 16:15] juliushaertl commented on #692
The thing is, we can't have multiple routes use the same controller method, so we would need to have a separate controller method for each route matching the api routes. And for the regular routes, they are not needed, since those are only called from the nextcloud server.

[2018-11-12 17:34] UkeFan opened #698 "Live-View for groups"
As a replacement for trello it would be great if all users being in the same staple could see changes one does. By now you have to reload in order to see changes. If it was more/less live like the NC-file-handling itself - GREAT (-:
But so far: Cool to have your app in NC!! Thank your very much!!

[2018-11-12 17:44] juliushaertl commented on #698
@UkeFan Thanks for your request. We already have an issue for that, so I'm closing this as a duplicate of https://github.com/nextcloud/deck/issues/256

[2018-11-12 17:44] #698 closed

[2018-11-12 20:19] UkeFan commented on #256
Yes! That would be gorgeous!

[2018-11-12 21:10] stefan-niedermann commented on #692
well, if there are technical limitations, i am fine with it. Just wanted to point out, that i would expect a `404` in this case :) - feel free to close!

[2018-11-15 11:14] Shinokuni opened #703 "Organize boards by project"
Would it be possible to add boards by project ?

A project would gather multiple boards like dev, functional and technical specifications, UI/UX design, etc.

A project could take back some of the board properties.

Thus, the left panel would be more clear and you would be able to sort by project and by board.

[2018-11-15 16:09] bpcurse opened #704 "Cannot enter comments in Deck 0.5.0 / NC 13.0.7"
Just updated Deck to 0.5.0 and ran some tests. Creating a new comment in the timeline seems to be impossible.

***Steps to reproduce:***
- Click on an existing or new card
- Click on "Zeitachse" (Timeline)
- Enter new comment and click the arrow to the right.

***What should happen:***
- Comment is created and shown in the list

***What actually happens:***
- Error message appears: "Absenden des K

[2018-11-15 16:16] bpcurse opened #705 "Cannot create new cards in Deck 0.5.0 / NC 13.0.7"
**Describe the bug**
Just updated to deck 0.5.0 and ran some tests. Creating a new card seems to be impossible.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the '+' sign in a stack
2. Enter a card title
3. Hit Enter
4. Nothing happens. Keyboard 'enter' command is ignored.

**Expected behavior**
A new card should be created.

**Client details:**
 - OS: Manjaro Linux
 - Browser: Fi

[2018-11-15 16:20] juliushaertl commented on #705
Thanks for your report @bpcurse Un fortunately I cannot reproduce this with Firefox on 13.0.7

Can you check your browser console for errors and maybe try with an empty browser cache?

[2018-11-15 16:21] bpcurse commented on #603
+1 @weeman1337: The display of "old / pre 0.5.0" style tags in compact mode would be nice.

[2018-11-15 16:22] juliushaertl commented on #704
This one looks strange but I cannot reproduce this on 13. Is there any difference in configuration between the 13 and 14 servers, you have tested this on?

**"Entity type "deckCard" not found.**
[code]

[2018-11-15 16:34] bpcurse commented on #705
@juliushaertl Thanks for the advice. Unfortunately clearing the browser cache and restarting the browser did not help.

**Browser console log (cache emptied before), all entries created after hitting 'enter':**
Possibly unhandled rejection: Fetchingcards failed vendor.js:7:78644
i/<   https://cloud.fachschaftmedizin.de/apps/deck/js/build/vendor.js:7:78644
En/this.$get</<   https://cloud.fachschaft

[2018-11-15 16:48] bpcurse commented on #704
@juliushaertl Thank you for your fast reply and your work!

Yes, i'm afraid these are completely different servers and setups with many differences in apps and user count. The 14.0.3 is a relatively new self administered physical server, with almost no users at the moment. The 13.0.7 is a pretty long running shared hosting server with 100+ users. Will try to deliver detailed configuration and a te

[2018-11-15 16:50] cappuMUC opened #706 "Missing icons for "show archived cards" and "compact mode" in Deck 0.5.0 / NC14.0.3 and Firefox 63.0.1"
The icons of the buttons to "Show archived cards" and "Switch to compact mode" are missing. It seems, that the `background-image` property gets overwritten by another style rule.
![grafik](https://user-images.githubusercontent.com/9985266/48566801-f9316780-e8fb-11e8-9ac5-dcf5d5164a2c.png)

[2018-11-15 17:01] bpcurse commented on #704
@juliushaertl
The cards actually seem to be created. One just has to reload the page.
Same behaviour when deleting or assigning a card to oneself via 3 dot menu. Nothing seems to happen, but the card is deleted anyway, which can only be seen after a page reload.

**Curiously, archiving the card via 3-dot menu works immediately...**

[2018-11-15 17:03] bpcurse commented on #705
@juliushaertl
The cards actually seem to be created. One just has to reload the page.
Same behaviour when deleting or assigning a card to oneself via 3 dot menu. Nothing seems to happen, but the card is deleted anyway, which can only be seen after a page reload.

Curiously, archiving the card via 3-dot menu works immediately...

[2018-11-15 17:06] cappuMUC commented on #706
I've found more missing icons in the sidebar...
![grafik](https://user-images.githubusercontent.com/9985266/48568790-719a2780-e900-11e8-99c8-3d237faa2e69.png)

...and the cards actions menu.
![grafik](https://user-images.githubusercontent.com/9985266/48568925-cb9aed00-e900-11e8-8c7e-907a960fb5e5.png)

They get overridden by the same CSS rule for example the Deck icon gets overridden by:
[code]

[2018-11-15 17:13] bpcurse commented on #706
All icons are displayed fine here on a 14.0.3 instance / Deck 0.5.0 accessed by Firefox 63.0.1 on Linux Desktop. NC Server running manjaro i3, nginx, mariadb.

[2018-11-15 17:40] juliushaertl commented on #706
@cappuMUC Can you try a forced reload so that your browser also redownloads cached css files? Should work by pressing Ctrl+F5 in Firefox.

[2018-11-15 17:42] juliushaertl commented on #705
Yes, those errors should be helpful. I'll look into that.

[2018-11-15 22:15] danicotillas opened #707 "Failure to send message when @ someone"
**Describe the bug**
When I cited someone on a card the message is not sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Deck
2. Click on a Card
3. Go to Timeline
4. Write a comment with @ someone

**Expected behavior**
To send the message citing that person

**Screenshots**
![captura de pantalla 2018-11-15 23 14 45](https://user-images.githubusercontent.com/7635775/48585222-45949b

[2018-11-16 08:00] juliushaertl commented on #707
Thanks for your report. Can you please check your nextcloud log and browser console for errors and report them back?

[2018-11-16 08:05] juliushaertl commented on #706
If that is the case we probably want to backport https://github.com/nextcloud/server/pull/12408 to stable14 as well.

[2018-11-16 09:17] joergmschulz commented on #706
confirmed. With Firefox on apple: Shift-Cmd-R reloads and displays icons alright.

[2018-11-16 09:48] cappuMUC commented on #706
@juliushaertl A forced reload with Ctrl+F5 did the trick on my machine. Now everything looks as expected.
Thank you very much! :smile:

[2018-11-16 09:54] juliushaertl commented on #706
Ok, closing this as a server issue then. I will prepare a backport for stable14 as well.

[2018-11-16 09:54] #706 closed

[2018-11-16 11:00] magaiverpr opened #708 "After 0.50 update, can't enter in decks"
Updated to version 0.50. Now I can't enter in the decks created. Nextcloud version 13.0.6.

Error message:

![imagem 9](https://user-images.githubusercontent.com/10533823/48617521-d3e53d80-e97d-11e8-9bc8-06db08e475d8.png)

Found log when trying to access:

![imagem 7](https://user-images.githubusercontent.com/10533823/48617539-e2cbf000-e97d-11e8-9b74-8cd67b1ec1b2.png)

[2018-11-16 12:15] danicotillas commented on #707
I´m sorry @juliushaertl I´m not so proficient with this stuff. Can you give me Layman´s instructions to get you the nextcloud log and browser console? I will with pleasure

[2018-11-16 15:39] juliushaertl commented on #708
@magaiverpr Can you provide the full log message of the last error? You can expand that usually by clicking on it.

[2018-11-16 15:40] juliushaertl commented on #707
The browser console can be accessed by pressing F12 once you are on the page. Then try to post that comment again and check if there are errors there. The nextcloud log should be located in the file data/nextcloud.log of your Nextcloud installation. Or you can browse it in the admin panels Logging section.

[2018-11-16 16:16] magaiverpr commented on #708
![imagem 10](https://user-images.githubusercontent.com/10533823/48633278-276d8080-e9aa-11e8-96db-017685f8f7a5.png)

[2018-11-16 17:14] bpcurse commented on #705
Do I get this right, that there is a problem with the correct use of the dbtableprefix? Our dbtableprefix is not 'oc_', it is an individual string.

From the nextcloud log, after hitting the enter key:
`{"reqId":"W@7x4zCgQ0B5QtC4E3n3bQAAAA8","level":3,"time":"2018-11-16T16:35:47+00:00","remoteAddr":"[anonymized]","user":"[anonymized]","app":"index","method":"POST","url":"\/index.php\/apps\/deck\/c

[2018-11-16 17:21] bpcurse commented on #705
The browser network tab info returns 500:

`POST /index.php/apps/deck/cards HTTP/1.1
Host: [anonymized]
User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:63.0) Gecko/20100101 Firefox/63.0
Accept: application/json, text/plain, */*
Accept-Language: de,en-US;q=0.7,en;q=0.3
Accept-Encoding: gzip, deflate, br
requesttoken: [anonymized]
Content-Type: application/json;charset=utf-8
Content-Length: 48
DNT: 1

[2018-11-16 17:44] bpcurse commented on #704
The same happens using Chromium instead of Firefox.

Here are the configuration details:

**13.0.7 shared hosting server**

Operating system: Linux 4.4.0-139-generic #165-Ubuntu SMP Wed Oct 24 10:58:50 UTC 2018 x86_64
Webserver: Apache (fpm-fcgi)
Database: mysql 5.7.21
PHP version:
7.1.19-nmm1 Modules loaded: Core, date, libxml, openssl, pcre, zlib, bcmath, bz2, calendar, ctype, dom, hash, filter,

[2018-11-16 20:23] danicotillas commented on #707
Thanks,
The nextcloud log is empty and the console says:
![captura de pantalla 2018-11-16 21 22 39](https://user-images.githubusercontent.com/7635775/48645392-d8454100-e9e5-11e8-8ff7-e5586ca64cbb.png)

[2018-11-16 22:42] bpcurse commented on #705
Looks like the individual dbprefix is missing indeed and "oc_" is used instead.
@juliushaertl Could you please check if this is the correct solution?

I have made the following change in /lib/Db/ChangeHelper.php (line 68):

FROM:
$sql = 'SELECT s.board_id as id, c.stack_id as stack_id FROM oc_deck_stacks as s inner join oc_deck_cards as c ON c.stack_id = s.id WHERE c.id = ?';

TO:
$sql = 'SELECT s

[2018-11-17 08:22] putt1ck opened #710 "Possible to assign a user to a card twice (duplicate)"
**Describe the bug**
When adding a user and you think you have mis-clicked and try adding again, it is possible to end up with the user assigned to the card twice.
![image](https://user-images.githubusercontent.com/2872580/48658775-58e45b80-ea3f-11e8-9c6b-67e978bd099d.png)

This is both visual on the card and shows as separate activity entries.

NC 14.03

Related: browser is under heavy load (bad

[2018-11-17 09:11] juliushaertl commented on #705
@bpcurse Ah yes, that makes sense. Mind to open a pull request with the change? Thanks for looking into that. :+1:

[2018-11-17 09:45] #691 closed

[2018-11-17 09:47] juliushaertl commented on #710
Thanks for reporting @putt1ck Indeed we should show a proper loading indicator and avoid inserting the user assignment twice.

[2018-11-17 09:49] juliushaertl commented on #707
@danicotillas Does this only happen if you add a comment iwht a user mention or also with just a simple comment?

[2018-11-17 09:51] juliushaertl commented on #704
Probably related to https://github.com/nextcloud/deck/issues/707

[2018-11-17 09:52] danicotillas commented on #707
Just with a mention

[2018-11-17 09:54] juliushaertl commented on #704
@bpcurse Just to make sure, is the comments app enabled on both instances?

[2018-11-17 12:06] putt1ck commented on #707
Does the mention show on the activity stream?

[2018-11-17 12:25] cloud2018 opened #711 "Papercut: Unify text of activity"
Papercut: Unify text of activity
Sometimes "card {card}", "stack {stack}" or "board {board}" is coded, sometime just "{card}", "{stack}" or {board}.

**current:**
You have unarchived {card} in {stack} on {board}'
You have moved the **card** {card} from {stackBefore} to {stack}
{user} has added a description to {card} in {stack} on {board}'

**suggestion:**
1)Use always "object" +" title of object"

[2018-11-17 14:56] woosting opened #712 "Search results in blank page (after briefly displaying the correct results)"
**Describe the bug**
After initiating a search using the Nextcloud search bar (top right corner in the blue bar) the page does shortly display the correct search result, but it gets replaced with a blank page after ca. half a second (on Firefox) or even a This page isn't working (405) error on Vivaldi. Rendering the Search functionality unusable.

**To Reproduce**

Reproduces on the `Nextcloud pub

[2018-11-17 14:57] woosting commented on #712
Reproduces on the Nextcloud public demo system (and reproduces 100% of the times)!

Please let me know if more/specific information is required!

[2018-11-17 15:53] bpcurse commented on #704
@juliushaertl Comments app is enabled on both instances. Version 1.3.0 (on 13.0.7) and version 1.4.0 on (on 14.0.3).

[2018-11-17 16:14] putt1ck opened #713 "Ability to choose to be notified per board"
If you are involved with lots of projects or sub-projects, being notified of changes for every board can become a distraction. If you could choose to be notified only on a per board basis, you could decide which boards were a priority for you and not receive updates from every board.

Bonus addition: board admin to have option to set for all users (useful for boards tracking reported issues on a n

[2018-11-17 16:44] bpcurse opened #714 "Link to contributing guidelines in readme shows 404 error"
**Describe the bug**
Error 404 is encountered if the link to the contributing guidelines is followed.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the deck readme.md at https://github.com/nextcloud/deck#contribution-guidelines
2. Click on 'guidelines for contributing' link
3. See error 404

**Expected behavior**
Contributing guidelines should be shown

[2018-11-17 17:04] bpcurse commented on #705
I hope the pull request is correct as I have never made a commit to github before.

[2018-11-18 00:52] danicotillas commented on #707
No, never

[2018-11-18 06:42] putt1ck commented on #707
Even as an item in your (as the mentioner) activity stream?

<thinking aloud> is a mention being treated differently to adding someone to a card (in terms of notification and association with a user)?

[2018-11-18 13:46] cloud2018 opened #716 "Timeline of a board also shows the comments of cards from other boards"
**Describe the bug**
similar to closed #683
The timeline of a board also shows the comments of cards from other boards

**To Reproduce**
Steps to reproduce the behavior:
1. Create a board "b1" with stack "s1"
2. Create a card "c1_s1_b1" in stack "s1_b1" on board "b1"
3. Comment in timline of card "c1_s1_b1"
4. Create a board "b2"
5. Unexpected: On timeline of board "b2" you see "comment in timline

[2018-11-18 13:57] delightfuldude commented on #534
@juliushaertl thanks for this great nextcloud app!
Any progress so far? Is there an option to mark cards as done/finished?

[2018-11-19 09:03] lucianpricop opened #717 "Cards should have a pointer cursor"
UX issue: I think the cursor should be pointer when hovering a card this way the user knows they can click to bring up more info

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/66352239-cards-should-have-a-pointer-cursor?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via

[2018-11-19 09:15] ashgoodman commented on #704
Same issue
Comments enabled
Nextcloud 13 via snap
Console gives the following message

Content Security Policy: The page’s settings blocked the loading of a resource at inline (“script-src”).

That message appears when a card is clicked on

Also, getting message that remote.php cannot be found

[2018-11-19 09:19] lucianpricop opened #718 "Editing card description stops when swapping windows"
**To Reproduce**
Steps to reproduce the behavior:
1. Start editing the description of a card
2. Type some text
3. Swap window (e.g. want to copy some URL to paste it in description)
4. Swap back to Deck window
5. The description has been saved to card, editing disabled. You need to click and wait again to be able to continue typing

**Expected behavior**
Cursor at the end of the typed text and bei

[2018-11-19 09:46] lucianpricop opened #719 "Details side panel opens in main window then moves to the right"
**Describe the bug**
When there is already a card's details open in the right hand panel, clicking on another card to open the details panel, the panel opens in the central area while still showing the previous card's details then closes the previous card's details and the current card's details moves to the right to cover/hide the previous'

**To Reproduce**
Steps to reproduce the behavior:
1. Op

[2018-11-19 10:33] juliushaertl commented on #704
@bpcurse Any change you can apply [this patch](https://gist.github.com/juliushaertl/ee0791e1b337a35e8397241bf10acf17) to the deck app and check if the two log message appears in the log when browsing https://yournextcloud/remote.php/dav/comments (with debug mode enabled on your instance you can just open this in the browser)

[2018-11-19 10:33] juliushaertl commented on #704
Same for @ashgoodman as well :wink: Maybe we can track down the issue then a bit.

[2018-11-19 10:34] juliushaertl commented on #719
@lucianpricop Can you provide me with some details about the Nextcloud version and browser you are using?

[2018-11-19 10:38] #714 closed

[2018-11-19 10:46] juliushaertl commented on #711
I think your first suggestion is the best. Otherwise it is hard to understand what the object title is about. Good proposal @cloud2018 :+1:

[2018-11-19 13:00] ashgoodman commented on #704
Applied the patch

I dont get the error logs when navigating to .../remote.php/dav/comments  in the browser, but still cant post a comment and still getting same error in console when I click on a card

[2018-11-19 13:20] magaiverpr commented on #708
Restarted the Nextcloud server and now it's working.

[2018-11-19 14:00] juliushaertl commented on #708
Probably some weired caching issue then. Let's close this since you seem to be the only one affected.

[2018-11-19 14:00] #708 closed

[2018-11-19 15:22] Ngri88 opened #720 "Duplicate of assigned users"
After upgrading to version 0.5.0, the Deck began to freeze. After the user is assigned to the card, nothing visually happens, but after a while the designated user appears on card in the number of several copies. In this case, any ability to manage the assigned users or remove the user from the card is lost.

**Client details:**
 - OS: Win 7
 - Browser: Any

![bug](https://user-images.githubuserco

[2018-11-19 23:09] bpcurse commented on #704
@juliushaertl

- Applied the patch in /apps/deck/lib/AppInfo/Application.php like this
[code]

- Set debug mode and log level 0 in config.php
[code]
- Tried to comment on a card. Did not work, as expected
- Got this result at https://myinstanceURI/remote.php/dav/comments

![mycloudinstance_remote php_dav_comments](https://user-images.githubusercontent.com/29312856/48739719-1ac08500-ec55-11e8-961f-

[2018-11-20 07:59] ashgoodman commented on #704
Disabled Deck, copied Application.phpin full from https://github.com/nextcloud/deck/blob/master/lib/AppInfo/Application.php over my installs copy

Re enabled deck

Comments work!!

[2018-11-20 08:15] ashgoodman commented on #704
However the notification email does not contain the name of the person who commented nor the content of the comment email just says:

[code]

[2018-11-20 08:22] putt1ck commented on #704
I think this is a separate bug, as we also see this behaviour in NC14.03.

[2018-11-20 08:35] juliushaertl commented on #704
@ashgoodman Yes, please open a separate issue for the email notification. :wink:

Glad it worked. I assue there has been something wrong during update then or opcache is somehow not up to date :disappointed:

@bpcurse Maybe you can also try replacing the files manually with the ones from the release package and restart the webserver?

[2018-11-20 08:39] putt1ck opened #721 "Activity notification emails don't contain user and other details"
If you enable email notification for Deck, the notification emails don't identify the user who carried out the action, nor the action e.g.

 _Today at 08:21
 has created  in Notes on__

The user and action are correctly identified in the same item in the activity stream e.g.

_**John Doe** has created My example note in Notes on_

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2.

[2018-11-20 08:39] putt1ck commented on #704
New issue created https://github.com/nextcloud/deck/issues/721

[2018-11-20 08:43] ashgoodman commented on #721
another example

In the activity stream it says:
John Doe has commented on Some card name                         30 minutes ago

Comment content goes here

but in the email it says
Today at 4:10 PM
has commented on

So the email is missing context (what card), who, and what was said

[2018-11-20 09:06] putt1ck commented on #720
Is this a duplicate of #710 ?

[2018-11-20 09:31] putt1ck commented on #720
My overly long description at fault! Will close this as a duplicate of #710

[2018-11-20 09:31] #720 closed

[2018-11-20 09:42] #705 closed

[2018-11-20 20:09] cloud2018 commented on #711
@juliushaertl A question before implementation:
In activities "label" and in board/card view "tag" is used. How should this unified? "tag" also in activities or (with another PR) everywhere "label"?

[2018-11-20 21:37] bpcurse commented on #704
@ashgoodman Nice and simple trick! :thumbsup:
I didn't even copy Application.php. Only deactivated deck, switched to files, switch back to apps and reactivated it. That's all, it works. Weird bits and bytes :monkey_face:
(And removed the logger patch from Application.php)

@juliushaertl Should we close this now as the bug is extremely easy to handle? Maybe it's not even deck's fault?

Thank you fo

[2018-11-20 22:21] juliushaertl commented on #704
Yes, let's close it since it is pretty hard to reproduce and we don't have any hints why this might have failed.

[2018-11-20 22:21] #704 closed

[2018-11-21 19:23] juliushaertl opened #722 "Don't add null values to the activity subject parameters"
https://github.com/nextcloud/android-library/issues/201

[2018-11-22 15:43] artfulrobot opened #724 "Deck creates thousands of preview requests"
### Steps to reproduce
Just click the Deck app!

### Expected behaviour
Deck to work without generating all these preview requests

### Actual behaviour
When I use the Deck app I noticed my server load shot up. Looking in the browser console I see thousands of calls to `/core/preview.png?file=...` - there seems to be a never ending stream of them.

My `appdata_XXX/preview` directory is now up to a

[2018-11-22 15:45] bpcurse opened #725 "Don't open detail sidebar when editing card title"
### Usability proposal:
When you click on the upper part of a card only to edit the description, the details sidebar is opened.
If you just want to quickly edit some card descriptions this seems unnecessary and takes some time on slow systems.

### How to change this behaviour:
Only open details if the lower (grey) part of the card is clicked on.

[2018-11-22 17:01] juliushaertl commented on #725
Yes, that sounds like a good idea. Clicking the text should not result in opening the details.

[2018-11-22 17:08] juliushaertl commented on #724
Thanks for reporting. A fix is in https://github.com/nextcloud/deck/pull/726

[2018-11-22 17:11] juliushaertl commented on #707
This actually looks like https://github.com/nextcloud/deck/issues/704 Can you try to restart your webserver? Otherwise please try manually replacing the deck app folder with the files from the release.

[2018-11-22 17:32] bpcurse commented on #725
@juliushaertl I could try to look into this, success not guaranteed :wink:
Could you point me to the deck files I should have a look at?

[2018-11-22 17:51] bpcurse opened #728 "Show comments on a separate tab"
**Is your feature request related to a problem? Please describe.**
In deck app comments are integrated into the timeline. In files app comments are on a separate tab.
Is there a special reason why comments are implemented in another way in deck? My personal favourite is the files app's way of showing comments. What do you think?

**Describe the solution you'd like**
To have this streamlined throug

[2018-11-22 17:57] cloud2018 opened #729 "Papercut: remove double blanks "Create board""
**Describe the bug**
"Create  Board" string contains duplicate blanks, creating an unnecessary entry in the translation files

[2018-11-22 17:59] bpcurse opened #730 "Indicate on a card that comments were made"
**Is your feature request related to a problem? Please describe.**
At the moment you cannot see if anyone commented on a card if you do not open the details and click on the corresponding tab.

**Describe the solution you'd like**
Alike the paper symbol that is displayed on the card if a description exists, a ballon / speech bubble symbol should be displayed next to the paper symbol if a comment w

[2018-11-22 18:21] hgfhj658d4fg64dfg commented on #414
Our nonprofit would love the label filtering so much since we have so many people and areas to plan for, we are losing oversight with either too many cards in one deck or to many decks.
+1

[2018-11-22 18:40] #729 closed

[2018-11-22 18:57] juliushaertl commented on #730
We actually have the same behavior here as the files app. If you were mentioned in a comment we show the speech bubble on the card. cc @nextcloud/designers Maybe we should show it in general if there were new comments and highlight it a bit more if the user has been mentioned?

[2018-11-22 18:59] juliushaertl commented on #728
Combining all time based entries into one tab is actually a bigger design goal we have set for quite a long time around Nextcloud: https://github.com/nextcloud/server/issues/658

@bpcurse In case there are concrete issues with the unified tab, we should discuss those at the server issue.

[2018-11-22 18:59] #728 closed

[2018-11-22 19:00] #684 closed

[2018-11-22 19:08] juliushaertl commented on #355
@weeman1337 I would actually like to start with the migration in the near future. Do you have anything in mind already how we could handle communication between the existing angular code and new vue components?

Maybe we could start of with some single components like the app sidebar, single sidebaer tabs or a card component.

[2018-11-22 19:51] bpcurse commented on #730
I really like the idea of showing it in general when comments exist and highlighting it in some way if the user has been mentioned. As people use nextcloud/deck differently especially in regard to notification settings, this could help keeping an overview without cluttering the interface too much. It is a logical addition to the paper symbol I would expect without reading a manual.

[2018-11-22 20:04] danicotillas commented on #707
Ok! It´s weird but it worked what it´s explain [here](https://github.com/nextcloud/deck/issues/704#issuecomment-440438306)
I download the deck app > it didn´t work > I deactivated > Go to files > Reactivated > Go to comment > it works!!!!

Thanks for the patience!

[2018-11-22 20:55] skjnldsv commented on #730
@juliushaertl We could even add a counter?

[2018-11-22 20:57] weeman1337 commented on #355
@juliushaertl basically moving services out of angular services is one step (e.g. into own classes or modules). You could still use them in an angular service wrapper.

It's possible to use vue components with angular side by side, but then you have two "frameworks" parallel. This shouldn't be for a long period :/

After this weekend I have some more time. Maybe we can align for the migration.

[2018-11-22 21:54] juliushaertl commented on #355
Probably a good idea to start off with the services so we have the data handling ready. @weeman1337 Are you coming to the nextcloud contributor week next week in Stuttgart?

[2018-11-23 13:12] cloud2018 opened #737 "user permissions unclear"
**Describe the bug**
Clicks on actions of user with insufficient rights are confusing

**To Reproduce**
1. Archive a card
2. Share Board with user "U", without rights (no Share, no Edit, no Manage)
3. Open the board with user "U"
4. Click "show archived cards"
5. Click card's 3-dots-icon and click action "unarchive card"
6. the card disappears
7. reopen the board
8. the card is still archived
**Ex

[2018-11-23 14:31] #631 closed

[2018-11-23 15:09] bpcurse commented on #728
@juliushaertl Thank you for linking the server issue. I wasn't aware of this. Will talk to our user community here and afterwards join the server discussion with that input. First user reactions towards mixing comments and other activity in one tab have been negative.

[2018-11-23 16:54] weeman1337 commented on #355
@juliushaertl as discussed start a branch and I'll jump in. If we're changing many things you may consider moving to ESLint and updating webpack.

[2018-11-23 17:26] #724 closed, assigned to nobody

[2018-11-24 18:49] bpcurse opened #745 "Timeline is cluttered up by autosave"
**Describe the bug**
When a card's description is edited in detail view, autosave is active quite often. Every autosave action is logged to the timeline.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the detail view of a card.
2. Write something in the description field or change something.
3. Wait approx. 3 seconds.
4. Repeat steps 2 and 3 several times
5. Look at the timeline. It i

[2018-11-25 23:39] rolandwells commented on #712
I am experiencing the same 405 page.
Deck version 0.5.0
Nextcloud version 14.0.4

[2018-11-26 08:10] delightfuldude commented on #534
Bump!
How to mark a card as done?

[2018-11-26 10:54] juliushaertl commented on #712
Yes, I could reproduce as well. I'll look into fixing this for 0.5.1

[2018-11-26 22:45] soerpoers commented on #564
yeah – should be possible. We want to use it in our team instead of trello, but this feature is missing. yes we know, we can go to the file and copy the share link but it's not pretty elegant. Is it possible to show this window of copy the link to share it?
i would help but haven't any skills in programming with API's :(

[2018-11-28 17:14] quenenni opened #749 "New version add false db prefix"
**Describe the bug**
I installed a new instance of NC14.04 with the last version of deck (0.5.0).
When going on the deck page, I have an "Internal Server Error".

In the logs, there is this error:
[code]

In config.php, I have: 'dbtableprefix' => '',

And in the Db, I have 8 tables starting with deck_ and the table deck_stacks exists.

Somewhere in your code, you add oc_ as a table prefix.

[2018-11-28 17:38] quenenni commented on #749
I put back v0.4.1 and deck works again.

[2018-11-28 17:45] bpcurse commented on #749
Probably related to this one, as I haven't found another file containing "oc_" after a quick search:
https://github.com/nextcloud/deck/issues/705#issuecomment-439551610

Try to edit the file [yournextclouddirectory]/apps/deck/lib/Db/ChangeHelper.php (line 68) as shown in the comment.

[2018-11-28 18:37] quenenni commented on #749
@bpcurse Yes, it fixes the problem. Thanks a lot.

[2018-11-29 00:02] bsherwoodofdaptiv commented on #187
I will say this. I love the work done so far, and the latest update as well.

I am currently stuck using Trello, simply because of the android (mobile) client. It makes life so easy.

But.. Yes, an API layer has to be written to allow clients to be able to push and pull data in order to build a mobile app (regardless of platform). That is an expensive endevour for any project. So, we all wait pati

[2018-11-29 00:15] bsherwoodofdaptiv opened #750 "Faster / auto refresh of stacks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When I use two different PC's (ie, my desktop and a conference room PC) changes I make on one (conference room) do not automatically show up on my open copy of the same board on my workstation.

**Describe the solution you'd like**
A clear

[2018-11-29 06:41] stefan-niedermann commented on #187
The party continues at https://github.com/stefan-niedermann/nextcloud-deck/

Please note: **This project is pre-alpha and not feature complete**. It is currently able to display boards, stacks and cards, but you have to be online. Offline-support is planned, editing is planned. The Github repo is only a preview, we will add builds for Play Store and F-Droid as soon as we have reached a reliable le

[2018-11-29 15:31] jbonlinea opened #751 "integration : Deck-Task-Calendar-Mail"
Hi guys !

I saw plenty has been said and planned about integrating Deck with Task and Calendar, and mail to a lesser extend (`[here](https://github.com/nextcloud/deck/issues/15)`, [here](https://github.com/nextcloud/deck/issues/605) and [here](https://github.com/nextcloud/deck/issues/392)), but I'm not sure how far are we.
Also I say [this threat](https://github.com/nextcloud/deck/issues/414) abo

[2018-11-29 22:10] mat-man opened #752 "Print Style Error"
### Steps to reproduce
1. Create a Deck with 1 or more Stacks that will cover more than 1 Page when printed.
2. Click on Print and view the print-preview, only the first page will be displayed correctly.

### Expected behaviour
All items should be displayed on as many pages as necessary

### Actual behaviour
When printing Decks with multiple elements covering more than 1 Page in Firefox and/or Goo

[2018-11-30 19:54] jancborchardt commented on #622
I’m with @juliushaertl here – there already is the ID of the URL.

We need to build and maintain every setting, that’s why we keep it simple. It also ensures we don’t just spend all time on fixing issues with little-used features.

[2018-11-30 19:54] #622 closed

[2018-11-30 19:55] jancborchardt commented on #187
Wow @stefan-niedermann, you rock! :man_singer:

[2018-11-30 19:56] jancborchardt commented on #730
A comment icon is good, a counter is a bit information overload and takes more space. In the end it doesn’t really matter if there’s 4 or 5 comments. What’s important is:
- Were there comments at all?
- Did any of them mention you?

:)

[2018-11-30 20:23] stefan-niedermann commented on #187
Credits to @desperateCoder

[2018-11-30 21:51] desperateCoder commented on #187
<3

[2018-12-02 02:42] joshfleming opened #754 "Creating / Renaming Card Title JS Errors"
### Steps to reproduce
Steps to reproduce the behavior:
1. Click title of existing card
1. Type new title
1. Press Enter

### Expected behaviour
Title changes on the screen, with no JS errors.

### Actual behaviour
The title doesn't change on the screen until the browser is reloaded.

## Server configuration detail

**Operating system:** Linux 4.15.0-39-generic #42-Ubuntu SMP Tue Oct 23 15:48:01 U

[2018-12-02 07:38] putt1ck commented on #754
Testing on a similar setups (Ubuntu/Postgres/LDAP), but installed onto a base OS, one on 15RC1 and the other on 14.03, both accessed via an Apache reverse proxy, I cannot reproduce this issue. Tried

Click on title of existing card and amend then press enter;
click on title, delete, type new title and then press enter.

In both cases the title updates in both the "main" view and the details pane,

[2018-12-02 07:55] juliushaertl commented on #754
Can you check your nextcloud log during the failing requests? They should contain more information on what's going wrong.

[2018-12-02 07:59] juliushaertl commented on #749
Will be fixed in the next version.

[2018-12-02 07:59] #749 closed

[2018-12-02 08:38] joshfleming commented on #754
```Doctrine\DBAL\Exception\TableNotFoundException: An exception occurred while executing 'SELECT s.board_id as id, c.stack_id as stack_id FROM oc_deck_stacks as s inner join oc_deck_cards as c ON c.stack_id = s.id WHERE c.id = ?' with params [16]: SQLSTATE[42P01]: Undefined table: 7 ERROR: relation "oc_deck_stacks" does not exist LINE 1: ...ECT s.board_id as id, c.stack_id as stack_id FROM oc_deck

[2018-12-02 09:35] joshfleming commented on #754
I tried switching to the root Postgres root user so it doesn't seem like the problem is related to the DB user permissions.

[2018-12-02 10:45] bpcurse commented on #754
It is probably https://github.com/nextcloud/deck/issues/705 again, as a dbtableprefix other than "oc_" is set in config. @joshfleming Try to apply the fix proposed in #705.

[2018-12-02 11:03] joshfleming commented on #754
Yes, Modifying that line fixed it. However that issue is closed and states that bug only exists in NC 13 and I'm running NC14. Is this fix queued up for an upcoming release?

[2018-12-02 11:11] bpcurse commented on #754
@joshfleming AFAIK the bugfix will be shipped in 0.5.1

[2018-12-02 11:12] #754 closed

[2018-12-02 15:49] jancborchardt commented on #187
@desperateCoder no worries! I’m there to help regarding design questions, so please feel free to @-mention me in any issues in the Deck Android app repository where design input is needed. :)

[2018-12-02 15:56] desperateCoder commented on #187
Thank you, this could be coming handy! By design you mean UI / UX? Or application design, architecture or something else?

[2018-12-02 18:31] stefan-niedermann commented on #187
He means UI / UX ;-)

[2018-12-02 20:27] bpcurse opened #755 "Assign groups to cards"
**Is your feature request related to a problem? Please describe.**
Cards can be assigned to users, but not to groups. If you want to add a group to a card you need to know every group member and add them manually.

**Describe the solution you'd like**
When adding a user to a card, also offer the groups with access to the board for selection.
Automatically resolve the selected group into single use

[2018-12-03 18:23] torrentkino opened #757 "High load while having the deck app open"
**Describe the bug**
Click the deck app and the load goes up. Is it just me? I always see a lot of preview requests in my nginx logs while having the deck app open. Something like this:
"GET /core/preview.png?file=/Pictures/….jpg&x=150&y=150&c=7180e…2de0cfa5271d46aa HTTP/2.0"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the deck app.
2. Open 'top' in a terminal.

**Expected behavior

[2018-12-04 09:51] juliushaertl commented on #685
Do you have one of the following sharing settings enabled?

- Exclude groups from sharing
- Restrict users to only share with users in their groups

This would cause the contacts menu endpoint of the server to return a 404 if you are not allowed to share with the relevant user.

[2018-12-04 12:05] #712 closed

[2018-12-04 12:05] #716 closed

[2018-12-04 12:08] juliushaertl commented on #685
Moving out of the current milestone, since this is probably an issue with the servers contacts menu code.

[2018-12-04 12:15] juliushaertl commented on #750
Thanks for your report. This is a duplicate of https://github.com/nextcloud/deck/issues/256

[2018-12-04 12:15] #750 closed

[2018-12-04 12:16] juliushaertl commented on #730
@jancborchardt That sounds like a good solution to me. :+1:

[2018-12-04 14:21] jancborchardt commented on #730
@juliushaertl cool! I’ll make the icons then and add them to core.

[2018-12-04 15:44] bpcurse commented on #730
@jancborchardt @juliushaertl I just made a quick and ugly mockup of the design:

The variations "comments were made" and "comment(s) unread" in grey fit in very nicely, but I'm not so sure of the blue one?

![deck_mock_up_card_comments2](https://user-images.githubusercontent.com/29312856/49453517-95f07200-f7e3-11e8-87fd-508c8012d0cf.png)

[2018-12-04 15:58] bpcurse commented on #745
@juliushaertl A question in general, regardless of the solution you are working on:
Could the autosave function be a bit less "aggressive", or would this bring up other problems in user collaboration?

[2018-12-04 16:16] bpcurse opened #763 "Deleting a comment triggers notification again if someone is mentioned"
**Describe the bug**
If you delete a comment where someone is mentioned, the mentioned user gets another (identical) notification that he was mentioned in the comment.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a comment on a card and mention yourself
2. Click another app e.g. files
3. See the Nextcloud notification, open and acknowledge it
4. Go back to Deck and delete the comme

[2018-12-04 19:18] cloud2018 commented on #685
In the meantime i noticed that it seems to be independent of what rights the user has while sharing. It is the same behavior when the user has all rights. Perhaps it's just a corrupt installation in my vm. If you can't reproduce this, please close this issue.

**My Setting:**
![screenshot_2018-12-04 settings - nextcloud](https://user-images.githubusercontent.com/34692335/49466484-803d7580-f800-11e

[2018-12-05 12:33] #745 closed

[2018-12-05 13:03] juliushaertl commented on #685
I could reproduce this with different sharing settings, but then the findOne request ended in a 404. I'll try to reproduce this with the server avatars to see if it is a deck only issue.

[2018-12-05 15:07] juliushaertl commented on #279
Seems to work fine with latest release and Nextcloud 15.

[2018-12-05 15:07] #279 closed

[2018-12-05 15:08] #763 closed

[2018-12-06 09:14] #711 closed

[2018-12-06 09:34] bpcurse commented on #400
I'm closing this feature request as there is compact mode available since 0.5.0.

[2018-12-06 09:34] #400 closed

[2018-12-06 13:39] ho1ger opened #767 "Enhancement: Add options to copy a board"
I'd like to propose a feature that allows you to copy an entire board. This would be quite helpful in cases where you want to have something like a "template board" that models a certain type of project. If you have a new project of the same kind, just copy the template, give it a new name and start your work...

[2018-12-06 14:24] jochenwezel opened #768 "Archived tasks with due date still appear as notification"
**Describe the bug**
A task with a due date appears to my client, but the task is already done

**To Reproduce**
Steps to reproduce the behavior:
1. Create a task with due date in past
2. Archive the task
3. Wait until the sync client shows up with the due date notification

**Expected behavior**
1. An archived task is always considered as DONE and doesn't show up as a notification.
2. optionally,

[2018-12-06 15:22] saro commented on #718
may be it's not very relevant, but this is also breaking the external editor functionality of `qutebrowser` :(

[2018-12-06 21:01] mikshepard opened #769 "Emails Missing Card Name"
**Describe the bug**
When enabling the email notifications for Deck, the activity sent in the email doesn't show the card name, instead it's just {card}.  For example:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. User A enables both email Activity options in the user settings
2. User B creates a new card and assigns it to User A
3. User A gets an email but the card name is replace

[2018-12-06 22:22] juliushaertl commented on #769
Which version of deck did you use?

[2018-12-06 22:54] mikshepard commented on #769
My apologies for forgetting that, I'm on v0.5.1

[2018-12-07 08:59] juliushaertl commented on #769
I cannot reproduce with 0.5.1 anymore, this was a bug on 0.5.0 (#721) which should have been fixed with #761. Could it be possible that those activity entries were generated before upgrading to 0.5.1?

[2018-12-07 09:01] juliushaertl commented on #767
Thans for your feature request. This is somehow a duplicate of #154 so I'm closing this one.

[2018-12-07 09:01] #767 closed

[2018-12-07 14:04] AndyScherzinger opened #771 "API/JSON incosistencies"
Hi @juliushaertl
This is rather a question/discussion, can really say if it is to be considered a feature, a bug orr to be ignored.

Please see below the actual (0.5.1) JSON element for a card retrieved in the Android client, see https://github.com/stefan-niedermann/nextcloud-deck/pull/16#issuecomment-445237500
[code]
* the label/```cardId``` of the labels is always `null` and  #774
* the label/`b

[2018-12-07 15:15] desperateCoder opened #772 "No Data with "If-Modified-Since" header"
**Describe the bug**
Hi @juliushaertl!
I am currently trying out the "If-Modified-Since" Header and encountered a strange behavior:
As soon as I set the header, no matter to what date, i stop getting the expected Results.

**To Reproduce**
Steps to reproduce the behavior:
This is my Request:
![grafik](https://user-images.githubusercontent.com/6911132/49655167-36d86a80-fa3a-11e8-9259-90ba811743cb.p

[2018-12-07 16:04] juliushaertl commented on #771
Thanks for reporting. This is actually a bug. I have a fix ready for the first 3 list items (#774), the date type unification however need a deeper look, since changing the types will probably also need some adjustments at the frontend of deck. I'm looking into this.

[2018-12-07 16:08] juliushaertl commented on #772
Can you check if the array has a result if you create a new board? It might be that the boards that have been created before the if-modified-since support was introduced lack of a proper timestamp (which I would of course need to fix).

[2018-12-07 16:22] AndyScherzinger commented on #771
Thanks a lot for your help and efforts @juliushaertl! Highly appreciate your work!

[2018-12-07 16:30] juliushaertl commented on #772
I'll need to investigate this a bit. By all the data you mean all boards, not only the changed ones?

[2018-12-07 16:32] desperateCoder commented on #772
Yes. I would expect to get an empty result.

I am currently trying out only boards. Since i have a huge but unstable changeset here, i wouldn't like to push it.

[2018-12-07 19:37] mikshepard commented on #769
No, I created new cards for testing this after the update to 0.5.1, and that was the results.  Today I updated Nextcloud to v.14.0.4.2, created a new board, new card, assigned a user, and still have the same results in the email.  Apache was restarted to clear any php cache as well.

What info can I provide to help debug this?

[2018-12-08 09:30] cloud2018 opened #775 "translation missing or not translated?"
**Describe the bug**
"New Comment ..." in cards timeline is displayed in English
Perhaps part.card.activity.html line 8 data-placeholder="{{ $ctrl.t('New comment …') }}"

[2018-12-08 10:41] juliushaertl commented on #772
@desperateCoder I pushed a fix to #774, here is a test release of that pr: https://cloud.nextcloud.com/s/dSmqmFcXp79kWMR

You probably need to adjust the date you send (as the ones from your requests seem to be invalid due to the timezone added https://tools.ietf.org/html/rfc7231#section-7.1.1.1)

[2018-12-08 10:54] ffabrizio4 opened #778 "New features"
Hi and congratulations for your work.
I think it would be useful to add the possibility of also vertically placing each new note. It would also be useful to add the possibility of multiple selection of the notes (check) and subtitles.
Thank you for your work.

[2018-12-08 11:49] cloud2018 opened #779 "undelete card/stack should be displayed in the timelime"
**Is your feature request related to a problem? Please describe.**
When a card or stack is deleted, an entry in the timeline is displayed
When a card or stack is undeleted/restored, this activity is not displayed in the timeline

It's a bit confusing, when a board contains a card / stack and the timelline notes, that this card / stack was deleted

![screenshot_2018-12-08 testboard deck - nextcloud

[2018-12-08 12:14] cloud2018 opened #780 "in the left sidebar "delete board" generates 2 entries in timeline"
**Describe the bug**
When you delete a board with  the more-menue in the left sidebar in, two entries in the timeline are displayed.
When you delete a board in the main boardlist, just one entry in the timeline are displayed as expected

**To Reproduce**
Steps to reproduce the behavior:
1. In the left sidebar open 3-dots-menu and delete a board
2. Restore the board
3. Open timeline of the board

*

[2018-12-08 12:39] juliushaertl commented on #780
It seems that two delete requests are send to the server.

[2018-12-08 12:41] juliushaertl commented on #778
Thanks for your feature request. I'm sorry, but I don't get exactly what you mean. Can you rephrase it and maybe give some example of how that should look like?

[2018-12-08 12:42] #775 closed

[2018-12-09 23:15] sbs01 opened #781 "Board linked to Contacts"
**Is your feature request related to a problem? Please describe.**
It would be great if Boards could be linked to an shared address book.
Or the possibility to attach contacts to cards, not only assign users.

[2018-12-10 11:14] Espo02 opened #789 "Federation Support"
Hi,
First: Deck is a great App.

I tried to share a Deck with someone on an other Nextcloud instance.
Is it planed to add the federated feature?
To share a deck between more Nextcloud instances?

Thanks a lot,
Michael

[2018-12-10 15:59] desperateCoder commented on #772
@juliushaertl thanks! i changed my call, no more '+01:00' is sent.
I don't have a nextcloud, i am testing on @stefan-niedermann 's. Maybe he could find some time to patch?

[2018-12-10 16:23] juliushaertl commented on #772
@desperateCoder If you need, i can setup you an account on a test instance, with the latest changes. Just drop me an email for that.

[2018-12-10 23:18] AndyScherzinger opened #790 "Timeline icons should be grey / have an opacity"
**Describe the bug**
activity icons on timeline are black instead of grey (black+opacity)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any card
2. open the timeline'
3. See error/screenshot

**Expected behavior**
Icons should be grey (they are in the main activity stream. Other than that "timeline" for consistency reasons should maybe be renamed to "activity" to be consistent wit

[2018-12-11 11:17] santifa opened #793 "[Feature Request] Board Description"
**Is your feature request related to a problem? Please describe.**
This feature request is not related to a specific problem.
But it should be possible to add a general description to some board to provide
insights for other users working on the same board.

**Describe the solution you'd like**
A board takes a general description which explain the purpose of this specific board.
Users which gets t

[2018-12-14 08:44] wdfee opened #794 "Activity log returns 404"
Commenting on a card doesn't work. Script is blocked by Content Security Policy.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to board
2. Click on card
3. Click on Timeline
4. Type Comment
5. Click on arrow
6. No comment (timeline stays empty). new comment field is cleared.

**Expected behavior**
Comment should be saved and show up in timeline.
(Commenting on files is working as expect

[2018-12-14 13:46] XarisA commented on #794
Same here on

- Arch Linux
- Nginx 1.14.2
- Mysql 10.1.37
- PHP 7.2.12
- Nextcloud 15.0.0
- Deck 0.5.1

accessed through Firefox 64.

[2018-12-14 23:16] hmerk commented on #392
@srbaker
Any Progress on your implementation ?

[2018-12-15 08:07] putt1ck commented on #392
@hmerk if not we'll be sorting a solution built around the API

[2018-12-15 09:40] juliushaertl commented on #392
The idea is to have this done by the API, the issue is just open to collect some bounty for it. @putt1ck If you are building something, having that available as an open solution would of course be awesome.

[2018-12-15 11:24] cloud2018 opened #795 "missing translation for tooltips "Access for group" in board.sidebarView"
**Describe the bug**
missing translation for tooltips "Access for group" in board.sidebarView

**To Reproduce**
Steps to reproduce the behavior:
1. Chosse German as language
2. Open board details and select a group for sharing
3. In the selection.menu the tooltip ("Access for **group**") of the avatar of a group  is not fully translated
4. After shared with a group, the tooltip ("Access for **grou

[2018-12-15 12:39] cloud2018 opened #796 "comments in activity disply error message"
**Describe the bug**
comments in activity disply error message"Rich subject or a parameter for "Du hast {card} kommentiert" is malformed"

Works fine with previous versions (NC ?, deck?)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to cards timeline
2. Add a comment "Test-Kommentar"
3. See error message in timeline and the error message is not fully translated

**Expected behavior**
a)

[2018-12-16 10:30] RobertZenz opened #797 "Extend the action menu of a card with a "Move" action."
The actions menu of cards should be extended with a "Move" action which allows you to move the card to a different stack. Ideally this would be a submenu with the name of all stacks in the current board.

This is (kinda) required if you're on a device on which dragging does not work very well, or if dragging is not possible for other reasons (accessibility issues for example).

[2018-12-16 10:36] RobertZenz opened #798 "Dragging in compact mode shows the big drop space."
When you toggle compact mode and start dragging a card, the drop space which is being shown has the size of the full card, instead of the compact one.

[2018-12-16 10:38] RobertZenz opened #799 "The action menu of cards should be available in compact mode."
The compact mode is a very nice feature, but using the compact mode will hide the action menu. It would be nice if compact would would preserve the action menu and move it into the single line item.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/67589039-the-action-menu-of-cards-should-be-available-in-compact-mode?utm_campaign=plug

[2018-12-16 10:41] RobertZenz opened #800 "Provide a context menu for the cards which is the same as the action menu."
The action menu of the cards should be available as context menu.

[2018-12-16 22:37] weeman1337 commented on #355
@juliushaertl do you think we should change the new app navigation to be like described in the [design guidelines](https://docs.nextcloud.com/server/stable/developer_manual/design/navigation.html#app-navigation-menu)?

[2018-12-16 23:19] anojht commented on #704
Hello I am also having this issue without any messages in the logs. When I attempt to post a comment in the Timeline section I get, `Posting the comment failed`

NC - 14.0.4
Deck - 0.5.1

I get a HTTP 404 error when attempting to post a comment:
`core.js?v=9b50fb98-31:5729 POST https://{server_url}/remote.php/dav/comments/deckCard/50/ 404`

[2018-12-17 08:44] danicotillas commented on #789
This would be too great!

[2018-12-17 09:11] juliushaertl commented on #355
@weeman1337 In what terms? If we use the component from nextcloud-vue it should already be fine like that, right?

[2018-12-17 09:14] juliushaertl commented on #789
@danicotillas Please use the [Github Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) feature instead of commenting that also need a specific feature. That way we can see your support without notifying all users subscribed to a given issue.

[2018-12-17 09:15] juliushaertl commented on #789
Thanks for your request @Espo02 This is definitely something we want to have at some point.

[2018-12-17 09:43] juliushaertl commented on #800
@RobertZenz You mean to open the action menu on right click? I'm a bit concerned about overwriting the right-click behavior on webapps, since this will change the default behavior of the users system. For this reason we don't have a right click on the files app as well. cc @nextcloud/designers

[2018-12-17 16:47] weeman1337 commented on #355
@juliushaertl lets try again :) The main point for me are the categories. The nav component supports sub items.

In the current version all, except the archived boards are shown on the left side. The filter applies to the boards in the middle. → With use of the sub items we can show the boards below their categories on the left. This is more intuitive in my opinion.

[2018-12-17 17:08] juliushaertl commented on #355
@weeman1337 Yes, i think there was already some discussion about this, but I cannot find the issue right now. However totally fine by me to have archived boards as sub items of the archived navigation entry. :+1:

[2018-12-17 21:22] RobertZenz commented on #800
I share that concern. However, most "web apps" already do that, including the big ones from Google, so the "average" user is already used to it. Everybody else is either accepting it or blocking it in the configuration of their browsers.

I also like to use the right click menu, but since this would only be on the cards (and everywhere else you get the default), I'd consider this acceptable.

[2018-12-18 00:00] srbaker commented on #392
@hmerk I had an old hack working, but it doesn't work against latest. I can pull again and do it against API but if @putt1ck has a current solution, they might be quicker.

[2018-12-18 08:41] mixvoip opened #805 "Open/Assigned Tasks in all board [$100]"
Hi,

we are using several boards in Deck right now. To avoid manual copying and to avoid missed tasks, we want to request some sort of filter where all tasks for a specific user across all board can be found. For Follow-Up etc it should not be only "my tasks".
As we are requesting to have this for all boards in one view, we think it is not a duplicate.

Best regards
Clemens

<bountysource-plugin>

[2018-12-18 09:14] mixvoip commented on #805
Bounty of 75$ linked: https://www.bountysource.com/issues/67677436-open-assigned-tasks-in-all-board

[2018-12-18 13:58] stefan-niedermann opened #806 "Android flow"
At all @nextcloud/designers

i would like to request some input from you for the general flow of the android app.

# The current state:

## Overview with stacks

sidebar contains boards

![overview](https://raw.githubusercontent.com/stefan-niedermann/nextcloud-deck/master/fastlane/metadata/android/en-US/images/phoneScreenshots/1.png)

## Planned detail view

![detail](https://user-images.githubuse

[2018-12-18 21:07] bsherwoodofdaptiv commented on #187
This is currently a 'dev only'  side load app, correct?

Happy to see something is coming. Greatly appreciate the efforts you are putting into it.

[2018-12-18 21:10] bsherwoodofdaptiv commented on #256
As a note / thought - if the browser received a 'dirty page' message, it could auto reload the boards (or affected column / or card). Just thinking out load here.

[2018-12-18 21:18] desperateCoder commented on #187
@bsherwoodofdaptiv won't call it dev-only, but currently I wouldn't recommend it for anyone. If you test it and you find possible improvements, you can tell us and we'll appreciate that! We are working at it any time we can, so stay interested and visit this project here and then, i am pretty optimistic this could get something useful for you guys out there.

Thanks for your interest!

[2018-12-19 12:07] wiswedel opened #807 "No cards shown in Edge"
**Description**
When opening Deck in the Edge browser, no cards are shown at all. Boards and stacks are shown, but no cards. Creating a new card is possible and it will also be saved, but also not shown.

**Steps to reproduce the behavior**
1. Open Deck app in Firefox
2. Create board "foo"
3. Create stack "bar"
4. Create card "baz" in stack "bar" on board "foo".
5. Open Deck app in Edge
6. Open a

[2018-12-19 18:49] micha6554 commented on #674
I have the self Problem!

Doctrine\DBAL\Exception\InvalidFieldNameException: An exception occurred while executing 'SELECT `id`, `carddata` FROM `oc_cards` WHERE `uid` IS NULL LIMIT 1000': SQLSTATE[42S22]: Column not found: 1054 Unknown column 'uid' in 'where clause'

[2018-12-19 19:56] juliushaertl commented on #674
As mentioned above this is a dav related issue, so please report it at the server repo.

[2018-12-19 20:03] juliushaertl commented on #794
Can you try if disabling and enabling the deck app fixes the issue for you?

[2018-12-19 21:33] wdfee commented on #794
yes I tried it. seems to work now!

[2018-12-19 22:16] nicolad commented on #355
Hello, I want to help with migration to vue.js. I noticed that there isn's any issue with label `vue`.
I would like to know if the list from `Overview` is ordered according to implementation sequence, if not, please advise what I can do.

[2018-12-19 22:40] weeman1337 commented on #355
Hi @nicolad great you want to help :)

The tasks aren't ordered in implementation sequence. I already put some placeholders in for the board view and the board side bar: https://github.com/nextcloud/deck/tree/vue/src/components/board You could start building the board view for example.

Just put your name somewhere and start :) happy coding!

[2018-12-19 22:45] weeman1337 commented on #355
@nicolad I just saw you may not have the permissions to edit the description and code here. Just tell me what you want to do I put your name there. You can start in a fork and I can merge it into this branch on demand (file a PR → `vue`) if you think you have something ready).

@juliushaertl could say something about the permission process.

[2018-12-19 23:06] jancborchardt commented on #806
Nice! :)

- In the overview, currently a lot of space is used
   - Do we need to show the description there? Title should be enough
   - Due date and labels could go on one line, with the date always on the left
- The tab title "WIP" is just from your board, right? Cause people won’t understand that, "Doing" or "In progress" should be the default
- Is it possible that when the tabs don’t take up t

[2018-12-19 23:18] jancborchardt commented on #800
This is something we should do in the server overall. Opened an overview issue at https://github.com/nextcloud/server/issues/13164

[2018-12-20 07:04] juliushaertl commented on #794
@nickvergessen Do you have any idea why a newly added activity filter might only be available after disabling/enabling the app?

We had the same issue for comments which could also be fixed by reenabiling in https://github.com/nextcloud/deck/issues/704

[2018-12-20 07:05] juliushaertl commented on #704
@blizzz Do you have any idea why the comments entity type is not available until the users have disabled and enabled the deck app again?

This is how we register the entity: https://github.com/nextcloud/deck/blob/master/lib/AppInfo/Application.php#L128-L148

[2018-12-20 07:29] juliushaertl opened #808 "Always provide full user details in API responses"
i wasn't able to test it, but i got a new Inconsitency:

Sometimes the owner of a Card looks like this:
[code]
but sometimes i get this:
[code]
this makes it pretty hard to know, how i have to parse it... can we somehow fix that, too?

_Originally posted by @desperateCoder in https://github.com/nextcloud/deck/pull/774#issuecomment-445484939_

[2018-12-20 07:37] juliushaertl commented on #797
Thanks for your bug report. This is a duplicate of https://github.com/nextcloud/deck/issues/249 which should also support moving between stacks of the current board.

[2018-12-20 07:37] #797 closed

[2018-12-20 07:39] juliushaertl commented on #805
@mixvoip Thanks for your feature request and for adding a bounty on it. Can you describe a bit more in detail what you mean by this:

[2018-12-20 07:41] juliushaertl commented on #781
Another use case for https://github.com/nextcloud/server/issues/11015

[2018-12-20 07:44] juliushaertl commented on #703
Would make sense once we have migrated to the new sidebar standard, so we can properly have collapsed sub-lists.

[2018-12-20 07:45] #771 closed

[2018-12-20 07:53] juliushaertl commented on #772
Should be fixed with #774

[2018-12-20 07:53] #772 closed

[2018-12-20 07:56] AndyScherzinger commented on #806
That is up for discussion I guess, Technically speaking there is no "need"

Tricky since the screenshots shows just examples with a little amount of labels, if you add several they will also need need several lines and the labels part is technically a view container

All the tabs titles are the original stack titles from the server

Should be possible, yes

The view already evolved, see https://gi

[2018-12-20 08:02] juliushaertl opened #810 "Linking collaboration objects"
This is a summary issue for integration requested that might be implemented with https://github.com/nextcloud/server/issues/11015:

- Contacts: https://github.com/nextcloud/deck/issues/781
- Mail: https://github.com/nextcloud/deck/issues/605

[2018-12-20 08:02] juliushaertl commented on #781
Closing in favor of #810

[2018-12-20 08:02] #781 closed

[2018-12-20 08:02] juliushaertl commented on #605
Closing in favor of #810

[2018-12-20 08:02] #605 closed

[2018-12-20 08:03] juliushaertl commented on #176
Fixed with the new search standard.

[2018-12-20 08:03] #176 closed

[2018-12-20 08:06] juliushaertl commented on #806
As stated in https://github.com/stefan-niedermann/nextcloud-deck/issues/28 the description can be quite big and contains markdown so I would actually like to keep it out of the board overview.

I think thats fine the way it is currently. It is the same way we have it in the web UI and there might be more indicators besides the due date, like attachments, comments and assigned users.

[2018-12-20 08:09] juliushaertl commented on #426
As this sounds like a nice feature, the requests for this are quite low. Currently there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out.

If you wish to have this featur

[2018-12-20 08:09] #426 closed

[2018-12-20 08:10] juliushaertl commented on #154
As this sounds like a nice feature, the requests for this are quite low. Currently there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out.

If you wish to have this featur

[2018-12-20 08:10] #154 closed

[2018-12-20 08:11] nicolad commented on #355
Thank you guys for kind introduction and given trust. Although I do react.js at work and have less experience with vue.js, I will try to learn as much as possible along the way. Because of that and not only I am open to feedback. Glad to be able to contribute to such awesome ecosystem.

[2018-12-20 08:13] juliushaertl commented on #134
As this sounds like a nice feature, the requests for this are quite low. Currently there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out.

If you wish to have this featur

[2018-12-20 08:13] #134 closed

[2018-12-20 08:22] juliushaertl commented on #355
@nicolad If you have some feedback before merging feel free to just open a pull request to the vue branch instead of pushing directly, so we can give some comments on the code. We also have an IRC channel #nextcloud-deck at freenode in case you want to ask some questions or have a quick discussion about something.

[2018-12-20 10:03] mixvoip commented on #805
@juliushaertl I just wanted to make clear that we are not requesting a feature to see only all own tasks in all boards at one place. We need to be able to list all tasks across all boards for all existing users.
So to make it somehow visible:
Imagine you have 3 boards (X,Y,Z) with different tasks for 3 Users (A,B,C).
We want to have a view where we can see all tasks from A or from B or from C (via

[2018-12-20 10:36] #768 closed

[2018-12-20 10:53] blizzz commented on #704
@juliushaertl there's no logic that kicks in when the app is enabled. Perhaps we have a hidden race condition somewhere.

[2018-12-20 14:39] juliushaertl commented on #769
@mikshepard Can you please try this again? I just tried to reproduce this with the freshly release 0.5.2 and it works fine for me:

![image](https://user-images.githubusercontent.com/3404133/50290911-5e352b80-046d-11e9-9add-37ee0ea9b32c.png)

[2018-12-20 16:32] cloud2018 opened #817 "Papercut: "Archived cards" is not translatable"
**Describe the bug**
In board.mainView "Archived cards" in the header is not translatable

**To Reproduce**
1. Archive a card
2. Toggle the filter and show only archived cards
3. See: Right of the breadcrump "Archived cards" is not translated

Deck 0.5.2

[2018-12-21 09:14] #817 closed

[2018-12-21 09:54] level420 opened #820 "searching within deck top view (displaying all available decks) results in http error 405"
**Describe the bug**
When searching in the top view where the available decks are shown, a 405 error is displayed.
Searching within a specific deck works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Make sure you have multiple Decks
3. Click on the deck icon in the top icon menu line
4. Click into the search field, type some search term and hit return
5. A http 405 e

[2018-12-25 00:43] Dubidubiduu opened #827 "Changing deck title doesn't get into timeline"
**Describe the bug**
Changing deck title doesn't get into timeline

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a deck and change his title

**Expected behavior**
Title change gets an entry in timeline

- Deck 0.5.2
- Nextcloud 14.0.3

[2018-12-27 10:14] Karamelmar opened #828 "Comments in Timeline > won't "Save""
After clicking on a card, and selecting the Timeline Tab, i start writing a new comment.
As soon as as i click the arrow to post/save the comment, what i wrote vanishes but does not show as a comment.

What i already tried to solve the problem:
- disabled enabled the app
- removed the app and installed it again
- removed the app and installed/build form git repo
- removed the app, deleted the data

[2018-12-27 10:55] Karamelmar commented on #828
Update:
I found the cause for this error:
I do use U2F Authentication to login. Users on this instance who do not use U2F can post comments, users who use U2F can not.

The following log entry in the apache access log lead me to this conclusion:
[27/Dec/2018:11:45:20 +0100] "PROPFIND /nextcloud/remote.php/dav/comments/deckCard/8/39 HTTP/1.1" 207 691 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) A

[2018-12-27 18:52] Dubidubiduu commented on #32
Very interested in swimlanes to get my priorities right in my boards.

[2018-12-28 17:36] juliushaertl commented on #828
Do you have the activity app enabled on your instance? Is the regular activity log working as expected?

[2018-12-28 17:38] juliushaertl commented on #827
Works as expected for me:
![image](https://user-images.githubusercontent.com/3404133/50523314-b3a5b400-0acf-11e9-864a-888a03699712.png)

Do the other activity entries work as expected?

[2018-12-28 17:41] juliushaertl commented on #662
@pixelipo I think our first goal should be to provide a basic feature set before considering more advanced features like the ones you've mentioned. So this is nothing that is on our roadmap for now.

[2018-12-28 17:41] #662 closed

[2018-12-28 17:43] juliushaertl commented on #272
As this sounds like a nice feature, the requests for this are quite low. Currently there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out.

If you wish to have this featur

[2018-12-28 17:43] #272 closed

[2018-12-28 19:42] Karamelmar commented on #828
yes, the activity app is active, but initial was not, when is started using deck.
The activity logs works as expected for all views but the deck view (and the all activities view), on the deck view it shows the loading circle, but won't finish to load.
I did clear the activity database table of the nc instance, after that the deck view (and all activity view) in the activity app was working again

[2018-12-28 20:52] pdschandler commented on #202
Sorry to reopen this, but was the option of attaching a file via the Nextcloud filesystem abandoned? It's mentioned in the original first comment but I don't see it being discussed any further from there. That functionality would be way more useful to us than attachment of files on a local filesystem. I can open up a new feature request but wanted to make sure this wasn't already being covered by

[2018-12-29 21:45] weeman1337 commented on #355
Just an info: I gave it up with the "nextcloud-vue" `AppNavigation` components. The reason is it doesn't work without a mapping/change detection hell. Also things like the "undo delete" are really hard to implement with it. For example actions can't access the items. My first idea was to have a look how the "calendar" guys are doing it. But they also use an own implementation :/

I took some deck

[2018-12-29 22:00] juliushaertl commented on #355
@weeman1337 Totally fine, thanks for looking into it. We can always just use a custom implementation and try to enhance the nextcloud-vue components afterwards at some point.

[2018-12-31 17:50] #30 closed

[2018-12-31 17:50] #8 closed

[2018-12-31 17:50] #450 closed

[2018-12-31 17:50] #401 closed

[2018-12-31 17:50] #117 closed

[2018-12-31 17:50] #552 closed

[2019-01-01 14:20] poVoq opened #832 "Sync with Kanboard?"
Would be awesome if there was a way to sync Deck with an external Kanboard installation.
API reference here:
https://docs.kanboard.org/en/latest/api/

Would allow easy linking up to github etc for issue management.

[2019-01-02 10:55] juliushaertl commented on #668
cc @weeman1337 Something we can probably quickly integrate into the vue branch.

[2019-01-03 19:45] mikshepard commented on #769
@juliushaertl I'm on 0.5.2 and am still having the issue, see below (I blocked out names with red):

![image](https://user-images.githubusercontent.com/3514599/50657908-61e0ac00-0f5d-11e9-9aaf-12696ac1db38.png)

![image](https://user-images.githubusercontent.com/3514599/50658012-aa986500-0f5d-11e9-8ba7-9fefa275fd2b.png)

[2019-01-04 11:10] laurentiu2 commented on #751
I'd find useful to have the option 'Show in Calendar' under Due Date on Tasks, like in the image below.

[2019-01-04 11:11] laurentiu2 commented on #751
![screenshot 2019-01-04 at 13 07 52](https://user-images.githubusercontent.com/29857699/50685525-307de400-1022-11e9-991d-50193a1e16a4.png)

[2019-01-04 11:20] laurentiu2 commented on #751
The same with Deck. The entry in Calendar might be 'Deck/Board_name/Stack_name/Card_name'

![screenshot 2019-01-04 at 13 16 29](https://user-images.githubusercontent.com/29857699/50685757-26101a00-1023-11e9-8002-17d38f0c4962.png)

[2019-01-04 11:30] raxetul commented on #308
Can not rename board at the moment with nextcloud 15

[2019-01-04 12:18] juliushaertl commented on #308
@raxetul please open a new issue

[2019-01-04 12:39] juliushaertl commented on #769
Ok, maybe it is an issue that just happens on Nextcloud 14, I'll have a look.

[2019-01-04 12:56] raxetul commented on #308
Sorry, I found the correct location now, my mistake.

[2019-01-04 14:56] RobertZenz opened #833 "Ability to colorize stacks."
It would be nice if we would be able to colorize the stacks. So simply being able to define the background color of the stack would be enough.

[2019-01-04 14:59] RobertZenz opened #834 "Selecting text by dragging moves the card."
When one wants to change the text of a card by clicking on it, the text input is being shown. Trying to select text in that box by clicking and dragging the cursor moves the card instead of selecting the text. It should not.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/68266143-selecting-text-by-dragging-moves-the-card?utm_campai

[2019-01-04 15:00] RobertZenz opened #835 "When a card is being edited, all cards get a darker shadow."
When a card is being selected/edited, all cards receive a darker shadow. Is that by design?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/68894774-when-a-card-is-being-edited-all-cards-get-a-darker-shadow?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2019-01-04 18:45] mikshepard commented on #769
Thank you.  Let me know if I can provide any further info to help

[2019-01-04 20:43] laurentiu2 commented on #833
👍 indeed. It would be wonderful.

[2019-01-04 21:45] bpcurse commented on #769
I can confirm that this is still an issue on our 14.0.4 instance (shared hosting) but not on 15.0.0 (own server)
Both using Deck 0.5.2

[2019-01-07 08:34] delightfuldude commented on #534
Seriously, how to mark a card as DONE??? Why is this request ignored since July 2018?

[2019-01-08 14:31] nickvergessen commented on #794
Try increasing the version of your app, I guess some caching is going on, but in theory there is no reason for that and I never noticed this.

[2019-01-09 11:01] mamatt commented on #769
I can confirm that the bug is present on NC14.0.3 /Deck 0.5.1 but only on activity mail.
There is no issue with the activity feed

[2019-01-09 17:35] juliushaertl commented on #794
The version is already bumped two times since the activities were introduced in 0.5.2 so it should not happen again. Let's close this since we are unable to reproduce and disabling/enabling fixes it.

[2019-01-09 17:35] #794 closed

[2019-01-09 17:40] juliushaertl commented on #833
Adding a full colored background doesn't fit very well into the whole Nextcloud design. We could consider having a more decent color highlighting on stacks, but I still would prefer to keep things simple, where it isn't urgently needed. cc @nextcloud/designers

[2019-01-09 17:44] juliushaertl commented on #832
Syncing with a different kanban solution is out of scope for this project. Kanboard has a different approach in data handling and is far more complex so syncing to deck is nothing on our roadmap.

[2019-01-09 17:44] #832 closed

[2019-01-09 18:55] jancborchardt commented on #833
Trello allows setting custom colors, as well as even background images: https://help.trello.com/article/818-changing-board-backgrounds (which includes picking photos, or choosing from Unsplash)

Which to be honest is kind of nice. :) It’s not a very pressing issue, but I would not outright reject it. Not sure which other apps fit for this, but maybe this is just material for a separate app to be w

[2019-01-09 18:59] RobertZenz commented on #833
@jancborchardt That's for the board as far as I can see, though.

[2019-01-10 00:13] jancborchardt commented on #833
Oh, sorry misread! Hmm … am also not sure about this. If there’s different colors they should be used sparingly and convey meaning. The boards already have colors, as have the tags, and for each individual stack to have colors too is a bit overkill (a bit like how Calendars have colors, and individual _event_ coloring is a bit much). Also it doesn’t seem other solutions are doing this?

I’d sugges

[2019-01-10 07:56] RobertZenz commented on #833
No? That is completely up to the user. If they want to have all stacks bright red, let them do that.

[2019-01-10 14:49] Dubidubiduu commented on #286
I would love to seek for all decks I'm assigned to, on singular board and on all boards perspective.

Gmail search Syntax was also very nice in the old times

[2019-01-11 10:11] cloud2018 opened #840 "Papercut: ActivityManager.php: missing "of" in string"
**Describe the bug**
missing "of" in string
"{user} has updated the description **of** card {card} in stack {stack} on board {board}"
like in
"You have updated the description of card {card} in stack {stack} on board {board}"

https://github.com/nextcloud/deck/blob/a12bd23ffa248c27f3d3159e8fbe2b99ceb32e1d/lib/Activity/ActivityManager.php#L185

[2019-01-11 15:23] cloud2018 opened #841 "Papercut: notifier text"
**Is your feature request related to a problem? Please describe.**
With the two notifications is not visible from which stack / board the card is

![personlich deck nextcloud](https://user-images.githubusercontent.com/34692335/51042207-05643900-15bc-11e9-8586-69a8abaed476.png)

**Describe the solution you'd like**
1 hat dich in einem Kommentar auf der Karte **Beispielaufgabe 3** im Stapel **...**

[2019-01-12 12:00] cloud2018 opened #845 "support "Limit to groups""
**Actual behavior**
Deck does not support "Limit to groups"

**Steps to reproduce the behavior**
   1. Go to apps
   2. Compare to "Calendar" app for exmaple

**New feature**
Deck app should support "Limit to groups" as Calendar, Gallery, ...

![apps nextcloud nc myispindel de](https://user-images.githubusercontent.com/34692335/51072908-6269f880-1669-11e9-8e6a-3450cc6ab65b.png)

![apps nextcloud n

[2019-01-13 09:15] #664 closed

[2019-01-13 09:15] #438 closed

[2019-01-13 12:23] roboticsalign opened #846 "Move cards to a stack on the far right not possible"
Dear community,

I observer an issue, that is limiting the productivity especially on touchscreen devices:

If you want to move a card from one stack to another, it works only, if the target stack is on the start screen. I you have a few more stacks and want to move it outside the startscreen, it does not work.

Do I use the App in a wrong way?

**To Reproduce**

1. create a few more stacks, than

[2019-01-15 18:16] bpcurse commented on #566
I would like to give some additional feedback on this issue from a larger project using deck.

We have multiple stacks and many cards with due dates and a lot of users working on it.
The problem we have encountered is that the due date notification load on the single user gets quite high as most of the notifications are not specific to the individual users and they don't (have to) care about the c

[2019-01-15 19:12] bpcurse commented on #569
I still think this is a useful basic feature that should be implemented someday.

[2019-01-15 21:01] mikshepard opened #847 "No Emails in Nextcloud 15"
**Describe the bug**
Upgraded Nextcloud from v14 to v15.0.2, emails from Deck to users stopped working.  They worked fine before the upgrade, and and the user activity settings still are checked for emails with Deck.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a board and a card
2. Assign a user to card
3. Make changes to card
4. User does not receive any emails.

**Expected behav

[2019-01-16 14:12] laurentiu2 commented on #833
I'd keep it as an option for the user.
In my particular case, I would assign a different color for each team member i assign a card to, this way I'd see instantly how the work is distributed.

[2019-01-16 15:31] RobertZenz commented on #833
But that's about colorizing cards, not stacks.

[2019-01-17 11:38] stone212 opened #849 "Git repo integration"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

It would be helpful (and a GitLab replacement in our case) if we could associate each board with a Git repository.

**Describe alternatives you've considered**
Two ways this could work:

1. You set the parent repo and credentials in the board settings and each new board creates a new repo under it.

2

[2019-01-17 12:51] stone212 opened #850 "Screen too wide for widdescreen"
**Describe the bug**
Even on a wide monitor (1200x900) the kanban board makes me scroll left and right.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Deck
2. Click on a board
3. See that you have to scroll left and right

**Expected behavior**
A user should never have to scroll left and right is the usual UI rule.  In Deck it isn't necessary. If you click "settings" it all fits back

[2019-01-18 15:17] juliushaertl commented on #850
Closing as a duplicate of #434. See my answer from there:

[2019-01-18 15:17] #850 closed

[2019-01-18 15:23] juliushaertl commented on #845
Thanks for reporting. This actually got lost when implementing the activity integration. https://github.com/nextcloud/deck/pull/739 fixes that, but it was not merged until now, as it requires the latest patch release of Nextcloud to work.

[2019-01-19 11:51] JochenHWezel commented on #752
Just for clarification: this feature is required for horizontal as well as vertical dimensions

[2019-01-19 11:52] JochenHWezel commented on #752
Optional feature: the scaling for printing might be automatically-calculated or with a manual value

[2019-01-21 18:41] JohnWalkerx commented on #828
I also tried to add comments to a card.
Comments are listed in the oc_comments database table.
But in the Browser you can't see any comment. Tested with Firefox 64.0 and Chrome 71.
It doesn't matter if a card has a description or not.
Not U2F activated. Activity app is enabled. Regular activity log working as expected.

**System:**
Ubuntu 16.04
Apache 2.4.37
PHP 7.2.14
Nextcloud 15.0.2

[2019-01-22 09:39] Aesculapius commented on #249
Anyone else working on this? It sounds like an easy added feature which solves a lot of hassle when moving cards over boards...

[2019-01-22 14:01] RyanFletcher86 commented on #249
JuliusHeartl is currently assigned to this which is an indication that he is actively working on it. There's been a lot of overhead work that contributors have been working towards that needs to be done first (the migration to vue.js being the largest).

I've also been bogged down by a real world job search, hence why I released the issue from my personal custody.

[2019-01-22 14:09] juliushaertl commented on #249
Yes, we definitely should get the vue migration done before we continue with feature development, otherwise we end up doing the work twice. Unfortunately I haven't had a lot of time recently for deck, I hope that will change in the next weeks. :wink:

[2019-01-23 09:55] woosting commented on #87
Thanks for making exporting possible (for those who do not know this yet; [Exports are possible from the command line using the corresponding OCC command](https://help.nextcloud.com/t/how-to-export-user-data-to-json-by-occ/35664/2?u=woosting)!

Also implementing its counterpart (an import option), would make Deck even better as the combination would provide a Deck-content migration (and even backu

[2019-01-23 14:37] janLo opened #854 "Entries in activity app display error message"
**Describe the bug**
The activity app shows broken text if a card got assigned

**To Reproduce**
Steps to reproduce the behavior:
1. Create a card
2. Assign someone
3. Go to the activity app
4. See error

**Expected behavior**
A proper message that a card got assigned

**Screenshots**
![screenshot_20190123_153449](https://user-images.githubusercontent.com/96146/51613728-6c6edf80-1f24-11e9-9b28-f5a

[2019-01-24 11:04] Tost69 commented on #846
I've the same issue on my iPad Pro. I tried also to load the webpage in desktop view but this won't work either.

[2019-01-24 11:36] Tost69 opened #855 "Feature request: Something similar like sprints"
Hello,

first a big thank you for your work, I like Deck a lot and started to organize several projects with it.

I've come to realize that a longer list of cards gets a bit confusing. One and only possibility to sort cards is the card order itself. It would be nice to have something like subtasks or better the possibility to have a backlog and group cards (similar to a scrum sprint but not as com

[2019-01-24 12:42] monsieurhannes commented on #119
We have the same case, similar rutines and way too many tags to write them every time. I don't know if that was discussed already, but it would be also great to have a new tag automatically added to the board when someone writes that in the blank tag field.
**Anyway, great app!**

[2019-01-25 08:42] jakobroehrl commented on #646
@juliushaertl: How can I query the server to find out if sharing is disabled?

[2019-01-25 09:12] Karamelmar commented on #828
Update:
When i try to move a Card with a description from one Group to another, it looks like it works (its in the group i moved it to) but after i reload the Deck, its in the old group.
When i delete the description and then move it, it works.

[2019-01-25 09:13] jakobroehrl commented on #795
@juliushaertl: What do you think about removing the title attribute, is brings not much value:
https://github.com/nextcloud/deck/blob/master/templates/part.board.sidebarView.php#L53

[2019-01-25 09:49] cloud2018 commented on #795
yes, remove the title would be fine.
How about putting "(group)" after the name and using a different avatar. Same as in the Files app:

![dateien nextcloud 2](https://user-images.githubusercontent.com/34692335/51737953-3ea5aa00-208e-11e9-9fac-65df8acd3d34.png)

[2019-01-25 12:33] Karamelmar commented on #828
Solution:
I finally found out the cause for all the above problems of mine. When the moving of cards failed i got the following error:
`String data, right truncated: 1406 Data too long for column 'subjectparams' at row 1`
I took a look at the activity database table, it was set to varchart (1000).
I changed it to longtext and delete 1000.
Now i can move the Cards and write Comments.
Had some follo

[2019-01-28 14:54] nhoening commented on #751
@laurentiu2, maybe your suggestion can become its own issue. It's pretty well-defined, while this issue (#751) is rather broad.

[2019-01-28 15:34] jshotton opened #863 "Unable to add to timeline on cards and unable to view just Deck in Activity"
When I go to add a comment to the time line, the processing circle just spins,  I can type and add the comment and click the right arrow. the comment disappears.  the processing cirlcle keeps spinning.

If I click the activity log, I can see changes to DECK in the  all activities. and it includes the what I typed in the comment.  If I click on just the Deck listings.   the processing circle spins

[2019-01-28 17:11] juliushaertl commented on #863
Can you check the browser console if there are errors when loading the timeline view?

<details>
<summary>How to access your browser console (Click to expand)</summary>

# Chrome
- Press either CTRL + SHIFT + J to open the “console” tab of the Developer Tools.
- Alternative method:
    1. Press either CTRL + SHIFT + I or F12 to open the Developer Tools.
    2. Click the “console” tab.

# Safari
-

[2019-01-28 17:17] #439 closed

[2019-01-28 17:20] juliushaertl commented on #855
Isn't that similar to the swimlane support requested in #32 ?

[2019-01-28 18:53] jshotton commented on #863
timeline:

vendor.js?v=c7cab516-12:7 Error: [$rootScope:inprog] $digest already in progress
https://errors.angularjs.org/1.7.5/$rootScope/inprog?p0=%24digest
    at vendor.js?v=c7cab516-12:7
    at b (vendor.js?v=c7cab516-12:7)
    at i.$digest (vendor.js?v=c7cab516-12:7)
    at i.$apply (vendor.js?v=c7cab516-12:7)
    at deck.js?v=c7cab516-12:881
    at vendor.js?v=c7cab516-12:7
    at vendor.js?

[2019-01-28 18:54] jshotton commented on #863
Activity with Deck selected

Uncaught TypeError: Cannot read property 'data' of undefined
    at Object.success (script.js?v=c7cab516-12:97)
    at j (core.js?v=c7cab516-12:2)
    at Object.fireWith [as resolveWith] (core.js?v=c7cab516-12:2)
    at x (core.js?v=c7cab516-12:4)
    at XMLHttpRequest.<anonymous> (core.js?v=c7cab516-12:4)
success @ script.js?v=c7cab516-12:97
j @ core.js?v=c7cab516-12:

[2019-01-29 07:57] der-Daniel opened #864 "Board jumps up and down when the Title is edited"
**Describe the bug**
This is and UI issue. The board jumps up and down when the title is edited. This is very distracting as you are currently typing a new name.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new board
2. Edit the name of the board.
3. It will jump up and down depending on the alphabetical ordering.

**Expected behavior**
Keep the text field of the board on the sam

[2019-01-29 08:06] der-Daniel opened #865 "Card Title Wrapped during Edit in the Details View."
**Describe the bug**
This is and UI issue. When I click on a card, the details view appear on the right. When the title of the card is long, the text is wrapped with line breaks. If I click on the title to edit the text, the wrapping disappears and the text field is only a single line. This is very distracting as (1) the layout unexpectedly change and (2) editing a long text in a single line text

[2019-01-29 08:10] juliushaertl commented on #865
Yes, we probably should just use a contenteditable element, so we have proper support for multiple lines.

[2019-01-29 08:13] juliushaertl commented on #835
@RobertZenz Can you give some details about the browser you are using, only the currently selected card should get a darker shadow.

[2019-01-29 08:18] der-Daniel opened #866 "Keep the text field accessible when creating a new Card"
**Describe the bug**
This is and UI issue. When I create a new card I click on the plus sign. Then I can enter a title for the card. When I lose focus of this Element, the UI is showing me the plus sign again. It seems like this also happens when the focus of the browser is lost like using `ALT+Tab` to change to a different program.
This is very annoying for workflows like copying text from a docu

[2019-01-29 08:50] der-Daniel opened #867 "Responsive label name field"
**Describe the bug**
This us an UI issue. I have my browser snapped to the left. When I tried to create a new label, the text field for the name was very small. For this reason I did not notice it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to deck setting
2. Go to tagsetting
3. Click create new tag
4. Make the browser window smaller by e.g. snap it to the left.

**Expected behavior*

[2019-01-29 09:00] juliushaertl commented on #835
This is how it looks for me:
![image](https://user-images.githubusercontent.com/3404133/51896329-7f623380-23ac-11e9-81f8-da424d557d15.png)

Yes, the `card-selected` is added to the board, but `.card.current` should overwrite the actually selected card with a more intense shadow:

![image](https://user-images.githubusercontent.com/3404133/51896418-b6384980-23ac-11e9-955e-77facc1833c7.png)

[2019-01-29 10:55] RobertZenz commented on #835
It does for the selected one, but every other card still changes.

![cards](https://user-images.githubusercontent.com/611377/51903079-bab82e80-23bb-11e9-8fe5-b0f0b46b923d.png)

The box-shadow of all cards in the board changes from

    rgb(219, 219, 219) 0px 0px 3px 1px

to

    rgb(219, 219, 219) 0px 0px 7px 0px

and as far as I can see that is because the rule `#board.card-selected .card` wins o

[2019-01-30 05:54] drmnk opened #868 "Is it possible to share with user only card, not all deck?"
Hello, thank you for great app for nextcloud!

I stuck that I can't find some functionality: ist it possible to share with user only card, not all deck?

For example, I want to have a deck "Sales" with tasks that I five to my three colleagues, working in sales.
But I don't want they see all tasks of each other in deck, because sometimes it's secret or just don't needed.

But if I share deck with e

[2019-01-30 08:10] juliushaertl commented on #868
@drmnk There is no way to to that right now. However maybe we could somehow allow to also assign users that are not part of the board and once those access deck, they can only see the cards they were assigned to. So this is actually a duplicate of https://github.com/nextcloud/deck/issues/663

[2019-01-30 08:10] #868 closed

[2019-01-30 08:27] juliushaertl opened #869 "Wrong parameter in share activity"
As reported in https://github.com/nextcloud/server/issues/13296

[code]

[code]

[2019-01-30 09:33] juliushaertl commented on #795
Yes, we should remove the title and add the group hint to the main label.

[2019-01-30 09:39] juliushaertl commented on #646
@jakobroehrl You should be able to use `oc_capabilities.files_sharing.api_enabled` in the frontend to check if sharing is enabled. Note this will require us to increase the Nextcloud minimum version required for deck, since it is only available on NC14+.

[2019-01-30 09:42] juliushaertl commented on #866
That is indeed an issue with the way we show inline input fields right now.

[2019-01-30 14:51] krombel commented on #30
can this be reopened again? I would like to have that feature as well.

[2019-01-30 14:55] juliushaertl commented on #30
This would be a nice feature, however currently there are no plans to implement this in the near future. In general I would be a lot more happy if importing from various 3rd party services and software would be done using the API, so we keep the deck code clean from other dependencies. Thus I will keep this ticket closed for now. If somebody wants to implement this feature nevertheless we are happ

[2019-01-30 14:57] juliushaertl commented on #751
This is pretty similar to #15 and #810 so I'm closing this as a duplicate.

@laurentiu2 Your mockup looks pretty nice, however we still would need to decide somehow in which calendar we show the card then. Would you mind to move that to #15 ?

[2019-01-30 14:57] #751 closed

[2019-01-30 15:02] juliushaertl commented on #849
As this sounds like a nice feature, the requests for this are quite low. Currently there are no plans to implement such a feature. Thus I will close this ticket for now. This does not mean we don't want this feature, but it is simply not on our roadmap for the near future. If somebody wants to implement this feature nevertheless we are happy to assist and help out. However it would require some de

[2019-01-30 15:02] #849 closed

[2019-01-30 22:21] stone212 commented on #849
@juliushaertl

Well is there a way to integrate a GL/GH account into NC?  The use case is stupid managers who love NC but don't log into GL/GH.

Anyway that method defeats the purpose of NC which is to control your own data.

[2019-01-31 04:16] drmnk opened #872 "Permissions: User should be able to work with cards, but not to delete it"
If you share deck with the user and give him permissions to edit it, he is able to edit cards, move them, attach tags and **delete it.**

But if I am boss and I want to give my colleague task and **control it afterwards**, I need to see every task that I gave him. What if I forget about task and he just delete it?

I think when we create deck we shoud have checkbox like "Other users can delete car

[2019-02-01 14:47] juliushaertl commented on #872
Having a separate setting sounds a bit overkil. I think we could achieve the same with just limiting card deletion to users who have a manage permission.

[2019-02-01 22:54] stone212 commented on #849
@juliushaertl That was funny but it does not also speak to the problem of requiring two systems.  So you prefer to be funny than to have an actual discussion about improving the product.  Nextcloud people are really the worst.  Every other project the devs care about making a good product, not just a popular one.  Nextcloud no.

[2019-02-03 19:32] bpcurse opened #875 "Deleting a comment triggers different issues"
**Describe the bug**
After a comment is deleted and deck is reloaded, the spinner in the timeline of the affected card spins forever and new comments cannot be created in any existing card (in newly created cards after this it works again).
In addition comments on cards in the next stack to the right of the affected stack do not show, only the timeline entry that they were created is visible.

**T

[2019-02-06 09:59] pcephaspjm opened #877 "Nextcloud Deck - embed images in description"
In the last update for Deck it mentioned that you could embed images in the description on the back of cards.  I have looked online for instructions and tried different things myself but I can't work out how to actually do this.  My hosting service said they think the feature may have been removed.

**Describe the solution you'd like**
It would be very helpful if we could embed images onto cards

[2019-02-08 16:35] jancborchardt commented on #849
@stone212 I would like to point out that we are a community project and want to keep this a place that is nice and positive for everyone. These kinds of comments are not welcome. Please try to be more respectful going forward, see our Code of Conduct for the why and what: https://nextcloud.com/code-of-conduct/

[2019-02-09 15:58] ml31415 commented on #32
Why not just create a new board with the same columns? Board_topic_lane1, Board_topic_lane2, done.

[2019-02-09 16:01] ml31415 commented on #855
@juliushaertl No I don't think so. I guess it's more about adding a weight field to each card, group cards together by special labels, and then have some kind of burn down charts, or statistics, of how much of some sprint is already done.

[2019-02-09 22:31] stone212 commented on #849
@jancborchardt

What sort of comments?  Critical ones?  Well that's too bad.  And your code of conduct does not apply on a 3rd party site like GitHub any more than my personal code of conduct applies to you.  Really, please don't be so silly.

[2019-02-11 15:54] juliushaertl commented on #877
You need to add the image as an attachment to the card inside deck. After that you can insert the images when editing the description with the following button:

![image](https://user-images.githubusercontent.com/3404133/52574978-b78e5b00-2e1d-11e9-914e-d0523904402d.png)

[2019-02-11 15:54] #877 closed

[2019-02-11 15:57] juliushaertl commented on #855
Well grouping cards by label is exactly how https://github.com/nextcloud/deck/issues/32#issuecomment-297811818 is proposing it for the swimlane feature. I can't find any request for new values like a weight, charts/stats in the OP but feel free to create separate issues for that. :wink:

[2019-02-11 16:01] jancborchardt commented on #849
@stone212

You saying:

is inconsiderate and disrespectful. Both are points in our Code of Conduct: https://nextcloud.com/code-of-conduct/

---------------------

As I already said in the other issue where you decided to insult people at https://github.com/nextcloud/documentation/issues/1142:

[2019-02-11 17:11] laurentiu2 commented on #15
Moved here from #751 as requested.

I'd find useful to have the option 'Show in Calendar' under Due Date on Tasks, like in the image below.

![screenshot 2019-01-04 at 13 07 52](https://user-images.githubusercontent.com/29857699/50685551-4c818580-1022-11e9-8892-e67d1b5a5729.png)

The same with Deck. The entry in Calendar might be 'Deck/Board_name/Stack_name/Card_name' and the calendar might be the

[2019-02-11 17:33] shironextcloud commented on #849
@stone212
Whether you want to acknowledge it or not, our Code of Conduct is the rules we decided everyone has to respect in order to be welcome in our community. This includes, of course, our organization on Github. The rules are very simple, all we ask you to do is to be respectful when you interact with people here.

Unlike you, Github acknowledges that every organization has the right to define

[2019-02-11 21:20] pcephaspjm commented on #877
Thanks very much - I see now how to do it - it wasn’t immediately obvious - you need to click into the description to start editing before the button appears.

Peter

[2019-02-12 07:31] ml31415 commented on #855
The swimlane stuff is imho not a good fit for implementing it on top of the grouping/labeling, because you can add an arbitrary amount of labels to each task, but a task can only be in one lane. Way better to just create a new board for each lane, and name it accordingly. Or have something like a group of boards / subboards. But then again, why make simple thinks more complicated without good reas

[2019-02-12 09:52] #725 closed

[2019-02-12 10:01] #795 closed

[2019-02-12 10:13] #254 closed

[2019-02-13 10:00] juliushaertl commented on #877
Yes, we probably should improve on the visbility of that option.

[2019-02-14 11:27] jakobroehrl commented on #790
@juliushaertl The reason is here: https://github.com/nextcloud/deck/blob/master/css/style.scss#L991
Do you have an idea why this is so implemented?

[2019-02-14 11:31] juliushaertl commented on #790
No, sorry can't remember, but should be an easy fix then :wink:

[2019-02-14 14:33] compumatter commented on #585
Hello Julius,

I see this issue is marked closed. I am once again coming back to Deck and hoping this issue was implemented.  Projects are never truly prioritized based on their alphabetical structure but either by date or sense of priority.

I feel this is a large missing behavior and am commenting here in hopes you will see it and move to include it.

Sincerely,

Jay
CompuMatter

[2019-02-14 14:38] juliushaertl commented on #778
As there is no report since a while. I will close this ticket. If this is still valid please feel free to reopen.

[2019-02-14 14:38] #778 closed

[2019-02-14 14:39] putt1ck commented on #585
@compumatter have you looked at #601?

[2019-02-14 14:41] compumatter commented on #585
Yes I did.

It has been recorded as closed...

But this is truly a valuable addition and I do not think too complicated
to implement.

So I am tabling it again.

Jay

On 2/14/2019 6:39 AM, Chris Puttick wrote:

[2019-02-14 14:42] compumatter commented on #601
Hello Julius,

I see this issue is marked closed. I am once again coming back to Deck and hoping this issue was implemented. Projects are never truly prioritized based on their alphabetical structure but either by date or sense of priority.

I feel this is a large missing behavior and am commenting here in hopes you will see it and move to include it.

Sincerely,

Jay
CompuMatter

[2019-02-14 14:42] putt1ck commented on #585
Stale bot closed from lack of activity - that's the one to re-open

[2019-02-14 14:44] compumatter commented on #601
Thank you Chris.

Jay

On 2/14/2019 6:43 AM, Chris Puttick wrote:

[2019-02-14 14:49] compumatter commented on #833
Totally agree about adding color options.  The ability to define stack colors at minimum.  For instance I might like to choose Red, Yellow Green to indicate the degree of importance in a list

Jay

[2019-02-15 16:09] SteOtt opened #897 "Add the ability to make calculations with cards of a stack"
First of all thanks a lot for your fantastic work. We use it a lot.

**Is your feature request related to a problem? Please describe.**
In our company we use deck to keep track of open invoices. If you want to know how much money is open you have to note it on the cards and then go through each card and manually add up the amounts.

**Describe the solution you'd like**
I would like to have the pos

[2019-02-15 16:22] putt1ck commented on #897
I think this something that could be built using the API (and doesn't sound like a core feature?)

[2019-02-16 05:24] putt1ck commented on #392
We'll definitely get to doing an API-based solution - but if anyone else has the interest they might get done before us...

[2019-02-18 12:55] SteOtt commented on #897
You're right such a feature isn't commonly considered to be a core feature of kanban software. Nevertheless I would find such a feature very useful and it would add some extra functionallity that is unique (as far as I know) in kanban software.

Also I'd like to have the function available in deck and not as an external app using the API. Besides I don't see how to realize this with the API.

[2019-02-19 10:14] simonjaq commented on #15
What's the status on this?
We are using Deck for project management in our company and the feature to integrate with CalDAV would make it absolutely perfect.
The main issue that we have with Deck is the impossibility to add tasks / cards on the go from mobile phones.
We used to work with nextcloud tasks and 2do on iPhone synced over CalDAV to be able to quickly add tasks.
The CalDAV integration co

[2019-02-19 10:21] juliushaertl commented on #15
@simonjaq Unfortunately there are no real news here. However if you use Nextcloud in a corporate environment and wish to have this feature implemented by Nextcloud GmbH, there is the option for sponsoring feature development work on top of your Nextcloud Enterprise subscription to get your features implemented. Feel free to get in contact via https://nextcloud.com/enterprise/buy/

Bountysource is

[2019-02-19 15:54] SzOr commented on #15
It would be THE BEST for the community, it is really a missing piece in the puzzle...

[2019-02-20 13:35] #570 closed

[2019-02-23 10:12] aliceinwire commented on #134
Would be useful also here for better planning in advance.

[2019-02-25 10:40] FahrJo opened #907 "attachment in card description fails in Safari"
**Describe the bug**
Adding an attachment into the description leads to page freeze.

**To Reproduce**
adding an attachment to a card just works fine.
but with selecting the folder icon for embedding an attachment the page freezes.
In Firefox its working besides that the orientation of pictures is not right.

**Client details:**
 - OS: macOS Mojave 10.14.3
 - Browser Safari
 - Version: 12.0.3
 - D

[2019-02-26 16:06] botic opened #908 "Clear indicator if a card is readonly for a user"
We have multiple boards for each workgroup. All company members can view every board, but only edit if they are member of a workgroup. Example: Mr. X is in the finance team, so he can edit all cards  in the finance board, but is readonly in the software development board.

It would be very helpful to indicate a user that he/she is only a reader of a board and its cards. At the moment the input fie

[2019-02-28 10:10] Salokyn opened #909 "markdown-it-abbr plugin"
Hello,

It would be useful to me if the [markdown-it-abbr](https://github.com/markdown-it/markdown-it-abbr) plugin was added:

Is it possible ?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/70719857-markdown-it-abbr-plugin?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties

[2019-02-28 13:17] juliushaertl commented on #909
Would be fine by me. Contributions are very welcome :wink:

[2019-02-28 23:42] BloodyIron commented on #30
Let's get this reopened please. I'm for it!

[2019-03-02 16:13] BKapelari commented on #805
I would really like to see something like the "today" and "this week" view in Wunderlist: [(LINK)](https://www.wunderlist.com/blog/wunderlist-for-osx-yosemite/01@2x.png)

So showing all the tasks asigned to me for today/this week: [LINK](https://www.google.com/search?client=firefox-b-d&biw=1405&bih=815&tbm=isch&sa=1&ei=WKl6XPiXDumZjLsPmum72Ag&q=wunderlist+week&oq=wunderlist+week&gs_l=img.3...36243

[2019-03-05 09:02] #586 closed

[2019-03-05 11:27] #780 closed

[2019-03-05 12:56] PpaiSanchez opened #921 "TypeError: Argument 3 passed to OC\Activity\Event::setObject() must be of the type string, null given, called in /var/www/html/apps/deck/lib/Activity/DeckProvider.php"
For some time, the following error appears when the cron job is called. After that, emails will no longer be sent from the App Activity.

{"reqId":"EA2VDCGRcY0yA2jWiIUg","level":3,"time":"2019-03-05T10:30:01+01:00","remoteAddr":"","user":"--","app":"PHP","method":"","url":"--","message":"Undefined index: board at /var/www/html/apps/deck/lib/Activity/DeckProvider.php#108","userAgent":"--","version"

[2019-03-05 15:33] Dubidubiduu commented on #827
Depends, changes on description doesn't get an info in timeline, but tagging and changing the due date gets an info.

[2019-03-05 17:34] juliushaertl commented on #827
Description changes will get added after some delay though the cron job or after someone else edits it, since we merge individual saves to bigger chunks.

[2019-03-05 18:38] Dubidubiduu commented on #827
Ahh, right, there it is. Thanks!

[2019-03-05 18:38] #827 closed

[2019-03-08 18:56] jgrete opened #925 "Exclusive write access"
We use Deck in small team of five to manage our work. We would like to have a checkbox to gain exclusive write access to a card. We often had the situation that one team member overwrites some other members changes.
Regards
Juergen

[2019-03-09 11:13] brtptrs commented on #863
timeline problems on NC14 with Deck 0.5.2 Deck activities show up in the global activities list but not whe viewing the timeline from within the deck app.

[2019-03-10 20:42] Sunsheep opened #928 "Gantt Chart"
I would love to see a Gantt Style view of the Tasks.
In my opinion, this gives you the best overview of a long term project and will enhance Task management a lot.

I already found #134, but the Deck project was in an early phase of development back in 2017 and hasn't  implemented "due dates". Right now "start dates" are also not implemented - so this must be first done, to get gantt charts to wor

[2019-03-11 21:05] ymybe commented on #847
https://github.com/nextcloud/deck/issues/921 - is this related?

[2019-03-14 16:23] stefan-niedermann opened #938 "Redesign card view"
Design session for the Android client with @jancborchardt brought up a detail issue:

Instead of displaying an icon when a description is present we will show on android the first line (truncated description).

Maybe this should be the same behavior on the server app?

![deck](https://user-images.githubusercontent.com/4741199/54373607-dd598a80-467d-11e9-94db-60e11265b2ef.png)

<bountysource-plugin

[2019-03-14 17:41] juliushaertl commented on #938
Makes sense to me :+1:

[2019-03-14 18:55] stefan-niedermann commented on #938
Just for docu: this is how a card looks like on the Android app currently:

![grafik](https://user-images.githubusercontent.com/4741199/54383793-28ca6380-4693-11e9-8e74-1145fb862154.png)

[2019-03-15 20:10] UserXH726 opened #940 "Highlight cards by color which assigned to my user"
I miss a automatic highlighting of cards which are assigned to me (my user).
So would I quickly recognize what are my cards (my ToDos).
It would be an nice feature ;)

[2019-03-15 20:15] UserXH726 opened #941 "Highlight NEW cards by color"
If a other user creates a new card it would be nice, I see this new card highlighted.
Otherwise it may happen that I overlook that someone has created a new card.

[2019-03-18 21:42] naguibihelek commented on #475
Likewise. I thought this would be a pretty important function.

[2019-03-19 11:21] juliushaertl commented on #692
I see no easy way of returning a 404 for now, so let's close this.

[2019-03-19 11:21] #692 closed

[2019-03-19 11:26] juliushaertl commented on #938
@jancborchardt I'm not sure if we actually should condense the labels, this makes them look to similar to avatars and also doesn't provide enought information what the label is about. The text should be fully visible I think, since otherwise users will always need to remember which labels they have on their boards and the first letter isn't a clear indicator. Just think of labels as we use them in

[2019-03-19 11:29] juliushaertl commented on #938
@stefan-niedermann Appart from the comment above the new layout looks much cleaner. :+1: Avatars are displayed in the bottom right (just to have that referenced here as well)

[2019-03-19 15:14] pixelipo commented on #806
good work, @stefan-niedermann !

I have one comment - there is no place for stack-related tasks - stuff like "Rename current stack", "New stack" and "Delete Stack". Should there be yet another 3-dot meu in the stack-titles row?

what do you think, @nextcloud/deck ?

[2019-03-19 15:22] juliushaertl commented on #806
I think we discussed that those should be placed in the main action menu in the top right iirc.

@stefan-niedermann I'd say we can close this and continue discussion in separate tickets at the Android repo.

[2019-03-19 15:22] #806 closed

[2019-03-19 16:34] stefan-niedermann commented on #806
yes, thanks :)

@pixelipo like julius said, it has already been implemented (though yet without functionality) in a global 3-dot-menu in the top right corner of the app :)

[2019-03-21 10:28] Mannshoch commented on #928
May also see https://github.com/nextcloud/deck/issues/15

[2019-03-21 10:47] desperateCoder opened #954 "Enrich boards with existing labels"
As a user of the API the deck Android app is synchronizing the data starting with the get boards call. While we added the stacks in the response of this call, the existing labels are still missing and I would have to request all boards separately to also get the labels, causing more traffic and slowing down the sync.

I'd suggest including a verbose flag or even an overriden endpoint retuning all

[2019-03-21 13:33] lvarnava opened #955 "Impossible to unsubscribe from this board"
Nextcloud 14.0.8.2
ubuntu 18.04.1
postgresql 10.6
apache 2.4.29
php 7.2.15
Deck 0.5.2

Suppose someone shared a board with me.
I can not unsubscribe from this board.

[2019-03-21 13:39] juliushaertl commented on #925
Yes, we should definitely have some locking in place. This is also related to https://github.com/nextcloud/deck/issues/256 so the content gets updated once someone else pushes changes.

[2019-03-22 18:13] desperateCoder opened #957 "New API endpoint: get all users"
Currently i only know about the users, that are already assigned to a card or are a board owner. For now, an unassigned user can't be found by the deck app.

A new endpoint, able to deliver all known users of the deck app would be great!

This isn't urgent at all, since we have way more to do now, so just consider implementing this, as soon as you want.

Thanks @juliushaertl ! :grin:

[2019-03-25 13:58] juliushaertl commented on #957
Yes, we have that one as a private endpoint for the web UI, but somehow missed to implement it for the public one. I'll look into that.

[2019-03-25 14:13] desperateCoder commented on #957
The users are board-independant, global for a specific account, right?

[2019-03-25 15:03] juliushaertl commented on #957
No, the list of users depends on to whom a board is shared with. Note that the etag/if modified since header will also not be available there since it will just be a list of the users that are currently part of the board (or part of a group that was added to the board).

[2019-03-25 15:19] desperateCoder commented on #957
But wait... Aren't you talking about the ACL list? Isn't that the same thing?

[2019-03-25 15:48] juliushaertl commented on #957
Well, the acl list contains user and group elements, but groups can constist of any number of users that are not listed as part of the acl. So the search user for assigning just returns all of the users who have access to the board.

[2019-03-25 16:13] desperateCoder commented on #957
Didn't even know there were groups... Nice to know! @stefan-niedermann can you create some test groups and make them accessible for my account? I think a group would currently kill the whole App.

Thanks @juliushaertl I'm looking forward to the new endpoint!

[2019-03-26 08:07] rasos commented on #704
Same issue here with NC 13.0.5: comments are not stored, however disabling / enabling Deck as recommended in this issue does not help either. Nothing suspicious in Logfile. Comments work in other apps (Files).
How could I further debug this?

[2019-03-26 08:30] andreElrico opened #958 "comments of cards inside same stack are always added to the latest created and focused card."
**Describe the bug**
see in title

**To Reproduce**
(~~1. deck -> create board: b1 -> create stack: s1
2. create card: s1_c1
3. create card: s1_c2
4. navigate to card s1_c2
5. navigate to card s1_c1 -> timeline -> add a "new comment": c1_c1
6. The comment c1_c1 is not shown on timeline of s1_c1, but on the timeline of s1_c2.~~)

[YOUTUBE_VIDEO](https://www.youtube.com/watch?v=e1vssN8OHMA)

**Expec

[2019-03-26 09:30] juliushaertl commented on #958
Thanks for your report. I tried to reproduce this with the steps from above but it works just fine here. Maybe the video can give some more insights. Can you try to record it with the browser console (in network tab) open like this:
![image](https://user-images.githubusercontent.com/3404133/54985979-195fea00-4fb2-11e9-830c-e444c5e1b41a.png)

[2019-03-26 09:31] juliushaertl commented on #928
Closing as a dupliate of #134

As stated there this is nothing that is currently on our roadmap: https://github.com/nextcloud/deck/issues/134#issuecomment-448910458

[2019-03-26 09:31] #928 closed

[2019-03-26 09:32] juliushaertl commented on #941
Yes, some unread indication would be nice. :+1:

[2019-03-26 09:33] juliushaertl commented on #940
We should not do to much visual highlighting, which will add a lot of distraction to the view. The proper solution for the problem would be to implement filtering as described in #414

[2019-03-26 09:33] #940 closed

[2019-03-26 09:35] juliushaertl commented on #908
Yes, we should improve on that. The forms should not be available anywhere if there is just read-only access.

[2019-03-26 09:39] juliushaertl commented on #897
Thanks for your feature request. This sounds like a nice feature however it will be quite a complex one if done properly. I also agree with @putt1ck that this is more something that should be integrated with external solutions, and is rather out of scope of the direction we aim with deck currently. I'll close this as this is not on our roadmap for now.

[2019-03-26 09:39] #897 closed

[2019-03-26 09:47] juliushaertl commented on #833
This is not how we decide on if features are added. We are aiming to develop a software that provides a good user experience, is easy to use and has features that fit for a lot of common use caes. We don’t offer settings for everything that might be possible, please see the [Nextcloud design guidelines](https://nextcloud.com/design/) and especially [Choosing our preferences](http://ometer.com/pref

[2019-03-26 12:45] #840 closed

[2019-03-26 13:44] bpcurse commented on #958
Could be related to #875

[2019-03-26 16:30] andreElrico commented on #958
My description was not precise. Please watch the video: ( https://www.youtube.com/watch?v=e1vssN8OHMA )  (I have also added it to my first post.)

[2019-03-26 19:43] RobertZenz commented on #833
That does not necessarily stand against my statement. My point was that there is no point in arbitrarily limiting possibilities. If you already have the ability to colorize the stacks, there is no point in hampering that ability by only providing a pre-selection of colors. These colors might or might not work for the user (there are many forms of color blindness and personal tastes out there). You

[2019-03-28 15:50] alexport78 commented on #921
Another confirmation here.
@ymybe : The workaround works for one time only and while the deck app is disabled. Re-enabling the app makes the occ activity:send-mails command to fail.

[2019-03-28 19:30] juliushaertl commented on #126
Implemented with #923

[2019-03-28 19:30] #126 closed

[2019-03-28 19:31] juliushaertl commented on #954
Done with #960

[2019-03-28 19:31] #954 closed

[2019-03-28 19:31] juliushaertl commented on #957
Done with #960

[2019-03-28 19:31] #957 closed

[2019-03-29 08:59] juliushaertl opened #965 "Collections for cards"
Collections support should also be available for cards not only for boards.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/72104161-collections-for-cards?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&u

[2019-03-29 09:06] juliushaertl commented on #790
Fixed with https://github.com/nextcloud/deck/pull/906

[2019-03-29 09:06] #790 closed

[2019-03-29 09:07] juliushaertl commented on #845
Done with #739

[2019-03-29 09:07] #845 closed

[2019-03-29 13:11] Goldenflamer commented on #475
+1

[2019-03-29 13:24] juliushaertl commented on #475
Please use the [Github Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) feature instead of commenting that also need a specific feature. That way we can see your support without notifying all users subscribed to a given issue.

Note this has already been implemented with https://github.com/nextcloud/deck/commit/769053b76dc0f52bc68073466920a31320ab1532

[2019-03-30 11:22] juliushaertl opened #967 "Hide current board in collection selector"

[2019-04-02 07:55] putt1ck opened #969 "Cannot assign card to user from group"
**Describe the bug**
When a deck is shared with a group I cannot assign a card within it to a member of that group.

**To Reproduce**
Steps to reproduce the behavior:
Create a deck
Share with a group
Create a stack and a card
Try to assign the card to a member of the group (that is not also a member individually

**Expected behavior**
That any member of a group that a deck is shared with will be a

[2019-04-02 21:40] sh2515 opened #970 "Feature Request : notifications of card due dates"
Would you be able to add a feature to your roadmap please.

I have cards on several boards with dates and I am not on the internet all the time to check for notifications on the nextcloud webpage, so I would like to get notifications on my mobile phone.

When I set a card with a due date, I would like a reminder to popup on my phone as well, maybe even set when I want a reminder.

Alternatively ta

[2019-04-03 06:19] pprossi opened #971 "Printable/Exportable Deck report"
Would'nt it be nice to get some Deck Card Status overview.

Something like Deck in List or Excel/CSV format to Print all Deck Cards in one Overview?

[2019-04-03 06:23] pprossi opened #972 "Inline preview and popup of Attached Images."
It would be very nice to open the Images without downloading it.
My be some small preview of attached images in card detail and view with lightbox view of the image.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/72314706-inline-preview-and-popup-of-attached-images?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issue

[2019-04-03 06:32] putt1ck commented on #971
Sounds like something to look at building against the API

[2019-04-04 12:19] fti7 commented on #938
Why not moving the labels to the top? like in the other kanban tools?
Trello usually condenses it by default.
In the most Boards there are just a handful Labels; No need for a Text
But it also allow to uncondense it via an Click.

![Screenshot from 2019-04-04 14-13-50](https://user-images.githubusercontent.com/7014664/55554929-5039ac80-56e4-11e9-9ab4-d53777bd5fcd.png)
![Screenshot from 2019-04-04

[2019-04-07 21:03] ymybe commented on #921
@alexport78 True.  everytime you create another board which sends an activity email the notification emails go back to fail. :/

[2019-04-08 17:56] catauadrian opened #979 "Not loading comments to some decks (mouse cursor spinning forever)"
**Describe the bug**
Comments not loading on some decks, spinning indicator goes on forever

**To Reproduce**
Steps to reproduce the behavior:
1. Create a stack and a card
2. Create some comments in timeline
3. Click on other cards
4. Some stacks will not load comments

**Expected behavior**
Expected to load all comments

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-04-09 07:24] juliushaertl commented on #971
I agree with @putt1ck this is something that sould be built separately as an external integration using the REST API. Nothing that will be included into deck itself.

[2019-04-09 07:24] #971 closed

[2019-04-09 07:27] juliushaertl commented on #970
Once a card reaches its duedate a notification a notification will be sent to all users of the board, for a possible enhancement to only sent it to assigned users see #566. Note there might be a small delay in the notification, since we only check it on the run of the cron job.

This is handled in #15

[2019-04-09 07:27] #970 closed

[2019-04-09 07:34] juliushaertl opened #980 "Full text search invalid argument"
[code]

[2019-04-09 07:36] juliushaertl commented on #969
I cannot reproduce that. Any errors in the logs? Can you check the network console of your browser if the list of users is contained in the API request for the board.

![image](https://user-images.githubusercontent.com/3404133/55781620-e84fe100-5aaa-11e9-92eb-f0039877c27e.png)

[2019-04-09 07:43] putt1ck commented on #969
Ok, it works now. I'm guessing there's some sort of delay between the creation of the group or its assignation to the board and the list of members becoming available. In the scenario above it was "create board, create card, share board with group, attempt to assign group member to card" within a very short tirmeframe.

[2019-04-09 07:43] #969 closed

[2019-04-09 11:06] simonjaq commented on #15
Thanks.
We are a small company and not running Nextcloud Enterprise.
What about hiring an independent developer (or you Julius?) to implement this feature?
As I am not a coder it's hard for me to estimate how much work this would mean. Are we speaking about days or weeks of work?
From a non-coder perspective: Couldn't quite some of the functionality be taken from the Nextcloud Tasks app, which is

[2019-04-09 15:01] juliushaertl opened #981 "Add last modified date to labels"
As discussed with @desperateCoder

[2019-04-09 20:36] rponline opened #982 "Make Attachments accessible via Files"
**Is your feature request related to a problem? Please describe.**
So, i introduced a new nextcloud instance with deck for collaborating to my team ... and my colleges added spreadsheets, Word-Documents and so to the cards. But it's super-annoying to edit such an attachment: you have to download, edit and upload it again manually.
Yes, we could just paste a share URL of a File to a Card but this w

[2019-04-10 14:05] juliushaertl commented on #847
Can you try to trigger a new email and send me the last entry from your activity mail queue from your database with

[code]

[2019-04-10 14:07] juliushaertl commented on #982
Thanks for your feature request. This is actually a duplicate of https://github.com/nextcloud/deck/issues/564 :wink:

[2019-04-10 14:07] #982 closed

[2019-04-10 14:49] #979 closed

[2019-04-10 14:53] rob006 commented on #921
@juliushaertl I can send you mine (I have similar error, even ID matches): [oc_activity_mq.sql.zip](https://github.com/nextcloud/deck/files/3064392/oc_activity_mq.sql.zip)

[2019-04-10 15:26] #981 closed

[2019-04-10 15:26] #808 closed

[2019-04-10 15:28] #980 closed

[2019-04-10 15:33] rob006 commented on #921
I was able to temporary fix my mail queue by removing these two records:

[code]

Both reported `Undefined index: board` error.

[2019-04-10 17:26] mikshepard commented on #847
I did this.  I took an existing card and assigned it to a user "amys".  That is what this entry seems to be describing.  Here is the output:

 The entry after that appears to go to the other member the board is shared with.  This users, johnd, is not assigned to the card.  Here is that output:

Please let me know what further info I can provide.  Thanks,
-Mike

[2019-04-10 19:36] catauadrian commented on #979
I replaced the problematic code and it works now. Thanks a lot!

[2019-04-11 00:01] sunjam opened #992 "Attachments from within Nextcloud Filesystem"
**Is your feature request related to a problem? Please describe.**

Thanks for all the great work on Deck!  I'd like to attach files and folders that exist within the Nextcloud filesystem.  [Attachments are currently supported by being uploaded externally from a browser](https://github.com/nextcloud/deck/issues/202).  See @pdschandler recent comment on that issue.

**Describe the solution you'd li

[2019-04-11 04:52] putt1ck commented on #992
Related to #564 #618 #982

[2019-04-11 04:52] #992 closed

[2019-04-11 07:44] juliushaertl commented on #979
Thanks for reporting back. :+1:

[2019-04-11 08:20] #967 closed

[2019-04-11 10:49] #798 closed

[2019-04-12 10:11] pprossi opened #994 "Global or reusable Lables"
Would'nt it be verry usefull to have an global label list that is available at any deck.
Or alternativ a way to import lables from on deck to another?

May be some global sets of lables, for example: Browsers->IE,FF,SAFARI,CHROME... | Breakpoints->small,medium,large | OS->WIN,LINUX,MAC...

From which the labels could be imported oder referenced in a deck?

[2019-04-13 12:13] schniepp opened #996 "Not compatible with Nextcloud 16"
**Describe the bug**
Deck is completely broken in NC16, when it runs perfectly fine in NC15.

**To Reproduce**
Steps to reproduce the behavior:
1. Install NC16 from scratch
2. Add "Deck" app
3. Open "Deck" app to see that UI does not look as expected and is useless.

**Expected behavior**
Deck UI should just come up as expected and look at least similar to what we have in NC15

**Screenshots**

**

[2019-04-14 16:00] jospoortvliet commented on #996
Yeah, same here, the UI looks fairly OK but one can't do much in it... You can't create or rename boards. The only button that works is the settings, which pop up - and then do weird, too :dagger:
![Screenshot_20190414_180007](https://user-images.githubusercontent.com/551757/56095647-33208d00-5edf-11e9-8a10-af7aeae387a8.png)

[2019-04-16 22:30] schniepp commented on #996
I tried installing the new 0.6.0-beta1 today, hoping it would introduce nc16 compatibility. However, something strange happened. It first looked like it would let me install 0.6.0-beta1, but after a refresh of the Apps page, the 0.5.2 version showed up again. Observed behavior of the app was the same as reported above, not working. Strangely, this even happened when I first uninstalled 0.5.2 and m

[2019-04-17 08:55] juliushaertl commented on #996
@schniepp Are you running rc1 of Nextcloud 16?

[2019-04-17 13:27] juliushaertl commented on #15
@simonjaq I'm not available for hiring, since I'm already working for Nextcloud. However hiring an independent developer is of course also possible. Maybe searching the freelancer section in the forum is an option for that https://help.nextcloud.com/c/nextcloud-freelancing

This is a bit different, since tasks just used CalDAV as its main data source while deck has its own source in the database,

[2019-04-18 10:15] jancborchardt commented on #938
@fti7 the first screenshot looks really good, but the issue here is that then the label only relies on color as a distinction and would thus be difficult to distinguish for people with color vision difficulties.

Click/tap opens the details at the moment.

------------------

@stefan-niedermann I don’t fully remember what was the last state but I remember we had a nice solution in the Android app

[2019-04-18 10:51] schniepp commented on #996
Yes, rc1. Sorry for the delayed reply.

[2019-04-18 14:43] juliushaertl commented on #938
@jancborchardt This is the android app layout https://github.com/nextcloud/deck/issues/938#issuecomment-473012650

![https://user-images.githubusercontent.com/4741199/54383793-28ca6380-4693-11e9-8e74-1145fb862154.png](https://user-images.githubusercontent.com/4741199/54383793-28ca6380-4693-11e9-8e74-1145fb862154.png)

This is the current look in the web UI:
![image](https://user-images.githubuserc

[2019-04-18 15:20] jancborchardt commented on #938
Yep, I got that, but since it was from March 14 I thought on the last day of the hackweek we did some additional work on it? I had remembered @stefan-niedermann worked on it some more with some layout improvements. Maybe I misremember.

[2019-04-23 07:00] #958 closed

[2019-04-23 07:01] #847 closed

[2019-04-23 07:01] #921 closed

[2019-04-23 21:38] reinerj opened #1004 "0.6.0 break Nextcloud 15.0.7 when fulltextsearch is enabled"
**Describe the bug**
After the update was installed on a 15.0.7 Nextcloud broke complete. No option to see any files, the apps or any other unction

**To Reproduce**
Install 0.6.0 on 15.0.7

**Client details:**
 - OS: MacOS
 - Browser Safari, Firefox, Iridium

**Operating system**:
Docker Image

**Web server:**

See the official Docker image

**Database:**
MySQL

**PHP version:**

**Nextcloud vers

[2019-04-24 01:25] adietz00 commented on #1004
Seconded; this happened to me as soon as I applied the latest update today. Keeping it disabled for now.

[2019-04-24 01:26] metsuke0 commented on #1004
Maybe I will open my own topic, but I also am having issues with this release.  My whole Nextcloud instance is not broken like the OP, but the app itself is broken:

`{"Exception":"Error","Message":"Class 'OCA\\Deck\\Middleware\\SharingMiddleware' not found","Code":0,"Trace":[{"file":"\/usr\/local\/www\/nextcloud\/3rdparty\/pimple\/pimple\/src\/Pimple\/Container.php","line":118,"function":"OCA\\De

[2019-04-24 02:05] plinss commented on #1004
I have a similar issue, but it appears to be an incompatibility between deck and other apps, in my case, fulltextsearch. See https://github.com/nextcloud/fulltextsearch/issues/487 for my crash log.

Disabling either deck or fulltextsearch clears the error for me.

Is deck possibly monkeypatching something in nextcloud that other apps rely on?

[2019-04-24 09:16] juliushaertl commented on #1004
cc @daita

[2019-04-24 09:17] #996 closed

[2019-04-24 09:55] juliushaertl commented on #1004
Seems to be an issue in fulltextsearch. Possible fix is in https://github.com/nextcloud/fulltextsearch/pull/488

[2019-04-24 11:08] emansije commented on #1004
I have the same problem. I don't have fulltextsearch installed, but Deck stopped working after the upgrade to 0.6.0, while Nextcloud itself is still working fine.

[2019-04-24 11:10] juliushaertl commented on #1004
Please open a separate issue for that and provide a filled out issue template with relevant logs/errors.

[2019-04-24 11:11] juliushaertl commented on #1004
Fix is available with fulltextsearch 1.2.6 and 1.3.1

[2019-04-24 11:11] #1004 closed

[2019-04-24 13:30] uiharu-s opened #1005 "Internal Server Error"
**Describe the bug**
**To Reproduce**
Update to/Install 0.6.0, causes Internal Server Error at login page.
Disable Deck via occ, nextcloud functional again.
I have fulltextsearch enabled, and this might be the problem.

**Expected behavior**
Successfully updates and does not interfere with other components of the server.

## Relevant log
[code]

- Linux 4.18.0-17-generic #18~18.04.1-Ubuntu SMP
- A

[2019-04-24 13:36] uiharu-s commented on #1005
#1004

[2019-04-24 13:36] #1005 closed

[2019-04-24 15:51] cddf opened #1006 "Deck 0.6.0 is broken (Error: Class 'OCA\Deck\Middleware\SharingMiddleware' not found)"
### Steps to reproduce
1. Go to 'Deck'
2. See the internal server error. Other pages are still working.

### Expected behaviour
Deck should open.

### Actual behaviour
After upgrading to 0.6.0 the Deck app can not be opened, it raises an internal server error.

## Server configuration detail

**Operating system:** Linux 4.19.0-0.bpo.4-amd64 #1 SMP Debian 4.19.28-2~bpo9+1 (2019-03-27) x86_64

**Web

[2019-04-24 17:32] sunjam commented on #972
I was just testing this functionality in Deck 0.60 and attempted to embed images in card descriptions by appending `/preview` to the url, [as this functionality is now supported in Nextcloud](https://github.com/nextcloud/server/pull/6599).

Quick thought:  Would be great to embed images using their Internal Link ID so they do not have to be shared first for those who already have r/w access.

Shar

[2019-04-24 22:34] vollknorke1337 opened #1008 "Any chance to get this working on ownCloud?"
**Is your feature request related to a problem? Please describe.**
No problem, only a request.

**Describe the solution you'd like**
I went from Nextcloud to ownCoud and missing Decks. Would love to install Decks in ownCloud.

**Describe alternatives you've considered**
"Tasks" app doesn't fit.

**Additional context**
none

[2019-04-25 06:46] cloud2018 opened #1009 "board.sidebarView: "Collections" is not translated"
**Describe the bug**
"Collections" is not translated

**To Reproduce**
Steps to reproduce the behavior:
1. change the language in NC from English to another language
2. Open board.sidebarView

4. See error
 "Collections" is not translated

**Expected behavior**
 "Collections" is translated

**tested Version**
Deck 0.6.0
NC 16, NC 15

**Screenshot (NC15)**
![Screenshot_2019-04-25 Persönlich Deck -

[2019-04-25 07:55] juliushaertl commented on #1008
This app is Nextcloud only. :wink:

[2019-04-25 07:55] #1008 closed

[2019-04-25 07:56] juliushaertl commented on #1009
Ah we actually shouldn't show that on NC15 and collections is the old term. Thanks for pointing out, translations for that should come from the server anyway.

[2019-04-25 08:18] cloud2018 commented on #1009
Here is no p($l->t(
https://github.com/nextcloud/deck/blob/ca5a1bcddaa75a6fbe42ddb90aa1c9ff7fa78399/templates/part.board.sidebarView.php#L93

[2019-04-25 09:47] juliushaertl commented on #1006
Possible fix is in https://github.com/nextcloud/deck/pull/1011

[2019-04-25 10:47] blizzz opened #1012 "(old/pre-0.6.0) boards not shown"
### Steps to reproduce
1. Have a couple of boards with cards, normal usage
2. Upgrade to deck 0.6 (and Nc 16)
3. Go to the Deck app

### Expected behaviour
All boards are shown

### Actual behaviour
No board is shown. But they are not deleted either. With the links from activities, they can be opened, for example.

A user who has not used Deck before does not have these problems.

## Server config

[2019-04-25 10:54] juliushaertl commented on #1012
That error seems to originate from angular checking the CSP, so it is probably unrelated. We should actually set the csp rules in our angular app to avoid those logs

deck.js:30678
[code]

@blizzz Are the boards properly returned by the API endpoint?
![image](https://user-images.githubusercontent.com/3404133/56730866-43dfc700-6759-11e9-91ac-a1991c4d629f.png)

[2019-04-25 10:58] blizzz opened #1013 "No board to select when attempting to add to a project"
### Steps to reproduce
1. Have boards in Deck
2. Go to Files
3. Click on "share" for a file
4. Click on "Addt to a project"
5. Click on "Add to board"
6. The modal "Select the board to link to a project" appears

### Expected behaviour
The existing boards should be shown

### Actual behaviour
The modal is empty except for the initial sentence and the "Select" button.

## Server configuration detai

[2019-04-25 11:41] blizzz commented on #1012
Nope, just an empty `[]`

[2019-04-25 11:43] blizzz commented on #1012
When I look at the boards table, what the missing boards have in common is that `last_modified` is set to 0.

[2019-04-25 11:54] juliushaertl commented on #1012
Ok, that might be the reason, since we added the last_modified date for the rest api, I'll have a look.

[2019-04-25 16:01] #1012 closed

[2019-04-25 16:01] #1013 closed

[2019-04-25 16:20] #1009 closed

[2019-04-25 16:20] #1006 closed

[2019-04-25 19:07] mokkin opened #1016 "Add dependencies and blockations"
It would be helpful to link different cards like dependencies.
Then users could see, for example with a little stop sign, if solving the problem is blocked by another card or task.

[2019-04-26 10:14] kostasy commented on #1006
Hi, I am new here, but I have the same problem. How should I fix it or when will the bug fix release?

"Error: Class 'OCA\Deck\Middleware\SharingMiddleware' not found_

    /snap/nextcloud/12753/htdocs/3rdparty/pimple/pimple/src/Pimple/Container.php - line 118:

    OCA\Deck\AppInfo\Application->OCA\Deck\AppInfo\{closure}("*** sensiti ... *")

    /snap/nextcloud/12753/htdocs/lib/private/AppFramew

[2019-04-26 11:19] juliushaertl commented on #1006
I will prepare another release over the weekend. In the meantime you can apply the changes from https://github.com/nextcloud/deck/pull/1011/files manually. You just need to remove the line `use OCA\Deck\Middleware\SharingMiddleware;` from lib/AppInfo/Application.php in the deck app directory.

[2019-04-26 14:31] cddf commented on #1006
Thank you for your fast response.

I tried that way, but I still get the same error.

[2019-04-26 14:35] juliushaertl commented on #1006
Do you have opcache enabled? In that case restart your webserver/php-fpm service?

[2019-04-26 14:42] cddf commented on #1006
Good point :+1:
It's solved

[2019-04-27 08:35] juliushaertl commented on #769
14 is no longer supported by deck, so I'm closing this for now as I have not been able to reproduce. Feel free to reopen if it still occurs with Nextcloud 15/16 on deck 0.6.1

[2019-04-27 08:35] #769 closed

[2019-04-27 10:02] cloud2018 opened #1018 "add an object to collection is not possible, after a tab in board-details-view has been clicked"
**Describe the bug**
It is not possible to add an object to collection after a tab "Tags", "Deleted items" or "Timeline" has been clicked

**To Reproduce**
Steps to reproduce the behavior:
1. Open board details (-> tab "Sharing" is default)
2. Add a board to collection
3. Click a tab ("Tags", "Deleted items" or "Timeline")
4. It is not possible to add another object to collection

**Expected behav

[2019-04-29 08:44] Tealk commented on #907
I think i have the sampe problem in Firefox
![image](https://user-images.githubusercontent.com/12276250/56885038-bdcec380-6a6b-11e9-9d42-5f8ad9ecd73d.png)

[2019-04-29 15:36] ApoRes1337 opened #1024 "change user rights"
**Describe the bug**
When changing the rights of users, they are not accepted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Deck'
2. Click on 'Board Details'
3. Add a Nextcloud User to the Deck
4. Open the Details again and change the rights
5. nothing happens

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot_1](https://user-images.githubuse

[2019-04-30 16:42] rhersel commented on #603
I agree that colored cards in compact mode would be much appreciated. Currently the compacted cards don't carry any color information. I suggest two different approaches:
1. Enable background color assignment per card (users may use it for whatever they want)
2. Use color of the first tag of the card to set the background color of that card.

[2019-04-30 16:49] rhersel commented on #249
I support this request as well. This is a basic feature to work seriously with Kanban boards.

[2019-04-30 16:53] rhersel commented on #119
We make much use of templates in Kanban boards. If you create a new board, you don't want to design it again an again.

[2019-05-01 13:41] ymybe commented on #1024
I confirm the issue, with Deck 0.6.1 Nextcloud 16.0.0 on php7.3.4 mariadb 10.3.latest

[2019-05-02 09:46] markuman opened #1027 "Could not create activity entry for card_create. Entity not found."
**Describe the bug**
A clear and concise description of what the bug is.

creating new tasks results in a 500 error

**To Reproduce**

go to any stack in any deck board and try to add a new task

[code]

Running nextcloud 15.0.7 with deck 0.6.1

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/73617951-could-not-create-activity-entry-

[2019-05-02 09:56] markuman commented on #1027
Ok, I notices that
1. in the frontend nothing happen when try to create a new task
2. in background nextcloud.log is full of 500 errors
3. when I reload the deck, the tasks are present. .... n times, when I hit n times enter to create a new task.

[2019-05-02 14:53] putt1ck commented on #721
Deck 0.61 on NC15
Received email of form

{user} has updated the description of the card CardName in stack StackName on board BoardName.

where the activity stream for the card (and general) has

UserName has updated the description of the card CardName in stack StackName on board BoardName

Looking at an older email with more activity to report, the failure to include the username is inconsistent

[2019-05-04 17:37] ksteinb opened #1028 "App tries to call circles app when boards are shared to group"
When a board is shared to a group, but circles app is not installed you get the following error:

"Fetching boards failed"

**To Reproduce**
Steps to reproduce the behavior:
1. Have deck installed but not circles app!
2. share a board to a group
3. Try to call a shared board (probably on another account in the group
4. See error: "Fetching boards failed"

**Expected behavior**
Boards should be sho

[2019-05-04 17:46] ksteinb commented on #1028
It looks like it is related to the LDAP user backend!

with another nextcloud instance (same version of server and App) sharing to groups works without circles app.

[2019-05-05 18:06] argotechnica commented on #1024
Also experiencing this issue on Deck 0.6.1 / Nextcloud 16.0.0 / PHP 7.3.5 / MariaDB 10.3.14 / Nginx 1.14.0. The issue manifests as a ```405: Method Not Allowed``` on the PUT request for file "acl". The Referrer Policy mentioned is ```no-referrer-when-downgrade```. My nginx config has recommended settings per the documentation (https://docs.nextcloud.com/server/16/admin_manual/installation/nginx.ht

[2019-05-06 10:40] Tealk opened #1032 "Cant create board"
### Steps to reproduce
Go to Deck

### Expected behaviour
I would like to create a new board

### Actual behaviour
I don't have a button to create a new board and under settings I get the message "Limiting Deck prevents users who are not part of these groups from creating their own boards. Users can continue to work on boards that have been shared with them."

## Server configuration detail

**Ope

[2019-05-06 14:39] Peronia commented on #1024
Thanks, fixed it for me too.

[2019-05-07 11:52] juliushaertl commented on #1032
Can you check the output of `occ config:app:get deck groupLimit`? Does it contain a group that is not present anymore?

[2019-05-07 11:55] #1024 closed

[2019-05-07 11:59] juliushaertl commented on #1028
I assume you had enabled circles at some point and have added a circle to a board before the circles app got diabled?

[2019-05-07 12:07] juliushaertl commented on #1027
@markuman Any chance you could apply the following patch https://github.com/nextcloud/deck/pull/1035/files and check the log output again? It should contain more details that might help when finding the root of the issue.

[2019-05-07 12:14] juliushaertl commented on #1016
Duplicate of #272

[2019-05-07 12:14] #1016 closed

[2019-05-07 13:30] Tealk commented on #1032
yes there is only one group and this does not exist anymore

[2019-05-07 14:41] Tealk opened #1036 "cant give user full access"
### Steps to reproduce
Go to Deck
add a user to share a board

### Actual behaviour
the user has to edit only from the beginning.
If I want to give the user the right to share and manage the page, they will disappear after the page has been reloaded.

## Server configuration detail

**Operating system:** Linux 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1 (2019-04-12) x86_64

**Webserver:** Apache (fpm-fc

[2019-05-07 14:44] juliushaertl commented on #1032
A fix for this is in #1033

[2019-05-07 16:13] mcarpenterjr opened #1037 "Git integration"
**Is your feature request related to a problem? Please describe.**
Currently, I use Gitlab for manage of git Repo's, there's been an increasing number of instances where I am finding myself scrambling to take notes and or organize how I can summarize or explain the progress on Issues and projects. (Both on desktop and from a tablet)

**Describe the solution you'd like**
It would be awesome if ther

[2019-05-07 16:21] putt1ck commented on #256
Even just a refresh button would be neat

[2019-05-07 20:50] #1032 closed

[2019-05-07 20:54] bsherwoodofdaptiv commented on #256
Adding another thought - an application (single page javascript app) I wrote (as an amateur) recently has a ping routine that just updates the central server every 60 seconds to say 'hey, I am still running (ie: user is still logged in)'.
This could be the mechanism to get the last time the current board was updated. Just a big unix datestamp (or some such) that you look at compared to the last on

[2019-05-08 04:35] putt1ck commented on #256
Shouldn't be any more intense than say the equivalent for web-based email clients.

[2019-05-08 07:25] juliushaertl commented on #1036
Duplicate of https://github.com/nextcloud/deck/issues/1024 with a fix in #1026

I'll push an app update soon

[2019-05-08 07:25] #1036 closed

[2019-05-08 09:27] juliushaertl commented on #256
We have some first steps made for this with the last modified date being added to entries for the REST API with 0.6. Once we have finished the vue rewrite I'll look into this, as with Vuex storing all the data this shouldn't be to hard.

[2019-05-08 11:18] #1028 closed

[2019-05-09 04:07] BloodyIron opened #1039 "Tags - Drag & Drop"
When I have the Tags section open on the right, I'd like it if I could drag and drop Tags onto cards on the left. Right now, it just highlights the text.

I think this would really help workflow.

[2019-05-09 07:09] juliushaertl commented on #1037
Thanks for your suggestion. Please see #849 as this is kind of a duplicate. :wink:

[2019-05-09 08:45] jirislav opened #1040 "Unhandled expired CSRF token response"
When I open deck after some PC sleep, the CSRF token is expired. So when I prompt for task detail, it shows loading gif forever, while already received response to the XHR request with 412 HTTP status code and description of an expired CSRF token.

Similar behavior was reported in #633 , but it was closed with this comment:

Apparently, Nextcloud 14 didn't solve this issue, so I suggest to simply

[2019-05-09 16:56] mcarpenterjr commented on #1037
Cool, Thank you!

[2019-05-09 21:06] mikaeli opened #1041 "Unable to set permissions"
In deck version 0.6.1 with Nextcloud 16.0.0 it is not possible to grant additional permissions to other users.

If the user who created a deck/project shares it with other user and ticks permission to Manage or Share, the permission does not change. The tick is applied but the setting will not be saved.

There is following error on the console:

deck.js?v=86ad1f4f-17:42951 PUT https://cloud.******

[2019-05-09 21:54] mikaeli commented on #1041
Sorry for noise. Just noticed this has already been dealt with.

[2019-05-09 21:54] #1041 closed

[2019-05-10 20:17] markuman commented on #1027
When I apply this, I receive no more errors - related to the frontend behaviour. I create a new task, hit enter, and it is immediatley present.

On the backend I still receive an error.
Without patch

[code]

with patch
[code]

[2019-05-11 18:01] YoSiJo opened #1043 "Sharing with circles is not possible: NoPermissionException [$15]"
### Steps to reproduce
1. Create a secure circle
2. Add a new Member in this Circle
3. Create a Deck
4. Add over the the "Sharing" section in the board details this circle

### Expected behaviour
1. The members of the circle can use the deck and access it.
2. I can change the settings "Edit", "Share" and "Manage".

### Actual behaviour
1. Members of the circle cannot access the deck.
2. The owner

[2019-05-13 12:48] luizvnasc commented on #855
It could be something like milestones.

[2019-05-15 09:12] iamit commented on #1041
I have the same problem in the latest version, so could you please add the link where "this has already been dealt wiht"? next cloud  16.0.0 , deck: 0.6.1

[2019-05-15 09:21] iamit opened #1048 "Board Permissions (edit, manage, share) of group not saved"
I need to have a group (user group) only view access, so on share the board with a group, I deselect edit permission.

in debug mode, you see it does the request, but gets an error message 9and the premissions are not saved)

none of the other permissions are saved.

this is the response:
Request URL: https://my-domain/apps/deck/boards/4/acl
Request Method: PUT
Status Code: 405 Method Not Allowed

[2019-05-15 09:26] mikaeli commented on #1041
After submitting the issue, I noticed that there were already two duplicate reports #1024 and #1036.
Those had been fixed in #1026 and the fix will be included in next version, which hopefully gets published soon!

[2019-05-15 11:11] juliushaertl commented on #1048
Fixed in https://github.com/nextcloud/deck/pull/1026

[2019-05-15 11:11] #1048 closed

[2019-05-15 11:22] juliushaertl commented on #1043
Can you retry if this is fixed with the just released 0.6.2? This looks like the same root cause as in #1026

[2019-05-15 11:25] juliushaertl commented on #1040
Hm yes, we don't update the token properly in deck yet:

https://github.com/nextcloud/deck/blob/e08c430422a408d72799db112bad4c5c234694b8/js/app/Config.js#L32

[2019-05-15 22:43] baldstard commented on #15
@juliushaertl

Any progress here?

And what about integration of Deck into Nextcloud Adnroid plugin? This could be a "starting workaround" until mapping will be done. Or not?

[2019-05-16 09:06] iamit commented on #1041
Thanks for the extra comment, had to search for ACL to find the other requests. We just upgraded to 0.6.2 and my issue is solved, thanks for the fix!

[2019-05-16 13:26] YoSiJo commented on #1043
Ok the buttons "Share" "Manage" are now persistent and do not reset anymore.
We can't access the deck yet. `Error occured` `Error while loading stacks`
The following message still appears on the existing deck:
[code]
I created a new circle again and shared it with the circle in a new deck. Unfortunately still the same result:
[code]

[2019-05-17 13:40] GallandJe opened #1051 "Custom background"
Hello,

I propose to implement a feature to let the user select a custom background image or color.
Because it's a litle bit too white ;)

Bests regards

[2019-05-17 18:37] fmorato commented on #603
I don't think the card should have as a background the color of a tag. The tags could be displayed as small badges without text below the text of the card, perhaps without adding extra spacing to the card size.

[2019-05-18 08:29] putt1ck commented on #793
At the same time and for same reasoning, descriptions for stacks would also be useful

[2019-05-20 09:44] Energiegenossenschaft commented on #119
We use nextcloud in our cooperative. We would like to say goodbye to Trello and change completely on deck. But the function to copy boards is missing. We would welcome this extension and are willing to pay an amount of CHF 150. Thank you for your efforts so far!

[2019-05-20 13:13] LeoCaplin opened #1056 "OCP\RichObjectStrings\InvalidObjectExeption: Parameter is undefined"
**Describe the bug**
I got this error in my log, which seems relative to deck app

**To Reproduce**
I dont really know why it happens, and it dont really cause working problem, but it flood my log hard.

**Expected behavior**
Dont see this error message

<details>
<summary>Server details</summary>

**Operating system**:  Debian 8.11

**Web server:** Apache 2.0

**Database:** MariaDB 10.0.38

**PHP

[2019-05-21 00:25] mdberryh commented on #1051
I removed the addon for next cloud because I just couldn't see the card. Changing background would help, or make the card's border or even the card's color different than the background would be helpful. Another option would be if they set the card's title to a solid color.

[2019-05-21 03:17] sunjam commented on #1051
Setting custom backgrounds would be nice!  For now, you can also go to /settings/accessibility to use the new dark theme beta for Nextcloud at large.

[2019-05-21 03:36] sunjam commented on #789
Circles support was added, which is a good first step since the Circles app does include Federation support.  This does not solve this request, but it is certainly a good step!

[2019-05-21 05:09] TobiasDev commented on #1051
Not sure if this falls into the same, if not, let me know and I can add a new feature request. Would it be possible to add so we can color individual columns?

That would make it a lot faster to focus on one column as I can tie the column to a color.

Eg. something like this:
![image](https://user-images.githubusercontent.com/5912371/58069893-4d612100-7b97-11e9-999b-e822460af50a.png)

[2019-05-21 06:44] TobiasDev opened #1057 "[Feature request] Collapse columns"
**Is your feature request related to a problem? Please describe.**
I´m using Deck to plan my whole week and the work I need to get done, I would love if I could collapse the columns when I don´t need them. Eg. I don´t need to see Wednesdays tasks on a Tuesday, so then I would like too collapse it. (I´ve attached an image to give a better example)

I´ve seen this somewhere, where you could collapse

[2019-05-21 07:48] cloud2018 opened #1058 "make error text of file upload translatable"
**Describe the bug**
text of file upload error is not fully translated

**To Reproduce**
Steps to reproduce the behavior:
1. Choose German as language
2. Go to card details
3. Try to upload a large file
4. See error message
**Failed to upload** meine-Testdatei.png
Maximale Dateigröße von 2.00 MB überschritten

**Expected behavior**
error text is fully translated
or
there is a string "Failed to upl

[2019-05-21 18:25] blu3knight opened #1059 "Comments: Need Error Message on Length Exceeding a 1000 Characters"
**Describe the bug**
No Error Message is displayed in the comments it just keeps spinning, had to go in to logs to figure out that this was because Length is > 1000 Characters

**To Reproduce**
Have more then a 1000 Characters message

**Expected behavior**
Error message of some kind to appear

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Client details:**
 - OS:

[2019-05-21 18:42] jirislav commented on #32
Because you can't group boards. Boards should not overlap with each other, that would be a mess.

Swimlanes are much more appropriate to group one kind of tasks on board. See an example on currently very popular issue tracker YouTrack: https://youtrack.jetbrains.com/agiles/153-308/155-3324

[2019-05-22 10:23] beccon4 opened #1060 "Allow attachment of files from Files App to card"
For the time being we can attach files to a card by uploading them from the client's file system.

It would be really nice to be able to attach them from NC's File Application too i.e. attach files already on the cloud.

A current workaround is to share them via link and put it in the  description - but for  that we have to share the file first which is not always appropriate.

Downloading the fil

[2019-05-22 13:45] Aquariu commented on #1060
Dear all, I have created the corresponding Issue on [the very aplha Deck Android app](https://github.com/stefan-niedermann/nextcloud-deck/issues/83). The level of integration we could get by having this looks fantastic!

[2019-05-23 10:53] Salokyn opened #1061 "Having link to another card"
**Describe the solution you'd like**
I'd like that writing `#NNN` (where NNN is the ID of a card) in a card description would create automatically a hypertex link that opens the card whose id is `NNN` when I click on it.
Hovering the link could show the title of the card `NNN`.

[2019-05-25 21:31] sehucke commented on #15
This depends on the underlying use cases this feature should support.
1. As a user you want to use an existing (CalDAV-supporting) app to display a task list.
2. As a user you want to use an existing (CalDAV-supporting) calendar app to visualize tasks and due dates.
3. As a user you want to use a mobile device to access / work with your Kanban boards.

IMHO, this is a bit out-of-scope for a file s

[2019-05-25 22:31] poVoq commented on #15
@sehucke Quite offtopic, but Kandroid would be a good starting point to extend with Deck support:
https://github.com/andresth/Kandroid

[2019-05-26 03:53] putt1ck commented on #15
@sehucke you mean something like https://f-droid.org/uk/packages/it.niedermann.nextcloud.deck/ ?

[2019-05-26 09:58] YoSiJo commented on #1043
FYI: I have created a [bounty](https://www.bountysource.com/issues/74020139-sharing-with-circles-is-not-possible-nopermissionexception) of 15$.

[2019-05-27 06:16] jurgenhaas opened #1070 "Causing issues with fulltextsearch"
Both deck and fulltextsearch are using the latest versions of their respective plugins. When I run the index on the CLI the following error occurs on every single installation:

[code]

At the beginning I thought it might be a content issue and fulltextsearch were doing something wrong. But it turned out, even with "empty" installations, as soon as deck gets enabled we see this exception.

Unfortu

[2019-05-27 06:51] LeoCaplin commented on #1056
No one can help me ?

[2019-05-27 08:43] TobiasDev opened #1071 "Can´t add new cards from mobile (Fennec)"
**Describe the bug**
When I visit NextCloud Deck from my Android browser (Fennec and Bromite tested), there are times when it doesn´t  create new cards for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to NextCloud Deck in Bromite or Fennec
2. Add a new card
3. If it works try adding another
4. See that it will break at some point

**Expected behavior**
That I´m able to create new c

[2019-05-28 06:53] a1pilot commented on #828
Same issue here. Any news on a fix?

I write a comment in the timeline and it just vanishes.

[2019-05-28 10:14] BobyMCbobs opened #1072 "[UX] add button to confirm adding of item in a stack"
**Is your feature request related to a problem? Please describe.**
Some users are more mouse driven than keyboard driven, if there isn't a confirm button they will be unsure on what to do when adding new items to a stack.

**Describe the solution you'd like**
A button, to confirm the new item in the given stack, should be added inside the new item box similar to how it is when adding a new tag in

[2019-05-28 21:46] sehucke commented on #15
Exactly! :-) Shame on me that I overlooked this one...

The direct link to the repo: https://github.com/stefan-niedermann/nextcloud-deck

Many contributors are Nextcloud core team members. Looks very promising.

[2019-05-30 13:36] natrius commented on #730
Any updates on this one?

@blue one: My suggestion would be just an '@' at the top. No blue colour.

- Grey: Messages made
- Red dot: New messages
- @: Mentioned

[2019-05-30 13:58] natrius opened #1073 "Move comments to separate sidebar tab"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated i have to search comments. I introduced a friend to deck for marriage planning and he wrote some comments in the description because he did not actually thought that comments are 1, possible at all and 2, they are found in the timeline.The timeshould not contain anything active. It should just be a passive ti

[2019-05-31 07:45] cloud2018 opened #1078 "make dialog (file exists) translatable"
**Describe the bug**
dialog is not translatable

**To Reproduce**
Steps to reproduce the behavior:
1. Open card details
2. Upload a file
3. Try to upload the same file again
4. See dialog

**Expected behavior**
Dialog is translated

**Screenshots**
![Persönlich   Deck   Nextcloud(2)](https://user-images.githubusercontent.com/34692335/58689864-7c8e4400-8388-11e9-8204-0a14fab17d80.png)

**Version**

[2019-05-31 12:11] white-gecko commented on #34
What about also putting those stacks to the archive as it is possible for cards?

[2019-06-03 02:03] helloxinxiang commented on #533
It is a very useful function! Would you please develop it? Thanks a lot!

[2019-06-06 18:11] sundowndev commented on #869
Having the same issue.

[2019-06-07 05:54] #1078 closed

[2019-06-10 12:26] UserXH726 commented on #828
The same problem with me

[2019-06-11 08:41] level420 commented on #1070
I can confirm this with with

- Deck 0.6.2
- Full text search 1.33
- Full text search - Elasticsearch Platform 1.3.1
- Full text search - Files 1.3.2
- nextcloud 16.0.1.1 as fpm from docker.id
- elasticsearch docker image 6.5.4 from docker.elastic.co/elasticsearch/elasticsearch with current ingest-attachmen plugin

[2019-06-11 08:56] level420 commented on #1070
Updated elasticsearch docker image to 7.1.1 from docker.io with current ingest attachment plugin with the same result.

[2019-06-11 09:01] level420 commented on #1070
might be solved in the 0.6.3 release via this PR: https://github.com/nextcloud/deck/pull/1049
See also https://github.com/nextcloud/fulltextsearch/issues/498

[2019-06-11 09:03] level420 commented on #1070
@juliushaertl I've seen that milestone 0.6.3 is complete. what is the scheduled release date for 0.6.3?
this bug prevents indexing completely.

[2019-06-11 13:52] 3Fish commented on #828
Hav the same issue with a hosted nextcloud version.
Nextcloud: 16.0.1
Deck: 0.6.2
The whole timeline in Deck is not working. (not just the comments)

[2019-06-11 14:35] jancborchardt opened #1088 "Possible name and terminology change"
We discussed in the past that our current naming might need revision.
It’s currently **Deck**, Board, Stack, Card (app name in bold).

Alternative ideas @juliushaertl and I had:
- **Boards**, Board, Stack, Card
- **Plans**, Plan, Stack, Card
- "Projects" is already taken by the Projects feature in core, so we can not use that.

Just researched how others call it:
- **Trello**, Board, List, Card
-

[2019-06-11 17:21] skjnldsv commented on #1088
I like Board :)

[2019-06-11 22:32] jancborchardt commented on #1088
My problem with "Board" or "Boards" is that for someone unfamiliar with Kanban it is absolutely confusing. Hell, I’m thinking of snowboards, skateboards and surfboards. ;)

To that extent, it is not much better than the current "Deck".

"Nextcloud Plan" seems to be the clearest, both for newcomers and people who know about it. Like it comes from "project planning", or you could even say "do you ha

[2019-06-12 04:32] putt1ck commented on #1088
Deck is fine. Trello has done very well with a similar functionality ($425m well) while being called Trello. Board, List, Card works, with List maybe better than Stack.

Given the uses you can come up with for such a system, we probably can explain why Trello isn't "Plano" or "Projecto". It's fairly clear why it's not "Boardo" on many levels... Given that people already use Deck for more than plan

[2019-06-12 04:32] BobyMCbobs opened #1089 "Exporting and importing boards (as JSON or something)"
**Is your feature request related to a problem? Please describe.**
Migrating deck boards across instances isn't possible.
There are cases where a deck board should be migrated but not the Nextcloud instance, this feature is super important for that.

**Describe the solution you'd like**
The ability to export and import a board as JSON.

**Describe alternatives you've considered**
null

**Additiona

[2019-06-12 12:54] jancborchardt commented on #1088
I’m also fine doing it step by step and sticking with Deck for now. :) It is reasonably established, at least in the Nextcloud bubble.

Then let’s go with changing the "Stack" to "List" and we’re done? @juliushaertl

[2019-06-14 19:26] blitzdesigner commented on #87
to give this issue maybe a push, the bounty went up to 20$ :-)

[2019-06-14 19:57] sundowndev commented on #1056
Duplicate of #869

[2019-06-17 12:39] SnackyWell commented on #979
I have some same error Comments not loading on all my timelines have you andy idea to solve this ?

[2019-06-18 17:24] brtptrs opened #1094 "Deleted tasks with due date still appear as notification"
Similar to https://github.com/nextcloud/deck/issues/768 I get notifications on deleted (not archived as in https://github.com/nextcloud/deck/issues/768) tasks, when they were deleted before the due date.

https://github.com/nextcloud/deck/issues/768 is marked as solved, it seems this problem could be related but not identical.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty o

[2019-06-18 19:42] juliushaertl opened #1095 "Setting archived state is not possible though the API"
It is currently not possible to set the archived state though the cards update endpoint, as the parameter is never taken from the request:

https://github.com/nextcloud/deck/blob/master/lib/Controller/CardApiController.php#L89

@desperateCoder I'll prepare a fix for this

[2019-06-18 19:51] juliushaertl commented on #1056
Agreed, I'll close this as a duplicate of #869

I'll look into this once I find some time to work on deck again.

[2019-06-18 19:51] #1056 closed

[2019-06-20 08:29] DadoooR3 opened #1096 "Duplicate a Table"
Hi All,

Im Workins on multiple similar tasks organized with de same workflow.

I suggest you to made possible to create a new "tableau" by copy of an existing "tableau"

It is possible?

Bests regards

Dan

[2019-06-20 08:34] DadoooR3 commented on #1096
Or made possible to create a template

Thank you for your excellent tool!

Dan

[2019-06-20 08:34] #1096 closed

[2019-06-20 13:47] SnackyWell opened #1097 "timeline is broken not loading"
our timeline is broken and not loading comments and actions.

[Screen](https://i.imgur.com/wR6w4hn.png)

that is showen in that console
deck.js?v=148eec79-25:42964 GET https://next.***/ocs/v2.php/apps/activity/api/v2/activity/filter?format=json&object_type=deck_card&object_id=83&limit=50&since=-1&sort=asc 404 (Not Found)
deck.js?v=148eec79-25:42964 GET https://next.***/ocs/v2.php/apps/activity/api

[2019-06-20 19:00] dadosch opened #1098 "Option to show both archived and active cards"
**Is your feature request related to a problem? Please describe.**
A option which shows both, active and archived, cards would be good because it gives an overview what you have already achieved and what still needs to be done

**Describe the solution you'd like**
archived cards could be shown greyed out, the others normal.

Currently, you can switch only between archived or active cards, there is

[2019-06-21 07:24] juliushaertl opened #1099 "Integration tests"
Our integration tests are still broken, they need to be adjusted to work with the latest guzzlehttp version of the server.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/75858083-integration-tests?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2019-06-21 07:30] juliushaertl commented on #1098
I added this as an addition to #414

[2019-06-21 07:30] #1098 closed

[2019-06-21 07:31] juliushaertl commented on #1097
Thanks for your report, please fill out the complete issue template. Especially the Nextcloud log files would also be interesting.

[2019-06-21 07:38] juliushaertl commented on #1088
@jancborchardt Thanks for summarizing what we discussed :+1:

I also think that renaming stack to list is the most important one. After thinking about it, I also feel that renaming the app is probably going to be hard, as we also have the android app named Deck now. Maybe it would already help if we come up with a better short description of the app. In the app store for example you only see:
![im

[2019-06-21 07:39] juliushaertl commented on #1089
Duplicate of #87

[2019-06-21 07:39] #1089 closed

[2019-06-21 07:40] juliushaertl commented on #1070
Sorry for the delay on this, I'll prepare a new release next week.

[2019-06-21 07:45] juliushaertl commented on #1073
This was implemented after the general discussion of merging activity/comments into one timeline in https://github.com/nextcloud/server/issues/658.

Moving them to the description tab seems wrong to me, as it is clearly something different. The main issue seems to be that the comments are distributed between all the activity entries. What do you think about allowing to filter the timeline view to

[2019-06-21 09:53] natrius commented on #1073
No, the main issue is that we did not even know comments are possible. Just after i was just clicking around because of something else i discovered this. Together with https://github.com/nextcloud/deck/issues/730 it would be easier to start with, but now. Discover by accident.

My suggestions would be:

- Add new tab "Comments"
- Change "Description" to "General" and divide into sections "Descript

[2019-06-21 14:27] jancborchardt commented on #1088
- Simple project organization & collaboration
- Personal planning and team project organization

Also like your 2nd proposal @juliushaertl. Just pick one and we go with that. :)

[2019-06-21 14:39] putt1ck commented on #1088
I'd add something about supporting other workflows as we use it for more than projects - it makes for an effective trouble ticket system, for example.

[2019-06-21 18:27] jancborchardt commented on #1088
This is for a **short** description, so we need to be brief. :)

[2019-06-22 08:17] juliushaertl commented on #1073
I see your point, maybe @jancborchardt has an idea since the discoverability of of comments will be a general issue with the unified timeline.

[2019-06-22 09:11] nul7 opened #1101 "Boards are not deleted"
First off, thank you for your work.

**Describe the bug**
Deleted projects never go away. They just become disabled with a button to undelete and a note that they will be removed when the next cron job runs. I have a cron job set to run every 5 minutes (verified by the status in Basic Settings). Same behavior is observed manually running the Nextcloud cron.php. No logs are created. I'm not sure ho

[2019-06-22 13:54] bpcurse commented on #1073
Same issue described here #728.

The problem is, that displaying comments in the timeline may have some logic in it, but it definitively is **not** intuitive. No one will search there for comments.
@natrius The same happens in our setup. People do not use comments and instead put them in the description.

I would love to see a solution, where the comments simply are shown under the description tex

[2019-06-22 17:52] towo opened #1102 "Header ordering is not correct"
**Describe the bug**

When viewing a board, the header structure is as follows:

* Application name
  * nothing
    * Column name
      * Task name
      * Task name
   * [...]
    * Open task name

Missing the 2nd level shouldn't be a thing.
(Yes, I know, this is minor… but.)

**To Reproduce**

Normal usage.

**Expected behavior**

Header level "2" as the top level of the application-specific con

[2019-06-22 23:35] jancborchardt commented on #1073
An essential part of having the comments discoverable is that the "Activity" tab should be the first, leftmost tab and thus active by default. The middle tab is "Sharing" and the last tab is for "Details" (which also contains description etc.)

This is how we specified it in **Sidebar standardization https://github.com/nextcloud/server/issues/10289**
If it is not per specification then comments ar

[2019-06-23 04:05] putt1ck commented on #1073
The comments need to be readable as a stream without regard to who moved a card to a difference stack (list), modified the description in some way, added or removed an attachment etc.. Comments are the discussion of the item as described - so as @bpcurse suggests, having comments below the description is probably both the most intuitive and makes them most useful - and the description (details) sh

[2019-06-23 09:17] jancborchardt commented on #1073
Alright, let’s go for an exception here then. @juliushaertl what do you think?

[2019-06-23 09:37] natrius commented on #1073
Please, do not put the activity-tab in as the first tab, thats a bad idea. At first i want to see the description of the tab. Most of the time i don't care about the activity at all. That is just for special occasions i have to check something.

So, the suggested solution would be the first i mentioned, divide the "Description" tab into "Description" and "Comments". Renaming the Tab into "General"

[2019-06-24 15:44] jancborchardt commented on #1073
@natrius I already agreed to doing that. :)

[2019-06-26 06:05] putt1ck opened #1104 "Bulk add cards"
When you have an existing list of items (sent to you, or copied from a meetings minutes etc.) and want to add them, it would be great if you could paste them into a card and if the pasted content contains new line markers you got an option to have each new line created as new cards.

Related: if the pasted content contains new lines, the alternative to a new cards would be first line as card title

[2019-06-26 10:18] stevecopeza commented on #1097
We're experiencing the same problem.
The content (comments and actions) are visible to me as the administrator, but not to other people on the board.

![Design___Deck_-_Nextcloud_and_Passwords](https://user-images.githubusercontent.com/19606448/60172151-5daa9280-980c-11e9-90b5-74fb0e1bd9d8.jpg)
![Pasted_Image_2019_06_26__12_17](https://user-images.githubusercontent.com/19606448/60172190-79ae3400-9

[2019-06-26 17:23] e-alfred commented on #1070
Having the same issue, hopefully @juliushaertl you can release a new version of Deck soon.

[2019-06-27 12:29] Nzt110000 opened #1105 "Cards not delete when sthack delete"
**Describe the bug**
When we delete a sthack the cards are not positioned to be deleted or deleted in the database. The cards are therefore orphan.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a deck
2. Create a sthack
3. Create a cards
4. Delete Sthack without archive or delete the cards.
5. Watch in database the table oc_deck_cards, nothing change for the cards. But the cards is

[2019-06-29 10:41] MayeulC commented on #832
Would it be out-of-scope to support migrating form one to another, though?
I have been using kanboard for a while, and kept a look on deck for a better-integrated solution (also, I was never able to make kandroid work with my server).

[2019-06-29 22:46] Llewxamris opened #1106 "REST API Update Board ACL Method Not Found"
**Describe the bug**
According to the REST API documentation, PUTting on the endpoint `/boards/{boardId}/acl/{aclId}` should result in an attempted update of the ACL with the associated ACL ID.
Instead, I receive a `405 Method Not Found` error.

**To Reproduce**
Steps to reproduce the behavior:
1. `curl -X PUT ".../api/v1.0/boards/{boardId}/acl/{aclId} -H "Content-Type: application/json" -H "OCS-A

[2019-06-29 22:52] Llewxamris commented on #1106
Looking at `routes.php`, I see [a route that does not include the ACL ID in the path](https://github.com/nextcloud/deck/blob/37a2858d5f1cd61c7a92eb47ad7578cdd8753cb4/appinfo/routes.php#L38). Hitting that endpoint returns back a `400 Bad Request` with the body `{"status": 400, "message": "id must be a number"}`. Including an `id` field set to the ACL ID in the payload returns the same response.

[2019-06-29 23:08] Llewxamris opened #1107 "REST API Board Response acl Field Type Changes Based on State"
**Describe the bug**
According the REST API docs, the `acl` field inside the Board entity is an array. When the board contains no ACL rules, it is an empty array. However, if the board contains ACL rules, the `acl` field is instead an object with `n` fields where `n` is the amount of ACL rules. Each field inside the `acl` has a key defined as the ID of the ACL rule, and a value of the ACL object s

[2019-06-30 11:31] juliushaertl commented on #828
Ok, I prepared a fix for the timeline not showing up at all in #1110.

@Karamelmar After checking again, it seems you were correct with the changed data type. the subjectparams field needs to be longtext.

[2019-06-30 11:31] juliushaertl commented on #1070
Fix merged, closeing the issue

[2019-06-30 11:31] #1070 closed

[2019-06-30 11:44] #869 closed

[2019-06-30 11:48] juliushaertl commented on #1106
Thanks, the parameter was indeed missing in the routes.php

[2019-06-30 11:48] #1106 closed

[2019-06-30 11:48] #828 closed

[2019-06-30 11:54] juliushaertl commented on #1043
What type of circle are you using?

[2019-06-30 12:08] juliushaertl commented on #1107
Fixed with 0.6.3

[2019-06-30 12:08] #1107 closed

[2019-06-30 12:08] #1095 closed

[2019-06-30 12:11] juliushaertl commented on #1097
Should be fixed with 0.6.3

[2019-06-30 12:11] #1097 closed

[2019-06-30 12:12] juliushaertl commented on #1097
Note that for activity entries you still need to have the stream checkbox in the activity settings enabled for deck activities.

[2019-06-30 12:14] juliushaertl commented on #1101
Can you check the content of your oc_jobs table with the following query:
[code]

This should contain timestamps for the last run time

[2019-06-30 12:17] juliushaertl commented on #1071
Any chance you could obtain the browser console logs with those browsers when the error is happening?

[2019-06-30 12:17] juliushaertl commented on #1061
Makes sense :+1:

[2019-06-30 17:01] Llewxamris commented on #1107
I'm still getting this behavior with version 0.6.4.
`curl -X GET "https://instance.com/index.php/apps/deck/api/v1.0/boards/7" -H "Content-Type: application/json" -H "OCS-APIRequest: true"`

Returns:
[code]

Expected:
[code]

[2019-07-01 08:51] oskiebe commented on #249
+1 - would love to see this!

[2019-07-01 09:52] juliushaertl commented on #979
@SnackyWell Please try with the latest release, as there have been some fixes regarding the timeline. Otherwise feel free to open a new issue with some more details :wink:

[2019-07-01 09:53] juliushaertl commented on #249
@oskiebe @rhersel Please use the [Github Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) feature instead of commenting that also need a specific feature. That way we can see your support without notifying all users subscribed to a given issue.

[2019-07-01 09:56] juliushaertl commented on #1060
Duplicate of https://github.com/nextcloud/deck/issues/564

[2019-07-01 09:56] #1060 closed

[2019-07-01 11:47] a1pilot commented on #828
@juliushaertl Comments still not showing for me. Version 0.6.4

[2019-07-01 11:47] juliushaertl commented on #828
Any change you can create me a test account on your instance so I can check what is going wrong there?

[2019-07-01 11:51] a1pilot commented on #828
I have these two errors when clicking the comments tab:

`/ocs/v2.php/apps/activity/api/v2/activity/filter?format=json&object_type=deck_card&object_id=5&limit=50&since=0:1 Failed to load resource: the server responded with a status of 404 (Not Found)
/ocs/v2.php/apps/activity/api/v2/activity/filter?format=json&object_type=deck_card&object_id=5&limit=50&since=-1&sort=asc:1 Failed to load resource:

[2019-07-01 12:08] juliushaertl commented on #828
@a1pilot Could I also ask you to open a separate issue, with a filled issue template, so we have more details about the setup? Please also share your activity settings

[2019-07-02 04:33] Limezy commented on #994
I would also like to be able to transfer some labels from a deck to another !

[2019-07-02 06:48] a1pilot opened #1112 "Comments in timeline not showing (again)"
After clicking on a card, and selecting the Timeline Tab, i start writing a new comment.
As soon as as i click the arrow to post/save the comment, what i wrote vanishes but does not show as a comment.

What i already tried to solve the problem:

disabled enabled the app
removed the app and installed it again
let occ repair the database
checked the file permissions of the app
tried different browse

[2019-07-02 06:50] a1pilot commented on #828
New report opened #1112

[2019-07-02 09:14] juliushaertl commented on #1112
Unfortunately the activity app is currently required for comments to work. This is something we need to fix in the future, but most likely after #355

[2019-07-02 12:18] Salokyn commented on #1061
To go a little further and navigate easily between linked cards, there could be a new tab in the the card details to show the cards which the actual one links to and those which have a link to the actual one.