[2017-01-31 13:35] juliushaertl opened #7 "Unit tests for JavaScript code"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41508740-unit-tests-for-javascript-code?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github).

[2017-01-31 13:35] juliushaertl opened #8 "Unit tests for database classes"
<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41508756-unit-tests-for-database-classes?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github).

[2017-02-01 14:38] juliushaertl opened #10 "Comments [$120]"
Similar to the files app it should be possible for users to comment on each card.

- [ ] Check if it is possible to use the server comments app

<bountysource-plugin>

---
There is a **[$120 open bounty](https://www.bountysource.com/issues/41551092-comments?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](h

[2017-02-01 14:40] juliushaertl opened #11 "Assign users to cards [$85]"
- Allow to assign multiple users to cards
- Show small avatar on cards

<bountysource-plugin>

---
There is a **[$85 open bounty](https://www.bountysource.com/issues/41551169-assign-users-to-cards?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2017-02-01 14:41] juliushaertl opened #12 "Useful start screen [$5]"
The current start screen is just another view of the list of boards that is also present in the sidebar.

<bountysource-plugin>

---
There is a **[$5 open bounty](https://www.bountysource.com/issues/41551213-useful-start-screen?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?u

[2017-02-01 14:41] juliushaertl opened #13 "Tooltip for labels on cards"
When hovering over the colored label on cards it should show a tooltip with the name of the label.

[2017-02-01 14:43] juliushaertl opened #14 "Public board sharing"

[2017-02-01 14:44] juliushaertl opened #15 "Integrate with Nextcloud CalDAV API [$185]"
This issue is about integrating deck with Nextclouds CalDAV API.

Current plan from the discussion below:

| Deck | CalDAV | Tasks |
|-|-|-|
| Board | `VCALENDAR` | List |
| Stack | `VTODO` without `RELATED-TO` property | Root-Task |
| Card | `VTODO` with `RELATED-TO` (UUID of the Root-Task / Stack) | Subtask |
| Tags | [`CATEGORIES`](https://tools.ietf.org/html/rfc5545#section-3.8.1.2) or custom

[2017-02-01 14:45] juliushaertl opened #16 "Rearange stacks"
It should be possible to change the order of the stacks by dragging them around.

[2017-02-01 14:47] juliushaertl opened #17 "Attachments"
Concept for integrating with other apps https://github.com/juliushaertl/deck/issues/15

Attachments of different types (File, Calendar entry, ...) can be added to cards.

[2017-02-01 14:48] juliushaertl opened #18 "Integrate with notifications app"
Notifications should appear when:
- [x] Board is shared with users
- [x] Card is over due date
- [ ] Card is assigned to a user #11
- [ ] ~User is mentioned in comments~ #10 (part of the comments app)

For reference: https://github.com/owncloud/notifications/blob/master/docs/notification-workflow.md

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2017-02-01 15:36] juliushaertl opened #19 "Select first color by default when creating boards"
When adding a new board the first color should be selected by default.

[2017-02-01 15:39] juliushaertl opened #20 "User selection looks strange on Nextcloud 11"
![2017-02-01-163848_525x121_scrot](https://cloud.githubusercontent.com/assets/3404133/22513584/f63cd854-e89c-11e6-805d-194e82612f59.png)

[2017-02-01 15:40] juliushaertl opened #21 "Move to SCSS and cleanup css code"
The css code has grown over the time and needs some cleanup.

Since SCSS is coming with Nc12 this might be helpful.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41553123-move-to-scss-and-cleanup-css-code?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2017-02-01 15:41] juliushaertl opened #22 "Better screenshot"
Looks a bit strage, also some screenshots for markdown editing, labels might be nice.

[2017-02-01 17:57] juliushaertl opened #25 "Run javascript build only once"
No need to run the js stuff on every build in the matrix

[2017-02-01 18:27] joergmschulz commented on #10
I'm not sure how this could be done without cluttering the user interface. I like the simplicity of the current concept (well, dragging the cards would be a plus, you already opened an issue for this one) IMHO it is enough to have the description for the cards.

[2017-02-01 18:33] juliushaertl commented on #10
@joergmschulz I would prefer to keep the markdown description as a default and just use tabs for other stuff like the comments, just like it is handled in the files app.

![2017-02-01-193228_511x404_scrot](https://cloud.githubusercontent.com/assets/3404133/22520596/3ceab3f8-e8b5-11e6-80ee-eae98a28fdd3.png)

[2017-02-01 20:45] joergmschulz commented on #15
as sharing the cards is essential, a log of changes to
# Activities
would be nice.

[2017-02-02 17:42] juliushaertl opened #28 "Release to the app store"

[2017-02-02 17:46] #19 closed

[2017-02-02 17:46] juliushaertl commented on #25
fixed with #27

[2017-02-02 17:46] #25 closed

[2017-02-02 19:50] georgehrke commented on #14
Please also consider a public editing feature :)

[2017-02-03 10:31] lepidas opened #29 "Sharing boards with other users"
As an option is available but not working though. It can find my NC members but when I press on a member name it's not sharing anything. NC server 11

[2017-02-03 11:40] brantje opened #30 "Import from trello"
Hi there!
Awesome idea, currently i use trello.
It would be a pain to migrate by hand, however, trello offers a [API](https://developers.trello.com/advanced-reference).
Would it be possible to write some kind of importer?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41628466-import-from-trello?utm_campaign=plugin&utm_content=trac

[2017-02-03 11:49] pieter-groeneweg opened #31 "Integration with the Tasks app - Calendar app"
Awesome addition to nextcloud!

Wouldn´t it be nice to have it integrated in the tasks app? To have boards integrate with lists?

[2017-02-03 12:02] juliushaertl commented on #29
Are there any errors in the server/browser log when you try add a new member?

[2017-02-03 12:08] juliushaertl commented on #30
That would be definitely super nice to have also for other apps, but it is no priority for me now.

We could also offer a public API for deck so that people can build simple import scripts for various other tools similar to this one: https://github.com/matueranet/kanboard-import-trello

[2017-02-03 12:11] juliushaertl commented on #31
This is already planned in https://github.com/juliushaertl/deck/issues/15

[2017-02-03 12:11] #31 closed

[2017-02-03 16:13] lepidas commented on #29
NC server errors:
`Error	index	Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'INSERT INTO `oc_deck_board_acl`(`board_id`,`type`,`participant`,`permission_edit`,`permission_share`,`permission_manage`) VALUES(?,?,?,?,?,?)' with params [1, "user", "anastasia", null, null, null]: SQLSTATE[HY000]: General error: 1366 Incorrect integer value: 'user' for column 'type' at

[2017-02-03 17:25] oparoz opened #32 "Swimlanes support"
Would be nice to be able to split tasks in swimlanes.
A swimlane is a horizontal categorisation of cards in the active Kanban board on a board.

[2017-02-03 17:40] juliushaertl commented on #29
Ah found the mistake. Fix is in #33. Thanks for reporting @lepidas, would be great if you could test if the fix works for you.

[2017-02-03 20:06] poVoq commented on #15
XMPP group-chat notifications for activities would be also nice.

[2017-02-03 20:25] poVoq commented on #11
This would be indeed very useful to have, especially with the small avatars.

Kanboard.net is a nice example how to add these and other relevant info on the card.

[2017-02-03 20:27] poVoq commented on #16
maybe there could be an option similar to the "archive unhide" button to lock and unload a board, which would also hide the "add new stack" part at the very right when locked.

[2017-02-03 20:29] poVoq opened #34 "Archiving stacks"
Some rows/stacks might be rarely used and thus vertically collapsed or somehow hidden by default.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/41647466-archiving-stacks?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_

[2017-02-03 20:38] poVoq opened #35 "Improved usability in mobile browsers"
There are a few issues with usability and rendering in mobile browsers.

Show stoppers are mainly that there is no drag & drop to move cards, so maybe there could be an alternative way to move cards between stacks via a drop-down menu of some sort?

The other thing is that you have to scroll horizontally a lot, which is not working so well especially as the left-hand menu is triggering it's slide

[2017-02-03 22:00] juliushaertl commented on #35
@poVoq Thanks for the comments. Drag and drop works if you hit the right spot, but mobile really needs some improvements.

I'm not sure if I get that right. Can you describe that a bit more in detail?

[2017-02-03 22:02] juliushaertl commented on #16
Good idea, so basically having a stack arange mode would help not having to much drag and drop handles around in daily use.

[2017-02-04 12:14] poVoq commented on #35
Instead of having to scroll horizontally through the stacks, just put them on top of each other in mobile mode so that you can scroll vertically.

[2017-02-05 01:09] ferdiga opened #36 "allow reorganizing stacks and cards"
IMO important enhancements
allow moving cards in stack and between stacks
allow moving stacks
allow sub stacks

[2017-02-05 10:16] lepidas commented on #29
Well sort of working. I changed the 2 files, now it's available to "share" boards with other users but its problem with permissions (share/edit/manage) tickable, it's not persistent, I check "Manage" for example, refresh page and then its unchecked. And one more is if I share a board to X user then not possible to remove X user from the share.
Logs:
When I press the bin to remove a user from a sha

[2017-02-05 10:29] lachmanfrantisek opened #37 "Not working with PostgreSQL"
Thanks a lot for such a nice app, but decks are not saved to database. Probably, there is problem with PostgreSQL. Choosing participants does not work either.

### Steps to reproduce
1. Open app.
2. Create board.
3. Reopen app.

### Expected behaviour
The created board is present.

### Actual behaviour
No boards are present.

# Server configuration

**Web server:** nginx/1.10.3 (fpm-fcgi)

**Datab

[2017-02-05 10:47] lepidas commented on #29
and this is from the browser log when I check the permissions boxes
`Possibly unhandled rejection: Error updating ACL [object Object]  angular.min.js:122:8
	f/< https://nextcloud.georgios-voulgarakis.info/apps/deck/js/vendor/angular/angular.min.js:122:8
	uf/this.$get</< https://nextcloud.georgios-voulgarakis.info/apps/deck/js/vendor/angular/angular.min.js:94:42
	g https://nextcloud.georgios-voulga

[2017-02-05 12:55] juliushaertl commented on #37
Thanks for reporting. I'll have a look.

Might be related to https://github.com/juliushaertl/deck/issues/29

[2017-02-05 12:57] juliushaertl commented on #36
This is already possible by dragging them around.

There is already an issue for that https://github.com/juliushaertl/deck/issues/16

Seems to me like a duplicate of https://github.com/juliushaertl/deck/issues/32 If not, feel free to reopen an issue for this one with a more detailed description.

[2017-02-05 12:57] #36 closed

[2017-02-05 13:08] ferdiga commented on #36
moving cards is possible - I was looking for a handle to grab.
nevertheless during the move operation the card gets displayed below the left most stack
Hence I thought this feature is not implemented.

[2017-02-05 14:20] lachmanfrantisek commented on #37
Thanks for a quick response.

In this case, there is probably a problem with syntax, not with a value, like in #29, but I don't know.

[2017-02-05 21:49] juliushaertl commented on #37
I likely was caused by some leftover string 'user', while the rest of the code has been moved to a simple numerical value. Can you test if #33 fixes the issues for you?

[2017-02-05 21:58] juliushaertl commented on #20
Fixed with #23

[2017-02-05 21:58] #20 closed

[2017-02-05 22:00] juliushaertl commented on #36
Can you post a screenshot of that and some information on the browser you are using? This doesn't sound like it should be that way. :wink:

[2017-02-05 22:02] juliushaertl opened #39 "Card should stick with the mouse while moving it around"
![2017-02-05-230137_640x875_scrot](https://cloud.githubusercontent.com/assets/3404133/22630263/24f464e8-ebf7-11e6-802c-5742f73a32ec.png)

Reported by  @ferdiga in #36

[2017-02-05 22:03] juliushaertl commented on #36
Ah never mind. I could reproduce it. #39 is the new issue for that.

[2017-02-05 23:07] lachmanfrantisek commented on #37
Yes, it works. Thank you. Sharing management works as well.

[2017-02-06 09:19] juliushaertl commented on #29
@lepidas Ok, I've added another commit here: https://github.com/juliushaertl/deck/pull/33/commits/f604f2f7799b028bbfa874afe818b374e0723a29 There were some leftovers.

[2017-02-06 14:01] lepidas commented on #29
Still is not working.The logs have been changed to
`DeckMapper SQL: SELECT id, title, owner, color, archived FROMPREFIXdeck_boardsWHEREid= ? with 21`
Can someone confirm that is working? maybe is something with my setup

[2017-02-06 14:10] juliushaertl commented on #29
Those SQL log messages are fine, they just query for the board to check if you are the owner. I've removed the debug messages in https://github.com/juliushaertl/deck/pull/38.

Are there any error messages in the logfiles except for the "DeckMapper SQL" debugging output? What database backend are you using.

[2017-02-06 14:55] lepidas commented on #29
it's using mysql , no other logs except debugging.

[2017-02-06 22:20] juliushaertl commented on #39
Should be fixed now with #40

[2017-02-06 22:20] #39 closed

[2017-02-06 22:20] #37 closed

[2017-02-06 22:31] juliushaertl commented on #22
done in #42

[2017-02-06 22:31] #22 closed

[2017-02-06 23:34] #28 closed

[2017-02-06 23:37] juliushaertl commented on #29
Moving to 0.1.2, can you verify that the issue still existis in 0.1.1?

Can you check the network tab of your browsers dev tools if there are details about the failing request after clicking the checkbox?

[2017-02-07 09:58] juliushaertl opened #43 "Use display names instead of usernames"

[2017-02-07 09:59] juliushaertl opened #44 "Enable permissions by default"

[2017-02-07 10:00] juliushaertl opened #45 "Show labels also for users without manage permissions"

[2017-02-07 17:34] lepidas commented on #29
This is from browser dev tools when I check any box
{"status":403,"message":"Permission denied"}

[2017-02-07 21:10] fkaup opened #46 "Keyboard shortcuts"
The behavior of keyboard shortcuts/keys is IMO confusing. Pressing ctrl-s opens the page file dialog, tab jumps to the next input field.  What I would expect is:

When editing a card:
* ctrl-s to save the card

When in detail view:
* tab to indent line
* shift-tab to remove indentation

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2017-02-08 09:37] juliushaertl commented on #46
Good point, we need a proper keyboard shortcut support. Although I'm not a big fan of overwriting browser defaults like ctrl-s. maybe we can use strl+enter there?

Some other ideas for that

[code]

[2017-02-08 09:39] juliushaertl opened #47 "Add an issue template"
similar to
https://github.com/nextcloud/server/blob/master/issue_template.md

[2017-02-08 20:33] fkaup commented on #46
That would make navigation even easier.

The save suggestion came from my habit of always pressing ctrl-s to save my changes after I edit some text, so without thought the save file dialog always opens.

[2017-02-09 07:47] joergmschulz commented on #29
sharing seems to work with USERS, but not with GROUPS, at lease when the groups come from LDAP.

[2017-02-10 09:45] juliushaertl commented on #47
Fixed with 8e890df7ab53c9fb4b7f7601bd11ed86e250bb21

[2017-02-10 09:45] #47 closed

[2017-02-10 09:47] juliushaertl commented on #29
@lepidas Can you fill out the issue template I've recently added to the repo and post it here, so I may have some more information to reproduce the bug. That would be awesome.

@joergmschulz I cannot reproduce an issue here with LDAP, can you open a seperate issue for that?

[2017-02-12 07:34] emresaracoglu opened #48 "Safari Browser: Not Showing Details"
Hello

This is nice project! I like it!
I noticed today, deck details is not showing on Safari browser.

[2017-02-13 13:06] juliushaertl commented on #48
Thanks for the report. I currently don't have the possibility to test Safari. So if anyone wants to help out, pull requests to fix this are always welcome.

[2017-02-13 14:47] ntinti opened #49 "No Details View with Safari"
### Steps to reproduce

1. Use Safari for Mac OS
2. Klick on the detail menu icon
3. ....

### Expected behaviour
The detail frame should be visible with its functions

### Actual behaviour
Nothing is shown - only a white frame

### Server configuration
-

**Web server:**
-

**Database:**
MySQL

**PHP version:**
7.0

**Server version:** (see your admin page)
11.0.1

**Deck version:** (see the apps

[2017-02-13 17:47] juliushaertl commented on #49
This has already been reported in https://github.com/juliushaertl/deck/issues/48.

[2017-02-13 17:47] #49 closed

[2017-02-13 18:27] joergmschulz opened #50 "LDAP: can share with users, but not with groups"
### Steps to reproduce

1. share a board to a LDAP group but not the individual users.
2. open the board with the userID belonging to that group
3.

### Expected behavior
the board should open
paged search is not available for me - maybe the error results in this one?

### Actual behavior
Error message: Error occurred, fetching boards failed.
Console states: GET http://domain.org/nextcloud/index.p

[2017-02-13 21:23] juliushaertl commented on #50
@joergmschulz Thanks for the detailed report. b5feeeaee309d6b576c513a66edf4d8a7c3d49d1 should fix that. It would be great if you could verify. You need to remove and add the group to the board to apply the changes.

[2017-02-13 21:48] joergmschulz commented on #50
Confirm: The fix does work like expected. You can close this issue now.
Thank you for all your work and for fixing this one.

[2017-02-13 21:49] #50 closed

[2017-02-13 22:01] joergmschulz commented on #48
The console complains some things about css, maybe this leads to the errors?

[code]

[2017-02-14 21:21] juliushaertl commented on #48
@joergmschulz Only style.css might be the one from the deck app, but I cannot find any issue there. The other css warnings come from nextcloud server or other apps I guess.

[2017-02-14 21:43] joergmschulz commented on #48
works with PR  #51

[2017-02-15 06:44] #48 closed

[2017-02-18 06:48] dirigit opened #52 "Deck access problem"
### Steps to reproduce

1. Create a deck
2.  click on automatic assigned user (you)
3. watch screen
4. choose another app (calendar, files, whatever)
5. choose Deck again and watch screen

### Expected behaviour
Related to 2: Something about your account should be visible
Related to 5: Created decks should be shown

### Actual behaviour

Related to 2: Message "Error while loading stacks"

Related

[2017-02-19 10:53] poVoq commented on #15
Would it be possible to have a common due date that is linked with the calendar as a shared event between multiple cards as a "milestone" with it's own colored label displayed on the card? I.e. some sort of way to link labels to CalDav events?

[2017-02-19 11:11] poVoq commented on #15
Another possible integration would be to link cards to CalDAV task categories, so that if a user creates a new CalDAV task in an external application (lets say OpenTasks on Android) and chooses the right category for it, deck automatically uses the name of that category to sort it to the card with the same name.

[2017-02-20 08:21] EtiennePasteur opened #53 "Support checkboxes in markdown"
Hello,
First, thanks for you great work !

I would like to know if you plan to support markdown ? I mean like for github issue but for card details ? It would be a great improvement 😄

---

edit: see https://github.com/juliushaertl/deck/issues/53#issuecomment-281284106

[2017-02-20 16:29] juliushaertl commented on #53
Markdown is already usable inside the card description field. :)

[2017-02-20 16:31] juliushaertl commented on #52
Thanks for your bug report. I cannot reproduce the issue.
Are there any errors in the browser console?

[2017-02-20 16:34] juliushaertl commented on #15
I thought a lot about how to integrate with the Nextcloud WebDAV/CalDAV/CardDAV interfaces, it will be not as simple as i initially thought. I'll take some time next week to write up what i had in mind and publish some kind of roadmap. :wink:

[2017-02-20 17:56] EtiennePasteur commented on #53
Oh !! Sorry I have only try something like that : - [ ] To make checkbox and I don't try anything else 😂
I'm sorry to have wasted your time.

Thanks.

[2017-02-21 09:03] juliushaertl commented on #53
No problem, having those checkboxes would be nice btw.

I guess we could easily integrate a plugin for markdown-it there:
https://www.npmjs.com/package/markdown-it-task-checkbox

[2017-02-23 04:46] dirigit commented on #52
Sorry for late answer ...
Onliest messag I get:
Content Security Policy: Die Direktive 'frame-src'  sollte nicht mehr verwendet werden. Bitte verwenden Sie stattdessen die Direktive 'child-src'.

[2017-02-25 21:28] simonpostma commented on #15
If subtasks become a thing in Deck, it can easily compete with whatever kanban system out there. Keeping the syncing with Tasks optional would be great imo.

Perhaps a functionality to make multiple decks if that is possible?

[2017-02-26 15:12] 9662 commented on #52
Not sure if it's the same issue, but try the following (you need to be admin):
1. Create a group, e.g., `Deckers`
2. Create a user, e.g., `Kan Ban`
3. Assign `Kan Ban` to group `Deckers`
4. Create a deck, e.g., `Quack`
5. Share `Quack` with group `Deckers`
6. Log in as `Kan Ban`
7. Open the deck `Quack`

Instead of seeing the deck, Mr Ban gets the error mentioned by @dirigit .

btw, I know this ap

[2017-02-26 15:22] 9662 commented on #15
It is a reasonable idea, but it belongs to the notifications part of Nextcloud, not to Deck.

Reinventing the bug tracker? They're supposed to complement, not duplicate each other. You can probably do this already via webhooks from your bug tracker anyway.

[2017-02-26 18:04] dirigit commented on #52
Looks like the same.

When getting the error I'm logged in as admin, create a deck and can't see it after changing the app.

[2017-02-26 20:33] poVoq commented on #15
@9662:
Regarding the first comment: maybe, but you might not want to spam your group-board with all the file etc. changes, while deck and task updates might be more interesting.

Regarding the second: no, what have milestone dates to do with a bug-tacker? I think it is worth to have common event linked date labels on the cards so that it is quickly visible to the users what kind of common deadline

[2017-02-27 08:48] juliushaertl commented on #15
https://github.com/nextcloud/server/pull/2829 will allow apps to register custom sabre plugins, if this is in we could create our own CalDAV endpoint at /dav/deck that will allow users to subscribe to within their calendar apps.

Here is a short summary of what I planned for that endpoint:
- A board should exposed as a VCALENDAR
- Cards will be exposed as VTODO
- Due dates can be added and exposed

[2017-02-27 08:59] juliushaertl commented on #13
Fixed with https://github.com/nextcloud/deck/pull/56

[2017-02-27 08:59] #13 closed

[2017-02-27 10:32] juliushaertl commented on #45
Seems to work on current master. Closing now.

[2017-02-27 10:32] #45 closed

[2017-03-01 04:24] dirigit commented on #52
Problem still valid after nextcloud update to 11.0.2.

[2017-03-03 22:43] mr-bolle commented on #35
Hi juliushaertl, thanks for your greath work.
The last days i check the mobile browser usability.

- Board Details: it isn't possible to share a Board with other user/groups if i use the Deck in Portait-Mode from the Mobile Device. If i change the Screen rotation to Landscape-Mode i can use this Option.
![deck_nextcloud](https://cloud.githubusercontent.com/assets/22414212/23569917/2b821286-0062-11

[2017-03-04 09:27] simonpostma commented on #15
@juliushaertl

I uninstalled Deck because i need my kanban to have more features at this point in time, hasty as i was i didn't remember that Deck already has the feature to make multiple boards. Sorry for that.

[2017-03-04 11:38] juliushaertl opened #63 "Add signing information to the README"
similar to https://github.com/nextcloud/server/blob/master/CONTRIBUTING.md#sign-your-work

[2017-03-04 11:49] juliushaertl commented on #63
fixed in #64

[2017-03-04 11:49] #63 closed

[2017-03-05 17:50] juliushaertl commented on #52
@dirigit @9662 Are you using a custom database table prefix other than oc_ ? That might explain the issue and should be fixed by #62.

[2017-03-06 08:49] dirigit commented on #52
@juliushaertl
Yes, I'm using individual prefixes with every application being online.

Will give #62 a try today.

Thank you!

[2017-03-06 08:59] dirigit commented on #52
Ok, tested it  and confirm it being fixed. Decks are shown now.

But, something in stacks is still wrong ... doesn't work (creation no error, no view). Must have another reasen.

[2017-03-06 09:02] dirigit commented on #52
Changing color of deck doesn't work as well (change to some other app and back).

[2017-03-14 20:07] armaccloud opened #69 "Click outside the card details page to close it"
### Steps to reproduce

1. Click on any card within your board - the card details appear on the right side of the screen
2. Click outside of the card details (somewhere on the left of the screen)

### Expected behaviour
The card details should close, like it does when clicking the X on the right-hand side

### Actual behaviour
The card stays opened, requiring to click on the little X on the right

[2017-03-14 20:13] armaccloud opened #70 "Ability to archive boards"
### Steps to reproduce

1.Click on the three dots next to a board

### Expected behaviour
It should provide the ability to archive the board instead of deleting the board.
An archived board should have the ability to be deleted.

This way there are two benefits
* Old boards can be hidden from the main view because they're archived
* It's harder to accidentally delete a board (there is no recovery

[2017-03-16 10:04] EtiennePasteur opened #71 "Blank Board details under Safari"
### Steps to reproduce

1. Open Safari Web Browser
2. Go to Deck app
3. Open a Board Details

![deck-issue-safari](https://cloud.githubusercontent.com/assets/11411695/23991038/3e7380fc-0a38-11e7-894e-f568f46aa827.jpeg)

### Expected behaviour
The board details should be visible (like under chrome or firefox)

### Actual behaviour
The board details is not visible, the panel is blank.

### Server co

[2017-03-16 10:50] juliushaertl commented on #71
Thanks for reporting. This is a duplicate of https://github.com/nextcloud/deck/issues/49 and has already been fixed. Fix will be in the 0.1.2 coming soon.

[2017-03-16 10:50] #71 closed

[2017-03-16 10:52] juliushaertl commented on #70
@armaccloud Thanks for the idea. We should definitely implement that. :+1:

[2017-03-17 11:46] matt-horwood-mayden commented on #39
Hi,

I have 0.1.1 installed and I still get the same issue, but it is looking very good.

Nextcloud 11.0.2
Nginx 1.10.3
PHP-FPM 5.6.29
MySQL 5.5.54

[2017-03-20 07:36] juliushaertl commented on #39
@matt-horwood-mayden Looks like it is still broken on 0.1.1 but works fine on master. Anyway I'll try to release a 0.1.2 later today.

[2017-03-20 15:14] fti7 commented on #53
That would be very useful :-) please add an Progress Indicator in the Card too.
(Like on Trello)
![image](https://cloud.githubusercontent.com/assets/7014664/24106470/3b11161a-0d88-11e7-9451-036eace96a47.png)

[2017-03-21 11:40] Aesculapius opened #73 "Show reference to card description"
It is hard to see if some cards have an optional description, but you wouldn't want to miss the information in there. So maybe a small icon or shade or anything on the card could point you in the direction that extra description is available for that card?

That would save endless opening and closing cards just to see if there's more information...

[2017-03-22 09:45] himbeere opened #74 "uuid shown as username"
Hello Devs.

I have a litte problem. When i try to share a deck with colleagues only the uuid are shown (see screenshot)
![bildschirmfoto 2017-03-22 um 10 43 37](https://cloud.githubusercontent.com/assets/631865/24191556/73441ce8-0eec-11e7-839e-c61fae3d2a49.png)

I have a setup running where users are authenticated via LDAP. When sharing files there is not such a problem. Any hints how to solve th

[2017-03-22 12:49] matt-horwood-mayden commented on #39
Hi @juliushaertl

Any news on the new version? no rush just wanted to test it out

[2017-03-22 13:50] himbeere commented on #74
I guess it was a ldap setting. After starting over everything is fine now. Sorry for the noise.

[2017-03-22 13:50] #74 closed

[2017-03-22 16:34] simonpostma commented on #15
Is there any ETA on the next update? Not trying to pressure you, just can't wait to exchange kanbanflow with Deck

[2017-03-23 20:51] iAdanos opened #76 "Integrating with Wekan"
Adding Kanban with tasks integrated in Nextcloud is great!

But there are already more functional open-source products like [Wekan](https://github.com/wekan/wekan)
Why not to intergate with them instead of re-developping everything?

[2017-03-25 08:22] juliushaertl commented on #76
Wekan is build with node.JS so it requires a totally different software stack. As nextcloud is easy to run because it basically just requires a lamp stack, I don't like solutions that won't work out of the box with that.

Besides that I started this initially as a learning project to get familiar with angular js. :wink:

[2017-03-25 08:22] #76 closed

[2017-03-25 08:23] juliushaertl commented on #15
Sorry for the delay, I've been quite busy this week. It is on my list for the upcoming week.

[2017-03-25 08:24] juliushaertl commented on #74
Also a duplicate of #43, this will be fixed soon.

[2017-03-27 18:32] #44 closed

[2017-03-27 18:34] juliushaertl opened #78 "Avatars broken on 0.1.2"
![2017-03-27-203356_104x104_scrot](https://cloud.githubusercontent.com/assets/3404133/24371951/c0deed5e-132c-11e7-9ad6-da83e65725fe.png)

[2017-03-27 18:50] juliushaertl commented on #78
Works as expected. :see_no_evil:

[2017-03-27 18:50] #78 closed

[2017-03-27 22:11] Progdrasil opened #79 "Top-Down stack view option"
It should be possible to have a top down view of all the stacks instead of left to right. This would be helpful for visibility if stack order is not important.

[2017-03-29 20:17] stefan-niedermann opened #81 "Share Markdown code with Notes-App"
Is it possible to share the Markdown code with the Note-App?
The main feature i am missing is the live-edit mode (one edits and the text is directly formatted while typing).

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/43593946-share-markdown-code-with-notes-app?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues

[2017-03-29 20:21] stefan-niedermann opened #82 "Stacks should have flexible width if enough space"
Currently each stack has a fixed width. This is a bad use of the given space.
If you have only one stack, 80% of your screen is unused while you have little space to view your cards.
If you have many stacks, you have to scroll vertical, which is an unnatural gesture and causes some layout issues (e. g. a dragged card has another position on the screen than the mouse).

Proposal: The stacks should

[2017-03-29 20:22] stefan-niedermann opened #83 "Provide public REST-API (and or documentation)... [$25]"
... so one can write native applications that are in sync with the web interface :)

<bountysource-plugin>

---
There is a **[$25 open bounty](https://www.bountysource.com/issues/43594118-provide-public-rest-api-and-or-documentation?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.c

[2017-03-29 20:24] stefan-niedermann opened #84 "Stack should get always 100% height"
Otherwise it looks a little bit glitchy:

![bildschirmfoto vom 2017-03-29 22 23 09](https://cloud.githubusercontent.com/assets/4741199/24474877/602a25f2-14ce-11e7-8e23-7d32bee2c272.png)

(i mean the gray background)

[2017-03-29 20:25] stefan-niedermann opened #85 "Provide undo-operation on delete"
When one deletes a board or a card, there should be an undo operation available for 4 seconds, so if a user deletes something by accident, it can be easily restored with a single click.

[2017-03-30 09:29] Aesculapius opened #86 "Start comment from everywhere in the comments section"
It would be nice if you can click anywhere in the comments section to add a comment. Right now you have to click on the exact row of where the first line would start. It takes time to move you mouse precisely over there, while there's a big blank section that you can click in.

[2017-03-31 11:20] juliushaertl commented on #85
Makes sense. Also related to https://github.com/nextcloud/deck/issues/70

[2017-03-31 11:21] juliushaertl commented on #85
Maybe as a quick fix we can just delay the deletion for 10 sec, to provide that kind of undo functionality. A good starter issue I think.

[2017-03-31 11:22] juliushaertl commented on #84
Thanks for the idea, we should give it a try to see how it looks.

[2017-03-31 11:26] juliushaertl commented on #82
Makes sense to me. I think that is a good starter issue using css flexbox for implementation.

[2017-03-31 11:28] juliushaertl commented on #81
Live-editing would be nice to have, but using the current notes implementation doesn't make much sense since it is about to be replaced, see https://github.com/nextcloud/notes/pull/22

[2017-03-31 11:43] stefan-niedermann commented on #82
Only one question left: where to display the input field and submit button for new stacks, if the present stacks consume all the horizontal space? maybe a plus button in the top right corner of the most right stack?

[2017-04-04 12:49] jospoortvliet opened #87 "Export/import [$30]"
So Desk is awesome and we have decided to start using it for our marketing coordination (hi @NinaNC !)

One thing I'd like to see, but probably crazy, is a way to export boards. Both because I'm always worried something breaks but also it'd be nice to have them available off line.

Even nicer would be if the actual boards could be stored in markdown-ish text files on Nextcloud itself so I have ful

[2017-04-04 13:52] NinaNC commented on #53
Thanks for your amazing work, I would also be very interested by checkboxes and progress indicator :D

[2017-04-04 15:22] dan-nkl commented on #87
Would love to see a Export/Import function!

[2017-04-05 08:26] Aesculapius opened #88 "Card title is capped / limited"
When entering a long card title, for example a sentence, the text is first successfully saved - it seems - but later part of it is capped off. I think around 80 characters is the max length?

I agree that the title should be kept short and put the rest in the description, but maybe a max length of 255 or something like that is more practical.

[2017-04-07 09:04] io-node commented on #43
Including to using the username instead of the user ID, also to use the avatar if one has been allocated.

[2017-04-10 08:21] simonpostma commented on #15
It's clear you're very busy. Do take your time! I'll be looking to donate some to you after it's released.

[2017-04-12 15:18] LollenJumplan opened #89 "Sometimes, "Add a new Stack" button doesn't work"
### Steps to reproduce

1. Create new Deck
2. Type name for a new Stack
3. Click the "+" (Enter seems to always work)

### Expected behaviour
New Stack is always created

### Actual behaviour
Often, the "+" disappears and nothing else happens. Reloading the page, you can see that the stack has not been created (so it seems it is not only a display issue).

### Server configuration
**Operating syst

[2017-04-12 15:23] LollenJumplan commented on #52
dirigit: Your issue might be related to mine. I created a new issue here: https://github.com/nextcloud/deck/issues/89

[2017-04-13 14:38] wgregori commented on #87
speaking of import function. It would be nice to be able to import a templated structure of tasks to be completed.  In my business I have a series of tasks that must be tracked for every transaction.  The tasks are the same for each transaction.  It would be great to be able to import the template and just go.  Thanks!

[2017-04-13 21:28] srbaker commented on #83
Heya, is someone already working on this?

If not, I'll do it. This is my first work on Nextcloud stuff, though, so I'll benefit from some hand-holding.

Thanks!

[2017-04-13 21:31] srbaker commented on #30
This is what I need the API for, so I can import from Trello. Happy to do the work, as I mentioned in #83.

[2017-04-14 11:05] dirigit commented on #89
My testinstallation shows same symptom and:

I cannot see new stacks at all.

To be more precise:
I don't see any stack, "Create new stack" only.

[2017-04-14 15:57] wgregori commented on #53
Count me in on the Checkbox idea!

and a BIG THANK YOU!

[2017-04-18 09:27] x9t9 commented on #89
I can also confirm this issue .
Pressing `enter `works . Clicking with mouse on `"+"` sign does not .
I do not have my server configuration here at hand , but if necessary I will post .

Tested on : Vivaldi , Chrome , Firefox - latest .

[2017-04-18 15:03] TGX2010 commented on #89
Unsubscribe me from this thread!
Thanks!
Toni Neumann 

-------- Original message --------
From: x9t9 <notifications@github.com>
Date: 18/04/2017  11:27  (GMT+01:00)
To: nextcloud/deck <deck@noreply.github.com>, neumanntoni@t-online.de
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [nextcloud/deck] Sometimes, "Add a new Stack" button doesn't work
  (#89)

I can also confirm this issue

[2017-04-18 15:51] x9t9 commented on #89
@TGX2010 - If you get notified on all conversations unwillingly - I believe that you get this because of your settings - you are probably  "**watching**" this repository . Change your preferences to avoid recieving further notifications .

[2017-04-20 22:21] demonicpancake opened #90 "Scrollbar is partly hidden"
I tested on both chrome and firefox and I noticed that the scrollbar is being clipped and not entirely visible.

The right is about half visible and the bottom one only shows about 3 px.

[2017-04-22 12:42] artemanufrij opened #91 "[Suggestion] Move "Add a new stack" into top bar"
I guess it would be nice to move "Add a new stack" into top bar (Archive, Details).  "Add a new stack" takes in my case 25% width.

[2017-04-22 13:20] juliushaertl commented on #83
@srbaker Sorry for the delay. Sure, It would be awesome if you would jump in and help us improve deck.

It would require implementing some extra API controllers similar to what the news app does: https://github.com/nextcloud/news/blob/master/lib/Controller/FeedApiController.php

Although it would be great to have some concept before starting the implementation. You can have a look at the v2 API pr

[2017-04-22 13:21] juliushaertl commented on #90
@demonicpancake Thanks for your report. I'm not entirely sure which scrollbar you mean, can you post a screenshot for clarification?

[2017-04-22 13:24] juliushaertl commented on #88
@Aesculapius Thanks for your report. I cannot reproduce this issue on my testing instances. Can you fill out the issue template for details about the database/server setup and maybe post a screenshot where the text is capped?

[2017-04-22 13:36] demonicpancake commented on #90
Here it is. I'm using the latest firefox version, also chromium
![deepinscreenshot20170422093334](https://cloud.githubusercontent.com/assets/6271598/25304914/1a9cb62a-273f-11e7-84f3-2803c28a7fa3.png)
![deepinscreenshot20170422093316](https://cloud.githubusercontent.com/assets/6271598/25304915/1a9d5076-273f-11e7-9ef5-d46809b7a2c2.png)

[2017-04-23 20:44] Aesculapius commented on #88
Sure.

### Steps to reproduce
1. Create a new card containing much text
2. Save the card and navigate away from Deck/Nextcloud
3. Come back to the place and notice a lot of characters are missing.

### Expected behaviour
All title text should be kept intact or - when that's really impossible - one should be notices while entering the title text.

### Actual behaviour
Text is capped off.

### Serve

[2017-04-24 09:05] srbaker commented on #83
Perfect, thanks. I'll take a look at this on the weekend. I'm very excited to be able to replace Trello with something that I can share with my family. And I really want there to be a desktop and Android app as well. :)

[2017-04-24 09:52] stefan-niedermann commented on #83
And that's what i am interested in to develop ;-)

[2017-04-25 11:23] oparoz opened #92 "Deck lists all users and all groups to anybody"
### Steps to reproduce

1. Create groups
2. Assign different users to different groups
3. Log in as a user who is only a member of one group

### Expected behaviour

User should only be able to share with members of his group

### Actual behaviour

User can see all groups and all users
This is a big privacy issue.

### Server configuration

**Nextcloud version:** 11.0.2

[2017-04-25 17:16] juliushaertl commented on #92
@oparoz Thanks for reporting. I'll have a look. The best might be to just use the OCS api to fetch users and groups.

For reference:
/ocs/v1.php/apps/files_sharing/api/v1/sharees

[2017-04-27 11:16] juliushaertl commented on #92
Fixed with #94

[2017-04-27 11:16] #92 closed

[2017-04-27 11:16] juliushaertl commented on #91
Fixed with #95

Thanks again @artemanufrij for the contribution.

[2017-04-27 11:16] #91 closed

[2017-04-27 11:30] juliushaertl commented on #89
Fixed with #95

[2017-04-27 11:30] #89 closed

[2017-04-27 12:02] artemanufrij commented on #73
@juliushaertl please assign this issue to me....

[2017-04-27 12:11] juliushaertl commented on #73
I'll have a look to add you to the nextcloud github team. Then you can assign yourself to issues as well as push your branches directly to the nextcloud/deck repo. :wink:

[2017-04-27 12:13] juliushaertl commented on #73
@artemanufrij You just need to confirm the invitation.

[2017-04-27 12:33] artemanufrij commented on #12
@juliushaertl what do you think about "default board". This could be opened directly. If only one board is available --> just open it.

[2017-04-27 13:37] artemanufrij commented on #88
The database field is limited by 64 chars.

`<field>
    <name>title</name>
    <type>text</type>
    <notnull>true</notnull>
    <length>64</length>
</field>`

I guess the title field of the cards should be limited for 64 chars, too.

[2017-04-27 15:36] juliushaertl commented on #88
@artemanufrij Fix is already in #96. Reviews are welcome. :wink:

[2017-04-27 19:02] xenithorb commented on #16
As it is right now, getting into this sort of methodology (im new to using this kind of thing) I didn't quite understand how to use it at first so my "stacks" were slightly out of order at first. I then thought that maybe I could move the stack around, but I couldn't. So a single out-of-place stack ruins the arrangement, and as far as I can tell it all has to be redone.

Worse yet, if you accident

[2017-04-27 19:05] xenithorb commented on #32
This is very useful for properties that apply to cards at any state in the state (stack) in the board

[2017-04-27 19:09] xenithorb commented on #87
I'm looking for this feature mostly because I'm concerned about putting a lot of effort into setting up and detailing many boards for myself, and then somehow losing all of it through an app-update or some nextcloud quirk. I'd like to not only be able to export it in an importable format, but in some kind of flat-file way too - perhaps a spreadsheet - so that I know my work and time I put into thi

[2017-04-27 19:14] xenithorb commented on #32
I think swim lanes might be able to be implemented with the current label properties - that is, perhaps you could edit a label and mark it as "swim lane" and then it would show up as a horizontal part of the board UI. I don't know much about kanban, but from as far as I can tell labels server a similar function, just that they're not important enough to be actual horizontal lanes, so perhaps 'prom

[2017-04-28 11:08] pixelipo commented on #12
I was thinking about the same solution @artemanufrij - but maybe instead of default just select the first one. Default would require a new "Set as default" setting, complicating UI for no good reason.

That seems to be inline with how other apps are handling this (e.g. Mail, News)

[2017-04-29 09:57] #43 closed

[2017-04-29 10:53] juliushaertl commented on #73
Fixed with #98

[2017-04-29 10:53] #73 closed

[2017-04-29 11:21] #88 closed

[2017-04-29 11:23] juliushaertl opened #100 "Setup nightly builds"

[2017-04-29 18:36] artemanufrij opened #101 "Current master branch doesn't work"
Current master branch throws lot of errors:
![screenshot_20170429_203448](https://cloud.githubusercontent.com/assets/16517095/25557888/61c3947e-2d1b-11e7-828e-f48c47d4806b.png)

[2017-04-30 07:25] juliushaertl commented on #101
@artemanufrij I cannot reprocude this.

Can you check the following:
- After running make install-deps those files in js/vendor/* should exist
- Those should also be in the release tar archive
- make appstore should merge all app javascript files into js/public/app.js Does this file exist in your tar archive?

[2017-04-30 10:18] artemanufrij commented on #101
@juliushaertl
1. fresh clone of master.git
2. `make install-deps` -> `js/vendor` doesn't exits
3. `js/public/app.js` exists

![screenshot_20170430_121627](https://cloud.githubusercontent.com/assets/16517095/25563580/10fb6448-2d9f-11e7-9e0e-3a95f4789f58.png)

[2017-04-30 11:08] juliushaertl commented on #100
Fixed with 49cd271cbc85f882144f1d154da532ef650cda53

[2017-04-30 11:08] #100 closed

[2017-04-30 11:14] juliushaertl commented on #101
Fixed with #103

[2017-04-30 11:14] #101 closed

[2017-04-30 19:26] juliushaertl commented on #69
Fixed with #102

[2017-04-30 19:26] #69 closed

[2017-04-30 23:01] artemanufrij opened #106 "Attach due date to cards"
what do you think about a "exp. date" field? card should be highlighted (icon or background) when the date is exceeded.

[2017-05-01 06:48] juliushaertl commented on #90
Lets move this to 0.2.0

[2017-05-01 06:50] juliushaertl commented on #29
The sharing part has quite some fixes in the next release. Please test and feel free to reopen if the issue still exists.

[2017-05-01 06:50] #29 closed

[2017-05-01 08:33] juliushaertl commented on #86
Fixed with #105

[2017-05-01 08:33] #86 closed

[2017-05-01 08:45] juliushaertl commented on #82
@stefan-niedermann The add stack input has been moved to the top with #95

[2017-05-01 13:12] artemanufrij commented on #106
@juliushaertl if you approve my suggestion - so i can implement it.

[2017-05-01 13:29] juliushaertl commented on #106
I am currently implementing a basic attachment api that will allow any type of data being attached to cards. That way we can also add dates, e.g. a due date to the card. I should have something testable ready by the end of this week.

[2017-05-01 13:30] juliushaertl commented on #106
I'll keep you updated on that, so you can do the due date implementation if you want. :wink:

[2017-05-01 16:16] himbeere opened #108 "delete a project"
Deck 0.1.3

Hello Devs.

Maybe a stupid question but how do i delete a project? Can't find any button / setting for that.

thanks and cheers
t.

[2017-05-01 17:21] artemanufrij commented on #108
@himbeere

url/to/my/projectongithub/**settings**

[2017-05-01 17:28] juliushaertl opened #109 "Attach files to cards [$30]"
Users should be able to attach files to cards.

Edit:
- Due date #106
- Assigning users #11

<bountysource-plugin>

---
There is a **[$30 open bounty](https://www.bountysource.com/issues/44724860-attach-files-to-cards?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.com/?utm_campaig

[2017-05-01 17:31] juliushaertl commented on #108
@himbeere I guess you mean inside the deck app. Just click the 3-dots menu and then the delete icon.

![2017-05-01-193002_246x65_scrot](https://cloud.githubusercontent.com/assets/3404133/25587501/a4f8a6f0-2ea4-11e7-9792-ea9ecd34a89e.png)

Be aware, that there is currently no confirmation/undo functionality. This is requested in #85

[2017-05-01 17:35] juliushaertl commented on #83
@srbaker I've invited you to be a repo contributer, so you can directly push branches when developing.

[2017-05-01 17:36] dirigit opened #110 "0.1.3 renamed to deck instead decks"
App update lost everything becuase of  renaming (directory changed from decks to deck, maybe db tables as well).

Now it's not possible to save new deck for me.

[2017-05-01 17:36] juliushaertl commented on #52
@dirigit Can you retry with the current version 0.1.3 as we had quite some bugs fixed.

[2017-05-01 17:40] juliushaertl commented on #32
@xenithorb Good idea to use labels for that.

[2017-05-01 17:45] juliushaertl commented on #110
How have you installed the app update? There should be no change in directory/database table names.

[2017-05-01 17:53] armaccloud opened #111 "Red line around the field "add new stack" after removing text"
### Steps to reproduce
1.Open Deck
2.Open a board
3.Type something inside the _Add new stack_ field
4. Remove the text from the _Add new stack_ field
5. Click outside the field

### Expected behaviour
The field is empty

### Actual behaviour
The field is empty with a red line around it

[2017-05-01 18:00] juliushaertl commented on #111
@armaccloud Thanks for reporting. Looks like this is an issue in firefox only, caused by the required attribute.

[2017-05-01 18:01] #17 closed

[2017-05-01 18:37] himbeere commented on #108
Thanks @juliushaertl but that does not work here. I see the trash can too but when hitting the trash can nothing happens. Mouse over shows "Freigabe löschen" which means "cancel sharing this" or so I guess.

My System: Apache2.4, PHP-7.1.4,Nextcloud 11.0.3

![img_20170501_202614](https://cloud.githubusercontent.com/assets/631865/25589659/b549da2a-2ead-11e7-94dd-7cd276212335.jpg)

[2017-05-01 18:47] juliushaertl commented on #108
Ok thanks for reporting. Seems there is a bug caused by #43. The checks in https://github.com/nextcloud/deck/blob/master/templates/part.navigation.php#L16-L18 are not working correctly. I'll look into that tomorrow.

[2017-05-01 19:09] srbaker commented on #83
Perfect, thanks! I didn't get as far as I wanted this weekend, but I have several hours in the evenings this week. I'll push up the in-progress stuff once I get the first simplest endpoint working.

Cheers!

[2017-05-01 21:22] PietsHost opened #112 "add description to cards overview"
The description should be added to the cards, so you can see it directly if you open the deck app.

Now you have to open every single card to view the description.

here are my suggestions:
- Add description to card overview
- add shortcodes to description like numbered list, formatting, etc.

[2017-05-02 04:43] dirigit commented on #110
I have been logged in yesterday, got message "update available" and updated it from apps management.

After encountering unworkable status I tried files from backup (directory "decks", message "update available" again) and manually uploaded new files. I saw the app two times than. Performing activation caused deletion of "decks".

In backup created when upgrading Nextcloud to 11.0.3 there is a dir

[2017-05-02 05:09] dirigit commented on #110
Ooops, double checked it again, my error:

Directory in backup is "deck" as well. Must be another reason for not working.

[2017-05-02 06:31] juliushaertl commented on #112
That would add to much content for a simple overview. Do you have a specific usecase for this?

Markdown is supported in the description. You can learn more about that here http://commonmark.org/

[2017-05-02 07:09] juliushaertl commented on #110
So we can close this? :wink:

[2017-05-02 07:10] juliushaertl commented on #110
Ah renaming is not working, so you are missing the edit button in the left sidebar, right?

[2017-05-02 07:28] PietsHost commented on #112
Hmm not a use case but maybe add something like a description preview instead of the whole description?

Let's say you have 10 cards and on every card you have 2 words. Then you would like to see these 2 words on every card on the overview instead of opening 10 cards to get these 2 word descriptions

[2017-05-02 07:39] artemanufrij commented on #112
@PietsHost You don't need to open it, just move cursor over "description" icon:
![description-tooltip](https://cloud.githubusercontent.com/assets/16517095/25608454/250047ce-2f1b-11e7-8d29-072ae45e3164.png)

[2017-05-02 07:50] PietsHost commented on #112
True, but there i just have the plain description and not (markdown) formatted

[2017-05-02 08:27] aproposnix opened #115 "Boards are not showing up after upgrade"
### Steps to reproduce
1.Upgrade to latest Deck

### Expected behaviour
All of my existing kanbans should be available and work as usual

### Actual behaviour
All Kanbans are gone

### Server configuration
**Operating system**: Linux server-us05.server.plus 3.10.0-514.2.2.el7.x86_64 #1 SMP Tue Dec 6 23:06:41 UTC 2016 x86_64

**Web server:** Apache (apache2handler)

**Database:** mysql 10.1.22

**P

[2017-05-02 08:33] juliushaertl commented on #115
Are there any entries in your logfiles (nextcloud/browser)? Can you check manually if those boards sill exist in the mysql table oc_deck_boards ?

[2017-05-02 09:40] aproposnix commented on #115
I haven't been able to check (too busy at the moment).... however, what I found was that if I manually enter in the Deck # in the URL it will appear - so apparently they are still in the DB.

[2017-05-02 09:43] juliushaertl commented on #115
@aproposnix Ok, so there might be an issue with the javascript part. Would be great if you could check the browser console for errors if you have some time.

[2017-05-02 09:51] aproposnix commented on #115
![selection_012](https://cloud.githubusercontent.com/assets/6204273/25613132/6c89f4e8-2f2d-11e7-998a-4f872db12237.png)

Yeah, I see some error there.  See attached screen. I get this when I click on the deck link in the menu.

[2017-05-02 10:44] juliushaertl commented on #115
Might be related to https://bugzilla.mozilla.org/show_bug.cgi?id=1336076

@aproposnix Would it be possible to get a test account on your instance to find the issue? I cannot reproduce this on my setups.

[2017-05-02 12:38] dirigit commented on #110
Sorry, doesn't work. No reason to close ... ;-)

1. I don't see previous created decks and stacks.
2. I see +-Button, use it to create a new deck, change app, come back to "Deck" -> no deck.
3. After "creation" of new deck, creating a stack is impossible. Otherwise: Goto 2.

[2017-05-02 13:02] juliushaertl commented on #110
@dirigit would it be possible to create a test account on your instance for me so i can see directly what is going wrong there?

[2017-05-02 13:44] aproposnix commented on #115
Just for Clarification - this isn't just about Firefox - the same behavior can be seen in Chrome.

I'm not sure how giving you a test account on the server will be useful. I mean, it requires an upgrade with existing decks (which I already did).  PM me for the credentials if you really need it.

[2017-05-02 14:09] juliushaertl commented on #115
Ok, it seems there is something wrong on the backend side. Then a test account won't help much. Any errors in your nextcloud log.

[2017-05-02 14:14] juliushaertl commented on #110
It would also great if you could check the browser log/network tab if there is anything failing, as well as the nextcloud log.

[2017-05-02 14:30] dirigit commented on #110
Tested it now with new user in group everybody:
works, even after logout and re-login

admin account:
does not work

it's almost a test site only, an account wouldn't be a real problem. Must be admin than.

I can't see anything related in logs.

[2017-05-02 15:17] juliushaertl commented on #110
Hmm can you check the content of oc_deck_boards if the old boards are in there and what owner is assigned to them? It should be the uid of your admin account.

[2017-05-02 15:21] juliushaertl commented on #112
So in this case it might make sense to just put those information into the title. The board should provide a quick overview of the cards and if you have many of them showing the descripting will be to much information there.

[2017-05-02 16:10] juliushaertl opened #116 "Redesign header for Nextcloud 12"
WIth the new app menu in Nextcloud 12 the header doesn't fit well in the design anymore.

![2017-05-02-180747_959x94_scrot](https://cloud.githubusercontent.com/assets/3404133/25627292/63b3a49c-2f62-11e7-814f-4dc78d3d2bbf.png)

[2017-05-02 17:33] dirigit commented on #110
Checked it:

In #_deck_boards there are old and new decks as well.
#_deck_boards.owner is correct in each case.

In #_deck_stacks there are old and new stacks as well. IDs are correct.

[2017-05-02 18:08] artemanufrij commented on #112
I confirm Julius.

[2017-05-03 00:01] mchonan1996 opened #117 "Request: Add option to turn off closing of sidebar when clicking task board"
# Why?
I personally used Deck and loved that it wouldn't close my details as I was working. With the latest release, every time I focus the window (by clicking) my details disappear.

So could we possibly add an options menu in Nextcloud's 'Personal' options?

Much appreciated if so.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4

[2017-05-03 05:59] artemanufrij commented on #117
we could add a pin in the top corner for fixing the sidebar.
![pin](https://cloud.githubusercontent.com/assets/16517095/25649516/6b0d507a-2fd6-11e7-8259-e4fe51d20298.png)

[2017-05-03 09:43] aproposnix commented on #115
Yeah, I'm getting tons of errors:

![selection_014](https://cloud.githubusercontent.com/assets/6204273/25655564/9656b75c-2ff5-11e7-850d-c981ab8fb16b.png)

[2017-05-03 10:21] Aesculapius commented on #115
Same problem over here, all boards have disappeared!

![image](https://cloud.githubusercontent.com/assets/617061/25656815/0db94d0a-2ffb-11e7-983a-2c5065dfced8.png)

[2017-05-04 05:15] aproposnix commented on #115
based on issue #118 I downloaded and installed https://bitgrid.net/~jus/deck_0.1.3.1-fix-a6b6842.tar.gz
This did not fix the issue.  I still do not see the kanbans.

[2017-05-04 06:03] juliushaertl commented on #115
@aproposnix Anything new in the logs?

[2017-05-04 06:38] juliushaertl commented on #108
Fixed with #113

[2017-05-04 06:38] #108 closed

[2017-05-04 06:39] #112 closed

[2017-05-04 06:43] juliushaertl commented on #110
@dirigit Can you mail me the test account data to the email in my github profile? Then I can take a look. Quite hard to debug, because I cannot reproduce and no errors :wink:

[2017-05-04 08:51] aproposnix commented on #115
@juliushaertl

Yeah, it seems the errors aren't as many this time and they are different:

![selection_016](https://cloud.githubusercontent.com/assets/6204273/25696445/81f0003a-30b7-11e7-801b-d42c932d98bd.png)

[2017-05-04 09:31] juliushaertl commented on #115
@aproposnix Thanks for the logs. Here is another test build: https://bitgrid.net/~jus/deck_0.1.3.1-fix-860cbab.tar.gz

[2017-05-04 09:43] JSoko opened #119 "Clone / Copy boards [$150]"
Imho it would be very helpful to be able to copy boards with and without their content

So you don't have to create the Markers new for each board and can split boards monthly or weekly

Btw: Thanks for your great work!

<bountysource-plugin>

---
There is a **[$150 open bounty](https://www.bountysource.com/issues/44830048-clone-copy-boards?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_me

[2017-05-04 09:45] aproposnix commented on #115
@juliushaertl With this version, I still do not see the kanbans BUT now when I manually open the board, I can move the cards from one column to another (could not do that in the previous build).

![selection_017](https://cloud.githubusercontent.com/assets/6204273/25698419/0d8aeec8-30bf-11e7-92f6-bd10777425b7.png)

[2017-05-04 10:12] juliushaertl commented on #115
@aproposnix And another fix added. Group sharing was broken due to wrong documentation in Nextcloud. https://bitgrid.net/~jus/deck_0.1.3.1-fix-12ebffb.tar.gz

[2017-05-04 10:13] juliushaertl commented on #119
Makes sense. Would also be nice to have for cards/stacks as well.

[2017-05-04 10:14] juliushaertl commented on #117
I'm not to happy with adding options. We should have a good default for that. I'll have a look how other nextcloud apps behave on that.

[2017-05-04 10:21] juliushaertl commented on #111
Fixed with #114

[2017-05-04 10:21] #111 closed

[2017-05-04 10:44] aproposnix commented on #115
You are making progress :) I can now see ALL kanbans (including previously deleted kanbans!). I cannot delete any of them now (clicking on the trash icon doesn't do anything).

![selection_019](https://cloud.githubusercontent.com/assets/6204273/25700247/1a7dcc7e-30c7-11e7-9dd0-cf949248720d.png)

![selection_018](https://cloud.githubusercontent.com/assets/6204273/25700266/3650c5d2-30c7-11e7-9108-d6

[2017-05-04 10:48] juliushaertl commented on #115
@aproposnix Deleting is a different issue which has already been solved in #113

So with the latest patch the error should not occur anymore. Looks like it worked from the timestamps of your logfile.

@Aesculapius @dirigit Mind testing https://bitgrid.net/~jus/deck_0.1.3.1-fix-12ebffb.tar.gz as well? Would be great to have your feedback as well.

[2017-05-04 11:06] juliushaertl commented on #85
Basic implementation is in #113 but we should just mark the board as deleted in the database and add a cleanup job to finally remove those boards after some time. Then the user doesn't have to wait the 10 sec. until the request for deleting is sent to the server.

[2017-05-04 11:43] dirigit commented on #115
Hi,

performed a short test of fix-12ebffb:

Decks are visible and creatable, stacks as well.

Deletion of stacks works.

Deletion of decks does not work.

thank you so far ;)

[2017-05-04 12:12] juliushaertl commented on #115
Fixed with #118

[2017-05-04 12:12] #115 closed

[2017-05-04 12:13] juliushaertl commented on #110
Fixed with #118

[2017-05-04 12:17] #110 closed

[2017-05-04 12:20] juliushaertl commented on #115
Thanks everyone for reporting and helping to fix it. :+1:

[2017-05-04 16:21] artemanufrij opened #120 "Icons should be reordered..."
[EDIT] [DELETE] or [DELETE] [EDIT]

![icons](https://cloud.githubusercontent.com/assets/16517095/25713858/6a71c09e-30f6-11e7-9c16-24c36886e30f.png)

[2017-05-04 16:55] artemanufrij commented on #120
@juliushaertl if you confirm this issue, so I can fix it...

[2017-05-04 17:05] Aesculapius commented on #115
Unfortunately don't have time atm to test but I trust the other guys with their conclusions and will wait for the next version update. Thanks.

[2017-05-04 17:12] JSoko commented on #115
1.4 works here as it should :-)

First loading after upate to 1.4 showed an error and no decks. 1st reload fixed that.
![deck1 4](https://cloud.githubusercontent.com/assets/5583290/25715930/91527f1c-30fd-11e7-9d79-c816d82d69cb.jpg)

[2017-05-04 19:46] juliushaertl commented on #120
Edit, Delete makes sense, as it is already done in #121 :+1:

[2017-05-05 02:24] dirigit commented on #52
All looks like being fixed with v1.4.
Thanks a lot!

[2017-05-05 05:12] Bloodsoul opened #122 "Download through Nextcloud appstore impossible for v0.1.4"
The corresponding tag to the release of v0.1.4 is named with a doubled v, therefore it is not possible to download it through the appstore:
`Client error response [url] https://github.com/nextcloud/deck/releases/download/v0.1.4/deck.tar.gz [status code] 404 [reason phrase] Not Found`

Currently working link includes maybe misspelled tag name:
`https://github.com/nextcloud/deck/releases/download/vv

[2017-05-05 07:02] morph027 commented on #122
Jip, same here

[2017-05-05 07:22] juliushaertl commented on #122
Fixed. Thanks for the hint everyone. Something must have gone wrong when adding the changelog. After the release.

[2017-05-05 07:22] #122 closed

[2017-05-05 08:14] #52 closed

[2017-05-05 08:52] NinaNC commented on #84
not sure when I have time but I'll give it a try :)

[2017-05-05 08:53] juliushaertl commented on #84
@NinaNC Great to hear. :+1: If you have any questions feel free to ask.

[2017-05-06 11:31] aproposnix opened #123 "ER: Minimized Left Panel"
It would be nice if I could minimize the left panel -  perhaps only showing the round circles to represent the other kanbans (without text).

I've already been in a situation where I was going over a kanban with a client who was able to see the names of my other kanbans (including one for a competitor).

[2017-05-06 11:36] aproposnix opened #124 "ER: Reduce time to delete kanban"
10 seconds is a long time to wait for deleting a kanban. Imagine you are closing out (deleting) multiple old ones. It's a bit frustrating.

[2017-05-06 14:26] artemanufrij commented on #124
It would be cool to have a option to delete it instant

[2017-05-07 12:43] pixelipo commented on #116
I can take care of this.

[2017-05-07 21:55] octo777 commented on #35
Just discovered Deck. Great work. I am excited to see how it develops.  So far for me chrome in android, I can grab the card, but it takes off to the left and scrolls to the beginning of the page and I can drop it in the first deck, but I can never get it to move to the right. If I move to the right edge of the screen, it just doesn't scroll at all.  I could have managed to move it one stack at a

[2017-05-08 08:13] Pisoko opened #126 "Add support for circles app [$15]"
Deck is not compatible with circle-app.
It would be nice to share the decks with the circle-defined contacts.

Greets from germany
Pisoko

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=44949962)](https://www.bountysource.com/issues/44949962-deck-and-circle-nextcloud-12?utm_source=44949962&utm_medium=shield&utm_campaign=ISSUE_BADGE)

<bountysource-plugin>

---
There is a **[$15

[2017-05-08 09:53] moritz31 commented on #83
@srbaker @juliushaertl
If we have a REST-API it shouldn't be that complicated to add an iOs/Android application.
Have done similar to some home automation stuff

[2017-05-08 10:47] moritz31 commented on #53
I haven't done anything like that but i like deck and want to contribute something,
so i will look in it  👍

[2017-05-08 13:46] juliushaertl commented on #53
@moritz31 Great. If you need any help, feel free to ask.

[2017-05-08 17:54] x9t9 commented on #82
I  Believe that only putting `display:flex `on `#innerBoard ` and maybe `.stack` with `width:100%` would already achieve that .  It would potentially create other problems ( like stack delete/edit icons, which IMHO are misplaced ) , but should work for this specific issue .

On the same note : I believe all the CSS should go flex now, which will also allow for support on mobile ( for display mainl

[2017-05-08 19:14] artemanufrij commented on #82
@x9t9 and `min-width: XXpx;`

[2017-05-09 09:03] pixelipo commented on #120
Close?

[2017-05-09 12:23] moritz31 commented on #53
@juliushaertl
have added markdown-it-checkbox to bower.json package.json and in main.html to the top add part
But hard to figure out where the render should be called any hints?

[2017-05-09 13:27] wwwindisch opened #127 "Long links in cards description are broken by line breaks"
**Expected behaviour**
Links in the card description are automatically converted to hyperlinks an become clickable.

**Actual behaviour**
A line break is created automatically, if a link is too long for one line.
Problem: Only the first line is converted to a hyperlink (which then points to an incomplete URL).

**Screenshot**
![grafik](https://cloud.githubusercontent.com/assets/28566230/25853118/e

[2017-05-09 15:55] artemanufrij commented on #120
@pixelipo yes. it's already merged

[2017-05-09 15:57] juliushaertl commented on #82
@x9t9 It would be great if you could open a pull request. We can figure out smaller issues during the review process.

:+1: For moving to flex. The code here was mostly written before I discovered that it exists. :wink:

[2017-05-09 15:59] juliushaertl commented on #127
@wwwindisch Right, that should not happen.

For fixing, this might be an issue with markdown-it adding breaks and markdown-it-linkify.

[2017-05-09 16:00] juliushaertl commented on #53
@moritz31 From a first look i would say that this is because angular-markdown-it uses some sanitize method. Can you push your working branch to the repo, so I can have a more detailed look?

[2017-05-09 16:00] #120 closed

[2017-05-09 21:27] pixelipo commented on #82
+1 for flex, but just FYI, now there is Aldo `grid`:
https://www.mozilla.org/en-US/developer/css-grid/

[2017-05-09 22:09] x9t9 commented on #124
I agree with @artemanufrij . From the UX point of view, it is much better adding another action link on the same Countdown popup that would simply say "Delete now" , or "Just do it" while continuing to count . Simply reducing the count as the PR states is helpful only in a quite extreme use case , and in all the others can be dangerous. Another option that is widely used is the confirmation popup

[2017-05-09 22:14] x9t9 commented on #106
Is attachments really easier / more correct way to go than simply add another field ? I think that due date is an inherited property of a task which is part of it's definition , and as such it should be handled , as opposed to attachments that can be seen more of a way to extend the "optional" properties or annexed Info related to the nature of the task .

[2017-05-09 22:29] x9t9 commented on #82
@pixelipo - Right ,Honestly I never worked with `grid`, mainly because comparing http://caniuse.com#search=flex and http://caniuse.com#search=css-grid) reveals some support issues for now .

But the way I see it , they are not challenging , but more completing each other. grid is more about the big picture layout where flex has advantages on the positioning of children elements . Which means that

[2017-05-09 23:08] x9t9 commented on #84
This very easily tested , and would also be resolved ( similar to what suggested in #82) with 'display:flex' on `#innerBoard` .
That said , I do not believe it would make it look less glitchy.
In fact , IMHO , it would even look more chaotic as layout :
![2017-05-10_070514](https://cloud.githubusercontent.com/assets/23067248/25876334/1a0dbcea-354f-11e7-9794-cf9a0bb789d2.jpg)

Further more , ( agai

[2017-05-09 23:19] x9t9 opened #128 "Review Overall design and CSS strategy - implement FLEX"
After seeing #82 and #84 , I have decided to create a new issue that would potentially handle -  and could be referenced from - all the other issues and / or improvements that can be handled or addressed  with having a more stable and thoughtful overall design strategy , like moving to a `flex` CSS flex technique .
Feel free to reference all layout related issues here , contribute , or close this

[2017-05-09 23:53] x9t9 commented on #127
Can confirm this issue but not as title suggest .
The problem is not long links, the problem is links that has the parenthesis character `)` .

![2017-05-10_072819](https://cloud.githubusercontent.com/assets/23067248/25876907/bf14c8a2-3552-11e7-92c0-2069257eba72.jpg)

As such - This issue should be labeled as `Upstream` and handled at the [source](https://github.com/markdown-it/markdown-it/issues/

[2017-05-10 06:18] moritz31 commented on #127
@juliushaertl
maybe markdown-it-link-target is a bit out of date, found [markdown-it-link-attributes](https://yarnpkg.com/en/package/markdown-it-link-attributes) which seems to be a bit newer than that
However bower can't find it for me

[2017-05-10 07:35] wwwindisch commented on #127
@x9t9 Thanks for clarifying the issue...and sorry that I didn't investigate it more in detail.

[2017-05-10 08:17] pixelipo commented on #127
Upstream says that is not a bug :) They basically recommend using "<" and ">" to wrap links - that should always work.

[2017-05-10 08:21] pixelipo commented on #106
but adding the date field to a single card should also mean creating a calendar (.ics) for the parent board, right?

[2017-05-10 08:29] wwwindisch commented on #127
Thanks! Good to know...works for me.
From the user's point of view this solution is not really intuitive... Therefore, it should be documented somewhere (maybe together with basic formatting examples like `**bold**`), e.g. on a little "Help"-page in the Deck-Wiki?

[2017-05-10 09:47] juliushaertl commented on #127
Ok, thanks @x9t9 for investigating. I think we should have some help on the markdown as well as having a link to it somewhere near the description field for users who are not aware of markdown. Anyone wants to take care of that?

[2017-05-10 10:43] stefan-niedermann commented on #84
It looks just a little chaotic because of the huge primary cta-buttons (+ Buttons) at the bottom. Maybe (in a seperate issue) they could move in the column-header as a simple + Sign without blue background?

[2017-05-10 10:57] pixelipo opened #129 "Add simple info on markdown input elements"
As mentioned in #127 , users could use a simple "how-to" on writing markdown.

My proposal is to add an "i" button in the (lower) right corner that would show a small markdown cheat-sheet in a popover, similar to this:

![image](https://cloud.githubusercontent.com/assets/4129927/25895326/b028af98-357f-11e7-96f7-678e5b9cff86.png)

How does that sound?

P.S. Someone should come up with a list of wha

[2017-05-10 20:13] pixelipo opened #131 "Card title overflows/goes under the card-options button"
See screenshot for two (related) problems:

![title-overflow](https://cloud.githubusercontent.com/assets/4129927/25901166/292bd60c-3596-11e7-8a35-2d33eebffc4f.png)

It's really simple to fix - I'll create a PR tomorrow

[2017-05-11 02:13] x9t9 commented on #131
I would suggest moving it altogether somewhere else , instead  of trying to fix it .
I believe that from UX point of view, and in consideration of future functions / icons / metadata , All of them should be concentrated in a footer / header part of card .
Same problem exists BTW also in the stack title ..

[2017-05-11 09:38] pixelipo commented on #131
@x9t9 it would be awesome if you (or anyone) would come up with a comprehensive design strategy for this project. That would really simplify development.

However, until we have something like that, I would consider this a bug to be fixed.

Regarding this particular issue, title **is** header, right? So even if we set a static position for buttons, the issue persists. Looking at Trello, they keep

[2017-05-11 09:54] pixelipo commented on #131
By the way, thanks for noticing a similar issue with the stack title. The problem there is actually even worse - because `<h2>` element contains a block element `<div class="stack-actions">` which is not a valid HTML code.

[2017-05-15 07:06] bjornnorman commented on #21
I've been looking a little on the code while making some local changes and realized the build process just concatenates the js files and that source code lookups/inspections (using PHPStorm) fail without proper import statements etc. I have experience with Angular2 / Typescript, using webpack for building and SCSS processing - and karma/jasmine for unit-testing so I could probably update and rearr

[2017-05-15 07:11] bjornnorman commented on #11
Imho this should be integrated with the tasks in SabreDav so that assigned tasks can have alarms, due dates, progress information etc. - and not least be automagically sync'ed with your calendar/tasks on your phone/desktop so you always keep track of what you're doing. I've worked on systems with SabreDav for several years and would be more than happy to help out if you find this useful. :)

[2017-05-15 07:15] bjornnorman commented on #7
Mentioned this on the SCSS issue #21, I think it would be a good idea to combine these two issues into an Angular2/Typescript/WebPack/Karma/Jasmine upgrade... I can contribute with the code conversion, build configuration and unit test "skeletons" if you like?

[2017-05-15 09:06] #116 closed

[2017-05-15 09:08] juliushaertl commented on #129
Good point, i guess we should have a short description directly inside the app and link to a more extensive documentation.
Similar to what Trello does:

[Trello Markdown hints](https://cloud.githubusercontent.com/assets/3404133/26050419/d4081042-395e-11e7-9afd-b44315b846f8.png)

[2017-05-15 10:45] juliushaertl commented on #21
@bjornnorman I already thought about migrating to angular2 but I don't have any experience with it until now. Is it possible to keep exiting dependencies such as ng-sortable/angular-ui-select/... ? How big would the initial change be? Can we keep the seperate anguar components and migrate them step by step?

Anyhow I would really appreciate your help there. :rocket:

[2017-05-15 13:53] bjornnorman commented on #21
Cool, I'll check the dependencies tomorrow. It'll require turning the modules etc into classes, adding corresponding import statements and using member vars in stead of $scope etc, but it's mostly search/replace. It's not really that much js code - so I can convince my employer to let me do that ;)

[2017-05-15 14:06] juliushaertl commented on #21
@bjornnorman Awesome. I'm really looking forward to that. :+1: :tada:

[2017-05-15 14:28] x9t9 commented on #129
I think that is the way to go, but it need to be hosted .
Not sure if nexcloud has a help wiki like page, or somewhere to host this help if indeed external.
Other option is just to provide a link to another markdown - related help, or even the help page of the actual script itself .

[2017-05-15 14:32] juliushaertl commented on #129
@x9t9 We can just create a page on the github repo wiki for that.

[2017-05-15 14:39] x9t9 commented on #129
Sure , I can do that if needed . as long as I don't interfere with @pixelipo wip ...

[2017-05-16 05:49] x9t9 commented on #129
After creating the page and while editing it I actually noticed that the wikipage would just result in duplicated content.
I feel it is much better to just incorporate the (`_BLANK` ) link to https://markdown-it.github.io, which provides demo, a kind of playground, and a comprehensive list of all the supported features .
The only useful entry is the `known issues` reference to #127 and the cited s

[2017-05-16 07:22] bjornnorman commented on #35
I did a test with using masonry for deck layout in stead of the horizontal lineup - it works great and looks awesome with the smooth transitions when rearranging the decks :) It also caused the decks to align vertically on mobile, but being able to set deck order is still a must. For mobile, in my opinion, ordering cards (and decks) would be much more user friendly if we required "hold" for 1 or 2

[2017-05-16 09:32] juliushaertl commented on #129
I'd prefer to still keep the wiki page and link to that, since we can then also mention plugins we use as it might come with #53

I did some further adjustments to that https://github.com/nextcloud/deck/wiki/Markdown-Help
Thanks for getting it started @x9t9

[2017-05-16 10:05] juliushaertl commented on #106
I thought about that and it makes sense to me, also in terms of sorting/filtering from the database.
@artemanufrij Are you still open for implementing this one?

Different issue, but yes, this is how this should be in the future.

[2017-05-16 11:27] x9t9 commented on #127
Closed as this issue is not directly related to card card but from upstrem, which will not fix .
Users will be informed following implementation of #129

[2017-05-16 11:27] #127 closed

[2017-05-16 18:10] artemanufrij commented on #106
@juliushaertl yes...sure! I'm waiting for your "big release" ;)

[2017-05-17 09:32] michelwend opened #134 "Add diagramme gantt"
Hello
Is it possible to have an output in the form of a Gantt chart
Thank you

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45278406-add-diagramme-gantt?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&u

[2017-05-17 10:16] x9t9 commented on #134
until such time where a due date will be implemented ( maybe #106 ) , a gantt chart would make little sense ..

[2017-05-17 10:55] pixelipo commented on #35
I would not go with masonry unless it's really the only way to solve a problem.

By the way, this issue seems to be discussing several different problems. Maybe it's worth splitting into smaller issues that can be tackled independently.

[2017-05-17 18:05] #129 closed

[2017-05-17 19:37] artemanufrij opened #135 "Can't rename stack title"
### Steps to reproduce
1. Add a new stack
2. Edit stack title by clicking on "edit" icon
3. Rename stack title
4. Click <ENTER> or on arrow icon
5. Click on Deck-App-Icon (Nextcloud navigation bar)
6. Choose last board
-> You will see old stack title

[2017-05-17 19:50] artemanufrij opened #136 "We should show board name in the window title"
![screenshot_20170517_214453](https://cloud.githubusercontent.com/assets/16517095/26173074/d6b3f53e-3b4a-11e7-8d68-fab21060fa41.png)

[2017-05-17 21:06] x9t9 commented on #135
I think it is related, or same as #89 .
Also in this case , I can reproduce your issue, but pressing `enter` always does work for me..

[2017-05-18 08:06] juliushaertl commented on #134
@michelwend Thanks for the idea. Although i need to think about if it makes sense to include this into deck or if it would be better to solve something like this in a different app.

@x9t9 Let's keep it open and move it to backlog for now.

[2017-05-18 12:02] bjornnorman commented on #106
Linking cards with the tasks in SabreDav would enable using existing functionality for this and all the other features of the Nextcloud tasks - perhaps most easily done by just "including" the related task settings from the task app in the card properties when card is linked to a task. Further integration with tasks could include connecting tables with task lists (i.e. the CalDAV calendars), makin

[2017-05-18 12:40] juliushaertl commented on #106
Sure, linking cards to existing tasks/events makes sense, but i think there are some issues:
- Permissions of CalDAV calendars differ from the boards permissions
- What due date will be shown when multiple tasks are linked

I'd prefer to go for a dedicated duedate per card for now.

My initial thought was to expose each card as a separate task, into a "calendar" for each board. See #15 for the dav

[2017-05-18 18:49] artemanufrij commented on #135
I think we should hide all icons when board will be renamed - like renaming files in NC, FileExplorer (Dolphin, etc.)

[2017-05-18 20:58] artemanufrij commented on #131
@pixelipo are you working on this issue?

[2017-05-19 05:43] pixelipo commented on #131
@artemanufrij I totally forgot about this issue. I have the code ready, I jest need to rebase and push. PR will be ready for review today.

[2017-05-19 07:11] artemanufrij commented on #131
@pixelipo ok, it would be cool if you push it today. At the moment I make a small card redesign

[2017-05-19 08:34] artemanufrij opened #138 "Card redesign"
What do you think about:
![screenshot_20170519_103316](https://cloud.githubusercontent.com/assets/16517095/26239780/b49e9172-3c7e-11e7-8b3f-f10b0928acb0.png)

[2017-05-19 15:20] juliushaertl opened #141 "CI failing because db index names are to long"
[code]

[2017-05-19 20:55] #135 closed

[2017-05-19 21:03] #138 closed

[2017-05-19 21:03] #131 closed

[2017-05-21 11:23] #141 closed

[2017-05-21 21:52] artemanufrij opened #145 "Use default style for header buttons"
What do you think about following style (including home button)?
![screenshot_20170522_002002](https://cloud.githubusercontent.com/assets/16517095/26287883/73e50c58-3e84-11e7-9810-88998f7113ec.png)

[2017-05-22 15:14] oparoz opened #147 "Save is too slow"
### Steps to reproduce

1. Click on a task
1. Assign a tag
1. Click on another task
1. Assign a tag
1. Click on the previous task

### Expected behaviour

Tags never disappear

### Actual behaviour

Tag on the 1st tag vaporises.

The tags are actually never saved on the server

Saving is too slow or requires some specific combo to be activated.

Per example, if I click on description and then back

[2017-05-22 17:30] juliushaertl commented on #147
@oparoz Assigning tags should be saved instanly. Can you check the browsers network console if there is a POST request when assigning a new tag?

[2017-05-22 17:44] oparoz commented on #147
So, I've checked and I do see POST requests if I wait long enough. The problem is that you sometimes want to assign tags quickly and it doesn't work.
Would be good to queue those requests so that they don't get forgotten when the detailed view loads the new card.

[2017-05-22 17:51] juliushaertl commented on #147
@oparoz Ok, guess queuing would be really nice to have.

[2017-05-23 09:25] pixelipo opened #149 "Accessibility improvements"
There are plenty of empty links, such as this one:

`<a ng-if="boardservice.canManage()" ng-click="labelDelete(label)" class="icon"><i class="icon icon-delete" ></i></a>`

Screen readers have trouble accessing such tags. Proper solution is to add `title` attribute as well as `<span class="hidden-visually"><?php p($l->t('Title')); ?></span>` to all icon-links.

<bountysource-plugin>

---
Want to ba

[2017-05-23 20:32] keunes commented on #84
Agree with @stefan-niedermann, but not sure this 'full height' would provide me with any actual (visual) improvements IMHO :)

[2017-05-23 21:07] #16 closed

[2017-05-23 21:27] artemanufrij opened #153 "Archive view ignores stack sorting"
1. Sort stacks
2. Switch to archive view
--> sorting will be ignored

[2017-05-24 13:22] JSoko opened #154 "Board templates"
Feature request:

In addition to my wish to be able to copy boards (https://github.com/nextcloud/deck/issues/119), I think Templates would also be a nice feature.

Templates should contain the stacks and the labels...

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45528264-board-templates?utm_campaign=plugin&utm_content=tracker%2F5

[2017-05-24 14:03] artemanufrij commented on #154
How many boards have you in deck?

[2017-05-24 14:24] JSoko commented on #154
At the monent: 12

But to document my work and to be able to find things easy, I need weekly or monthly decks...
...so I have the need to produce identical new decks...

[2017-05-24 16:03] #153 closed

[2017-05-24 17:11] #145 closed

[2017-05-24 17:20] juliushaertl opened #156 "Mobile: improve drag-and-drop"
Follow up of #35

Idea:

- [x] Align stacks horizontally on mobile
- [ ] Make drag to scroll work also inside the stacks container

[2017-05-24 17:22] juliushaertl commented on #35
Right, I've moved the drag-and-drop thing over to #156.
Please open new issues for any mobile related. Small bugs are easier to fix when you don't have to read a long discussion first.

I think all issues from @mr-bolle were fixed recently.

[2017-05-24 17:22] #35 closed

[2017-05-24 17:23] juliushaertl commented on #154
Unless i don't think we will be adding multiple board templates, a way to define default stacks/labels that will be created on every new board would be nice.

[2017-05-24 17:38] artemanufrij opened #157 "Wrong orientation in popover menu"
We should fix popover menu orientation to horizontal

![screenshot_20170524_193709](https://cloud.githubusercontent.com/assets/16517095/26417117/7ed2901e-40b8-11e7-8189-04165b2c9bf8.png)

[2017-05-24 17:43] juliushaertl commented on #147
I did some testing, the problem seems to be that in step 5 the card loads the labels without the one started saving in the background (2). So tags are saved even if i change between multiple cards but they are not displayed correctly when reentering.

[2017-05-24 17:44] oparoz commented on #147
That sounds easier to solve :)

[2017-05-24 18:28] artemanufrij commented on #157
fixed: #158

[2017-05-24 18:28] #157 closed

[2017-05-24 18:46] artemanufrij commented on #156
may be like this:
![screenshot_20170524_204630](https://cloud.githubusercontent.com/assets/16517095/26420160/1ab381a6-40c2-11e7-90af-a21e3e476c0f.png)

[2017-05-24 20:07] pixelipo commented on #154
Wouldn't this issue be solved by #119 ?

[2017-05-25 06:01] artemanufrij opened #160 "We should remove unused css code"
For more transparency

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45551880-we-should-remove-unused-css-code?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=is

[2017-05-25 10:27] JSoko commented on #154
@pixelipo

Yes and no...
If copy would work, you can use this fuunction for copying Template-Boards...
...Offering copying and templates would make the system mor professional and clear...

[2017-05-28 11:27] #156 closed

[2017-05-28 11:42] juliushaertl opened #164 "Scrolling on mobile does not work inside the stack container"
It is quite hard to scroll on mobile, since you need to touch the white background. Scrolling should also work when starting somewhere else inside the stack/card containers.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/45653165-scrolling-on-mobile-does-not-work-inside-the-stack-container?utm_campaign=plugin&utm_content=tracker%2F

[2017-05-28 12:27] artemanufrij commented on #160
request is already merged

[2017-05-28 12:29] pixelipo commented on #160
@artemanufrij stll some work on this task. I will make more PRs under the same issue, ok?

[2017-05-28 12:31] artemanufrij commented on #160
@pixelipo: Sure!

[2017-05-28 13:32] artemanufrij opened #167 "It's possible to open more than one context menus"
![screenshot_20170528_152711](https://cloud.githubusercontent.com/assets/16517095/26529131/caa50ac6-43ba-11e7-87b5-6c88d5be2a36.png)

[2017-05-28 13:37] artemanufrij commented on #167
same here:
![screenshot_20170528_153657](https://cloud.githubusercontent.com/assets/16517095/26529176/87700cbe-43bb-11e7-98fa-ab49a2688c90.png)

[2017-05-28 14:37] #167 closed

[2017-05-30 06:34] artemanufrij commented on #79
@Progdrasil we have implemented it here #159. Solves it your issue?

[2017-05-30 19:28] juliushaertl opened #170 "Move edit/delete stack icons to the popover menu"
https://github.com/nextcloud/deck/pull/121#issuecomment-304907357

[2017-05-30 19:32] juliushaertl commented on #79
Yes. Let's close, since this does only make sense on mobile where we have it now.

[2017-05-30 19:32] #79 closed

[2017-05-30 21:03] artemanufrij commented on #170
like this:
![screenshot_20170530_230245](https://cloud.githubusercontent.com/assets/16517095/26604894/219d3060-458c-11e7-90df-435fc18f9bb6.png)

[2017-05-30 22:48] Progdrasil commented on #79
What I had in mind was for the desktop, when the order is not important to the user and when the decks overflow from the screen, you would expect the decks to wrap to a new row so that they are all in view without needing to scroll horizontally. For example the PEI Deck and all subsequent decks would wrap to a second row under the row containing Quebec, Ontario and Nouveau Brunswick.
![deck](https

[2017-05-31 05:35] pixelipo commented on #79
No, not really, @Progdrasil - vertical scrolling is used for cards, so stacks must overflow horizontally.

If you have very few cards per stack, then it would make more sense to convert stacks to cards and use labels/tags to group related cards

[2017-05-31 06:23] pixelipo commented on #170
@jancborchardt referring to your comment in #121 - I definitely agree with it (better accessibility, lower learning curve, cleaner UI), but I made a PR #173 which deprecates of of the two existing icons (Edit). Should that single (Delete) icon still be moved to the popover?

@juliushaertl you probably have plans for more actions related to stack (Move, Copy, Archive, Archive All Cards...), so popo

[2017-06-01 19:51] jancborchardt commented on #170
@pixelipo nice, good call with making rename more seamless! :)

A single icon should never be in a popover, but please do add a tooltip to it which appears on hover (using the JS tooltip function). But yeah as you say maybe it makes most sense to do a popover right away when more actions come in.

[2017-06-01 20:02] jancborchardt commented on #170
@pixelipo @artemanufrij btw, if you folks come to Berlin some time, for example for our [Nextcloud conference](https://nextcloud.com/conf/) – we should make a bike tour! https://www.reddit.com/r/FixedGearBicycle/comments/6eib4c/breakbrake17_transfer_raw_cinelli_gazzetta/ ;)

[2017-06-01 20:10] artemanufrij commented on #170
@jancborchardt Cool! I plan to visit NC conference

[2017-06-01 20:20] #170 closed

[2017-06-01 20:40] artemanufrij commented on #123
@aproposnix @juliushaertl what do you think about a solution like files:
![screenshot_20170601_223559](https://cloud.githubusercontent.com/assets/16517095/26699779/3c5b2502-471b-11e7-91cf-4d0d59316deb.png)
![screenshot_20170601_223655](https://cloud.githubusercontent.com/assets/16517095/26699780/3c5c916c-471b-11e7-9ddb-7e5939f5ef51.png)

[2017-06-03 20:48] hftl-kalle opened #174 "Implement ability to add pictures"
Greetings,

I'd really love deck to have the ability to add pictures in stacks! Is this possible?

[2017-06-04 08:06] pixelipo commented on #174
You mean cards? Stacks are columns, they only contain cards, but there is a plan to allow cards to have attachments, such as images. See #109

[2017-06-04 08:06] #174 closed

[2017-06-04 08:28] hftl-kalle commented on #174
That is exactly what i meant!

[2017-06-08 17:11] artemanufrij commented on #90
It's not a deck issue.
solution:
/core/css/styles.scss
`height: 5px;`

[2017-06-08 17:33] artemanufrij commented on #90
will be fixed in NC core:
https://github.com/nextcloud/server/pull/5307

[2017-06-08 17:33] #90 closed

[2017-06-08 17:45] juliushaertl commented on #90
Ah so it is not hidden but just set to different size. Thanks @artemanufrij for investigating.

[2017-06-08 19:06] juliushaertl commented on #109
Let's move this to 0.3 since it requires more work and due dates will be added without the attachment approach.

[2017-06-08 19:21] juliushaertl commented on #123
@artemanufrij Let's do it like this, since otherwise the sidebar is also not accessible on mobile which is required after #133. Do you want to prepare a PR?

[2017-06-08 19:22] juliushaertl commented on #124
Closing in favor of #85

[2017-06-08 19:22] #124 closed

[2017-06-08 19:27] artemanufrij commented on #123
I have already a PR on my local system

[2017-06-08 20:47] juliushaertl commented on #70
implemented with #133

[2017-06-08 20:47] #70 closed

[2017-06-08 20:47] juliushaertl commented on #85
implemented with #133

[2017-06-08 20:47] #85 closed

[2017-06-09 08:16] pixelipo opened #176 "Searchbox autoenable"
It seems that we are using a hack to show force display `#searchbox`:
https://github.com/nextcloud/deck/blob/master/css/style.css#L57

From what I could tell, this tag is hidden by `hasFilter` in core search.js:
https://github.com/nextcloud/server/blob/master/core/search/js/search.js#L383

Mail app is defining this method:
[code]
which seems to do the trick.

I'm not too familiar with Deck's JS ju

[2017-06-09 13:52] hftl-kalle commented on #32
I really don't like the horizontal scrolling. I think it would be more natural to sort all stacks into columns. The amount of columns would be determined by the width of the window. Googles Keep does a good job with this.

[2017-06-09 22:01] artemanufrij commented on #123
issue fixed in #177

[2017-06-09 22:01] #123 closed

[2017-06-09 22:21] artemanufrij opened #178 "header right controls have broken margin compared to other apps"
![spectacle wl8511](https://user-images.githubusercontent.com/16517095/26996449-96715310-4d72-11e7-89a5-b4f175302ddd.png)

**Top**: Deck
**Bottom**:  all other apps

[2017-06-10 06:36] juliushaertl commented on #176
Not entirely sure, but i think https://github.com/nextcloud/deck/blob/master/js/directive/search.js is the right place. :wink:

[2017-06-10 08:36] artemanufrij opened #180 "Add toggle button for navigation bar to board list"
like discussed in
https://github.com/nextcloud/deck/pull/177#discussion_r121250895

[2017-06-10 21:21] #178 closed

[2017-06-10 21:22] #180 closed

[2017-06-10 21:23] juliushaertl opened #183 "Make board title/color editable from the board list"
Editing boards title/color should be also possible from the board list not only inside the navigation sidebar.

[2017-06-10 21:24] juliushaertl opened #184 "Sharing: Select user list broken"
![2017-06-10-232311_486x244_scrot](https://user-images.githubusercontent.com/3404133/27006414-dc3e110a-4e33-11e7-96a2-c37c47f7077f.png)

[2017-06-10 21:25] juliushaertl opened #185 "Show navigation toggle button on mobile"

[2017-06-10 22:09] #184 closed

[2017-06-12 17:09] V3R4DE opened #187 "Android App"
Great plugin,

please create an android app for fast access on mobile device.

Greetings!

[2017-06-13 10:50] juliushaertl commented on #83
@srbaker Any news from your api implementation? Is there anything you need help with?

[2017-06-13 10:51] juliushaertl commented on #187
I guess this will happen some time in the future, but this is not part of the repo here.

There has already been some discussion, as an app will require an API first. See: https://github.com/nextcloud/deck/issues/83

[2017-06-13 10:51] #187 closed

[2017-06-15 12:55] michelwend opened #188 "kanboard"
The ideal would be that the application looks like kanboard
https://kanboard.net/
Tanks

[2017-06-15 20:58] pixelipo commented on #188
Why would that be ideal? Is that the ideal Kanban app? Better than any other Kanban app out there?

[2017-06-15 20:58] #188 closed

[2017-06-16 08:45] juliushaertl commented on #188
@michelwend If you have any concrete change requests, please file separate issues on that. Just saying it sould be like another software is far to vague :wink:

[2017-06-16 09:43] michelwend commented on #188
Hello, I did not want to hurt you in anything. I'm sorry if that's the case. I just find that this software that I know a little can be used as a track for the development to come. Indeed it is not ideal since it is not integrated with nextcloud. I had proposed setting up a Gantt chart (http://www.diagramme-de-gantt.fr/) previously for example. See you soon

[2017-06-17 08:42] juliushaertl commented on #160
Let's remove that from the 0.2 milestone, since this is something ongoing and nothing that is really required for now. :wink:

[2017-06-19 08:48] #106 closed

[2017-06-19 19:03] artemanufrij commented on #136
fixed in #191

[2017-06-19 19:03] #136 closed

[2017-06-19 20:39] jancborchardt commented on #12
Same thing here. It’s strange to repeat the board list again and the empty state of the app is a bit confusing in general. Here’s my suggestions:

- [ ] There should be one board called »Personal« by default from the beginning. Just like in the Calendar app with the first calendar, and for Contacts too with the default address book.
- [ ] There should be default stacks in the first board for sure,

[2017-06-19 20:40] jancborchardt commented on #11
This was one of the first things I heard from multiple people now. :) Assigning users to cards is very important for collaboration.

(I allowed myself to tag this issue as »high«, hope that’s ok. ;)

[2017-06-19 20:41] jancborchardt commented on #10
Yup, very important for collaboration too. cc @blizzz for comments.

[2017-06-19 20:50] artemanufrij opened #194 "Fix margin in header bar"
Files:
![margin-files](https://user-images.githubusercontent.com/16517095/27305347-9258e1ea-5541-11e7-9cd0-cbd4718f1e94.png)

Deck:
![margin-deck](https://user-images.githubusercontent.com/16517095/27305361-9c30dcd6-5541-11e7-9d25-1598cd5639c0.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46377060-fix-margin-in-header-bar?utm

[2017-06-19 21:00] pixelipo commented on #12
@jancborchardt :+1: for default board and stacks - you should create a separate issue for that, I think.

Header bar is not a problem, since it doesn't take away too much space and it gives some useful information in a prominent (more prominent than sidebar) position. If we were to rely on sidebar only for current board title, we wouldn't have that info when sidebar is collapsed. We would also hav

[2017-06-20 08:45] juliushaertl commented on #194
@artemanufrij So this was the issue caused by the audioplayer?

[2017-06-20 08:45] #185 closed

[2017-06-20 08:46] juliushaertl commented on #11
@jancborchardt Yes, this is on the list for the next release :)

[2017-06-20 10:20] artemanufrij commented on #194
No, it's our issue :)

[2017-06-20 10:23] juliushaertl commented on #194
Ah you mean the space between the togge button and the home icon :+1:

[2017-06-20 11:34] aproposnix commented on #123
Sorry for the late reply, but yeah, this is great! Thank you!

[2017-06-20 11:35] artemanufrij commented on #194
yes

[2017-06-20 11:54] thatscoteng opened #195 "Add Print/Export overview options"
Feature request: Add a print or export overview option to allow the easy display all the information on a board (including each cards details and labels) so it could be discussed around a table rather than everyone looking at a screen in a meeting.

Previous discussion:
https://help.nextcloud.com/t/why-our-team-decided-not-to-use-deck-app-yet/14148

[2017-06-20 13:23] pixelipo commented on #194
wait a bit on this. I have an open PR that makes some changes to the breadcrumbs in Files.

[2017-06-20 14:10] artemanufrij commented on #194
OK, I will wait for your feedback

[2017-06-20 14:32] kneiser opened #196 "Feature Request; Application Group Access"
### Steps to reproduce
1. Create a Nextcloud group (i.e. DevProj) and add users to new group.
2. Associate Desk App with the group.
3. Maybe even setup a group administrator.

### Expected behaviour
Only users that are members of the group will see the Deck app in the appmenu and have access to it.

### Actual behaviour
Nothing available now.

### Server configuration

**Operating system**:

**Web

[2017-06-20 17:51] juliushaertl opened #197 "Add default board on first use [$10]"
from #12:

- [ ] There should be one board called »Personal« by default from the beginning. Just like in the Calendar app with the first calendar, and for Contacts too with the default address book.
- [ ] There should be default stacks in the first board for sure, and ideally also in every one created: To do, Doing, Done

This might be a good starter issue to get a bit into the php code part. So i

[2017-06-20 17:54] juliushaertl commented on #196
@kneiser I cannot reprodce this issue here with Deck 0.2.0 and NC12, can you please fill out the complete issue template?

[2017-06-20 17:56] juliushaertl commented on #195
I guess it would already work quite fine if we add a dedicated css file containing styles for media type print.

[2017-06-21 13:10] pixelipo commented on #12
@juliushaertl @jancborchardt - it seems we have a common agreement :wink: Here is what is needed to deprecate "board list" view:

- [ ] Add default board on first use #197
- [ ] Add "Delete board" option to single board menu in sidebar
- [ ] Add share/shared button/text to a board in sidebar, as in Calendar app:
![image](https://user-images.githubusercontent.com/4129927/27385568-7290eb0c-5693-11e7

[2017-06-21 14:18] juliushaertl commented on #12
I don't think that that is a good approach if the number of archived boards is becoming bigger. Ideally the sidebar should show the last used boards as well as favorite boards.

I get that having a list of boards is not ideal as a start screen. We should consider adding some useful information there that might be interesting to get an overview without having to go directly to a specific board. May

[2017-06-21 22:33] buttle opened #200 "Feature request - Integrate dates with Nextcloud Calendar app"
Hi,

It would be great to see the Deck "Due date" on the Calendar app if that's possible.

Really like Deck by the way :)

Cheers.

[2017-06-21 22:37] buttle opened #201 "Feature request - Integrate Nextcloud Tags"
Hi,

It would be very useful to be able to assign one or more of the system-wide Nextcloud Tags to a stack or to a stack item so to be able to filter by them. I think that would improve integration a lot.

Thanks again.

[2017-06-22 07:45] pixelipo commented on #200
This is already planned - please see #15

[2017-06-22 07:45] #200 closed

[2017-06-22 07:55] weipah commented on #30
I +1 this feature request. It would really ease up the process to make the switch from cloud-based to local installation.

Trello also supports JSON exports in their free version.

I guess using this for a one-time import would be much easier than deep-diving into their api.

[2017-06-22 08:03] weipah opened #202 "Feature request - Support for images (inline/attachment)"
It would be nice to have the possibility to insert images like screenshots either inline or as an attachment from the clipboard, via url or from the nc filesystem.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46469396-feature-request-support-for-images-inline-attachment?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_mediu

[2017-06-22 09:04] cappuMUC opened #203 "Description icon is missing when you add notes to a moved card."
### Steps to reproduce
1. create card on stack 1
2. move card to stack 2
3. add description

### Expected behaviour
The description icon should appear in the card.
![descripton_icon_present](https://user-images.githubusercontent.com/9985266/27425815-f36bfc34-5739-11e7-97ae-9efe97120999.png)

### Actual behaviour
The description icon is missing.
![description_icon_missing](https://user-images.githu

[2017-06-22 09:30] blizzz commented on #10
Yes, it's possible to use comments in other apps. One example that does it is the [announcement center app](https://github.com/nextcloud/announcementcenter), related PRs: https://github.com/nextcloud/announcementcenter/pulls?q=is%3Apr+comment+is%3Aclosed

[2017-06-22 10:13] pixelipo commented on #203
I can confirm this issue. Additionally, if you move the issue again to another card, description disappears completely.

So it means that description is not saved properly in the first place

[2017-06-22 15:35] juliushaertl commented on #203
Sounds similar to https://github.com/nextcloud/deck/issues/147 where the changes from the CardService are not propagated to the StackService iirc.

[2017-06-22 18:01] artemanufrij commented on #194
@pixelipo hey Marin had you time to open a PR?

[2017-06-22 18:52] artemanufrij opened #204 "It's not possible to use custom color for a board"
We need a color picker like `calendar`, `contacts` for boars
![screenshot_20170622_205322](https://user-images.githubusercontent.com/16517095/27450723-e4003c08-578c-11e7-90b3-1345dd9f2b03.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46492567-it-s-not-possible-to-use-custom-color-for-a-board?utm_campaign=plugin&utm_content=tr

[2017-06-22 18:54] pixelipo commented on #194
I did, long time ago, but it hasn't been merged yet. See nextcloud/server#5229

[2017-06-22 19:04] artemanufrij commented on #194
ah... ok... I see. Thank you for your feedback!

[2017-06-22 19:27] #183 closed

[2017-06-22 19:29] juliushaertl commented on #10
Thanks for the hint.

[2017-06-22 19:49] juliushaertl commented on #202
Do you mean inserting into the card description or just attach them to the card?

For the attachments there is already #17

[2017-06-22 19:54] juliushaertl commented on #30
@weipah The API was basically meant to be for Deck so users can script their import from various platforms.

I see the sense of importing trello data directly from the webinterface, but I will not have time to implement this in the near future. Several other features will be focused before. But as always, if anyone wants to contribute, pullrequests are always welcome.

[2017-06-22 20:07] juliushaertl opened #205 "Current date should be highlighted in the due date selector"
Current date should be highlighted in the due date selector, otherwise it is quite hard to  find.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46494998-current-date-should-be-highlighted-in-the-due-date-selector?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bount

[2017-06-22 20:10] juliushaertl opened #206 "Due date indicator shoud have title attribute"
The due date indicator on cards should have a title attribute to show the exact date on hover.

[2017-06-22 20:14] pixelipo commented on #12
That's a good argument, but of you're worried about having to list to much boards in the sidebar, you should first think about active boards. Already now Deck is listing all of them there, at the top level. Archived (and other groups) would be hidden (collapsed) by default, so they are much lesser problem.

Giving more functionality (that can't be achieved in a sidebar) to board list view? Yes, th

[2017-06-22 20:18] juliushaertl opened #207 "Label edit view needs some polishing"
![2017-06-22-221735_498x194_scrot](https://user-images.githubusercontent.com/3404133/27454014-b52471ea-5798-11e7-89bb-fd431e64b1b8.png)

[2017-06-22 20:24] juliushaertl opened #208 "Share with user list should have the same style as other Nextcloud apps"
Current look:

![2017-06-22-222234_479x154_scrot](https://user-images.githubusercontent.com/3404133/27454179-6429994a-5799-11e7-92da-c4588cdcb6f6.png)

Look in calendar:
![2017-06-22-222011_237x103_scrot](https://user-images.githubusercontent.com/3404133/27454183-6612b6a6-5799-11e7-81e1-807460d868da.png)

Look in files:
![2017-06-22-222356_292x188_scrot](https://user-images.githubusercontent.com/3

[2017-06-22 22:13] artemanufrij commented on #207
Label List:
![label-list](https://user-images.githubusercontent.com/16517095/27458315-b5e77ce8-57a8-11e7-9106-23ad56a36f4c.png)

Label Edit:
![label-edit](https://user-images.githubusercontent.com/16517095/27458317-b7e01a14-57a8-11e7-90fc-b7d341ceec69.png)

[2017-06-22 23:03] artemanufrij commented on #128
let close it.
it's a continuous process.

[2017-06-22 23:03] #128 closed

[2017-06-23 06:26] scoopex opened #211 "Activity logs [$10]"
Especially for team collaboration it might be a good thing to have a activity tracking and comments.
(which might be technically depended)

PS: Many thanks for creating this nice nextcloud enhancement! (Special greets to Julius ;-))

<bountysource-plugin>

---
There is a **[$10 open bounty](https://www.bountysource.com/issues/46511407-activity-logs?utm_campaign=plugin&utm_content=tracker%2F5275843

[2017-06-23 06:31] scoopex opened #212 "Checklists [$15]"
I really love the checklist feature of Trello. With the activity logs (#211) this might be a really good thing to work on complexer tasks or rather to have a confirmation that all important aspects of a tasks are completed.

<bountysource-plugin>

---
There is a **[$15 open bounty](https://www.bountysource.com/issues/46509059-checklists?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium

[2017-06-23 06:36] weipah commented on #202
@juliushaertl I think both would be nice. Directly inline in the description and as attachment if it could be opened in a lightbox for example for direct view.
I dislike the trello approach on this, because if I remember correctly you have to download the file and rely on your browser to open it directly. When you use a lot of screenshots to document something on a card that is not very convenient

[2017-06-23 08:09] juliushaertl commented on #211
Hi @scoopex, nice to see you here. :wink:

Yes, activity logs would be nice to have. We should make use of the activity app for Nextcloud there.
For comments please check out #10 which is already on the list for our next release.

[2017-06-23 08:12] juliushaertl commented on #212
Any reason there should be a dedicated task list instead of the proposed checkbox feature for markdown in https://github.com/nextcloud/deck/issues/53 ? Otherwise i think having a GitHub like markdown support should be enough for that.

[2017-06-23 12:30] andreasjacobsen93 commented on #15
I think we should explore more how deck and tasks can be integrated? I think it could result in some really valuable features.

[2017-06-23 20:27] juliushaertl commented on #82
Closing as discussed in #199

[2017-06-23 20:27] #82 closed

[2017-06-23 21:53] pixelipo commented on #205
Something like this?

[code]

[2017-06-23 21:57] pixelipo commented on #205
Or something less intrusive:

[code]

[2017-06-23 22:48] #207 closed

[2017-06-24 18:33] srbaker commented on #83
Heya, sorry for the radio silence. Got a bit slowed down, but I have vacation time I'm planning to wrap up my work.

[2017-06-26 11:44] oparoz commented on #147
I seem to have the most problems with card which already have a tag. It's then very difficult to add additional ones as the UI is inconsistent with the last actions taken.

[2017-06-26 12:06] artemanufrij commented on #147
I have polished it a little bit: #207

[2017-06-26 12:40] oparoz commented on #147
This is related to applying the tags, not modifying them ;)

Seems it's really broken in 0.2.0

`angular.min.js:122 Possibly unhandled rejection: Updating cards failed`

[2017-06-26 14:38] jancborchardt commented on #12
Archived boards should be collapsed as @pixelipo said. Check out how we do it in the Mail app for other folders with the "Show all folders" entry. :)

[2017-06-26 19:35] artemanufrij commented on #147
hey @oparoz I can't reproduce this issue...

Tested on NC12 and Deck last master version on Chromium

[2017-06-26 19:38] artemanufrij opened #217 "Error when tag will be removed"
### Steps to reproduce
1. Choose a card with selected tags
2. Remove tag by clicking on "x"

![screenshot_20170626_213657](https://user-images.githubusercontent.com/16517095/27556878-c6c8f430-5ab7-11e7-9098-9af555cd0881.png)

[2017-06-27 07:12] juliushaertl commented on #206
Fixed with #216

[2017-06-27 07:12] #206 closed

[2017-06-27 08:34] 9662 opened #218 "Share with group ist kaput"
### Steps to reproduce
1. Create a deck
2. Click on details → share
3. From the share list, select a group (*not* a user)

### Expected behaviour
The deck should be shared with all members of the selected group, a group icon should be shown.

### Actual behaviour
I have not checked if the other members of the group do have access, but no group icon is shown (broken image link).

This refers to Dec

[2017-06-27 10:10] juliushaertl commented on #83
@srbaker No problem :wink: Take your time.

[2017-06-27 10:16] juliushaertl commented on #205
That doesn't look very nice. :wink:

I think we should go for the first one but use a light gray as background color. Just that there is some difference to the other days. Primary nextcloud color is already used for the selected date.

[2017-06-27 11:41] juliushaertl commented on #218
Can you post a screenshot of where the image is not loaded? I cannot reproduce any issue with group sharing using Nextcloud 12 and Deck 0.2.0. I'll try this later on Nc11.

[2017-06-27 11:47] juliushaertl commented on #217
Looks like an upstream bug in ui-select:

https://github.com/angular-ui/ui-select/blob/676675415a383bb72c40b6ea32f368ddea569a42/src/select2/match-multiple.tpl.html#L11

Similar to this: https://github.com/angular-ui/ui-select/pull/1182

[2017-06-27 11:48] juliushaertl commented on #217
Since it is not breaking anything but just showing an error in the console, lets close this and make sure this gets fixed upstream.

[2017-06-27 11:48] #217 closed

[2017-06-27 12:25] juliushaertl commented on #217
https://github.com/angular-ui/ui-select/pull/2023

[2017-07-01 07:40] adamlove86 opened #221 "Add archive/delete buttons onto the grey area of cards"
Hi there, this is more of a feature request than an issue, but it would be fantastic to add the Archive/Delete buttons onto the empty grey area along the bottom of each card, which would mean less clicks/faster operation to complete those actions.

Obviously down track as more options in the menu are added, you won't be able to fit them all on the card, but as these are the two main ones, I though

[2017-07-01 08:04] pixelipo commented on #221
There are several reasons why I wouldn't go down that path:

- grey area is for car "Details", not " Actions"; it's counterintuitive to mix them together
- there are(will be) plenty of Actions for cards, I don't think Archive and Delete are most commonly used ones
- these two actions are "destructive", so it might be better to keep them one click away, so that user doesn't delete by accident

[2017-07-01 08:46] artemanufrij commented on #221
I confirm with @pixelipo . No action buttons in the info line.

[2017-07-01 08:51] artemanufrij opened #222 "Sort/filter cards for last modification date"
If you use a board for project monitoring it's very helpful to see last modified date in the over view.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46788984-board-list-show-last-modify-date-in-the-border-list-row?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bou

[2017-07-02 11:35] juliushaertl commented on #221
Yep, let's close this. Keyboard shortcuts as proposed in #46 might be a good way to quickly archive/delete once those are implemented.

[2017-07-02 11:35] #221 closed

[2017-07-02 11:37] juliushaertl commented on #222
Not sure if it makes sense by default. We could introduce some sorting functionality that will sort cards by last modify date and show it then. What do you think about that @artemanufrij ?

[2017-07-03 12:29] pixelipo commented on #222
"Show modified (cards) since last viewed" filter would be perfect :1st_place_medal:

[2017-07-04 20:24] juliushaertl opened #225 "Deck icon is white in apps management"
![2017-07-04-222217_979x279_scrot](https://user-images.githubusercontent.com/3404133/27842150-843cdec8-6107-11e7-86a0-175670d6f363.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46889909-deck-icon-is-white-in-apps-management?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bou

[2017-07-04 20:27] artemanufrij commented on #160
fixed in #219

[2017-07-04 20:27] #160 closed

[2017-07-05 14:20] 9662 opened #227 "App icon looks weird on 0.2.1"
I have just upgraded from 0.2.0 to 0.2.1 on NC11. I am using the [Direct Menu](https://github.com/juliushaertl/direct_menu/) application.

The deck icon after the 0.2.1 upgrade looks much smaller than the others. Not sure if this is intentional.

On desktop (deck icon is second from right):
![screenshot_20170705_160727](https://user-images.githubusercontent.com/13080040/27868615-97864d70-619d-11e7

[2017-07-05 14:21] 9662 commented on #218
Yup.

From `/apps/deck/#!/board/:board_id//detail/`

![screenshot_20170705_155355](https://user-images.githubusercontent.com/13080040/27867942-68e7656e-619b-11e7-8267-919921b34b5c.png)

The second user with the broken icon is a group. Note that neither an icon nor the group's name appear.

Likewise, from `/apps/deck/#!/`

![screenshot_20170705_155328](https://user-images.githubusercontent.com/1308

[2017-07-05 14:24] 9662 commented on #218
Personally, if the problem is confined to NC11, I'm not sure if it's worth fixing. Just my opinion.

[2017-07-05 17:31] poVoq opened #228 "Missing icon in the apps enabled section for NC12"
NC12 uses a new layout for showing a list of enabled apps for compacted, however in that list Deck doesn't seem to display a logo in front.
Most likely a minor fix ;) Thanks!

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46921842-missing-icon-in-the-apps-enabled-section-for-nc12?utm_campaign=plugin&utm_content=tracker%2F52758431&u

[2017-07-05 17:36] poVoq opened #229 "Small layout issue if no due date is set"
If there is no due date set for a card, the button for adding it looks like it is cut off on the side. This is likely due to the fact that if a due date gets added, this kind of overlapps with the button and extends it.
Not really a show stopper, but looks odd.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46922007-small-layout-is

[2017-07-05 17:38] poVoq commented on #228
Never mind, duplicate of this:
https://github.com/nextcloud/deck/issues/225

[2017-07-05 17:38] #228 closed

[2017-07-05 17:40] poVoq commented on #15
Any update on the CalDAV tasks and calendar integrations?

[2017-07-05 19:04] artemanufrij commented on #229
@poVoq you can check it under #230

[2017-07-05 19:10] poVoq commented on #229
Great, thanks!

[2017-07-05 19:10] #229 closed

[2017-07-05 22:06] lachmanfrantisek opened #231 "The style is broken after update to 0.2.1"
Hi,

thank all of you for the next release of this great app, but after upgrade from `0.2.0` to `0.2.1`, the style is broken. Removing the app and reinstalling did not solve the problem....

Am I doing something wrong?

Thank you!

### Log:
[code]

![board list](https://user-images.githubusercontent.com/20214043/27886811-f2f1fa98-61dd-11e7-9d2b-d77b79a3ce74.png)
![board](https://user-images.github

[2017-07-05 22:11] artemanufrij commented on #231
@lachmanfrantisek
have you try to refresh website by CTRL+F5?

[2017-07-05 22:14] lachmanfrantisek commented on #231
Yes, but nothing changed...

I've also tried another browser, log out/log in and restarting the webserver..

[2017-07-05 22:27] lachmanfrantisek commented on #231
Now, I've tried the fresh docker container ([wonderfall/nextcloud](https://hub.docker.com/r/wonderfall/nextcloud/) - `12` and `daily`), but with the same result.

[2017-07-05 22:30] artemanufrij commented on #231
have you updated deck or fresh installed that?

[2017-07-05 22:36] lachmanfrantisek commented on #231
I've tried both:

At first, I've only updated the deck. Since it didn't work, I've uninstall/remove/install the app (same result).

Now, I've also tried fresh install of nextcloud (`daily` and `12`) and only install the deck app, and the result was same.

Btw, thanks for such a quick response.

[2017-07-05 22:41] artemanufrij commented on #231
I have it tested on apache and lighttp and it works fine.

tomorrow I will setup a system with nginx and I will try to reproduce this issue...

PS: I have almost same setup like you (apache instead nginx and mariadb instead postpresql) and it works very well on two systems

[2017-07-05 22:54] lachmanfrantisek commented on #231
Weird.

I'm using Docker, so the setup should be reproducible easily.

(For the completeness, the fresh instances used SQLite..)

Anyway, thank you.

[2017-07-06 05:47] juliushaertl commented on #231
@lachmanfrantisek This is a Nextcloud bug, see: https://github.com/nextcloud/server/issues/5289

[2017-07-06 05:47] #231 closed

[2017-07-06 05:49] juliushaertl commented on #231
Btw. removing the style.scss file from decks app folder should fix the issue for now. :wink:

[2017-07-06 05:52] juliushaertl opened #232 "Nightly build is currently broken"
[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46941001-nightly-build-is-currently-broken?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_sourc

[2017-07-06 08:03] lachmanfrantisek commented on #231
@juliushaertl Thank you for the info.

Yes, this works. Thank you.

[2017-07-06 09:45] TSYEAP opened #233 "User Permission/Role Not Working Properly"
The user/group sharing role (share/edit/manage) seems not working properly. I'm using nextcloud 12. Only different i see is edit vs others.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46946654-user-permission-role-not-working-properly?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We ac

[2017-07-06 11:02] juliushaertl commented on #233
@TSYEAP Thanks for your issue report. Can you please fill out the issue template with steps to reproduce and expected/actual behavior. Otherwise it is quite hard to understand what the exact issue here is.

[2017-07-06 11:02] #233 closed

[2017-07-06 11:15] juliushaertl commented on #232
Fixed.

[2017-07-06 11:15] #232 closed

[2017-07-06 11:18] juliushaertl commented on #225
Looks like it was a caching issue. I cannot reproduce this anymore.

[2017-07-06 11:18] #225 closed

[2017-07-06 11:24] juliushaertl commented on #218
@9662 I cannot reproduce this on NC11 here. Are you using any custom user backend? Is it possible that the group that the board is assigned to doesn't exist anymore?

[2017-07-06 12:11] oparoz opened #235 "Impossible to drop the card in an empty column"
### Steps to reproduce

1. Move a card from its current location to and empty column

### Expected behaviour

The dotted drop zone should show up

### Actual behaviour

Impossible to drop the card

On 0.2.1

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/46951027-impossible-to-drop-the-card-in-an-empty-column?utm_campaign=plugin&utm

[2017-07-06 12:13] oparoz opened #236 "Drag and drop broken when window is not full screen"
### Steps to reproduce

1. Set the window size to half the screen
1. Bring out the description panel
1. Move a card

### Expected behaviour

Card should be picked up where the mouse is

### Actual behaviour

Card jumps to another location, making it impossible to move to its destination.

0.2.1

Nextcloud stable12
Browser: Chromium 58

<bountysource-plugin>

---
Want to back this issue? **[Post a

[2017-07-06 12:59] jancborchardt opened #237 "Error when updating Deck"
When I updated Deck to the latest version via git on my development environment and then upgraded my Nextcloud through the web interface (cause I had updated Deck), I got this error:

[code]

Was pretty scary … when I removed the Deck app it was fixed. Any idea @nextcloud/deck?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4695259

[2017-07-06 13:39] juliushaertl commented on #236
@oparoz I cannot reproduce that. Can you report some details about Nextcloud/Browser version?

[2017-07-06 13:40] juliushaertl commented on #237
@jancborchardt Are there any more details in the error log like a stacktrace where this error occurs?

[2017-07-06 13:42] oparoz commented on #236
Just tested and it's not broken, so will provide additional steps when I have them

[2017-07-06 13:43] oparoz commented on #236
OK, so you simply need to bring out the description panel and things start to break

[2017-07-06 13:43] juliushaertl commented on #235
@pixelipo Can you have a look, this might be caused by the migration to SCSS.

[2017-07-06 13:46] 9662 commented on #218
@juliushaertl No, just the standard backend. The group does exist, with both me and other active users being members of it.

I will upgrade to NC12 in the next few days/weeks and report back. I guess this issue may be closed as a “can't reproduce” in the meanwhile, if it makes your life easier?

[2017-07-06 13:54] juliushaertl commented on #218
Ok, feel free to reopen then. :wink:

[2017-07-06 13:54] #218 closed

[2017-07-06 14:20] jancborchardt commented on #237
Hmm … it seems like my local development instance is a bit broken by something else. Need to investigate, but probably this has nothing to do with Deck. :)

[2017-07-06 14:20] #237 closed

[2017-07-07 21:01] pixelipo opened #239 "Add card button in empty stack"
`min-height` solution in #238 causes weird position for the "Add card" button in empty stacks:
![image](https://user-images.githubusercontent.com/4129927/27948162-f92c7d18-62f8-11e7-9ccd-fa67c36496b0.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47009071-add-card-button-in-empty-stack?utm_campaign=plugin&utm_content=tracker%2

[2017-07-08 19:49] artemanufrij opened #240 "[invalid date] in Epiphany"
currently I work on elementary os. Deck shows "invalid date" in default browser Epiphany.

![bildschirmfoto von 2017-07-08 21 44 02](https://user-images.githubusercontent.com/16517095/27988647-29c69416-6427-11e7-9971-e30233ad9dc5.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47030726-invalid-date-in-epiphany?utm_campaign=plug

[2017-07-08 20:04] JiriMON commented on #240
I can confirm same behaviour on Safari and Chrome.

[2017-07-09 08:32] juliushaertl commented on #240
@artemanufrij Does this happen on loading or does it appear after some time on the site?

[2017-07-09 09:51] JiriMON commented on #240
For me, immediately after setting date. For both new and existing cards. Tried to disable and enable application, but this not solved the problem.

[2017-07-09 09:59] artemanufrij commented on #240
@juliushaertl on loading

[2017-07-09 20:43] TeknoShamin opened #241 "Click and drag in slide details causes UI issues"
### Steps to reproduce
1. Create new board.
2. Create new deck.
3. Create new slide.
4. Enter text into slide.
5. Click on text and drag to the right.
6. Observe how the right hand window appears.

### Expected behaviour
Nothing should happen.

### Actual behaviour
The right hand window pane appears.

### Server configuration
**Operating system**: Linux farnsworth 4.4.0-77-generic #98-Ubuntu SMP W

[2017-07-09 20:46] TeknoShamin opened #242 "Feature Request: Ability to archive decks"
Currently it's possible to archive Boards (options on the left pane) and Slides (entries within in columns) but not possible to archive Decks (the columns themselves). My team and I feel this feature would be useful to have. Thank you.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47057250-feature-request-ability-to-archive-decks?

[2017-07-09 20:49] artemanufrij commented on #242
Do you mean like this: #34 ?

[2017-07-09 20:53] artemanufrij commented on #241
confirm

[2017-07-10 21:12] TeknoShamin commented on #242
They're basically the same thing, yes, though i think 'archive' is the better term. Feel free to close if you wish, thank you.

[2017-07-10 21:17] artemanufrij commented on #242
ok. we will track in on #34

[2017-07-10 21:17] #242 closed

[2017-07-11 11:30] jancborchardt opened #243 "Setting a date causes »Invalid date« to be displayed on the card"
### Steps to reproduce
1. Set a future date on a task

### Expected behaviour
The date should be shown on the card.

### Actual behaviour
It says »Invalid date« on the card. Hovering shows the correct date in a tooltip.

Any idea @nextcloud/deck?
(Instance is at Portknox so @Gomez might be able to help debugging. :)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](http

[2017-07-11 11:32] jancborchardt opened #244 "Mini calendar selector should highlight current date"
### Steps to reproduce
1. Choose a due date
2. Check what todays date is manually on your computer
3. Actually choose the due date ;)

### Expected behaviour
The calendar popover highlights the current day.

### Actual behaviour
It’s not highlighted.

Also cc @nextcloud/calendar since this should be fixed for all instances of this mini calendar popover. :)

<bountysource-plugin>

---
Want to back

[2017-07-11 11:36] jancborchardt opened #245 "Color for all created boards is the same unless modified"
### Steps to reproduce
1. Create a board
2. Create another board
3. Create another board

### Expected behaviour
The first board should be blue, the next should be (the next color in line), the third should be (third color in line) automatically.

### Actual behaviour
All are blue and need to be colored manually.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https:/

[2017-07-11 11:37] jancborchardt opened #246 "Board name overlaps with share icon"
In the left navigation, long board names overlap with the share icon. Should be ellipsized correctly. :)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47118886-board-name-overlaps-with-share-icon?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2017-07-11 11:37] jancborchardt commented on #243
Duplicate of https://github.com/nextcloud/deck/issues/240, sorry :)

[2017-07-11 11:38] jancborchardt commented on #240
Can confirm this happens on Safari on macOS as well. Stays there permanently, not only on loading.

[2017-07-11 11:38] #243 closed

[2017-07-11 11:39] jancborchardt opened #247 "Sharing in left navigation doesn’t seem to work"
The share button in the left navigation doesn’t seem to do anything. The tooltip says »Shared with you« too even though I created it myself. It’s a bit confusing and I’m not sure what the intended design is. :)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47118959-sharing-in-left-navigation-doesn-t-seem-to-work?utm_campaign=plugi

[2017-07-11 11:40] jancborchardt opened #248 "Means of keeping tags the same across certain boards"
Is there a way of keeping tags the same across boards? This would be very useful to keep them inline for all boards of an organization.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47118987-means-of-keeping-tags-the-same-across-certain-boards?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)*

[2017-07-11 11:42] jancborchardt opened #249 "Ability to move card to another board [$20]"
### Steps to reproduce
1. Create a task in a board
2. Write a lot of description into it, add tags and details etc
3. Notice it’s in the wrong board

### Expected behaviour
You can move it to the correct board.

### Actual behaviour
You can not and would need to copypaste all the details over.

Not super crucial, but might be nice to have. :)

<bountysource-plugin>

---
There is a **[$20 open boun

[2017-07-11 11:44] jancborchardt opened #250 "Emptycontent view for archived and shared boards filter [$10]"
Currently the view for archived and shared boards (when there are none) is just an empty list with a header. This is quite confusing as people could see the header as placeholder text.

There should be the normal emptycontent view as it’s also in files for empty folders (simply use the same HTML :)

In the shared boards view, we could even say in the emptycontent view:

With the button directly th

[2017-07-11 11:46] jancborchardt opened #251 "Ability to edit titles of cards in place [$10]"
### Steps to reproduce
1. Add some stacks
2. Notice you can edit the titles of the stacks in place
3. Try the same on the cards

### Expected behaviour
It works and you can edit the titles of cards in place.

### Actual behaviour
It doesn’t and you need to use the right sidebar for that. It’s a bit confusing when some things are editable in place and some are not. ;)

<bountysource-plugin>

---
Th

[2017-07-11 11:49] jancborchardt opened #252 "Labels sometimes don’t get saved"
### Steps to reproduce
1. Create a card
2. Add a label to it
3. Sometimes it vanishes

Either directly after closing the sidebar, or for example after adding a date, or removing a date again. Not entirely sure why that is.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47119298-labels-sometimes-don-t-get-saved?utm_campaign=plugin&u

[2017-07-11 12:02] jancborchardt opened #253 "Consistent saving and save feedback of contents of description field"
### Steps to reproduce
1. Write a whole bunch of text into the description of a card
2. Look for a save button, or existing save feedback
3. Be very hesitant about what happens, copy the text of the textarea just to be safe

### Expected behaviour
There should be permanent saving feedback. Good comparison is like how we do it in the Text editor app: https://github.com/nextcloud/files_texteditor –

[2017-07-11 12:05] jancborchardt opened #254 "For icons, use Javascript tooltips which directly show"
Currently the buttons like »Show archived cards«, »Board details«, »Remove due date«, »Formatting help« etc have tooltips, but they do not show directly.

They should use the JS tooltip function we use in Files and other apps too, which show a tooltip above the icon you are hovering.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/4

[2017-07-11 13:23] juliushaertl commented on #252
Can you check if the label is there after reloading the page? Then this might be a duplicate of https://github.com/nextcloud/deck/issues/147

[2017-07-11 13:24] 9662 commented on #245
FWIW, I am not sure whether this is a bug or a feature.

One way to approach this is to ask: what is colour intended to communicate in the decks list?
 * If it is simply to highlight that there are multiple decks, is it adding much value?
 * If the choice of meaning (if any) of deck colour is left to the user, wouldn't it be better to apply a single default colour, and for the user to manually cha

[2017-07-11 13:27] juliushaertl commented on #248
We have no functionality like that, but https://github.com/nextcloud/deck/issues/154 already contains discussion about default labels. I guess we should just continue over there.

[2017-07-11 13:27] #248 closed

[2017-07-11 13:33] 9662 opened #255 "Unable to move card on mobile device"
### Steps to reproduce
1. Open a deck in a mobile device (navigate to `/apps/deck/#!/board/:id/`)
2. Try to move a card, either across stacks or to a different place in the same stack. Do this by long-pressing on the card, which seems to be a common language for “drag & drop” on touch devices.

### Expected behaviour
The card should be dragged into its new position.

### Actual behaviour
Either no

[2017-07-11 13:40] 9662 commented on #252
Sometimes it is there. Sometimes, the opposite happens: the tag shows as having been applied but disappears on reload. I'll add more details to this issue if/when I have them.

[2017-07-11 13:54] 9662 commented on #109
Point 3 (files): is that about displaying a file (image, maybe video / sound?) inline, or about actually storing files in Deck? If the latter, isn't that redundant, seeing as storing files is the main purpose of Nextcloud?

The way I use it is to store the files in Nextcloud and then link to them (via the “local link” feature in NC, e.g., `And this is our [latest bad idea](https://cloud.example.co

[2017-07-11 14:14] 9662 opened #256 "Contents synchronisation / Live update for changes"
Just putting this up for discussion, this is neither a bug report nor necessarily a feature request.

### Steps to reproduce
1. Access the Deck application on computer Alpha as user Albert
2. Access the Deck application on computer Beta as user Albert
3. Access the Deck application on computer Gamma as user Bettie
4. Have Albert@Alpha make some changes, e.g.:
   * CRUD operation on deck
   * CRUD

[2017-07-11 17:46] pixelipo commented on #250
Even better would be to hide those menu items when empty?

[2017-07-11 19:47] jancborchardt commented on #250
Yeah, that’s maybe an even better call. For archived boards for sure, and I guess for shared ones too.

If we move to listing boards only in the navigation bar on the left, then I would do away with these special entries anyway. Boards could be sorted by recency of use/activity, shared boards will have an indicator, and on the bottom of the list will be a switch saying »Show archived boards« (like

[2017-07-11 19:51] jancborchardt commented on #245
The point of a color is to quickly visually differentiate different boards. In a test it came to lots of confusion and tasks added to wrong boards because the title alone is not enough to differentiate (you don’t really look at it). See iOS Reminders for example: When you add a new list, the default selected color is one you haven’t used for any of the other lists (if possible).

Defaults are rare

[2017-07-11 21:06] juliushaertl commented on #245
Good point.

@jancborchardt @9662 Any issue reporting is very welcome here. :wink:  I sadly don't have much time to focus on deck right now.

This might be a good starter issue, just check for existing boards colors and select the first unused color when opening the view to create a new board.

[2017-07-11 21:10] juliushaertl commented on #256
@9662 Yes, this is something we should have. Since we have no way of pushing information to the client we need some kind of polling mechanism like the notifications app does to check if there were changes on a board and update it then.

[2017-07-11 21:15] juliushaertl commented on #109
Using the local file link sounds like a good idea except that files and the deck might have different permissions and therefore some users might not be able to work with the files.

For a first implementation my plan was to just allow to attach files to cards by selecting them from the Nextcloud files using a file picker.

For uploads storing in the Nextcloud filesystem might be an issue because w

[2017-07-11 21:16] juliushaertl commented on #255
Also related to #156

[2017-07-11 21:20] juliushaertl commented on #253
Makes sense. It should be clear that the work that users do is saved.

[2017-07-11 21:22] juliushaertl commented on #247
Not sure where this broke. The icon was ment to indicate if a board is shared or not.

[2017-07-11 21:24] juliushaertl commented on #244
See https://github.com/nextcloud/deck/issues/205 :wink:

[2017-07-11 21:24] #244 closed

[2017-07-12 02:31] 9662 commented on #109
Yes, I actually consider that a feature and have used it in that way. E.g., you can mention something in a card while pointing to sensitive details in a file with more restrictive permissions.

The Notes app commandeers a directory ("Notes/") in the user's home dir, where notes are stored. If file uploads are deemed necessary from within Deck, it could possibly follow a similar approach.

One thin

[2017-07-12 02:40] 9662 commented on #256
On second thought, maybe this should be considered at a higher level in NC? After all, the same problem is evident in other applications, e.g., if viewing a given director and a file is uploaded to / deleted from it, the changes are not reflected until a manual refresh. Same with contacts, calendar...

A generic update framework (piggybacking on notifications?) might make sense, or not? I am not f

[2017-07-12 05:01] pixelipo commented on #256
Why not use Activity app instead? We could log changes to boards there and notify current user in case a shared board has been updated

[2017-07-12 07:54] pixelipo commented on #21
Fixed in #219

[2017-07-12 07:54] #21 closed

[2017-07-12 10:00] pixelipo commented on #205
I can take care of this task, however, I think it should be done at nextcloud/server level, so I created issue nextcloud/server#5691

[2017-07-12 10:12] 9662 commented on #256
To confirm, would the following user story accurately describe your suggestion?

“As a user having a board open on a browser page, when that board is updated from a different session, I should receive a conspicuous but non-intrusive notification that the board's state has changed.”

[2017-07-12 15:35] jancborchardt opened #257 "Card can not be dragged to empty stack"
### Steps to reproduce
1. Have a stack »To do«, »Doing« and »Done«
2. Add a bunch of cards to your »To do« stack
3. Start a task and try moving it to »Doing«

### Expected behaviour
It works, you can drag onto the stack column even though it’s empty.

### Actual behaviour
It does not work. You need to have at least one card in a stack so it becomes a drag target.

Marking this as high since this i

[2017-07-12 16:02] pixelipo commented on #257
Definitely a duplicate. There's a PR to be merged as well

[2017-07-13 00:37] 9662 commented on #257
#235 to be precise. #238 for the merge request I guess.

[2017-07-13 09:36] jancborchardt commented on #257
Sorry! :) Closing in favor of the ones @9662 mentioned.

[2017-07-13 09:36] #257 closed

[2017-07-13 09:38] jancborchardt commented on #244
:D Damn, sorry … should search or look through the other issues. Was sitting next to a user and had to keep up with some of the detail issues coming up. ;)

[2017-07-14 21:46] Spacebjorn opened #259 "Add undelete to stack [$10]"
Adding undelete to stack or at least a verification if the person is sure to delete a stack. happened to my org. that someone accidentally deleted a stack and it's too bad there's no way of getting it back or at least have a prompter to verify it.

Keep up the great work on the Deck. it's amazing!

<bountysource-plugin>

---
There is a **[$10 open bounty](https://www.bountysource.com/issues/472527

[2017-07-15 11:39] jancborchardt opened #260 "Headings don't follow core rules"
Currently the text of all cards and stack headings is bold. In Nextcloud we always use normal (that is Open Sans Light) and bold only sparingly lile for clickable elements, usernames etc.

I'd recommend we change the font-weight to normal. Bold could be used for certain cases, for example to highlight a card when its sidebar is open.

<bountysource-plugin>

---
Want to back this issue? **[Post a b

[2017-07-15 12:04] jancborchardt opened #261 ""Add a card description" in sidebar has to be clicked twice"
In addition to the placeholder of the field "Enter your description here" there is text in it before clicking "Add a card description".

You need to click the field to make the text vanish, but the field doesnt get focused. So you need to click it again. The first text should not be there.

(Also, the better wording is "Add a detailed description …" - things like "Enter here" or "Click here" are a

[2017-07-15 12:53] jancborchardt opened #262 "Use of snap.js in desktop view makes right sidebar disappear/glitch if you select text in the sidebar"
If you drag-select text with your cursor from left to right in the sidebar, say from the description, it will prompt snap.js of the left navigation to move the content to the right, leading the right sidebar to disappear.

That's one reason why we don't use snap.js on desktop, only on mobile. ;)

We should probably fix this in core, but as Deck right now is the only app which overrides the mobile

[2017-07-17 19:02] djibux opened #263 "Allow searching for tags"
### Steps to reproduce
1. Assign a tag called "Test" to a task not containing the word "Test"
2. Search for "Test"

### Expected behaviour
#### Minimal
The task should appear.
#### Ideal
I also think there should be a way to search exclusively for tags.  For instance "tag:Test" should only match tasks containing the tag "Test".  A task called "Test" but without tag shouldn't be in the search resul

[2017-07-18 12:24] githubkoma opened #264 "Feature Request: Subtasks"
Dear juliushaertl and others,
thanks for this wonderful app!

Subtasks would be really great, especially if there content would be display on the task directly (and can be collapsed). This is an example picture according to kanbanflow.com:

![image pasted at 2017-7-18 14-08](https://user-images.githubusercontent.com/5107805/28316753-5d518184-6bc4-11e7-8419-50cfbc0121cf.png)

<bountysource-plugin>

[2017-07-18 14:39] pixelipo commented on #264
Thanks for your input!

We plan to support Github-style checkboxes in card description - see #53

I don't think we'll display them as prominently as in your screen shot, but a count (e.g. 5/11) would be nice.

[2017-07-20 03:08] jacestk opened #265 "IE11 angularJS bugs (I have patched already, the solution is inside)"
Sorry for the "unusual" way of this post, but PLEASE juste make **style** like this (for example in part.board.mainwiew.php). it will take you 5 mins to patch all files....

ng-style="{ 'background-color' : '#{{boardservice.getCurrent().color}}' , 'color' : '#{{boardservice.getCurrent().color | textColorFilter}}' }"

INSTEAD OF

style="background-color: #{{boardservice.getCurrent().color }}; color

[2017-07-20 08:01] swalladge opened #266 "Can't drag and drop card to empty stack"
### Steps to reproduce
1. create a new deck
2. create two new stacks
3. create a new card on one stack
4. attempt to drag and drop the card to the other stack

### Expected behaviour

The card should move from the original stack to the other stack when dropped.

### Actual behaviour

Nothing. The card returns to the original stack. Impossible to drag it across.

Note that it works fine for me when

[2017-07-20 08:02] pixelipo commented on #265
Hi @jacestk

Thanks for your report. It would be great if you could post some screenshots, so we can see what the bug looks like and whether a PR fixes it.

By the way, feel free to create a pull request with the changes you mentioned - we can then review and merge it.

[2017-07-20 09:09] jacestk commented on #265
Here they are. You can see the version from the github source, and nexto the version I've patched using ng-style.
![bug1](https://user-images.githubusercontent.com/1270552/28409701-6de61d82-6d4c-11e7-8a9f-f080b3f34a03.png)
![bug2](https://user-images.githubusercontent.com/1270552/28409702-6deb838a-6d4c-11e7-9054-067af77fdca1.png)

I can send you the five php files patched from /template if you wan

[2017-07-20 09:34] jacestk commented on #265
[my commit](https://github.com/jacestk/deck/commit/ca52ebd4de1933a3293457c0b76730dc507c59ab)

[2017-07-20 13:20] arendtio commented on #266
I can confirm the bug. I think this is a regression introduced with the 0.2.1 update.

[2017-07-20 17:41] juliushaertl commented on #266
Duplicate of #257
I'll try to release a new bugfix release over the weekend. Thanks for reporting anyways @swalladge

[2017-07-20 17:41] #266 closed

[2017-07-20 17:42] juliushaertl commented on #265
@jacestk Changes look good. Can you open a pull request against this repo, so we can easily review and merge the changes? See https://help.github.com/articles/creating-a-pull-request/ if you need more details on how to do that.

[2017-07-21 07:21] mayanksuman opened #268 "card do not move to empty stack"
### Steps to reproduce
1. Open Deck in Nextcloud
2. Make a new empty stack in a board.
3. Try to move (drag and drop) card from one stack to empty stack

### Expected behaviour
The card should move to new empty stack

### Actual behaviour
Card do not move to empty stack. However, it can move to any non-empty stack.

### Server configuration
**Operating system**: Linux MS_server 4.9.37-v7+ #1017 SM

[2017-07-21 07:29] pixelipo commented on #268
Please search issues before creating a new one. This is a duplicate of #257

[2017-07-21 07:29] #268 closed

[2017-07-21 09:40] pixelipo commented on #260
@jancborchardt I've renamed this issue to address wider set of changes required to adhere to global styleguide:

- [ ] board title should be `<h2>` (because `<h1>` should be reserved for the (hidden) app title element
- [ ] sidebar header title should be `<h3>`
- [ ] stack title should be `<h3>`
- [ ] card title should be `<h4>` - core has no rules for this, so we might need to figure something ou

[2017-07-23 20:41] MorrisJobke commented on #205
Fixed in https://github.com/nextcloud/server/pull/5713

[2017-07-23 20:41] #205 closed

[2017-07-24 08:07] juliushaertl commented on #205
@pixelipo @jancborchardt  Great work :tada:

[2017-07-26 08:08] grandmastermoo opened #269 "Invalid Date"
### Steps to reproduce
1. Change system date format to European

### Expected behaviour
Deck displays correct date on preview tiles no matter what regional settings are used.

### Actual behaviour
Tiles display "Invalid date"

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47614180-invalid-date?utm_campaign=plugin&utm_content=tracke

[2017-07-26 08:08] mikedolx opened #270 "style.css not generated automatically in Docker installation"
Hi,

I'm currently facing an issue with the deck app on my nextcloud 12 instance. How can i explain? The entire app gui seems to me broken. Please take a look at the screenshots attached:

I can barely view my boards and i'm unable to edit them.

The nextcloud server version is 12.0 beta 1.

The deck app version is 0.2.1.

I am running nextcloud within a docker container from [this image](https://

[2017-07-26 11:34] juliushaertl commented on #270
Thanks for your report. Please consider updating your Nextcloud to a stable release like 12.0.0 since beta releases are not supported. It would also be helpful if you could fill out the issue template on your nextcloud server configuration.

[2017-07-26 11:35] juliushaertl commented on #269
duplicate of #240

[2017-07-26 11:35] #269 closed

[2017-07-27 07:01] juliushaertl commented on #264
Yep, basically a duplicate of #53

[2017-07-27 07:01] #264 closed

[2017-07-27 07:05] juliushaertl commented on #262
cc @artemanufrij Since you already had a more detailed look to the snap.js stuff in https://github.com/nextcloud/deck/pull/190

I remember I also experienced some weird dragging behavior that shows the sidebar on mobile, but I'm not sure if that was in one of the other apps or related to deck. I need to check that again.

[2017-07-27 07:09] juliushaertl commented on #261
I cannot reproduce here on chromium, but I see that the two different descriptions need to change. Add a detailed description makes sense to me. It sould also have the same style as the placeholder text.

[2017-07-27 08:38] mikedolx commented on #270
### Steps to reproduce
1. login to nextcloud instance
2. open the deck app

### Expected behaviour
I can see my decks and edit them

### Actual behaviour
the deck view / gui seems to be corrupted. I am not able to edit and modify my decks

### Server configuration
**Operating system**: Linux e7ec1aa8a3e7 3.10.102 #15152 SMP Thu Jul 13 04:19:29 CST 2017 x86_64 (docker container running on a Synolog

[2017-07-27 16:58] mikedolx commented on #270
I pulled the latest stable 12.0.0.0 right now, and retried the deck app. I still have the same issue. I even deactivated the deck app and reactivated it. I still have the "corrupted" view.

[2017-07-27 20:36] nrgeen commented on #270
Hey, since the change to scss I have unfortunately the same problem.
In my logs the following error message is displayed:
![unbenannt](https://user-images.githubusercontent.com/7750335/28690987-92349144-731b-11e7-9cc2-e446720522dd.png)
BTW: I use Nextcloud with the docker-image by wonderfall.

[2017-07-28 09:36] mikedolx commented on #270
I checked my logs, and i found the same error.

![grafik](https://user-images.githubusercontent.com/15738117/28711736-f7e4ccb2-7388-11e7-9308-fb2aa40f13f4.png)

[2017-07-28 10:00] pixelipo commented on #270
I think the problem might be container installation. CSS file is not automatically generated so you need run 'make' command in the Deck app (inside Docker).

[2017-07-28 10:11] mikedolx commented on #270
@pixelipo Can you provide a more specific command? How can i make "CSS file"? I would like to try that within my container.

Thanks

[2017-07-28 10:19] pixelipo commented on #270
linux command `make` compiles all the files from vendor repos as well as generate a CSS file out of the existing SCSS. You need to be inside the folder of the deck app (e.g. nextcloud/apps/deck/) when you run it and you need to have all the dependencies satisfied within docker (make, which, tar, npm, curl).

Did you install Deck app from "Apps" menu in Nextcloud or using git? If former, it might b

[2017-07-28 11:55] mikedolx commented on #270
I downloaded the deck app from the "Apps" menu.

It might be possible to run make within the container. I would check that on my test instance.

Is it possible to download the precompiled CSS somewhere?

Can I download/patch the deck app from the github's master?
I once wrote a script to download the gallery app from git and patch it within the container. Maybe I could adapt that script.

[2017-07-28 14:13] juliushaertl commented on #270
Ah I remember. This is a duplicate of https://github.com/nextcloud/deck/issues/231

It basically is a Nextcloud but that should be fixed once 12.0.1 is released.

[2017-07-28 14:13] #270 closed

[2017-07-28 23:46] srbaker commented on #83
Alright, it's actually moving. Lovely vacation project.

https://github.com/srbaker/deck/tree/add-json-api

I'd like help with the following:

1. I'm really struggling by not doing this test-first, because that's my habit. I'm using `curl` manually as a temporary solution: When I run `make test` from my `deck` checkout, I get:
[code]

2. I'd really like feedback on codestyle, patterns I'm missing,

[2017-07-29 08:48] juliushaertl commented on #83
The unit tests require the deck directory to be inside of the apps folder of a nextcloud installation. So you need to clone nextcloud/server and then put the deck app inside apps/ for the unit tests to run. Symlinking should also work fine, in case you want to keep the repo at its original position.

From a quick look I had it already looks quite good, feel free to open a WIP pull request to the d

[2017-07-29 14:45] srbaker commented on #83
Thanks for your quick response. I'll spend some more time on this tonight and tomorrow evening, and get the basics in place. Cheers!

[2017-08-02 12:48] rkantos opened #272 "Dependencies (parent/child) card management"
I've always wanted a kanban board like Trello to have dependencies for cards, e.g. where you can set parents/children for cards. Meanwhile I'm just using Parent/Child Management by Handsome. It works ok. Trello now actually has this feature as a power-up: https://helloepics.com/ However for my usage the pricing is a bit steep (195$ for 5 members for 1 year...). I would like such feature added to d

[2017-08-04 11:58] juliushaertl opened #274 "Tests broken on master"
[code]

[code]

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/47931607-tests-broken-on-master?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=g

[2017-08-05 07:14] ChristophWurst commented on #237
I just got the same error when I switched branches of the nextcloud server (master to https://github.com/nextcloud/server/pull/5585). Maybe @nickvergessen knows more about this issue, it could be related to the new migrations mechnism.

[2017-08-05 07:18] ChristophWurst commented on #237
Tracked down the exception to this code snippet: https://github.com/nextcloud/server/blob/21f2fe5cb97985596879032d1191612cab31b9d5/lib/private/Repair/Owncloud/SaveAccountsTableData.php#L90-L93

[2017-08-06 10:05] artemanufrij commented on #261
I can't reproduce it. It works fine on my system. Tested on Chromium, Chrome, Epiphany...

[2017-08-06 10:53] e-alfred commented on #15
Would a Deck webdav endpoint be automatically added to the Calendar/Tasks app or do users have to manually add them?

[2017-08-07 08:30] nickvergessen commented on #237
https://github.com/nextcloud/server/pull/6001

Would have been nice someone created the issue in the server repo like a month ago...

[2017-08-07 11:15] e-alfred commented on #156
I can't move a card to an empty stack. No rectangle is shown by hovering a card over the stack like in stacks with at least one card.

[2017-08-08 08:32] juliushaertl commented on #274
Fixed by #275

[2017-08-08 08:32] #274 closed

[2017-08-08 10:37] juliushaertl commented on #235
Fixed with #238

[2017-08-08 10:37] #235 closed

[2017-08-08 11:02] juliushaertl commented on #239
Fixed with https://github.com/nextcloud/deck/issues/258

[2017-08-08 11:02] #239 closed

[2017-08-08 11:02] juliushaertl commented on #227
Fixed with #234

[2017-08-08 11:02] #227 closed

[2017-08-08 14:11] #247 closed

[2017-08-08 18:29] #261 closed

[2017-08-08 20:12] #240 closed

[2017-08-08 20:17] juliushaertl commented on #241
related to https://github.com/nextcloud/deck/issues/262

[2017-08-08 21:12] jancborchardt commented on #237
@nickvergessen had no idea this was an issue in the server. :) "Would have" also been nice if more people try out Deck. ;)

[2017-08-08 21:26] jancborchardt commented on #260
Yep, seems good. And yeah, I agree we need a h4 style. :)

[2017-08-09 08:29] DiGGeR2 opened #279 "Sidebar is out of place when jsxc panel is visible"
### Steps to reproduce
1. Open deck App
2. Open or close chat tab

### Expected behaviour
A clean app visual when chat tab is open or closed

### Actual behaviour
If chat tab is oppenned when I open Deck, i cannot close the task property tab
If chat tab is closed when I open Deck and then I open chat tab, the refresh is very poor

<bountysource-plugin>

---
Want to back this issue? **[Post a bount

[2017-08-10 08:44] juliushaertl commented on #279
@DiGGeR2

What chat tabs are you refering to? The jsxc app?

[2017-08-10 09:11] DiGGeR2 commented on #279
YesLe 10 août 2017 10:44 AM, Julius Härtl <notifications@github.com> a écrit :@DiGGeR2
What chat tabs are you refering to? The jsxc app?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-10 10:35] ferdiga opened #281 "can not move card to empty stack"
### Steps to reproduce
1. create some stacks
2. add cards to ONE stack
3. try to move one card to an empty stack

### Expected behaviour
move to the destination location

### Actual behaviour
Does not move, jumps back to the original location
on desktop and android
missing space with dotted line to palac the card

### General server configuration

**Operating system:** Linux service.chricar.at 3.1

[2017-08-10 10:47] juliushaertl commented on #281
Thanks for your report. This is a duplicate of #257 and has already been fixed on master. A new version will be there in the next few days. :wink:

[2017-08-10 10:47] #281 closed

[2017-08-10 10:56] ferdiga opened #282 "search should search all projects if on top level"
### Steps to reproduce
1. create projects and cards
2. show all projects
3. search for card text

### Expected behaviour
the project and card should be displayed
it's cumbersome  to search all projects, especially if a card is misplaced in a wrong project.

### Actual behaviour
nothing is deisplayed

### General server configuration

**Operating system:** Linux service.chricar.at 3.16.0-4-amd64 #1

[2017-08-10 11:07] ferdiga opened #283 "start & end dates missing"
### Steps to reproduce
1. create card
2. want to add a date
3.

### Expected behaviour
find a field to enter date start/end

### Actual behaviour
no fields

### General server configuration

**Operating system:** Linux service.chricar.at 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2+deb8u2 (2017-06-26) x86_64

**Web server:** Apache/2.4.10 (Debian) (apache2handler)

**Database:** mysql 10.0.30

**PHP ver

[2017-08-11 11:01] 9662 commented on #251
This feature should probably be tested for (absence of) interference with card drag & drop, especially on small form-factor devices.

[2017-08-11 12:41] juliushaertl commented on #283
Regression caused by #273

[2017-08-11 12:48] juliushaertl opened #286 "Search improvements"
The search currently just filters cards on the current board by title. This issue summarizes search improvements we should have in the future:

- Searching should work globally if the users is on the #282
- Allow searching by tags #263
- Allow searching full text in the card description
- Sort by last modified date

Probably having a simple search syntax similar to the one on github might be good,

[2017-08-11 12:49] juliushaertl commented on #282
Thanks for your feature request. I summarized the search improvements in https://github.com/nextcloud/deck/issues/286

Let's continue there.

[2017-08-11 12:49] #282 closed

[2017-08-11 12:49] juliushaertl commented on #263
Thanks for your feature request. I summarized the search improvements in https://github.com/nextcloud/deck/issues/286

Let's continue there.

[2017-08-11 12:49] #263 closed

[2017-08-11 13:00] ferdiga commented on #286
just my 2c
the github search syntax is perfect for developers, but a no go for end users, especially on mobile devices

[2017-08-11 13:33] juliushaertl commented on #286
@ferdiga good point, fuzzy search should of course work as well, but the advanced syntax would allow to specifiy that without the need of an additional user interface to specify search conditions.

Trello also has some nice search syntax where you can use `@exampleusername` to search for users or `#tagname` to search for a tag: http://help.trello.com/article/808-searching-for-cards-all-boards

[2017-08-12 01:54] bodangren opened #287 "Tags on shared boards can be blank or white-on-white"
### Steps to reproduce (Can't identify the cause yet, so not reproducible.
1. User1 shares board with User2
2. Create text labels with colors and assign then to cards
3. User2 has "invisible" labels, white with white text and only the "remove" x visible.

### Expected behaviour
Label colors and text should be consistent for all users of the board

### Actual behaviour
Labels are sometimes unavaila

[2017-08-15 15:24] OlivierAlves opened #288 "Drag and drop from on stack to another (empty one) doesn't work"
### Steps to reproduce
1. Create a new board
2. Create 2 stacks
3. Create a new item in stack 1
4. Attempt to drag newly created item to stack 2 (when stack two is empty)
5. It is impossible to drag the item to the other stack

### Expected behaviour
When I drag an item to an empty stack and drop it there, it should stay in that second stack

### Actual behaviour
When I drag an item to the second

[2017-08-16 10:04] alirasol opened #289 "Allow filtering for tags"
### Steps to reproduce
1. An option to show jobs according to lables.

### Expected behaviour
When having many jobs in many orders that take some time to be done! there should be an option to view the unfinshed labels so it is easier to know what is to review and do it.

### Actual behaviour
no options

### My issue
I work in a car body shop, and I create a board for every day of the week and a st

[2017-08-17 07:32] mithodin commented on #288
I also have this issue with the latest Deck (0.2.1) and Nextcloud (12.0.2) version.

[2017-08-18 14:52] salulo commented on #288
Jepp, same here - Deck (0.2.1) and Nextcloud (12.0.2)

[2017-08-21 01:21] rebeccaformfx commented on #288
me too (added a reaction!) However, I will add that once I start a drag from a single-card stack, it won't let me drag it back.  So it seems that once the stack is styled as "empty" we permanently lose the element that allows the card to drag back to its original position.

[2017-08-21 02:31] rebeccaformfx opened #290 "Boards do not auto-size to contents"
Experimenting with the UI with my build and it seems as though the two boards auto-size to one another (I am styling the `.stack` element in my designs with a lighter grey color)  This seems like a sub-par visual experience.  The boards should wrap to their own contents and create a skyline of different heights.

<img width="731" alt="screen shot 2017-08-20 at 10 24 27 pm" src="https://user-images

[2017-08-22 21:44] janibonnevier commented on #288
#238 #235 #257

[2017-08-26 16:12] juliushaertl commented on #289
Yes, that would ne nice to have. Might also be related to a search for specific tags as described in https://github.com/nextcloud/deck/issues/286

[2017-08-26 16:13] juliushaertl commented on #288
As @janibonnevier said, this is a duplicate and will be fixed in the next release.

If anyone wants to help, there are two open pull requests that need some testing/review for 0.2.2 If they are merged I will release a new version.

[2017-08-26 16:14] #288 closed

[2017-08-26 16:16] juliushaertl commented on #287
I cannot reproduce this here. Did you change the permissions for the shared user or is  it just on sharing by default?

[2017-08-26 16:19] juliushaertl commented on #290
@rebeccaformfx Yes, that makes sense to me. If you want to open a pull request to fix, that would be awesome.

[2017-09-01 09:32] armaccloud opened #292 "Drag 'n Drop to empty stack not working"
### Steps to reproduce
1.Create a new board
2.Add three stacks (e.g. Todo, In Progress, Completed)
3.Add an item to the ToDo stack
4. Drag 'n Drop the item from ToDo to In Progress

### Expected behaviour
There is a location where the item can be dropped, so it's transferred to the In Progress stack

### Actual behaviour
There should be a place where the item can be dropped onto the In Progress st

[2017-09-01 13:22] juliushaertl commented on #292
Duplicate of #235

[2017-09-01 13:22] #292 closed

[2017-09-01 14:20] #283 closed

[2017-09-01 14:21] #262 closed

[2017-09-01 20:21] juliushaertl opened #293 "Button to delete stacks is missing"
Something is wrong with the hover zone so the button to delete stacks is inaccessible.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/48899830-button-to-delete-stacks-is-missing?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2017-09-02 22:28] protocol6 commented on #249
I would second this request!!!
I'm looking for a Kanban workflow that is more trello/jira-like in that tasks migrate from one stack to another ("to do" stack --> "in progress" stack --> "done" stack" )
Currently Deck doesn't seem to support that. (Together with that I'd want to use custom labels)

[2017-09-03 08:01] juliushaertl commented on #249
Moving inside a board is already supported.

You can also specify your own labels in the board settings. The default ones can also be changed per board.

[2017-09-03 18:29] protocol6 commented on #249
Thanks for this info!
Also, should it be possible to move cards (horizontally) between stacks on a board?
It doesn't work for me, but maybe I'm missing something. would not be the first time. :-)

[2017-09-04 11:04] juliushaertl commented on #249
Yes that is also possible. :wink: if it doesn't work for you please open a separate issue for that.

[2017-09-05 02:57] MuhammadShaban commented on #202
any new news

[2017-09-07 07:52] avkoch opened #294 "Unable to drag cards into empty stack"
### Steps to reproduce
1. Create new deck
2. Create two stacks
3. Add card to one stack
4. Drag card to empty stack

### Expected behaviour
Card should be placed into another stack

### Actual behaviour
Card stays in its stack. The dotted rectangle appears in the and doesn't appear in the empty stack. Only if I create in empty stack dummy card I can drag in cards from another stacks.

### General

[2017-09-07 11:05] juliushaertl commented on #294
Duplicate of #235

I've just release 0.2.2 which includes the fix for this issue.

[2017-09-07 11:05] #294 closed

[2017-09-07 11:36] tbalthazar opened #295 "Cannot share a deck with a group"
### Steps to reproduce
1. Create a deck
2. Click on details → share
3. From the share list, select a group

### Expected behaviour
The deck should be shared with all members of the selected group, a group icon should be shown.

### Actual behaviour
No group icon is shown.
![deck-sharing](https://user-images.githubusercontent.com/3520/30161502-1fef3022-93d1-11e7-9b2b-6a9e369a68a7.png)

People in th

[2017-09-07 11:48] juliushaertl commented on #295
@tbalthazar Thanks for your report. I cannot reproduce this issue here. Which version of Deck are you running? Are there any errors in the browser console? Also the output of the network tab in your browsers developer tools would help here.

[2017-09-07 11:58] tbalthazar commented on #295
@juliushaertl I use Deck 0.2.2.
The JS console just says:
`JQMIGRATE: Migrate is installed, version 1.4.0`. I exported the Network console as a HAR file, hope that helps.
[Archive 17-09-07 13-55-17.har.tar.gz](https://github.com/nextcloud/deck/files/1284556/Archive.17-09-07.13-55-17.har.tar.gz)

Please let me know if you need anything else.

[2017-09-07 12:19] tbalthazar commented on #295
So in my console, there's not much to see since. I can see the decks (since I created them I guess).

Here are screenshots of the console of a coworker who cannot see the decks.
![error-2](https://user-images.githubusercontent.com/3520/30163011-7d3af378-93d7-11e7-9bfa-43eb860ea468.png)
![error-1](https://user-images.githubusercontent.com/3520/30163010-7d37ccde-93d7-11e7-9207-c44f29f39a47.png)

[2017-09-07 12:48] juliushaertl commented on #295
@tbalthazar Thanks. I could reproduce this and it is only related to instances using a postgresql database. I've created a patch to fix this at https://github.com/nextcloud/deck/pull/296. It would be great if you could help and test it.

[2017-09-07 12:51] juliushaertl opened #297 "Move permission type to integer value"
The backend code already uses the following integer types for board permissions:

[code]

The frontend code should be migrated to use them as well instead of the current strings "user" and "group".

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49082816-move-permission-type-to-integer-value?utm_campaign=plugin&utm_content=tracker%2

[2017-09-07 12:53] tbalthazar commented on #295
@juliushaertl Thanks a lot, will give the patch a try later today or tomorrow and ping you with the results!

[2017-09-07 13:26] #196 closed

[2017-09-07 15:34] tbalthazar commented on #295
@juliushaertl I followed the [instructions to install with git](https://github.com/nextcloud/deck#install-from-git), as root, I did:
[code]
got the following errors:
https://gist.github.com/tbalthazar/1debacaa6e6a7ae51729bd0575f01364

npm 5.3.0 is installed.
Did I do something wrong?
Thanks.

[2017-09-07 19:03] juliushaertl commented on #295
Looks similar to: https://github.com/sass/node-sass/issues/1847#issuecomment-269846852

Can you try going to the js directory and run: `npm install --unsafe-perm`. After that run `make` in the deck root.

Otherwise you can also just apply the pull request patch to the tarball from the app store, since it is an PHP-only change: https://patch-diff.githubusercontent.com/raw/nextcloud/deck/pull/296.pa

[2017-09-07 21:52] tbalthazar commented on #295
@juliushaertl I manually applied the patch and it works, thanks a lot for your super quick answer and awesome work!

[2017-09-07 21:57] #295 closed

[2017-09-10 14:59] joeheaven opened #298 "Move cards to empty stacks"
### Steps to reproduce
1. Create two stacks, e.g. "ToDo" and "Done", both will be empty at start
2. Create a card in "ToDo", e.g. "Report issue to Deck at Github"
3. Move card to "Done" stack to finisch task

### Expected behaviour
The card will be placed in the stack "Done"

### Actual behaviour
No "landing" zone is shown in empty stack. If the stack already has some cards, everythings works as e

[2017-09-10 15:13] joeheaven commented on #298
I'm sorry, I just saw that this was already mentioned several times. However, this is still not working in 0.2.2 released this week, so I cannot understand that all duplicates are closed.
But again, sorry for not commenting the original issues.

[2017-09-10 15:21] joeheaven commented on #298
Now it's a sorry² since I updated the app, but did not reload in other browser. I confirm that everythings works now as expected in 0.2.2.
Thanks a lot!
Please close my wrong issue.

[2017-09-11 04:55] #298 closed

[2017-09-11 10:23] terrar commented on #11
I also would like to have this feature.
Are there any news in this regard?

[2017-09-11 10:35] BennyLi commented on #46
I was looking for keyboard shortcuts for the deck app and found this issue. I also found nextcloud/server#1444

So maybe you could contribute there too.

Just to mention it: I'm very familiar with Vim keybindings. Google uses these in there web apps too. I would prefer these type of keybindings.

[2017-09-12 06:52] jancborchardt commented on #11
@terrar in that case you can donate towards the Bounty :) https://www.bountysource.com/issues/41551169-assign-users-to-cards?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github

[2017-09-12 08:29] terrar commented on #293
Is there an other way to delete stacks until this issue is solved?

[2017-09-14 08:29] callmemagnus opened #302 "Paste in the description closes edition mode without the pasted content"
### Steps to reproduce
1. Create a task
2. open it on the right side panel
3. click to edit the description
4. Type something and then try to paste with Ctrl-v

### Expected behaviour
I should be able to continue editing the description.
I expect the Ctrl-v to work as the right-click->paste menu in my browser.

### Actual behaviour
The description field is not editable anymore and the content of t

[2017-09-15 06:44] juliushaertl commented on #302
@callmemagnus Thanks for your bug report. I currently cannot reproduce this issue on FF55 here.

That is not happening on my instance. Are you running  the latest version of deck?

[2017-09-15 15:38] KTim21 opened #303 "Stylesheet file is empty"
The stylesheet file "css/deck/57f719b4d9d986f7eb77518be895068e-style.css" is empty. Deck is not usable.

### General server configuration

**Operating system:** Linux aktiv 4.4.0-83-generic #106-Ubuntu SMP Mon Jun 26 17:54:43 UTC 2017 x86_64

**Web server:** Apache/2.4.18 (Ubuntu) (apache2handler)

**Database:** mysql 5.7.19

**PHP version:** 7.0.22-0ubuntu0.16.04.1
<details>
        <summary>PHP-

[2017-09-16 13:55] #293 closed

[2017-09-16 13:55] #290 closed

[2017-09-18 13:36] juliushaertl commented on #303
Looks like some recent issues with scss generation in server. Can you check if the issue still exists with NC 12.0.3? The RC is already out for testing.

[2017-09-20 13:05] KTim21 commented on #303
yes, fixed with 12.0.3

[2017-09-20 15:22] #303 closed

[2017-09-21 09:14] callmemagnus commented on #302
Tested again with the following setup:
FF 55.0.2 on linux
nextcloud: 12.0.2
deck: 0.2.2

Still unable to paste with Ctrl-V in the description field.

![image](https://user-images.githubusercontent.com/232478/30688261-f33b3ccc-9ebd-11e7-86ee-ec4d8ca1c0d2.png)

[2017-09-24 09:50] poVoq commented on #134
There has been a recent update to the really nice twproject gantt chart system, see:
https://roberto.open-lab.com/2017/04/05/new-gantt-editor-release-the-best-ever/
https://github.com/robicch/jQueryGantt
would be probably the best solution to add this.

[2017-09-24 09:55] poVoq commented on #12
Wouldn't a personalized start screen make sense once this is implemented?
https://github.com/nextcloud/deck/issues/11
Kind of like a dashboard of the latest cards and decks that you are contributing to.

[2017-09-26 15:34] reginasipos opened #306 "Ability to save tag changes with enter"
### Steps to reproduce
1. change name or color of a tag
2. try to save it with enter

### Expected behaviour
Saving via enter should work for consistency, like with other functionalities

### Actual behaviour
Only check mark saves currently

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49753265-ability-to-save-tag-changes-with-ent

[2017-09-26 15:43] jancborchardt opened #307 "Dragging cards is strange when one stack is tall and others aren’t"
### Steps to reproduce
1. Have one really tall stack
2.Scroll down
3. Try to drag a card from down there to one of the other stacks

### Expected behaviour
The whole height of the other stacks is a drop target, and you can just move it a bit to the side.

### Actual behaviour
You get no feedback, and need to drag the card all the way up and then move it into the stack.

<bountysource-plugin>

---

[2017-09-28 14:43] icewind1991 opened #308 "Document title doesn't update when renaming active board"
Steps to reproduce

1. Create a board "Foo"
2. Set "Foo" as active board
3. Rename "Foo" to "Bar"

Expected behavior

The document title changes from "Foo | Deck - Nextcloud" to "Bar | Deck - Nextcloud"

Actual behavior

The document title stays at "Foo | Deck - Nextcloud"

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49837833-doc

[2017-09-28 15:42] juliushaertl commented on #11
I already started implementing this, so this will be next after notifications are implemented.

[2017-09-29 20:10] juliushaertl opened #311 "Card action menu is not accessible"
![bildschirmfoto vom 2017-09-29 22-09-11](https://user-images.githubusercontent.com/3404133/31034134-03b836f8-a563-11e7-987d-ec01fe2bbe49.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/49892175-card-action-menu-is-not-accessible?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept

[2017-10-01 16:09] ossie commented on #11
Have just seen that you started implementing this feature. I had also started my try on it two weeks ago...

[2017-10-01 21:37] adioe3 commented on #297
I'd like to take this

[2017-10-02 09:17] juliushaertl commented on #297
@adioe3 Great to hear that, feel free to ask if you have any questions when implementing.

[2017-10-02 09:22] juliushaertl commented on #11
@ossie I'm sorry about that we have done duplicate work now. It is the best if you just leave a message on an issue that you want to implement, then others can immediately see that someone else is already working on it.

[2017-10-02 09:28] ossie commented on #11
@juliushaertl Yeah, I'll keep that in mind for the next time.

[2017-10-02 16:21] jancborchardt commented on #11
@ossie maybe look into some other issues or features? :) Contributions are always appreciated.

[2017-10-03 13:26] juliushaertl commented on #311
backported to stable-0.2 with 4e4d412

[2017-10-03 13:26] #311 closed

[2017-10-03 16:44] juliushaertl opened #315 "App navigation is broken on NC 13"
https://github.com/nextcloud/server/pull/6399

Let's wait for https://github.com/nextcloud/documentation/pull/565 to see how we should implement it.

- [ ] Board editing not working
- [ ] Adding boards not working

We may also need a fallback for NC11/12

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50014461-app-navigation-is-brok

[2017-10-03 20:58] Jab2870 opened #317 "Card overflow scrolling for action menu"
### Steps to reproduce
1. Create a board and add a card
2. click on the three dots to open the action menu

### Expected behaviour
The menu should not be constrained by the cards outline

### Actual behaviour
Scrollbars are added to the card

![screenshot_2017-10-03_21-53-08](https://user-images.githubusercontent.com/1909202/31148764-a5d00266-a885-11e7-8594-6d62cd46a1b7.png)

### General server co

[2017-10-03 21:01] juliushaertl commented on #317
Duplicate of #311 A bugfix release will be out at the end of the week. 😉

[2017-10-03 21:01] #317 closed

[2017-10-03 21:03] Jab2870 commented on #317
@juliushaertl Thanks,
My mistake for only searching open issues

[2017-10-03 21:11] juliushaertl commented on #317
No problem. Thanks for reporting anyway. :+1:

[2017-10-04 09:51] NinaNC opened #318 "Menu of a card is opened inside the box of the card"
When you open the menu in a card, it's opened inside the box of the card.

### Steps to reproduce
1. Create a card in a column
2. Click the menu (the 3 dots inside the card)
3. you need to scroll to see it

### Expected behaviour
The menu should overlap the box

### Actual behaviour
The menu is opened inside the card

<a target="_blank" href="http://www.hostingpics.net" title="Hebergeur d'image"><

[2017-10-04 10:55] juliushaertl commented on #318
Thanks for reporting. This is a duplicate of #311 I'll do a bugfix release at the end of the week.

[2017-10-04 11:23] #318 closed

[2017-10-04 11:48] NinaNC commented on #318
Oh, sorry, I looked for a similar issue but missed #311 apparently

[2017-10-06 19:26] art2crazy commented on #202
That's something I'd love to see, right now only way to include an image is to have it somewhere available through http link `![Image](http://....jpg)`, but that doesn't work for pics uploaded to the NC with Share links, it can only be included inline as link `[link](http://... )`

[2017-10-07 12:10] MikeDabrowski opened #319 "Context menu dropdown on card opens 'behind' card"
### Steps to reproduce
1. Create deck, add at least one card
2. Click 3 dots on card
3. Dropdown (archive,delete) appears hidden an have to scroll to see it

### Expected behaviour
Tell us what should happen
Use something like appendTo="body" so that dropdown would appear on top of eveerything or at least card.

### Actual behaviour
Dropdown appears hidden belowe card an have to scroll to see it

[2017-10-07 19:20] rallek commented on #252
I have to confirm this issue.
I do have 0.2.3 on NC12.03 installed.
After creating some cards with lables the own defined lables are disappearing after reloading browser page.

First I thought this happens only with the own created lables. But after a while of trying this and that suddenly the own created lables are not disappearing anymore.

Now I know how to reproduce:
* create a new card at the

[2017-10-08 10:11] juliushaertl commented on #319
Duplicate of #311

I've just released 0.2.4 which should fix the issue.

[2017-10-08 10:11] #319 closed

[2017-10-08 10:45] juliushaertl commented on #252
@rallek Thanks for figuring out how to reproduce. I'll have a look at this.

[2017-10-08 11:01] juliushaertl commented on #147
@oparoz Would be nice if you could check if #320 fixes the issue for you as well.

[2017-10-08 11:32] Githopp192 opened #321 "An exception occurred while executing 'UPDATE `oc_deck_cards` SET"
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)

**Where did you install Nextcloud from:**

**Signing status:**

[code]

**List of activated apps:**
### Steps to reproduce
1### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### General serve

[2017-10-08 11:34] Githopp192 commented on #321
Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'UPDATE `oc_deck_cards` SET `description` = ?,`duedate` = ?,`last_modified` = ? WHERE `id` = ?' with params ["TEST 2", "2017-10-12T10:15:58+00:00", 1507458735, 7]: SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect datetime value: '2017-10-12T10:15:58+00:00' for column 'duedate' at row 1
/usr/local/www/nextcloud/3

[2017-10-08 12:39] juliushaertl commented on #302
Hm, are you using any browser extensions or maybe a clipboard manager that might cause this? Works fine here with firefox/gnome both using ctrl-v and middle-mouse-button.

[2017-10-09 09:05] flixman opened #323 "Feature Request: Can all decks be seen together in "All boards" view?"
Sorry for using the "Issues" section, but I do not know how to place this request properly. Is there any way / can be added as a request to see all decks together in "All boards" view?

Thank you!
Felix

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50127445-feature-request-can-all-decks-be-seen-together-in-all-boards-view?utm_camp

[2017-10-09 09:57] flycrshish opened #324 "Description unable to saved if add Due Date"
### Steps to reproduce
1.Add a Description in card ,type "TEST_LINE_1" ,click other card and back to this card, Description show "TEST_LINE_1" ,it's saved correct.
2.add a Due date in this card ,modify Description to "TEST_LINE_1_add",
3.click other card and back this card, Description show "TEST_LINE_1" ,not saved ,and Due date is not saved too.

[2017-10-09 10:11] juliushaertl commented on #323
@flixman Thanks for your feature request. Can you describe a bit more in detail, what you have in mind?

I currently plan to add a nice startup screen, that shows an overview of the cards with nearing due dates and maybe also cards that were assigned to you, (see #12 for that) but I'm not sure if I understood your request correct.

[2017-10-09 10:12] juliushaertl commented on #324
Looks like a duplicate of #321, can you check your error logs if that is the same issue?

Also, if you'd like to help testing, #322 might fix the issue.

[2017-10-09 10:33] flycrshish commented on #324
yes ,error log is the same as #321

[2017-10-09 10:44] #324 closed

[2017-10-09 19:39] callmemagnus commented on #302
Hello again... I restarted in safe-mode to disable all my extension on firefox.

With sadly the same result, I Ctrl-v and the focus leave the field.

I did a video but it seems that github does not support that file type in issues.

-> https://youtu.be/YntkdJ0cajY

[2017-10-10 11:11] juliushaertl commented on #302
@callmemagnus Can you check if pasting works in the following jsfiddle: https://jsfiddle.net/juliushaertl/bfqu5sck/3/

The field should keep focus and 'blur: false' should still be set.

[2017-10-10 15:52] juliushaertl commented on #321
Fixed with #322

backported for 0.2.5 in a5b566e

[2017-10-10 15:53] #321 closed

[2017-10-10 19:48] flixman commented on #323
@juliushaertl Hi! Sure: The idea is: in the app there is a vertical area in the left (%15 of the screen size) with contains the name with the different decks, together with "All boards" and "Archived Boards". In this startup screen. I think that makes sense for "All boards" to show all the decks together. The reason for that is: if I am using Decks to track a number of projects, would be very nice

[2017-10-11 09:38] juliushaertl commented on #323
@flixman Ok. Well just showing all stacks with cards from all of the projects might not be the best option, since those can be quite a lot. The plan with #12 is basically to provide an overview of the cards that are important right now. So it is going to be kind of a global overview, but filtered to what is important. I'm closing this in favour of #12

[2017-10-11 09:38] #323 closed

[2017-10-12 10:03] Glosshead opened #326 "Due date is not saving because of invalid datetime format"
### Steps to reproduce
1. Select card and fill up due date
2. Leave the card
3. Refresh screen or click on the same card

### Expected behaviour
Due date saving normally

### Actual behaviour
Due date is empty on screen refresh or even card leave/enter

### General server configuration

**Operating system:** Linux cloud.he$$$$p.ru 3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_6

[2017-10-12 11:34] Glosshead commented on #326
For me it was enough to change /apps/deck/lib/Db/Card.php at row 65 from

to

Sorry I'm not friendly with Git and don't know how to make this fix request by the right way.

[2017-10-12 11:53] Glosshead commented on #326
Just seen it was fixed already.

Sorry for disturb.

[2017-10-12 11:53] #326 closed

[2017-10-12 13:30] Glosshead opened #327 "Ask confirmation before delete stack"
Ask confirmation before delete stack.

Now it's enough just click on delete icon without any confirmation. It is not secured of accidental click.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/50217407-ask-confirmation-before-delete-stack?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We a

[2017-10-12 19:34] StillOnMyWay commented on #83
Any update on this one?

[2017-10-13 12:21] juliushaertl commented on #327
This is on the list for 0.3.0 already. Closing as a duplicate of #259

[2017-10-13 12:21] #327 closed

[2017-10-13 14:21] iluks opened #329 "due date not working"
### Steps to reproduce
1.create due date on a task
2.due date/time shows on the relevant task
3.click another task
4 click the task with due date and there is no due date/time any more

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**: Ubuntu 16.04 - Appliance

**Web server:** Apache

**Database:**

[2017-10-13 14:39] juliushaertl commented on #329
Thanks for your report. Can you please check if there are any errors in the Nextcloud log, browser console or failed requests in the network tab of your browsers developer tools.

[2017-10-13 14:40] juliushaertl commented on #329
There was an issue with due dates on mysql databases (see #321) but since your setup uses postgres that might be something different. I currently cannot reproduce this on my postgres test setup.

[2017-10-13 20:26] iluks commented on #329
Hi it looks like your gut instinct was correct ... date format issue

Error | index | Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'UPDATE `oc_deck_cards` SET `duedate` = ?,`last_modified` = ? WHERE `id` = ?' with params ["2017-10-13T14:04:26+00:00", 1507903466, 12]: SQLSTATE[22007]: Invalid datetime format: 1292 Incorrect datetime value: '2017-10-13T14:04:26+00:0

[2017-10-13 20:27] iluks commented on #329
Who would I go about changing the format to dd.mm.yyyy  Icelandic format ?

[2017-10-13 20:28] iluks commented on #329
how it should have been not who... sorry about that :S

[2017-10-13 20:29] iluks commented on #329
We could use UTC ... (gmt0  without summertime changes)

[2017-10-14 08:46] juliushaertl commented on #329
According to the log output you are not using postgres but mysql as a database backend, right? In that case this is already fixed for the next release.

On the date format, that still needs to be solved in the frontend JavaScript code. We should pick the users language settings from Nextcloud and change to an appropriate date/time format.

[2017-10-14 08:46] #329 closed

[2017-10-14 08:48] juliushaertl opened #330 "Date format should use user language"
We should use the users language to render the dates in the regional specific formats.

[2017-10-14 08:48] juliushaertl commented on #329
See #330 for the date formating.

[2017-10-14 19:13] juliushaertl commented on #15
I've just updated the PR to https://github.com/nextcloud/server/pull/6835 to get this moving again.

The only issue I see after digging a bit into the sabredav/Nextcloud dav code is, that we cannot easily add the boards to the list of a users calendars. Maybe we need some API for that on the server side. Without that you would need to add it manually.

[2017-10-14 19:17] juliushaertl commented on #14
It should be possible to share public boards with contacts from the ContactsManager API.

[2017-10-15 19:03] juliushaertl commented on #15
I took some time to dig into the Nextcloud dav app. Here are some notes about the planned implementation. Feedback is very welcome.

## Implementation

- Extend classes from \OCA\DAV\CalDAV (CalendarRoot, Calendar, Home, Calendar, CalendarObject, CalDavBackend)
- With https://github.com/nextcloud/server/pull/6835 register our own sabre collection

- add a collection at /deck with calendar collecti

[2017-10-16 07:50] juliushaertl commented on #18
Fixed with #309

User assignment is in #314

[2017-10-16 07:50] #18 closed

[2017-10-16 15:21] slowhand93 commented on #15
First of all: thanks for your work Julius! I love Deck.

Regarding stack representation:
I would prefer your second option because I use Deck to organize my days/weeks. So I often move cards between stacks. When I'm understanding you right, this wouldn't be possible if I will use the caldav feature?!

[2017-10-16 15:49] poVoq commented on #15
Hmm... while not perfect, it might be doable to represent stacks via the priority value as usually the stacks are related to some sort of todo, backlog etc. system that is similar to priorities.

[2017-10-16 20:29] juliushaertl commented on #15
@poVoq That could be a solution, either that or maybe we abuse the LOCATION field which is a string value so we could at least show the stacks name.

[2017-10-16 20:30] juliushaertl commented on #15
Another downside of that is that users would need to setup each stack individually in their calendar software, in case the program doesn't provide proper auto discovery (like thunderbird). I would rather prefer one board -> one calendar.

[2017-10-16 20:39] #253 closed

[2017-10-17 12:27] thomas-mc-work commented on #187
Maybe you can reuse an existing OpenSource kanban app like [Kandroid](https://github.com/andresth/Kandroid) and "simply" add an implementation of your API. That would save a lot of time.

[2017-10-18 00:08] 9662 commented on #15
Will Deck calendars be generated/assigned on user demand?

My thinking is that not every deck needs a calendar system (not everyone uses due dates and the like) so the user would ideally have an option to have a calendar associated with a deck or not.

Likewise, if the calendar ↔ deck association could be user-configurable, then it may solve some of the issues mentioned above? E.g., as a user you