[2017-10-18 11:25] rpadovani commented on #306
I tried to fix it in #331

[2017-10-18 13:26] juliushaertl commented on #15
That is the current idea. We have a separate calendar for each board.

That would be much more complicated since we would have both events from deck and events from the user in the calendar. Also we need to update every users calendar who the board has been shared with. So using an individual calendar is a much cleaner and easier solution.

From the current implementation idea, the calendars would

[2017-10-18 13:28] juliushaertl commented on #15
Also an update on the calendar-home-set, i have a WIP branch for the server here https://github.com/nextcloud/server/tree/dav-allow-multiple-homes

Support of that depends on the client, as it is alway an issue with CalDAV implementations. :wink: DAVdroid works quite nice, but some clients just use the first entry and ignore others.

[2017-10-19 09:42] juliushaertl commented on #306
Fixed in #331
Thank you @rpadovani

[2017-10-19 09:42] #306 closed

[2017-10-19 09:46] #252 closed

[2017-10-20 17:24] 9662 commented on #15
Is that the same as this?

As someone who has about 12 decks currently active (one per department / project), I am a bit concerned about potential overabundance of calendars in the Calendar Nextcloud app. ☺

[2017-10-23 08:29] sylvainar commented on #83
I'm starting a React Native mobile application as a side-project / learning exercise plugged on fake data, looking forward to this ! 😄

[2017-10-23 14:12] srbaker commented on #83
A bit slow moving over here, but I've got some time set aside for it shortly.

[2017-10-23 21:39] juliushaertl commented on #11
Fixed with https://github.com/nextcloud/deck/pull/314 🎉

[2017-10-23 21:39] #11 closed

[2017-10-24 15:34] juliushaertl commented on #149
Fixed by #328

[2017-10-24 15:34] #149 closed

[2017-10-25 09:12] rpadovani commented on #308
I would be interested in fixing this one, but I am not sure how to proceed.

When you update the title of a board, the function `$scope.boardUpdate()` in `ListController.js` is called.

To update the page title, I need to call `$scope.setPageTitle()` in `BoardController.js`.

Should I move `setPageTitle()` to a service so we can call it from anywhere in the code? Or there is another solution?

Sor

[2017-10-25 10:12] juliushaertl commented on #308
@rpadovani The easiest would be to just use $watch to call setPageTitle everytime the current board data changes. Something like that should work (not tested):

[code]

[2017-10-25 13:40] rpadovani commented on #308
@juliushaertl  ok, I tested it and it works as expected, but doesn't this impact performances?

[2017-10-25 18:01] maxgentili opened #335 "Tasks with a set date lose the date when you redisplay detail"
### Steps to reproduce
1. new task
2. set date and close
3. reopen task details

### Expected behaviour
date info will be lost

[2017-10-25 20:00] juliushaertl commented on #308
@rpadovani Well angular makes heavy use of watchers anyway. A better solution would be to introduce some event messaging so that services emit events when some data changed. That way any controller using it can listen for the events and take action on them. But for now adding a watcher for this is the easiest and not that kind of an overhead imo.

[2017-10-25 20:28] juliushaertl commented on #245
Fixed in #334. Thanks to @rpadovani

[2017-10-25 20:28] #245 closed

[2017-10-25 20:32] juliushaertl commented on #335
Duplicate of #321

[2017-10-25 20:32] #335 closed

[2017-10-28 15:12] #308 closed

[2017-10-28 15:13] juliushaertl opened #338 "JavaScript files should use tabs"
Some javascript files still have some spaces instead of tabs.

[2017-10-28 19:54] splitt3r commented on #126
The solution could also be used for the [Polls](https://github.com/nextcloud/polls/issues/204) app 👍.

[2017-10-31 21:51] jmealo commented on #338
Is it too late to persuade the project to use a well-adopted community supported JavaScript style guide? If so, may I ask for what reason?

[2017-11-03 14:03] juliushaertl commented on #338
@jmealo We use the default Nextcloud style as described in https://docs.nextcloud.com/server/12/developer_manual/general/codingguidelines.html There might be some parts where this still needs to be fixed.

[2017-11-03 15:06] jmealo commented on #338
@juliushaertl: "Use tabs to indent" "A tab is 4 spaces wide" ... So, files should be indented with four spaces, not the tab character, correct?

[2017-11-06 19:20] juliushaertl commented on #338
@jmealo I would say this is only how the tabwidth should be set in your editor. Tabs are indeed what is used in all nextcloud code i came across.

[2017-11-06 19:56] jmealo commented on #338
@juliushaertl: Thanks for the clarification. This is the first time I've encountered anyone arguing for tabs. I just wanted to make sure that I understood.

[2017-11-08 21:13] juliushaertl commented on #260
Fixed with #299

[2017-11-08 21:13] #260 closed

[2017-11-09 09:09] hypervtechnics opened #340 "Maintenance mode on Nextcloud 12.0.3 during update"
### Steps to reproduce
1. Update Deck via Nextcloud App Management

### Expected behaviour
Updating the app

### Actual behaviour
Maintenance mode gets activated but does not get turned off during update process. It has to be manually disabled and then the app is updating.

### Server configuration

**Operating system**: Ubuntu Server 14.04

**Web server:** Apache2

**Database:** MySQL

**PHP vers

[2017-11-09 09:14] artemanufrij commented on #340
Same here

[2017-11-09 09:17] JSoko commented on #340
Same here. Had to switch off the maintenance-mode in config.php and could then start the updateprocess.

[2017-11-09 09:36] hypervtechnics commented on #340
@JSoko Had to do it too, but thats not the way it should be.

[2017-11-09 10:45] RainerEmrich opened #341 "mysql datetime format still wrong, version 0.2.5"
### Steps to reproduce
1. Insert due date for a card.
2. Close card.
3. Reopen card.

### Expected behaviour
The date and time should be saved.

### Actual behaviour
The date and time are not saved.

### Server configuration

**Operating system:** Ubuntu 16.04.

**Web server:** Apache 2.4 (fpm-fcgi)

**Database:** Mariadb 10.2.10

**PHP version:** 7.1.11-1+ubuntu16.04.1+deb.sury.org+1
<details>

[2017-11-09 11:38] juliushaertl commented on #341
@RainerEmrich Thanks for reporting. It seems I somehow missed an important line when backporting the fix to the 0.2 branch. Can you check if the change in #342 fixes the issue for you?

[2017-11-09 11:47] RainerEmrich commented on #341
Yeah, #342 fixes the issue for me!

[2017-11-09 11:55] juliushaertl commented on #340
Doesn't happen on Nextcloud master, so i guess it might be a nextcloud issue. I'll have a look on my stable12 dev env later.

[2017-11-09 13:39] juliushaertl commented on #340
Hm I can reproduce this on my live setup but not on my dev environment. 😞

From the log message the container query for the RepairStep class fails and therefore it uses an empty constructor: https://github.com/nextcloud/server/blob/e2139d4b56e6daf1f45c72c1dc0c4ace48d7e9c5/lib/private/Repair.php#L103

[2017-11-09 20:33] Flore-mozfr commented on #340
Happened on 2 different instances on NC 12.03.
Thanks @JSoko for the tip

[2017-11-09 20:55] tbalthazar commented on #340
Same problem here:
`2017/11/09 20:48:49 [error] 4112#0: *37240 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Call to a member function findAll() on null in /var/www/nextcloud/apps/deck/lib/Migration/UnknownUsers.php on line 61" while reading response header from upstream, client: 109.134.xxx.xxx, server: files.example.com, request: "POST /index.php/settings/ajax/updateapp.php HTTP/1.1",

[2017-11-10 08:30] #341 closed

[2017-11-10 12:56] Larsene commented on #340
Same problem here on a NextCloudPi 12.0.3

[2017-11-10 13:23] juliushaertl commented on #340
Should be fixed with 13332ecef6aec11520c8745d0405b65af9885a45 in 0.2.7.

@Larsene The integrity check is unrelated to deck. Looks like you have changed some values in the .user.ini file in your nextcloud directory which should be exactly like it is in the release archive.

[2017-11-10 13:23] #340 closed

[2017-11-10 13:40] Larsene commented on #340
@juliushaertl strange, i didn't change anything, except removing the   'maintenance' => false, in the config.php !

[2017-11-10 14:34] pieter-groeneweg commented on #109
Just some thoughts on the attachments added to cards.

Files are stored in Nextcloud the usual way.
When I file is added as an attachment in Deck, the file should be available in the files app. This file automatically is shared with the members of the Deck Board. This then also shows in the files app with the shared icon. Adding an attachment implies you need the other members of the board to know

[2017-11-11 11:26] PieterHollevoet opened #344 "Notifications on change"
To be able to use the deck as a team :
When a user changes the description the subscribed or user mentioned users should get an notification.

[2017-11-11 11:55] juliushaertl commented on #338
Fix is in #343

[2017-11-11 11:58] juliushaertl commented on #344
As a first step i would like to add activities for changes on cards, as it is done for calendar/tasks already. But yes, it should also be possible to receive notifications on changes if wanted.

[2017-11-11 11:59] juliushaertl commented on #344
In case https://github.com/nextcloud/activity/issues/217 will be implemented into the activities app, we would not need any further adjustments in the deck app.

[2017-11-12 16:25] jancborchardt commented on #260
Thank you @juliushaertl! :)

[2017-11-13 07:40] juliushaertl commented on #344
As discussed in the activity feature request, notifications should only be used for actions to be taken by the user. Let's focus on implementing the activities for the changes on cards. That way you can view the changes in your activity stream.

Another point i added to https://github.com/nextcloud/deck/issues/286 is that users should be able to sort cards by last modification date, so you easily

[2017-11-13 07:40] #344 closed

[2017-11-13 08:40] #338 closed

[2017-11-13 08:42] juliushaertl commented on #287
Closing this since I'm unable to reproduce and no feedback. Feel free to reopen if it appears again.

[2017-11-13 08:42] #287 closed

[2017-11-13 08:50] juliushaertl commented on #201
We could add nextcloud tags to the list of tags per board, but those would not have color values. But I see the use case to have kind of 'global' tags to use.

[2017-11-13 15:16] 9662 commented on #109
Insightful comment above. However, since one can just link to the file in the usual Markdown way, e.g.,

[code]
is this feature really necessary or is it getting into gold-plating territory?

[2017-11-13 18:20] compumatter opened #345 "Feature Request: Global Tasks Open List"
Hello,

I do not find a Feature Request area so I am posting it here.

At present I see no way to view global tasks for all projects.  This is of value with any project management software as it allows you to know what is a priority for this day.

I would like to recommend this feature be implemented

Jay
CompuMatter

[2017-11-14 12:09] pixelipo commented on #109
@9662 that requires a lot of "work" from a user - go to Files app, find the file needed, copy the link, return to Deck app, find the card add (and know) the Markdown code needed.

Additionally, user won't get information on the board that a certain item has attachment.
Another user, the board is shared with, might have a different path to that same file.

Finally, if we want to go the Trello way,

[2017-11-14 12:35] pieter-groeneweg commented on #109
Yes it is really a required feature.
Showing this to several co-workers using Trello, they say it is nice, but far from complete. It really does need an image and file sharing feature to be able to compete with other KanBan alike applications.

[2017-11-14 12:54] pixelipo commented on #201
There is an NC issue for colored tags: https://github.com/nextcloud/server/issues/6778

[2017-11-14 13:01] juliushaertl commented on #109
:+1: Yes, we should make it easy to attach a file with a file selector.

Not sure about that, but I guess that is something to discuss once we have the basic file feature.

[2017-11-14 13:11] juliushaertl commented on #345
Thanks for your feature request. We have discussion about this in #12. Let's continue there.

[2017-11-14 13:11] #345 closed

[2017-11-16 17:50] 9662 commented on #109
Perhaps, but wouldn't it be desirable for that to be improved in the Nextcloud frontend itself (e.g., #6005), rather than to be worked around on a per-application basis?

Deck can scan the contents of the note for any in-cloud links (or for any links whatever) and show an appropriate indication.

Not if you use direct links as I mentioned above:

![screenshot_20171116_183713](https://user-images.g

[2017-11-22 14:49] Arjoni commented on #109
Any update for this feature?

[2017-11-23 10:28] shtrom opened #346 "Display issue"
### Steps to reproduce
I'm not quite sure how to reproduce, I've been seeing this issue for a while:

![screenshot from 2017-11-23 21-20-13](https://user-images.githubusercontent.com/160280/33168175-28a38466-d094-11e7-96ba-eda071f88fe8.png)

### Expected behaviour
There should be three column using the full width of the browser.

### Actual behaviour

There is a gap on the right-hand side, and eve

[2017-11-23 10:57] shtrom commented on #346
Same thing after clearing the whole browser's cache.

[2017-11-23 11:00] shtrom commented on #346
Same thing after clearing the whole browser's cache.

[2017-11-23 11:46] shtrom commented on #346
Ok, this is an issue with using apps with SCSS stylesheets in a different location. Details are in nextcould/contacts#442, but the fix from nextcloud/server#7257  works.

[2017-11-23 11:46] #346 closed

[2017-11-25 15:34] bobrocksgithub opened #347 "Board Templates and/or Board Cloning"
### Steps to invoke:
1. Click on existing board
2. Select "Clone"
3. New Board is created as clone

OR

### Steps to invoke:
1. Select dropdown next to +
2. Select "New from Template"
3. Creates new Board from seleted template

### Purpose
Many Projects share similar structures and/or Stack
Enabling Board Templates and/or cloning enables rapid setup of new Boards from predefined Boards (templates)

[2017-11-25 20:26] juliushaertl commented on #347
duplicate of https://github.com/nextcloud/deck/issues/154

[2017-11-25 20:26] #347 closed

[2017-11-26 08:11] bobrocksgithub commented on #347
Sorry, looked through the list and missed it.
thanks

[2017-11-27 18:17] splitt3r commented on #126
Basic group sharing is working now in my app :). I´m willing to implement it here once i finished the first version of my app.

@juliushaertl i noticed that nc does existence checking here https://github.com/nextcloud/server/blob/master/apps/files_sharing/lib/Controller/ShareAPIController.php#L319-L491 and also checks if e.g group sharing is allowed. Perhaps we should add that too when implementin

[2017-11-27 20:14] #315 closed

[2017-11-27 20:19] juliushaertl commented on #126
Yes it would make sense to also respect that setting. It might be already respected when fetching the list of users/groups since we use a server API for that, but it should of course also be checked when the actual sharing happens.

[2017-11-27 20:21] juliushaertl commented on #197
@artemanufrij Are you still up for this?

[2017-11-27 20:24] juliushaertl commented on #241
Already fixed by
ec5389b

[2017-11-27 20:24] #241 closed

[2017-11-27 22:22] splitt3r commented on #126
Yeah, you are right. With support for circles we need to use the displayname instead uf the id because the circles have a pretty cryptic one. After some research it works pretty well for me :) https://github.com/splitt3r/mindmaps/blob/feature/rework-js/lib/Db/Acl.php#L66-L87 & https://github.com/splitt3r/mindmaps/blob/feature/rework-js/lib/Controller/AclController.php#L104-L141

[2017-11-29 22:05] #203 closed

[2017-12-01 16:03] juliushaertl commented on #246
This is fixed with the new app menu.

[2017-12-01 16:03] #246 closed

[2017-12-05 09:39] wYhyzByH opened #349 "Assign a card to a team member (Feature Request)"
Hi

I really like this app. It's easy to use and looks good.

But in the current state it's useful for personal use or showing progress. But to work in a team, it would be great to be able to assign cards to persons in the groups/people this board is shared with.

I could not figure out how to do it. So I guess this is a new feature request.

If there is a way to do it already, let me know and I'm

[2017-12-05 09:50] juliushaertl commented on #349
This feature has already been implemented in #314 and will be there in the next release.

[2017-12-05 09:50] #349 closed

[2017-12-05 10:40] juliushaertl commented on #109
@Arjoni It won't make it into 0.3. I want to do a release soon, so we are compatible with the upcoming NC13.

Feel free to add a bounty if you want to support the development of this feature. https://www.bountysource.com/issues/44724860-attach-files-to-cards

[2017-12-08 15:24] juliushaertl commented on #194
Actually fixed with the new breadcumbs in 13 and adapted in #350

[2017-12-08 15:25] juliushaertl commented on #84
Flexbox is introduced in #352 and we have 100% height at least when dragging icons.

[2017-12-08 15:27] juliushaertl commented on #81
Simplemde looks great in general, but if we switch to a different markdown editor it should support checkboxes which would be nice to have for #212

Issue at simplemde: https://github.com/sparksuite/simplemde-markdown-editor/issues/635

[2017-12-08 15:41] juliushaertl opened #353 "Show popover with username for assigned users"

[2017-12-08 15:42] juliushaertl opened #354 "Save indicator broken on master"

[2017-12-08 19:10] juliushaertl opened #355 "Vue.js migration"
Since AngularJS is quite outdated and some of our dependency modules seem quite unmaintained, it might make sense to consider moving to Angular 4. Since there has been some discussion about vue.js at Nextcloud in general we should also consider that. https://help.nextcloud.com/t/give-vue-2-x-a-chance/9956

Maybe we can do a move to angular 4 and start developing new features in vue with
something

[2017-12-08 19:11] juliushaertl commented on #7
Closing this for now, but we should address tests right away when digging into #355

[2017-12-08 19:11] #7 closed

[2017-12-08 19:12] #208 closed

[2017-12-08 19:12] #297 closed

[2017-12-08 19:14] #194 closed

[2017-12-08 19:18] juliushaertl commented on #330
Use the settings from https://github.com/nextcloud/server/pull/5623 once that is in.

[2017-12-13 08:13] MorrisJobke opened #356 "Deck for 13"
I updated to the latest version for 12 (0.2.8) on a Nextcloud 12. After an upgrade to 13 it disables this app, and says, that it is no longer compatible. Could you provide a version that is installable and upgradeable from 0.2.8 to support 13?

cc @juliushaertl

[2017-12-13 09:21] juliushaertl commented on #356
Since NC13 needed a lot work on the left sidebar menu which I decided was to much to be backported to our 0.2 branch. I'll do a beta release of 0.3 by the end of the week.

[2017-12-13 09:23] MorrisJobke commented on #356
:+1:

[2017-12-13 09:24] #356 closed

[2017-12-15 07:54] messalas opened #357 "Feature request: Assign task to a user"
I would be a nice feature, if the manager of a group could assign tasks to the users he manages.
When the manager assigns a task, then the user will get notified from announcement center and by email.

[code]

[2017-12-15 09:39] juliushaertl commented on #357
Duplicate of #11
Will be there in the next release 😉

[2017-12-15 09:39] #357 closed

[2017-12-15 09:48] messalas commented on #357
Great! thanks a lot for the reply!

[2017-12-16 09:47] #164 closed

[2017-12-16 09:47] #236 closed

[2017-12-16 09:47] #307 closed

[2017-12-16 16:12] juliushaertl commented on #353
Fix is in #358

[2017-12-16 16:20] juliushaertl commented on #255
Works fine with #352

[2017-12-16 16:20] #255 closed

[2017-12-17 16:44] #354 closed

[2017-12-17 16:47] #353 closed

[2017-12-17 17:28] juliushaertl commented on #147
That should actually be fixed now by 95f4e4b0149866cb71876e5860ba7549ec3bd155 since we propagate changes correctly between the stack and card data representations.

[2017-12-17 17:28] #147 closed

[2017-12-17 18:54] juliushaertl commented on #356
Here we go: https://help.nextcloud.com/t/help-testing-the-new-deck-version-0-3-beta/24850

[2017-12-19 13:06] ojob opened #363 "Table rendering in card description misses margin-down"
### Steps to reproduce
1. Create a card in Deck
2. Update card description with a markdown table
3. Click elsewhere to get the html rendering of the table

### Expected behaviour
A nice table, with normal margin at the bottom with next paragraph / title.

### Actual behaviour
A nice table, with no margin at the bottom with next paragraph / title, see arrow.

Here is an example of description markd

[2017-12-19 20:26] cloud2018 opened #364 "suggestion: same color of the board-bullet in the title and in the left sidebar"
This is not a issue, just a suggestion

### Steps to reproduce
1. create a new board in deck 0.3 beta with color  #00C906 (green)
2. open the new board

### Expected behaviour
the color of the board-bullet in the title is the same as the color of the board-bullet in the left sidebar

### Actual behaviour
The color in the sidebar is #00C906, the color in the title is lighter (#80E483). It's not obv

[2017-12-20 15:00] splitt3r opened #365 "Datepicker opens above datefield"
**Description:** The Nc datepicker opens above the datefield which makes sense because of the available space but looks really strange.

**Nc Version:** 13 (from git)

**App Version:** v0.3.0-beta1 (from git)

**Browser:** FF 57

![datepicker](https://user-images.githubusercontent.com/1869584/34213053-6fc0dc4e-e59e-11e7-80e8-12c0fffd599f.png)

[2017-12-20 15:02] pixelipo commented on #364
I don't think that fits with the design guidelines. @nextcloud/designers ?

[2017-12-20 15:02] splitt3r opened #366 "BoardService.getCurrent(...) is undefined"
**Description:** Loading a specific board by url (.../index.php/apps/deck#!/board/1/) leads to a javascript error.

**Nc Version:** 13 (from git)

**App Version:** v0.3.0-beta1 (from git)

**Browser:** FF 57

![current](https://user-images.githubusercontent.com/1869584/34213330-2b95c8bc-e59f-11e7-81f7-8f0c6ef61900.png)

[2017-12-20 15:04] skjnldsv commented on #364
@cloud2018 Can you provide a screenshot please? :)

[2017-12-20 15:06] splitt3r opened #367 "acl is undefined"
**Description:** Opening the boards acl panel leads to javascript error.

**Nc Version:** 13 (from git)

**App Version:** v0.3.0-beta1 (from git)

**Browser:** FF 57

![acl](https://user-images.githubusercontent.com/1869584/34213491-ae218262-e59f-11e7-8142-904e8abb8020.png)

[2017-12-20 15:07] pixelipo commented on #364
I think this is the idea - see font-color in the sidebar:
![image](https://user-images.githubusercontent.com/4129927/34213560-cf7e8d56-e59f-11e7-8f38-72c132ad8b3c.png)

[2017-12-20 15:10] skjnldsv commented on #364
Ooooh, well I don't think we'll advise anyone to do that since with many decks, it will soon looks like @jancborchardt's lsd app! :D

[2017-12-20 15:12] pixelipo commented on #365
which version of Nextcloud are you running?

[2017-12-20 15:12] splitt3r commented on #365
Sorry 😁 it´s Nc 13 from git.

[2017-12-20 15:14] pixelipo commented on #365
Weird. I'm unable to reproduce:
![image](https://user-images.githubusercontent.com/4129927/34213858-cbea2a50-e5a0-11e7-8efd-c5771986e6c9.png)

[2017-12-20 15:17] splitt3r commented on #365
Your browser window is too big ^^:

![datepicker](https://user-images.githubusercontent.com/1869584/34213987-4f82f0ae-e5a1-11e7-8345-2a301e138fb1.png)

[2017-12-20 15:21] splitt3r opened #368 "Confirmation button for card title input"
**Description:** I think to unify the ux a confirmation button for the card title input would be a good idea. Somehow also related to https://github.com/nextcloud/server/pull/7196. And perhaps the title in the sidebar should somehow show that it is editable or have at least an pointer cursor?

**Nc Version:** 13 (from git)

**App Version:** v0.3.0-beta1 (from git)

**Browser:** FF 57

![confirm bu

[2017-12-20 15:33] splitt3r opened #369 "Auto save discards changes"
**Description:** Typing in a long list like:

- Test...
- Test...
- Test...
- ...

sometimes discards some of the changes (last chars).

**Nc Version:** 13 (from git)

**App Version:** v0.3.0-beta1 (from git)

**Browser:** FF 57

[2017-12-20 15:37] splitt3r opened #370 "Avatars are misplaced after saving a board"
**Description:** Avatars are misplaced after saving board changes:

**Nc Version:** 13 (from git)

**App Version:** v0.3.0-beta1 (from git)

**Browser:** FF 57

![avatars](https://user-images.githubusercontent.com/1869584/34214824-db20cfee-e5a3-11e7-93fe-343bde15a2c5.png)

Nav bar overlaps the display name tooltip:

![title](https://user-images.githubusercontent.com/1869584/34214816-d5870ab2-e5a3-

[2017-12-20 16:24] jancborchardt commented on #364
This would be very bad for legibility obviously. ;) And I agree with @pixelipo and @skjnldsv

[2017-12-20 21:07] cloud2018 commented on #364
the idea was that the two bullets have the same color, but with deck 0.3 beta they have different colors:

![screenshot-2017-12-20 test green deck - nextcloud](https://user-images.githubusercontent.com/34692335/34228641-a4340180-e5d1-11e7-996a-9ea1e739aca6.png)

[2017-12-20 21:15] pixelipo commented on #364
Aah, that's not colour, it's opacity - maybe worth fixing?

[2017-12-20 22:59] juliushaertl commented on #364
Yes, the opacity of the color bullet should be equal 😉

[2017-12-20 23:01] juliushaertl commented on #369
Cannot reproduce right now, but I might have an idea where this comes from. I'll have another look tomorrow.

[2017-12-20 23:02] juliushaertl commented on #368
Yep, there should be an action to all input fields, so users don't need to know about using enter to confirm.

[2017-12-20 23:06] juliushaertl commented on #365
This also happens in the files app. So I guess it would be better to fix this in the server repo. @splitt3r Can you open an issue there?

[2017-12-20 23:06] #365 closed

[2017-12-21 12:06] jancborchardt commented on #364
I mean I still think the breadcrumb in Deck makes no sense, as commented in the other redesign or first run discussion. ;) Too much duplication and visual noise.

[2017-12-22 09:27] splitt3r commented on #355
Will be pretty awesome to have some sharable components for parts like comments or acl / sharing 👍

[2017-12-22 11:04] juliushaertl commented on #364
@jancborchardt Actually on current master we use the breadcrumbs more for showing that you are on a archived board and that you are currently viewing the card archive.

But yes, the breadcrumb is not ideal there. Maybe we should consider some header redesign in the future.

[2017-12-22 12:14] cloud2018 commented on #364
Thanks for changing the opacity, i think the bullets look more consitent now.

When the mouse is over the bullet or boardname (or share-icon) the opacity of the bullet changes again. It seems that the region of the bullet and boardname is a link, but nothing happen when clicked.
No Problem, I never move the mouse in this region, just now for testing.

[2017-12-22 12:15] cloud2018 commented on #364
sorry for closing, (wrong button)

[2017-12-22 12:31] juliushaertl commented on #364
@cloud2018 Good catch, will fix that as well.

[2017-12-22 12:52] pixelipo opened #372 "Enhancement: better controls bar"
Let's talk about `#controls` bar.

Currently it is using `.crumb` system to show a sort of a structure, but it doesn't really follow the real structure, because "All boards" ("Home icon) does not include "Archived boards" (second breadcrumb):
![image](https://user-images.githubusercontent.com/4129927/34298333-9065a53a-e71d-11e7-9f71-79e62bbd4145.png)
As you can see, that board is not listed here:

[2017-12-22 12:59] pixelipo commented on #372
Reasoning behind my choice:

1. `#app-navigation-toggle` was a requested feature. It is non-intrusive and it also exists (in the same location, but only for smaller screen sizes) in Files app as well
2. I don't remember if there are plans to be able to "add" more than just new stack to a board, but if there are, a generic "+" button (like in the Files app) might make sense. If not, I will switch m

[2017-12-22 13:27] cloud2018 commented on #372
regarding title of the current board (item 4):
On smaller screen sizes without sidebar i think to show the title of the board is helpful and consitent with the file-apps, which shows the current path. Just my 2 cents.

[2017-12-22 13:41] pixelipo commented on #372
@cloud2018 your first comment is a valid point, but I don't think the second one is. Deck has a "flat" structure, Files is showing a path, but only for the dfolder structure - not for the sidebar items. See this:
![image](https://user-images.githubusercontent.com/4129927/34299956-23214ade-e726-11e7-8ab6-24fbcfb69caf.png)
When viewing "shared with others" - there is no breadcrumb structure in the F

[2017-12-22 14:31] cloud2018 commented on #372
Yes, you're right, the layout is not 100% comparable. I took a look at "all files" and compared this with "all boards".  The files as content of documents is from my view (as a user) similar to the stacks and cards as content of the board. I think the main difference is, that the boards additionally are shown in the left sidebar as shortcuts in the deck-app.

![screenshot-2017-12-22 documents - fi

[2017-12-23 13:26] cloud2018 opened #373 "usability: after removing tags, the color of the remaining tags are changed (in the property view)"
### Steps to reproduce
tested with 0.3.0-beta1 and deck 0.2.8

1. assign a tag with label YELLOW and color yellow
2. assign a tag with label RED and color red
3. close card properties -> the two labels with the correct colors are assigned
4. open card properties
![tags_1_screenshot-2017-12-23 board1 deck - nextcloud](https://user-images.githubusercontent.com/34692335/34319853-63021964-e7ec-11e7-82

[2017-12-26 00:10] RNogales94 opened #374 "spanish translation and visualization"
### Steps to reproduce
1. Create a new tableau
2. Look at the "add new hip" button

### Expected behaviour
Tell us what should happen
In spanish it is "Crear nuevo montón"
I suggest to write only "Crear montón" because "nuevo = new" it's implicit, and it would improve a lot the visualization and the understanding for noobs in the app like me.
### Actual behaviour
Tell us what happens instead
In sp

[2017-12-30 17:48] juliushaertl commented on #374
Translations are done via Nextcloud Transifex: https://www.transifex.com/nextcloud/nextcloud/languages/

Feel free to joint the translation team there and propose a different translation.

[2017-12-30 17:48] #374 closed

[2017-12-30 17:49] juliushaertl commented on #373
Thanks for reporting and for providing a way to reproduce this.

[2018-01-02 12:32] Aesculapius commented on #369
I'm experiencing the same. In my case it seems to be caused by an 'unsaved changes' mechanism that is too greedy; it tries to save after almost every typed in character and that seems to conflict at some point. But maybe you already fixed it ;-)

[2018-01-02 20:54] rkraken opened #375 "Description entry of a card is deleted after card is dragged to a new stack"
### Steps to reproduce
1. add a description to a card
2. drag the card to a new stack

### Expected behaviour
dragging a card should preserve contents including entered description

### Actual behaviour
The card's description disappears

### Server configuration

**Operating system**:
Linux Mint 18

**Web server:**
apache2
Apache/2.4.18 (Ubuntu)

**Database:**
mysql  Ver 14.14 Distrib 5.7.19, for

[2018-01-03 08:47] juliushaertl commented on #375
What version of deck are you using? I cannot reproduce that on 0.3.0 beta1 so I guess this was fixed and will be fine with the next release.

[2018-01-03 20:01] rkraken commented on #375
Sorry!  version 0.2.8

The problem seems to be intermittent now.
Looking forward to the next release.  Thanks for your hard work.

[2018-01-04 06:49] #375 closed

[2018-01-05 16:21] jancborchardt commented on #372
So as mentioned before, the breadcrumb makes no sense in Deck. It's only visual noise and duplication of the sidebar.

- app-navigation-toggle needs to be there for the mobile view, yes
- what is "board's parent container"? The overview list of all boards? Thought we said we remove that cause that's what the sidebar is for.
- Add new stack: Thought we put that on the right as a " ghost stack"? Lik

[2018-01-08 12:44] #364 closed

[2018-01-08 12:44] #366 closed

[2018-01-08 12:44] #367 closed

[2018-01-08 12:44] #369 closed

[2018-01-08 13:39] juliushaertl commented on #370
Fixed with #376

[2018-01-08 13:39] #370 closed

[2018-01-08 13:52] #373 closed

[2018-01-08 15:59] juliushaertl commented on #372
We had that as a feature request and I think it makes sense for deck to show it always, because sometimes users need a lot of space when managing cards.

:+1: Yep, agree on that.

We had that in the past, but I'm not sure what is the better option there. A "ghost stack" makes it clear for the user, where the new stack is being added, but it also adds a lot of noise to the overall view.

I'd say we

[2018-01-09 10:20] ossie commented on #204
I would like to give this a try. 👋

[2018-01-09 10:33] cloud2018 opened #379 "can't deassign user"
tested with 0.3.0-beta1 (deck_nightly_latest.tar.gz,  2018-01-09 00:29) and Nextcloud 12.0.4
(and compared to deck_nightly_2017-12-24.tar.gz)

### Steps to reproduce
1. Assign a user to a card
2. Close card properties -> the user is correct assigned
3. Open card properties and move the mouse over the user icon
4. The name of the assigned user is displayed (above) and there is no delete-icon
![deck

[2018-01-09 10:38] cloud2018 commented on #373
thank you, works fine

[2018-01-09 10:53] juliushaertl commented on #379
The unassign action has been moved to the menu that opens when clicking the avatar. Can you check if that works for you? Maybe that's an issue with NC12. The avatar should actually show a pointer on mouse over to indicate that it is clickable.

[2018-01-09 11:31] cloud2018 commented on #379
When clicking the avatar I can deassign the user, that works fine. Thank your for your hint.

I don't see a hand-pointer on mouse over (like in the first screenshot) and in the pop-up are the two items "No action available" and "Remove user from card"

![deck_3](https://user-images.githubusercontent.com/34692335/34718569-7479522c-f537-11e7-8c9f-f7fb1f97bed8.png)

"Remove user from card" works like

[2018-01-09 12:02] cloud2018 commented on #379
I think "No action available" is displayed only when no email of the user is configured.

It seems, that I can only deassign the users, who didn't create the card. How to deassign the creator?

[2018-01-09 12:33] cloud2018 opened #380 "box to small for German translation of "Click to set" : "Klicken zum Übernehmen""
In the property-view of the card the box for the German translation of "Click to set" is to short.
Only "Klicken zum" is displayed

![translation](https://user-images.githubusercontent.com/34692335/34720935-fd33c940-f540-11e7-9115-c707f4ed2ce3.png)

If the size of the box is fixed, "Auswählen" could be an altenative and short translation.

Same in français   "Click to set" : "Cliquez pour définir"

[2018-01-09 16:13] cloud2018 opened #381 "button "Undo board deletion - ..." is not translated"
tested with 0.3.0-beta1 (deck_nightly_latest.tar.gz, 2018-01-09 00:29) and Nextcloud 12.0.4

### Steps to reproduce
1. Change in NC Personal Language to other than English (US)
2. Open deck Archived boards
3. Move over undelete icon and the description is displayed

### Expected behaviour
The description is in user language and not in English

### Actual behaviour
The description is not translated

[2018-01-10 08:31] juliushaertl commented on #204
@ossie That's great to hear. Feel free to ask if you have any questions during the implementation.

[2018-01-10 09:41] juliushaertl commented on #380
Translations are actually handled in transifex: https://www.transifex.com/nextcloud/nextcloud

The german translation has already been updated to "Setzen" which should be fine to understand as well.

[2018-01-10 09:41] #380 closed

[2018-01-10 09:43] juliushaertl commented on #381
@cloud2018 Thanks for reporting. A fix is waiting in #382

[2018-01-10 13:13] Aesculapius commented on #259
This definately needs to be in the product. Deck is great and the 3.0 beta also has great new features, but accidently deleting the whole stack just because you wanted to click outside the remark window to get that out of the way, cannot be wishful behavior. Is there absolutely no way of retrieving its contents?

[2018-01-11 11:53] euZebe commented on #83
@sylvainar any news about your React Native mobile app ? I would be glad to give a hand on that project if needed.

[2018-01-12 00:37] JonCup opened #383 "Can't scroll stack on mobile"
### Steps to reproduce
1. Try to scroll stack on chrome on Android
2. Can't use scroll bar, scrolling on page doesn't work
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration

**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**Nextcloud version:** (see Nextcloud admin page)

**Where did you insta

[2018-01-12 09:17] #379 closed

[2018-01-12 09:17] #381 closed

[2018-01-12 12:51] juliushaertl commented on #383
What version of Deck are you using? There have been some fixes that should be out soon in 0.3.0.

[2018-01-12 14:52] cloud2018 opened #385 "username is not completly displayed"
Tested with deck_nightly_latest.tar.gz (2018-01-12) (without fix from today!)
and NC 13.0.0 RC1

### Steps to reproduce
1. Assign a card to a user with a long name ("abcdefghijklmn")
2. Move mouse over the avatar in card-property-view
![longname](https://user-images.githubusercontent.com/34692335/34880149-d0fcc9b4-f7af-11e7-9648-5a5e12353321.png)

### Expected behaviour
The name of the assigned us

[2018-01-12 15:37] cloud2018 opened #386 "missing translation when create new card"
![neuekarte_nottranslated](https://user-images.githubusercontent.com/34692335/34882406-c6de595a-f7b6-11e7-89a0-b8f8c84dc324.png)

### Steps to reproduce
1. Change personal language
2. Click on the "+" to create a new card
3. Don't fill the text box wit a cardtitle
4. Move the mouse out of the text box and then back over the textbox
5. The Hint "Please fill out this Field." is displayed

### Expect

[2018-01-12 16:37] cloud2018 opened #387 "user still assigned, after user is in NC deleted"
tested with Deck 0.3.0 and NC 13.0.0 RC1

### Steps to reproduce
1. Assign a user ("D") to a card
2. Delete the user in NC
3. Open the board again
![deleteduser1](https://user-images.githubusercontent.com/34692335/34884513-3f4961e0-f7bd-11e7-8e2d-338cc370fd1a.png)
### Expected behaviour
The deleted user is deassigned from all cards

### Actual behaviour
1. The deleted user is not deassigned from t

[2018-01-12 17:20] juliushaertl commented on #386
This seems to be a message of your browser so out of scope for this repo. The string is not present in the deck source code. :wink:

[2018-01-12 17:20] #386 closed

[2018-01-12 18:07] cloud2018 commented on #386
Sorry for reporting, you're right. The language of the hint depends on the browser.

[2018-01-12 18:10] juliushaertl commented on #386
No problem, I really appreciate all your bug reports. Helps a lot to improve deck. :+1:

[2018-01-13 05:52] dragetd opened #389 "Add link to github page in the appstore"
Hello,

it would be nice if Deck had a link to their GitHub repository under 'Resources' as a homepage or something.
https://apps.nextcloud.com/apps/deck

I was looking for the changelog and not coming here via the store is a bit cumbersome. :P

[2018-01-13 08:02] poVoq opened #390 "Dynamic resizing has bugs with Nextcloud JSXC chat plugin in 0.3"
### Steps to reproduce
1. Enable both Deck and JSXC chat
2. Open deck and toggle the chat side bar in a desktop browser (firefox)
3. notice the extra blank space created and that the "add new stack" are not moving back to the right completely

### Expected behaviour
Dynamic resizing should be effected by this (as it was in previous versions of Deck)

### Actual behaviour
see above

I am pretty sur

[2018-01-13 09:05] juliushaertl commented on #390
Seems to be a duplicate of https://github.com/nextcloud/deck/issues/279 to me. Feel free to reopen if it is a different issue.

[2018-01-13 09:05] #390 closed

[2018-01-13 09:08] juliushaertl commented on #389
Hm, we already have the repo link in the appinfo.xml. That should be parsed by the app store. https://github.com/nextcloud/deck/blob/master/appinfo/info.xml#L24

Btw. you can also view the changelog directly on the versions in the app store: :wink:
https://apps.nextcloud.com/apps/deck/releases?platform=13#13

[2018-01-13 09:14] juliushaertl commented on #389
Let's see if we can show the repo url in the app store, otherwise I'll add it as a homepage link so it will show up in the resources list.

[2018-01-13 09:24] juliushaertl commented on #302
Closing since I'm unable to reproduce and no further answer since some time. Feel free to reopen if there is new information.

[2018-01-13 09:24] #302 closed

[2018-01-13 09:25] juliushaertl commented on #383
0.3.0 is out, please give it a try and report back if there are still issues with that.

[2018-01-13 09:25] #383 closed

[2018-01-13 10:08] poVoq commented on #390
Hmm yes maybe related, but functionality of Deck seem unaffected, just the layout is somewhat broken.

[2018-01-13 12:56] dragetd commented on #389
In the german shop page, this overview / changelog is hidden behind 'Alle Veröffentlichungen', which means 'All releases'.

Up until 30 seconds ago, I would have never assumed to find a changelog there. x.x

[2018-01-14 10:51] callmemagnus commented on #302
Oups, I forgot to follow up on this issue.

I tested the jsfiddle.

I tried to investigate a little. Can it be that typing Ctrl blurs the field ? In your fiddle, when I focus on the textarea I get (obviously):

[code]

But when I press Ctrl down, I get, while keeping the finger on the key:

[code]

As soon as I press the V, it changes back to the "normal" one.

Can this be the issue? I wonder if t

[2018-01-15 14:15] juliushaertl commented on #302
Hm, that seems to be the reason why the focus is lost on your setup.

I'm actually running all the same, except that i run arch linux instead of ubuntu.

My intention is, that this might be a firefox bug, since it works fine with my FF57 and you are using FF55.

[2018-01-15 17:20] laurentiu2 opened #392 "Add card from mail [$15]"
If a new mail arrives at a pre-determined mail address, transform it in a new card with the subject, message, sender, IP, etc.

This way Deck can be used as a simple customer support system.

I'm using Asana right now for this (with some services enabled to read mail, filter them after certain rules, etc) but I'd certainly prefer using NC and Deck for security reasons.

Regards,
Laurentiu

<bounty

[2018-01-16 10:02] dudasfau opened #393 "Make add card button visible on large stacks"
I have many cards in one stack; as a result the button to add cards is always hidden and I have to scroll downwards.
I think it would be convenient to have an option per board to move this button to the top of the stack.

[2018-01-16 11:13] dudasfau opened #394 "Default board"
There should be the possibility to mark one board as default.

Now I have to open NC, click on Deck and select my board.
The last step can be saved by setting one board as default.

[2018-01-16 16:03] juliushaertl commented on #394
This has also been discussed in the past but adding a setting is not really a good user experience. There should be a more useful start screen as discussed in #12

[2018-01-16 16:03] #394 closed

[2018-01-16 16:04] juliushaertl commented on #393
That is a good point. Maybe we should make the button sticky at the bottom and have it always visible. @nextcloud/deck

[2018-01-16 16:05] juliushaertl commented on #392
That require way to much logic inside the deck app. Once #83 is ready, automatic card creation of incoming emails can be achieved with some additional backend script. But I don't see this landing directly inside deck.

[2018-01-16 16:36] 8sd opened #395 "Custom Color Tag"
I'd like to have more colors for the tags
I'm using more than 8 tags, currently some colors are use multiple times.
Maybe you could add a HTML5 color picker to select any color you like for tagging

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/53848691-custom-color-tag?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=

[2018-01-16 16:50] juliushaertl commented on #395
Yes, also related to https://github.com/nextcloud/deck/issues/204. Maybe @ossie wants to have a look at the tag color as well. :wink:

[2018-01-17 08:27] laurentiu2 commented on #392
@juliushaertl I'd be glad to back this feature via Bountysource if someone is willing to address it. Maybe you'll leave it open as feature request.

[2018-01-18 09:24] dudasfau opened #396 "Scroll Stacks individually"
I'd like to scroll each stack individually.
I have some stacks with very much cards, when I'm scrolling there I cannot see the cards in other stacks anymore.

[2018-01-18 09:25] dudasfau opened #397 "Stick Stack Name to Top"
Can we please stick the name of a stack to the top of the page, when scrolling I always mix up my stacks.

[2018-01-18 12:31] p2git opened #398 "Users stack cards listed for all or selected projects"
Is it possible to have a listing of all the cards with the same stack name assigned for user?

For example all cards under "Work in progress" stack in all or selected projects.

Thank you for this simple and useful app!

[2018-01-18 13:49] juliushaertl opened #399 "Issues with the current board view"
There have been several issues coming up about the current board view, that all are basically caused by the scrolling behaviour. So we should consider changing that.

- Stack name is hidden when scrolling, so the context is lost: https://github.com/nextcloud/deck/issues/397
- Add card button is not visible for large stacks https://github.com/nextcloud/deck/issues/393

So a possible solution could

[2018-01-18 13:50] juliushaertl commented on #397
I've summarized this in https://github.com/nextcloud/deck/issues/399 so we have one issue about the board behaviour.

[2018-01-18 13:50] #397 closed

[2018-01-18 13:50] juliushaertl commented on #396
I've summarized this in #399 so we have one issue about the board behaviour.

[2018-01-18 13:50] #396 closed

[2018-01-18 13:50] juliushaertl commented on #393
I've summarized this in #399 so we have one issue about the board behavior.

[2018-01-18 13:50] #393 closed

[2018-01-18 14:22] pixelipo commented on #399
#396 would not solve the fact that title and button are hidden - the only way to have that is to make both sticky and just scroll cards.

But I am intrigued by the idea of individually-scrolling stacks - it would allow to show the bottom half of one list and a top half of another one. The problem is that this might be counter-intuitive from user perspective... @jancborchardt ?

[2018-01-18 16:02] bpcurse opened #400 "Expand selected stack on demand / solo view"
With stacks containing many elements it might be helpful to be able to open one to some kind of "full screen" view, temporarily covering the other stacks.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/53942123-expand-selected-stack-on-demand-solo-view?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=

[2018-01-18 16:17] bpcurse opened #401 "Better stack overview / selection when using many stacks on the same board"
When working with many stacks a 'list' or 'collapse' function could help to have them clearly arranged on one page.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/53942776-better-stack-overview-selection-when-using-many-stacks-on-the-same-board?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)*

[2018-01-18 19:44] juliushaertl commented on #400
How should the cards be arranged then? I don't see a benefit in having many cards spread over the whole screen. Proper filtering to just have the cards you want is probably the better way to solve the issue. (#289 #222)

[2018-01-18 19:48] juliushaertl commented on #398
Ah sorry, i think i misunderstood your proposal. So this is also more about filtering, but it should work across boards, right?

[2018-01-18 19:50] juliushaertl commented on #399
That was actually what I had in mind when reading #396 - basically how it works at Trello.

[2018-01-19 09:36] cloud2018 opened #402 "Some small things regarding usability, which doesn't reduces functionality"
tested with deck 0.3.0, NC12.0.4

1) Filter of users who can assigned is not updated immediatly
2) Inconsistent items in pop-ups "more" (3 dots)
3) Left pop-up from more (3 dots) doesn't disappear

### 1. Filter of users who can assigned is not updated immediatly ###
**Steps to reproduce**
1.1 Share board  with user "testuser"
1.2 Open card details and try to assign the card to the testuser
1.3 No

[2018-01-19 09:38] juliushaertl commented on #402
@cloud2018 Thanks for reporting.

[2018-01-19 09:39] cloud2018 commented on #387
Same issue, when user is only unsigned from the board (and not deleted)

**steps to reproduce**
1. Assign card to user
2. Remove the user from the users, who are assigned to the board
3. The card is still assigned to the user, although the user isn't assigned to the board

[2018-01-19 13:33] bpcurse commented on #401
Maybe it could look something like this:

![deck_overview_stacks_example](https://user-images.githubusercontent.com/29312856/35152746-e319daf0-fd23-11e7-84bf-d9179c635b68.png)

When clicking on a stack name in the list the main view should scroll to the selected stack.

Additionally, if a stack has cards with due dates the most urgent one could be shown behind the stack name and overdue dates coul

[2018-01-19 13:43] bpcurse opened #403 "Collapse and expand cards in a stack"
In a stack that contains lots of cards a collapse / expand command might be useful.

Example:
![deck collapse cards example](https://user-images.githubusercontent.com/29312856/35153293-33d552d8-fd26-11e7-9f65-4e48c8b8dc95.png)

After clicking on a collapsed card, either only the single card could be expanded or the size of all cards could be restored and the view scrolls to the selected card.

<bo

[2018-01-19 21:52] bpcurse opened #404 "Move "add card" buttons to top of stacks"
When working with large stacks it can be really inconvenient to first scroll down the whole stack to click the add button. Moving or copying the add button to the top of the stack seems favourable.

Example A:
![deck_move_card_buttons_on_top_of_stack_example](https://user-images.githubusercontent.com/29312856/35172772-45ed5978-fd69-11e7-8e5e-51277cd76a43.png)

Example B:
![deck_move_card_buttons_o

[2018-01-21 04:15] bobbiz commented on #15
hello everybody,
thanks to everybody you are here
Like Nextcloud, Like Calendar, Like Deck.
Idea to add new events to my Calendar($DeckName) only, first.
So here my alternative(maybe not) vision of implementation (pseudocode):

1. Check/create calendar same name as Deck (untill true, maybe move this to createEventMethode).
2. Need 2 methods: create event in callendar and delete event in calendar.

[2018-01-22 10:41] cloud2018 opened #406 "small things, usability: card view and board view syncing"
tested with deck 0.3.0, NC 13.0.0 RC 1

### 1. Autosave lets disappear assigned user in card view ###
**Steps to reproduce**
1.1. Assign a user -> the user is shown in board view and card view correctly:
![1 1 deck](https://user-images.githubusercontent.com/34692335/35216175-011579de-ff67-11e7-9330-26e97407020e.png)

1.2. Edit description, wait till autosave

**Actual behaviour**
The assigned user

[2018-01-22 12:38] jancborchardt commented on #399
Yep, making it sticky is good. And individual scrolling should be fine too. In doubt, it's not bad to do it like Trello as they have more resources for user research. :)

[2018-01-23 10:48] himbeere opened #407 "Assign cards to users not possible on newly created boards"
Hello Devs.

Thanks for your work. I like the app very much.

My question. It's just a minor glitch i guess. At what point is it possible to assign a card to a user? Obviously the board must already been shared with that user? Even then i have to click "shared boards" && "the shared board" to actually be able to assign a card to a user. Before that there are no users shown to share the board with.

[2018-01-23 12:26] juliushaertl commented on #407
Unfortunately I cannot reproduce that. The following works for me if there are already shared users on a board:
1. Open Deck
2. Click on a board in the default list
3. Select a card
4. Click the add button in the details view
5. Add a user from the list

Besides that I think it would be a nice enhancement to also show other users and make it possible to share the board with them right from the use

[2018-01-23 12:28] juliushaertl commented on #404
@bpcurse Thanks for the ideas. I think we should rather go and make the add card button sticky at the bottom, so that it is always visible. As described in https://github.com/nextcloud/deck/issues/399

[2018-01-23 12:28] #404 closed

[2018-01-23 13:15] ossie commented on #286
Another point: Make search case insensitive

[2018-01-23 13:19] himbeere commented on #407
Your example works for me to. Here is my workflow which does not.

1. Open Deck
2. Create Board
3. Share Board
4. Create Card
5. Share Card --> does not work. No User shown.

6. Click on Shared Boards
7. Click on the specific shared board + card --> Share with User works.

thanks and cheers
t.

[2018-01-23 13:53] p2git commented on #398
Yes, this is exactly what I meant.

[2018-01-24 10:56] srbaker commented on #392
I am hoping to finish up #83 in the next few weeks, and will need "do things by email" for a few other projects. I'd be interested in working on this.

[2018-01-24 12:27] juliushaertl commented on #392
@laurentiu2 Ok, fine. Feel free to add your bounty here. :+1:

[2018-01-26 01:23] nekohayo commented on #407
I've been encountering this issue randomly, it's a bit infuriating... half of the time when I click to add a user to assign, the popup widget thingy is empty instead of offering me the users; and when it does show the users, if I type into the search box to filter down to a user, it shows no results at all (blank again). It kinda looks like a race condition.

I think I've experienced this with the

[2018-01-26 01:35] nekohayo opened #408 "Combined sidebars, or card editing popover"
I have only one board, but it has six columns, and Deck is quite space-inefficient when it comes to letting me see them all. I typically can only see one and a half columns at a time, because there is a sidebar on the left (for boards) and a big fat sidebar on the right (for card properties) that pops up all the time.

So in practice, on a tiled half-screen browser window (half of 2560px), Deck is

[2018-01-26 09:15] pixelipo commented on #408
You do realize that we have this button to hide the left sidebar?
![image](https://user-images.githubusercontent.com/4129927/35432785-7512f290-0281-11e8-9b86-064796d85227.png)

Second suggestion will mostly be solved once we implement in-place card editing #251

[2018-01-26 09:15] #408 closed

[2018-01-26 14:23] nekohayo opened #409 "Some actions (like creating a new card) sometimes don't trigger a visible result / board refresh"
With a card stack that is more than a few cards high (in my case: 16 high) the interface is fairly sluggish, and not only do I have to scroll all the way down to add a new card each time, it also seems like it doesn't create it when I click the +, type something like "Market/document feature foo at https://example" and press Enter, it seemingly doesn't create the card (but it actually does, as it

[2018-01-26 19:34] juliushaertl commented on #409
That is a good point. For slow internet connections this is quite a usability issue. We should either show a loading indicator or even add the card already.

[2018-01-26 19:37] juliushaertl commented on #403
I get the point why this might be needed, but adding another button for that doesn't seem like the best solution. I think we should focus on proper filtering so users can decide to just see the cards they need to see. Any opinions @nextcloud/deck ?

[2018-01-26 22:14] nekohayo commented on #409
You folks should benchmark Nextcloud+Deck running behind a transatlantic 100-120ms latency link... it is quite painful. This approach might reveal performance issues and race conditions. Even better if your benchmark server is a raspberry pi ;)

[2018-01-27 04:20] websafe commented on #259
This is a must. I came here after few hours with Deck exactly for this reason - accidental deletion of a complete stack with cards is too easy. There should be at least an additional prompt and a way to undo.

[2018-01-28 02:48] linksilver opened #411 "modification history"
hello this is an idea:
card's versioning, each modifications could be saved and restored
is it possible ?
thanks btw !!!!

[2018-01-28 15:25] nekohayo commented on #408
No I didn't. For starters it is really not obvious because it's a hamburger and not a "collapse me" arrow icon. The hamburger is not typically used to symbolize this unless the sidebar would be a permanently collapsed thing that only pops up temporarily when you click the hamburger and then self-closes again after use...

Secondly, my points about the properties sidebar being hugely wasteful still

[2018-01-29 08:18] juliushaertl commented on #408
Yeah, that is a good point, we should probably use just a close icon there if the sidebar is open.

Not really. You can also just close the sidebar again - as it would work with the popover as well. I'd prefer to keep the sidebar there, since it allows to still have a look at the board while editing a card.

[2018-01-29 08:20] juliushaertl commented on #411
That would be indeed pretty nice to have. The actual implementation requires a lot of work I think. So maybe something for the future. :wink:

[2018-01-29 17:42] juliushaertl commented on #409
@nekohayo Sadly there is still a lot of stuff to do. :wink: Help is always appreciated.

[2018-01-29 18:14] nekohayo opened #412 "Allow filtering by user with a URL"
I'd like to be able to filter the deck board view to show only the tasks of a particular user or two, and for that to be reflected in the URL (so that I can copy-paste that to show someone else over chat)

[2018-01-31 21:24] bpcurse commented on #401
Another design proposal as a dynamic dropdown list of existing stacks. Either with an additional button or simply opening when the "add stacks" field is clicked.

![deck_overview_stacks_example_dropdown_no_due_date](https://user-images.githubusercontent.com/29312856/35648217-4f387d62-06d5-11e8-83ea-6e75f6a8225d.png)

[2018-02-01 10:18] ParnBlade opened #413 "How to restore a deleted column ?..."
Hi !
I'm on Nextcloud 12.0.3 en deck 0.3.0.

A user had del a column in deck for his project and ask me if there any change to restore it.
Have you a hint for doing this ?

Could be a good things to have a trash option or a alert message to avoid this ?

Sorry for my english ! Good work and have a nice day !

[2018-02-01 22:14] juliushaertl commented on #413
I'm sorry, unless you have a backup of the database, there is currently no way to restore a deleted stack. This feature is already on our list for the next version. #259

[2018-02-01 22:14] #413 closed

[2018-02-01 22:20] juliushaertl opened #414 "Filter / sorting options for cards [$167]"
This issue is to track various filter options that should be implemented in the board view:

- Filter by assigned users (from https://github.com/nextcloud/deck/issues/412)
- Filter by due date (from #222)
- Filter by tags (from https://github.com/nextcloud/deck/issues/289)
- Filter by archived state (from https://github.com/nextcloud/deck/issues/1098)
  - it should be possible to show all/only una

[2018-02-01 22:21] juliushaertl commented on #412
Thanks for the feature requets. I've created a summarizing issue regarding filters. Closing this in favor of https://github.com/nextcloud/deck/issues/414

[2018-02-01 22:21] #412 closed

[2018-02-01 22:22] juliushaertl commented on #289
I've created a summarizing issue regarding filters. Closing this in favor of #414

[2018-02-01 22:22] #289 closed

[2018-02-01 22:22] juliushaertl commented on #222
Summarized the filtering/sorting in #414

[2018-02-01 22:22] #222 closed

[2018-02-02 09:31] #389 closed

[2018-02-05 09:24] mat-l commented on #187
Are there any updates about offering an App for the great Nextcloud Kanboard plugin? I'd love to see one.

[2018-02-05 11:19] juliushaertl commented on #187
Nothing new here, sorry to tell so. We need to finish the rest api first. :wink:

Progress of that is in #83 / https://github.com/nextcloud/deck/pull/271

[2018-02-05 18:54] quenenni opened #418 "{{b.title}} instead of the board name"
Hello,

I installed on a new server (debian 9 / nginx / php7-fpm / mariadb) nextcloud 12.0.5.

When loading the deck page, there is a problem.
In the left part, under "Shared boards", instead of a board name, I see {{b.title}}

I tried the last 4 versions of deck, and in each of them, I have the same error.

There are no js errors in the console nor errors in the server log files.
I tried to creat

[2018-02-06 12:04] juliushaertl commented on #418
Did you install deck from git? This looks like the js is not compiled there. Only the release archives from the app store should be used.

Otherwise please fill out the complete issue template. :wink:

[2018-02-06 18:42] quenenni commented on #418
I downloaded from the download button -> zip file available in the code section.

The strange thing is it happened for versions of some apps I added, but every time, choosing the version before that one fixed the problem.. but they all were downloaded the same way.

So why only yours is doing that.. I'm not sure I understand all the finesse behind the different ways to get apps.

But, thanks a lot

[2018-02-06 18:46] juliushaertl commented on #418
The download from GitHub is not meant to be run on production. If you download from the GitHub releases https://github.com/nextcloud/deck/releases, please make sure to download the deck.tar.gz archive, because the others (labeled Source Code also don't contain the compiled javascript).

There are a couple of apps doing it this way. You should in general download apps from apps.nextcloud.com or jus

[2018-02-06 18:46] #418 closed

[2018-02-06 18:48] quenenni commented on #418
Thanks for the explanation.

[2018-02-09 08:28] #407 closed

[2018-02-16 10:03] MercuryOZ opened #420 "Comment field in app. Do you plan to add comment to the cards?"
### Steps to reproduce
1. Open your deck
2. Create a task
3. Try to leave comments to the task

### Expected behavior
Comments are really useful in trello. It will be nice to use them here.
Do you plan to add comment field to the cards?

### Actual behavior
There are no comments field in DECK app

### Server configuration

**Operating system**:
windows 10  x64
**Nextcloud version:** (see Nextcloud

[2018-02-16 10:18] juliushaertl commented on #420
Duplicate of #10

[2018-02-16 10:18] #420 closed

[2018-02-19 07:10] bpcurse commented on #259
Just happened with our instance, too. A user deleted a huge stack and we had to manually repopulate some of the deck specific database tables from yesterday's sql backup dump. Another "thumbs up" for this really important feature!
As mentioned above by Spacebjorn and websafe a warning prompt if the user really wants to delete the stack would help a lot and should probably be faster and easier to i

[2018-02-19 07:52] bpcurse opened #421 "Separate "high priority" card tag"
While using deck in our setup the use case for a separate "high priority" mark has shown up. The self defined colour tags are useful but lack some unique attribute to distinguish high priority tasks. For us it seems to be useful to be able to tag a card as "high priority" separate to the self defined tags.

A card marked this way could optionally be moved automatically to the top and / or be filte

[2018-02-20 05:00] jacestk opened #422 "Share panel makes navigator "extremely slow" and crashing"
This fantastic Apps is completly out of order... :(
We can't use it anymore and have tons of projects on it....
I think it cames from LDAP users search. It was fully working on NC12 (12.0.029) with Deck 0.3.0
[NEW]
After some debug, I can tell you:
- all users are "upcoming" nicely but after a loooooooooooooong time using:
/ocs/v1.php/apps/files_sharing/api/v1/sharees?format=json&itemType=0&itemTy

[2018-02-20 10:30] jacestk commented on #422
Ok, the bug cames from the fact that **all my users** are filling the list hunder the input name selector. So there are about 1200+ GET for the avatar running at the same time.
On old NC12 (12.0..0.29), only 2 steps (12 users) were coming, then when I was slidding the drop down menu, GET request were made 6 by 6.
I'm looking in the code were is the promise call.

[2018-02-20 11:07] juliushaertl commented on #422
The sharing API doesn't respect the limit of users requested, so it returns all users when searching them in the servers ContactsManager. A partly fix is in https://github.com/nextcloud/server/pull/8206 already, I'll see if I can add a hotfix to deck, so that at least the rendering of the users will be limited. So at least the massive wait time that is required during the list rendering should be

[2018-02-20 11:16] jacestk commented on #422
Ahah yep I thought also it was a bug from NC...

[2018-02-20 11:44] juliushaertl commented on #422
https://github.com/nextcloud/deck/pull/423 should help with the hanging UI.

[2018-02-20 12:22] jacestk opened #424 "Add a confirm dialog box for deleting stacks (& perhaps cards)?"
Lot of usershere have lost complete stacks with tons on cards in.
When they try to re-order the stacks, as the delete button is actually masked, some of them accidently click on the trash and delete all the job! It is not cool... :/
Is it possible to display a confirm dialog ?

### Steps to reproduce
1. Just clic on delete icon
2. and it is deleting without confirmation!

### Expected behaviour
A

[2018-02-20 13:54] juliushaertl commented on #424
We plan to add undo to delete as described in #259 in the next version. So closing this as a duplicate. I'm aware that his is something urgent, this is actually the next on my list when starting to develop features for deck 0.4.

[2018-02-20 13:54] #424 closed

[2018-02-21 00:59] sunjam commented on #83
[Related issue for creating deck cards from a IFTTT-style web hook](https://github.com/joeplus/nextcloud-ifttt)

[2018-02-21 02:52] jacestk commented on #422
Mhhhh or not :) Changed the lines below as mentioned in the patch:
 -                 var users = response.ocs.data.exact.users.concat(response.ocs.data.users);
+                 var users = response.ocs.data.exact.users.concat(response.ocs.data.users.slice(0, 4));
-                 var groups = response.ocs.data.exact.groups.concat(response.ocs.data.groups);
+                 var groups = respons

[2018-02-21 07:00] sunjam opened #425 "Request: import and sync Tasks from within Nextcloud Deck"
Any plans to sync [Nextcloud Tasks](https://github.com/nextcloud/tasks) with Nextcloud Deck?

[2018-02-21 07:17] dennmuel commented on #425
I think #15 would cover that, right?

[2018-02-21 07:29] sunjam commented on #31
[Here is the corrected url link to issue 15, adding Caldav support to Deck.](https://github.com/nextcloud/deck/issues/15)

[2018-02-21 07:31] #425 closed

[2018-02-21 09:40] juliushaertl commented on #422
@jacestk In general you need to either patch the combined js file in js/public/app.js or enable debug more on your nextcloud instance so that all the js files get loaded individually.

[2018-02-22 04:17] jacestk commented on #422
Ok thank you, I made the patch and set on the debug mode. Just waiting for the NC core update!

[2018-02-22 16:31] kluthe commented on #422
@juliushaertl - thank you for workaround!

When I enable debug mode in nextcloud, the board user assignement works perfect. Fast and no loading problems from LDAP. I have 1200 Users.

But the Card user assignement is dead.

What does it mean "patch the combined js file in js/public/app.js"?

Deck is such an awesome app. Keep on!

[2018-02-23 09:33] supremesyntax opened #426 "Invisibly assign users to cards without sending notification"
Feature request:

In our daily workflow we would like to be able to assign users without sending out a notification or the need to share a board. (assignment should be invisible to assigned user at first)
* First use case is for personally monitoring tasks without the need of sharing boards.
* Second use case is to create a board with cards and assign users and share the board only when everything

[2018-02-25 09:40] #422 closed

[2018-02-25 09:42] juliushaertl commented on #422
We use a build script to combine all the individual js files into one app.js, since that is not available for the shipped release package, you need to find the code and patch it in app.js, if you don't run in debug mode.

Anyway I'll try to do a bugfix release soon, so that the fix will be available to everyone.

I cannot reproduce that, can you open a new issue with some more details?

[2018-02-27 11:24] juliushaertl commented on #421
From my point of view using normal tags would be enough for that. You can just use one color for a high priority label, so it should be easy to distinguish and filters from #414 will allow you to sort them first/show just those cards.

[2018-02-27 11:24] #421 closed

[2018-02-27 11:27] juliushaertl commented on #426
It would make sense to not notify about own actions of course. :+1:

Assigning users that have no access to the board seems to be somehow wrong from a UX point of view. That might lead to confusion when users think that they assigned a card to someone, but that person isn't aware of it, because the board is not shared.

[2018-02-27 11:44] supremesyntax commented on #426
First use case is for personally monitoring tasks without the need of sharing boards.

It would make sense to not notify about own actions of course. +1

oh you got me wrong on this one... both use cases are based on assigning users without notifying them until i want them to be notified.

I agree in the UX pov.
Of course there needs to be some hint or indicator that a user is assigned but board i

[2018-02-28 15:58] juliushaertl opened #429 "Inconsistent items in pop-ups more (3 dots)"
**Steps to reproduce**
2.1 Open right pop-up "more" (3 dots) in boardlist view
2.2 There is the item "Delete board"
2.3 Open left pop-up "more" (3 dots) in sidebar view
2.4 Not expected: There is no item "Delete board"
![deck_20180119_issues3](https://user-images.githubusercontent.com/34692335/35144038-a586022e-fd03-11e7-86cf-2d2496fa14e4.png)

from https://github.com/nextcloud/deck/issues/402

<b

[2018-02-28 16:00] juliushaertl opened #430 "Left pop-up from more (3 dots) doesn't disappear"
It should not be possible to have two popovermenus from the left sidebar and the main board list open at the same time.

From #402

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/55661539-left-pop-up-from-more-3-dots-doesn-t-disappear?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept

[2018-02-28 16:00] juliushaertl commented on #402
Split those issues into #429 and #430.

[2018-02-28 16:00] #402 closed

[2018-03-01 04:44] 11111000000 commented on #279
aug 17?! when you're guys will fix that?

[2018-03-01 09:58] callmemagnus commented on #302
Hello again,

OK  I finally found the reason of the misbehaving Ctrl key.

In gnome there was a configuration that enabled you to "highlight" the position of the mouse when you click "Ctrl". It does not work anymore, don't know why.

The configuration was still there. So it was interfering with ALL operations using Ctrl.

Sorry for the noise!

The said configuration:

[code]

[2018-03-01 11:42] juliushaertl commented on #302
@callmemagnus Great that you found a solution.

[2018-03-02 15:13] juliushaertl opened #431 "Integration tests broken"
Integration tests are broken, possibly though the guzzle update of the server.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/55713353-integration-tests-broken?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=pl

[2018-03-02 16:52] #406 closed

[2018-03-02 16:52] #385 closed

[2018-03-02 18:30] #387 closed

[2018-03-03 09:06] MercuryOZ opened #433 "scrolling in the deck"
### Steps to reproduce
1. open your deck with 10 decks in it
2. try to reach the last deck
3. scrolling bar is to small to observe it

### Expected behavior
scrolling bar is easy to observe it. the user can change standard wide of the deck so its no need to scroll it.

### Actual behaviour
The scrollbar is too small and it hard to observe it. A lot of decks is hidden out of the screen border

**VI

[2018-03-03 09:27] MercuryOZ opened #434 "changable wide of the decks"
### Steps to reproduce
1. create 1 deck
2. add 10 deks in your one deck
3. try to change the wide of the decs trying to put all the decs in one screen

### Expected behaviour
User can't change the default wide of the deck. So some of the decks are hidden

### Actual behaviour
Some decks are hidden

[2018-03-03 10:53] cloud2018 opened #435 "Translation of confirmation when delete a stack is not displayed"
tested with Deck v0.3.1-rc1 and NC 13

The confirmation when deleting a card is translated, but when deleting a stack the confirmation is not translated

Perhaps it's the missing t(...) in StackService.js

[https://github.com/nextcloud/deck/blob/ad9ce6cd26f06bf46db11d2355be8c077734ae02/js/service/StackService.js#L126](https://github.com/nextcloud/deck/blob/ad9ce6cd26f06bf46db11d2355be8c077734ae02/

[2018-03-03 11:28] juliushaertl commented on #435
Thanks for testing the RC, yes that needs to be fixed.

[2018-03-03 11:29] juliushaertl commented on #435
@cloud2018 mind opening a pull request to fix that? Would be awesome.

[2018-03-03 11:34] cloud2018 commented on #387
@juliushaertl  thanks, works fine when all retested in 0.3.1-rc1.

Only for information, cause concerns only when a user was deleted, while an old version of deck was installed:
**Steps to reproduce**
When deck  0.3.0 is installed and the deleted user is still assigned (like above) and i update deck to v0.3.1-rc1 the deleted user is still assigned in v0.3.1-rc1 and I can't remove the deleted user

[2018-03-03 14:02] #435 closed

[2018-03-03 18:26] juliushaertl commented on #433
The reasoning is the same as in #434, so we won't add an option for the width. The scroll bar height is actually the same across Nextcloud, but I'm not sure if it is worth making that bigger since you can access it and tochpads and mouses offer their own mechanism for scrolling.

[2018-03-06 21:26] nekohayo commented on #259
The stack delete feature is "dangerous" (words fail to express my frustration at having encountered this today). I don't see why the delete button should even be present at all, especially if there are tasks within the column. Even then: what happens to archived/hidden tasks within that column/stack when it gets deleted? I hope they don't get silently permanently deleted too?

[2018-03-12 05:11] bryantjopplin opened #437 "Deck assigned users get emails"
Any feature planned to send emails once you attach a user to a deck/stack/card? Or am I blunt and missing it? Thanks

[2018-03-12 07:13] buttle opened #438 "As Deck auto saves, everything freezes up."
### Steps to reproduce
Edit a description of a task

### Expected behaviour
We should be able to write in the textarea

### Actual behaviour
As Deck auto saves, everything freezes up. All the different participants' icons on all the stacks reload (spinning wheel), and it is impossible to write. If you wait a little, the saving stops, and you can continue. But then the autosaves kicks in again.

<b

[2018-03-14 12:22] splitt3r opened #439 "Sidebar misses data after card deletion"
After deleting a card the sidebar should be closed. For now it stays open but has invalid data.

**Nc Version:** 13

**App Version:** v0.3.0

**Browser:** FF 58

![sidebar](https://user-images.githubusercontent.com/1869584/37402063-6ef42266-278a-11e8-87ab-69bce3d3b3c5.png)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/56161301-sid

[2018-03-15 11:25] vlachmilan commented on #437
+1 would be cool.

[2018-03-15 15:40] christianlupus opened #440 "Cannot add stacks as no menu is there"
### Steps to reproduce
Simply open the deck layout in nextcloud.

### Expected behaviour
In the upper right corner there are the controls to add a new stack, view the archived cards and open the board configuration.

### Actual behaviour
The corresponding `div` tag has a class `hidden` attached and therefore is not visible by css. Removing the class in the web developer of the browser allows to us

[2018-03-16 10:19] cloud2018 opened #441 "usability (inconsistency): 3 dots pop up menu of a card"
Tested with deck 0.4.0-alpha1 Nextcloud 13.0.1
### Steps to reproduce
1. Create two cards
2. Click on a card (card2) and then click on the 3 dots of the **same** card
 -> like expected the menu shows Archive and Delete, both are enabled:
![2 deck 2018-03-16 10-27-43](https://user-images.githubusercontent.com/34692335/37513883-9892f840-2906-11e8-9266-468ba6d73317.png)

3. Reopen deck and click on a

[2018-03-16 10:20] cloud2018 opened #442 "usability: refresh view when click on a card"
Tested with deck 0.4.0-alpha1 Nextcloud 13.0.1

### Steps to reproduce
1. Create two cards
2. Click on a card (card2) and then click on the 3 dots of the card  to open the menu
3. Click on another card (card1)
![3 deck 2018-03-16 11-06-35](https://user-images.githubusercontent.com/34692335/37515200-59cbeb04-290a-11e8-8f26-784d826c3857.png)

### Expected behaviour
The 3 dots menu from card 2 is not

[2018-03-19 09:46] juliushaertl commented on #440
@christianlupus I cannot reproduce the issue. Can you state which div actually has the hidden class?

[2018-03-19 10:02] juliushaertl commented on #437
Once we introduce integration with the Nextcloud activities #211 users can get emails about that just as like it is possible for other activities. Closing this, since it is related it #211

[2018-03-19 10:02] #437 closed

[2018-03-19 12:33] christianlupus commented on #440
I think an image will tell more than 100 words: ![nextcloud-screenshot](https://user-images.githubusercontent.com/8202922/37595475-3ef592dc-2b79-11e8-8cb6-dea01b1753b9.png)

You can see that `div` that contains the `div#stack-add` has the attached class `hidden`. If I remove the class, the control appear.
I am unsure if I just missed some needed user interaction like clicking on some button to rem

[2018-03-19 14:40] juliushaertl commented on #440
Hm, the hidden rule should actually be overwritten by the .board-header-controls class. Looks a bit weired that the css rule for the hidden class is not from server.css but from Inline:276. Can you check where that is set? The deck styles should be loaded after server styles and therefore overwrite them.

[2018-03-19 14:42] juliushaertl commented on #438
Please report the version this issue occurs.

[2018-03-19 14:45] juliushaertl commented on #433
Closing as a server issue. See https://github.com/nextcloud/server/issues/6275 for further discussion about the scrollbar size.

[2018-03-19 14:45] #433 closed

[2018-03-19 14:53] buttle commented on #438
Hi,

This started happening after the last upgrade to  0.3.1

[2018-03-20 10:28] christianlupus commented on #440
Dear juliushaertl, I am unfortunately unable to localize the exact source of the `.hidden` definition. In line 276 of the index file the `a` tag in the top menu seems to be located as far as I understand.

Would it be useful if I gave you access to the server to track down the error?

[2018-03-21 21:20] juliushaertl commented on #440
@christianlupus That could help, yes. Just send me a test account login via mail, then I can have a look.

[2018-03-22 09:33] christianlupus commented on #440
@juliushaertl I just sent you an email with the credentials.

[2018-03-22 10:10] christianlupus commented on #440
OK, you sent me an email, that you could not confirm the problem.

I tried with Chrome (normally I use Firefox). Chrome shows the buttons. I still do not get any buttons in FF although I removed my whole cache (and lost the saved keys in the password manager thereby). No success.

[2018-03-22 14:44] christianlupus commented on #440
What the h****? I just opened the nextcloud instance and found the buttons there in firefox. I am completely lost here as it seems to work without any further modification. Maybe the upgrade I installed changed anything.
Anyhow I will close this issue now as it seems to be solves. If necessary I will reopen it.

[2018-03-22 14:44] #440 closed

[2018-03-25 14:01] bpcurse commented on #438
Same here on Nextcloud 13.0.1, Deck 0.3.1 accessed through Firefox 59.0.1 on Manjaro Linux.
Local CPU core utilization (1 of 4) is increased to the max during the auto-save process.
The symptoms are the same as described above by buttle.

[2018-03-26 18:05] juliushaertl commented on #438
Could you also provide some details about your browser? The best would be to fill out the complete issue template. I cannot reproduce that, even with a really slow connection (with 8s of latency for the save request)

[2018-03-28 06:22] frinanta commented on #245
I want every user can choose their own color in nextcloud templet, eg user a want yellow color, user b want green color, can you help me, how to make it?

[2018-03-28 09:21] juliushaertl commented on #245
@frinanta Not possible at the moment and I don't see that coming, since it is a very specific feature that would add a lot of additional code that needs to be maintained.

[2018-03-29 19:18] sunjam opened #443 "Request: Mindmaps app integration"
See related [Mindmaps integration request #48](https://github.com/splitt3r/mindmaps/issues/48).

Once [Deck app REST api issue #83](https://github.com/nextcloud/deck/issues/83) is resolved and [Mindmaps Markdown issue #5](https://github.com/splitt3r/mindmaps/issues/5), it would be amazing to:

- View Mindmaps as Kanban boards for project management
- View Kanban boards as Mindmaps
- Import/export

[2018-03-30 10:30] daniel-wtd commented on #438
Adding the template from my side, because I am affected, too.
Haven't added a ton of logs here, since there was nothing special to see.

### Steps to reproduce
1. Open Deck
2. Open a Board (mutiple tasks should exist and users should be assigned)
3. Click one existing Task
4. Choose some tags
5. Assign a/multiple users
6. Add content to the description
7. wait some seconds until auto-save
8. add m

[2018-03-30 10:36] daniel-wtd opened #444 "Feature: Markdown Parser toggle"
### Steps to reproduce
1. Open Deck
2. Open a Board
3. Click a Task
4. Description is parsed as markdown

### Expected behaviour

The parsing of markdown for descriptions should be configurable.
At least a switch to turn it on/off would be awesome. In many cases the description does not consist of too many content and the parser is somewhat "overpowered" for 10 lines of bullet points.

A global sw

[2018-03-31 14:45] putt1ck opened #445 "Allow creation of cards via API (and/or email)"
It would aid integration (and make for a great work ticket system) if there was a way to add new cards to a board via an API (or by sending an email to the server - but if there was an API we'd build that bit anyway). This would allow non-NC users to create cards and also enable a "quick add" solution that doesn't require a user to log in to NC just to add a card.

[2018-04-04 10:16] juliushaertl commented on #445
duplicate of #83

[2018-04-04 10:16] #445 closed

[2018-04-04 11:48] putt1ck commented on #83
Is there any movement on this (or any way we can help out)?

[2018-04-05 20:09] juliushaertl commented on #83
@srbaker Maybe you can give us an update if you are still on implementing it. Otherwise maybe @putt1ck could pick up the work already done and continue with that. :wink:

[2018-04-08 14:43] joergsch commented on #438
This issue seems to be gone if the line

from `CardController.js` (line 81) gets removed.

[2018-04-08 15:03] daniel-wtd commented on #438
@joergsch I can confirm this.

[2018-04-09 08:37] cyborg00222 commented on #438
@joergsch this only fixes it, until it saves the first time. after that, it hangs again. (and reloading everything) maybe i'm going trough the code after work. :)

[2018-04-09 09:40] juliushaertl commented on #83
@srbaker Take your time. If you need any help, maybe you can just ping @putt1ck for that.

[2018-04-09 18:34] Rello commented on #195
Hello,
carefully asking, if this was looked at already? :-)

[2018-04-10 17:10] ikke-t opened #446 "Moving cards with finger in android browser doesn't work"
### Steps to reproduce
1. Open Deck in either Chrome or Firefox in Android
2. Have e.g.  ToDo, Doing, Done stacks, and cards in them
3. Press a card and try moving it from left stack to any other

### Expected behaviour
Card would move and get dropped to correct stack. Or there would be button to drag it from. Or there would be drop down menu to select the stack to move to.

### Actual behaviour
C

[2018-04-10 17:15] ikke-t opened #447 "can't copy formatted text from card on Android mobile"
### Steps to reproduce
1. Have a card with markdown syntax
2. try selecting formatted text for copying

### Expected behaviour
Text would remain formatted and allow selecting.

### Actual behaviour
Text turns into markdown source format, and won't let you copy the formatted text.

### Server configuration
**Operating system**:
FreeBSD

**Web server:**
nginx

**Database:**
mariadb

**PHP version:**

[2018-04-13 14:29] putt1ck commented on #83
@srbaker let us know if there's anything we could do to help

[2018-04-16 08:54] 9662 commented on #426
Just write the name of the to-be-assigned user in the content (or title) of the card.

[2018-04-16 09:10] 9662 opened #448 "Huge lag while typing when editing card body"
### Steps to reproduce
1. Create a number of boards (5‒10).
2. Populate the boards. Add at least a few hundred cards to at least one board.
3. Edit the body of a card. Type in at your normal (spirited) touch-typing speed.

### Expected behaviour
Content of card body should be updated without perceptible lag (e.g., as it is on GitHub issues editor).

### Actual behaviour
Content updating is slow an

[2018-04-17 15:01] juliushaertl commented on #448
Closing as a duplicate of #438

[2018-04-17 21:38] juliushaertl opened #449 "Implement support for the fulltextsearch app"
Deck should integrate with the fulltextsearch app as in making the content of all cards searchable though it.

As a starting point the following data should be added to the search index for each card:
- Card title
- Stack name
- Board name
- List of labels

An example implementation can be found at https://github.com/nextcloud/bookmarks_fulltextsearch

I would say we can integrate it directly into

[2018-04-17 21:42] juliushaertl commented on #449
cc @xh3n1 @daita

[2018-04-27 15:28] sunjam opened #450 "Import from Taiga Integration"
[Taiga](https://taiga.io/) is an open source Kanban / Scrum system, which includes a [REST API](https://taigaio.github.io/taiga-doc/dist/api.html).  Will depend on #83

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/57673227-import-from-taiga-integration?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source

[2018-04-27 22:38] Dubidubiduu commented on #195
Hey @juliushaertl,

made a very simple proposal for print media. This hiddes several navigation elements and stuff you don´t need on paper like these buttons to create further boards.

[code]

[2018-04-27 22:47] Rello commented on #195
@Dubidubiduu just tried it. nice start!

I even tried to hide the
`.card-controls` with `display: none;`

what does not work for me is to scale all columns/cards to one page. do you have an idea?

[2018-04-28 09:34] juliushaertl commented on #195
@Dubidubiduu Looks good as a first starting point. Having a separate visibility settings for a print output is actually something more complex. Mind to open a pull request for the rules you started? Just add a separate print.scss file that we can then include in the styles.scss for now.

[2018-05-04 12:10] SueCarreira commented on #109
Hi Julius, are there any news on this feature? Kind regards, S.

[2018-05-11 06:31] quelo1972 opened #452 "Boards will not be deleted by cron, how can I delete a board?"
When I delete a board the board will not be deleted at next cron job run.
How can I delete a board?
I run nextcloud 13.0.2

[2018-05-11 07:15] juliushaertl commented on #452
Can you check the log files for anything deck related? Also how did you setup cron jobs to be run?

[2018-05-11 08:04] quelo1972 commented on #452
It's better if you can tell me how to setup correctly the cron job to do this task, because I can't found any documentation in the deck project.
Thanks.

[2018-05-11 08:31] quelo1972 commented on #452
For me doesn't work the board remain!

[2018-05-11 09:03] quelo1972 commented on #452
Where is che internal task of deck, how can I verify if the nextcloud cron job is working?
I have installed nextcloud from scratch without snap.

[2018-05-11 11:27] quelo1972 commented on #452
The debug mode is enabled
![cattura](https://user-images.githubusercontent.com/28729838/39922337-f28f6ac4-551e-11e8-8188-0c0fcc697493.PNG)
But searching for a string "OCA\Deck" without " doesn't sort anything.

[2018-05-11 11:29] juliushaertl commented on #452
Debug mode needs to be enabled in config.php as well, the one in the UI is just to filter the log messages.

[2018-05-17 14:55] putt1ck commented on #83
Any news? We've got a client project in the pipeline that we'd love to build around NC but we'd need a way to write emails to Deck for it to fly.

[2018-05-19 03:33] GoetheG commented on #414
Very good idea!

[2018-05-19 03:35] GoetheG commented on #411
Hey @linksilver, @juliushaertl,

This would be indeed a necessary function to make Nextcloud easier to use. This would make Nextcloud more collaborative.

Looking forward to it!

Yours

[2018-05-19 03:37] GoetheG commented on #330
Anything new on that topic here?

[2018-05-19 03:44] GoetheG commented on #259
Hey @Spacebjorn,

cannot agree more with you. Everything should be done to avoid unplanned deleting. We also need functions that prevent the need of critical information technology support. Maybe Nextcloud should ask for the password?

I think that a trash bin should be implemented into Deck to give the users the ability to undo their (deleting) mistakes. This is a key problem that unfortunately m

[2018-05-19 03:45] GoetheG commented on #251
YES. Good idea.

[2018-05-19 03:49] GoetheG commented on #249
This is a really necessary feature. With that you can really start competing with Trello :). My hope is that open source software will be key in the future. Adding this feature would bring us one step forward.

Thank you guys!

[2018-05-19 03:52] GoetheG commented on #212
Yes. I agree. This function is needed as well.

[2018-05-19 03:54] GoetheG commented on #204
Hey @juliushaertl,

will this be implemented in the future?

[2018-05-22 08:41] juliushaertl commented on #212
@GoetheG Please use the [Github Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) feature instead of commenting that also need a specific feature. That way we can see your support without notifying all users subscribed to a given issue.

[2018-05-23 17:50] cloud2018 opened #466 "Board doesn't scroll to right side, when moving a card to right side"
**Describe the bug**
Board doesn't scroll to right side, when moving a card to right side

**To Reproduce**
1.  Create 6 or more stacks (to reproduce there must be more stacks than visible in one screen)
2.  Create a card on very right stack
3. Move the card from right to the most left stack. Then the viewport scrolls to the left.
4. Try to move the card from the most left stack to the most right

[2018-05-24 15:04] juliushaertl commented on #466
It seems that scrolling only works if the mouse cursor is out of the window. Thanks for reporting.

[2018-05-25 09:56] juliushaertl opened #469 "Remove boards when a user gets deleted"
Once a user is deleted from the Nextcloud instance all his personal boards should be removed. Boards that are shared should ideally be transfered to another user who has managing permissions on the board.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/58824013-remove-boards-when-a-user-gets-deleted?utm_campaign=plugin&utm_content=t

[2018-05-31 13:32] maherbm opened #475 "Notifications on card assignment"
I want to use Deck in a large research project and unfortunately the following important features are missing to make that easy:

* Notifications when assigning a card: In a big project with many boards and cards it is important to notify the user when a card is assigned to her/him.

* Cards assigned to me: In a big project with many boards and cards it would be nice to quickly find (Active) cards

[2018-06-07 07:19] Cante opened #480 "Recurring cards"
It should be possible to define a recurrence interval.
For example: weekly repeat on monday at 20:00

[2018-06-10 19:28] juliushaertl commented on #212
The checkbox support for markdown has been merged with #463

[2018-06-10 19:28] #212 closed

[2018-06-10 19:29] juliushaertl commented on #395
Fixed with #405. Big thanks to @ossie for the implementation. :clap:

[2018-06-10 19:29] juliushaertl commented on #204
Fixed with #405.

[2018-06-10 19:29] #204 closed

[2018-06-10 19:29] #395 closed

[2018-06-10 19:35] juliushaertl commented on #444
I don't see this happen as it will most likely have only a very small benefit for a quite limited number of users, so having a separate option to toggle is not something that we should introduce.

[2018-06-10 19:35] #444 closed

[2018-06-11 20:24] sunjam commented on #81
[Posting SimpleMDE status here for reference](https://github.com/nextcloud/notes/issues/204). Seems alternatives are being considered.

[2018-06-12 13:21] pgantner opened #489 "Move task from one board to the other"
Have a look at kanbantool.com
there its easy possible to move tasks between the boards.
Regards

Peter

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59572429-move-task-from-one-board-to-the-other?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2018-06-12 15:51] juliushaertl commented on #489
Duplicate of #249

[2018-06-12 15:51] #489 closed

[2018-06-14 13:18] danicotillas commented on #15
I would like to know if finally there is a way to link the card dates with the Calendar.
Thanks!

[2018-06-14 13:19] danicotillas opened #490 "Mention user on the description"
**Is your feature request related to a problem? Please describe.**
It´s not possible to mention a user with @ on the card description

**Describe the solution you'd like**
Just to have the choose of users on the description card when you type @.

[2018-06-15 15:54] dairaine commented on #87
+1 on the possibiliy to export decks, e.g. in a simple csv.

[2018-06-17 09:36] mat-l opened #491 "API / Apps"
Dear all,
How is the status about an API for an mobile App?
Accessing the deck using a separated and optimized app would be great. :)
Best

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/59777807-api-apps?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](h

[2018-06-18 14:02] juliushaertl commented on #491
A rest API has been started in https://github.com/nextcloud/deck/pull/271 besides that there are no news regarding an API.

Closing this as a duplicate of #83

[2018-06-18 14:02] #491 closed

[2018-06-18 14:05] juliushaertl commented on #87
@dairaine Please use the [Github Reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) feature instead of commenting that also need a specific feature. That way we can see your support without notifying all users subscribed to a given issue.

Besides that adding a bounty at https://www.bountysource.com/issues/43773651-request-export-import might encourage comm

[2018-06-18 14:07] juliushaertl commented on #81
I'll keep track of what is happening over at the notes app. Since SimpleMDE is not maintained anymore, i'll close this one. Once there is a good alternative for the notes app, we'll reevaluate switching the markdown renderer.

[2018-06-18 14:07] #81 closed

[2018-06-20 07:35] #441 closed

[2018-06-20 16:22] #109 closed

[2018-06-20 18:27] davedauria commented on #475
I was just coming here to request this feature. It would make the system so much more useful with what I am using it for. Also reminders would be another great thing to have. I love the app and appreciate all the hard work you do for free. I'm using it as part of a small development team at a transportation company and it's great at helping me stay organizized...

[2018-06-20 19:01] cloud2018 opened #501 "color_picker.svg is "invisible" on white background"
**Describe the bug**
When a new tag is white, the icon of the colorpicker is invisibile (white on white background)

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a new tag (default colour is white)
2. See error: The icon of the colorpicker is not visibile (white on white)

![deck_0 4 0 beta](https://user-images.githubusercontent.com/34692335/41678961-e7aa411a-74cc-11e8-9dff-8b16fb5

[2018-06-20 19:01] juliushaertl commented on #501
Hi, I'm [GitMate.io](https://gitmate.io)!

It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the

[2018-06-20 19:02] juliushaertl commented on #501
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/nextcloud/deck/issues/225 (Deck icon is white in apps management).

[2018-06-21 07:12] Cante commented on #480
This is true. You can close the ticket.

[2018-06-21 18:02] cloud2018 opened #502 "line feed in decription of cards after update to deck 0.4.0-beta2"
**Describe the bug**
After update to deck 0.4.0-beta2 the line feeds in the description of a card are lost

**To Reproduce**
Steps to reproduce the behavior:
1. Create a card in deck 0.3.1 and add a description with some lines (markup with no special code, just line feeds)
2. Update to deck 0.4.0-beta2
3. Open the card
4. All lines (edited in deck 0.3.1) are in one line in deck 0.4.0-beta2.

**Exp

[2018-06-21 18:04] juliushaertl commented on #502
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/237 (Error when updating Deck), https://github.com/nextcloud/deck/issues/231 (The style is broken after update to 0.2.1), and https://github.com/nextcloud/deck/issues/110 (0.1.3 renamed to deck instead decks).

[2018-06-21 21:33] cloud2018 opened #503 "upload attachment only for admin possible ?"
**Describe the bug**
A user, who is not admin of nextcloud can't upload an attachment to a card?

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin-user
2. Open a card and attach a file, then the file is uploaded
3. Share the board to a non admin user
4. Login with the non-admin user
5. Open a card and try to upload an attachment
6, The non-admin user is able to select a file, bu

[2018-06-21 21:34] juliushaertl commented on #503
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/17 (Attachments), https://github.com/nextcloud/deck/issues/167 (It's possible to open more than one context menus), and https://github.com/nextcloud/deck/issues/204 (It's not possible to use custom color for a board).

[2018-06-22 12:47] juliushaertl commented on #503
Thanks for reporting. Can you check the beta2 https://github.com/nextcloud/deck/releases/tag/v0.4.0-beta2 ? Fix was implemented in 313bbca4626fb81fa99a80dcf64df0e626c84d3c

[2018-06-22 12:47] #503 closed

[2018-06-22 13:02] cloud2018 opened #504 "error when removing a tag from a card"
**Describe the bug**
When removing a tag from a card, deck crash and in the adress line of the browser is "unsafe:javascript:;"

**To Reproduce**
Steps to reproduce the behavior:
1. Open a card, which has a tag
2. Remove the tag (Click on 'x' of the tag)
3. A error page from the browser is displayed (The address wasn’t understood: unsafe:javascript:;)

**Work around**
Just use the back button of t

[2018-06-22 13:03] juliushaertl commented on #504
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/217 (Error when tag will be removed), https://github.com/nextcloud/deck/issues/421 (Separate "high priority" card tag), https://github.com/nextcloud/deck/issues/138 (Card redesign), https://github.com/nextcloud/deck/issues/480 (Recurrently cards), and https://github.com/nextcloud/deck/issue

[2018-06-22 13:08] cloud2018 commented on #503
works well with beta2
and thanks for this app

[2018-06-22 14:36] bpcurse commented on #34
Maybe it could be somehow combined with https://github.com/nextcloud/deck/issues/403

[2018-06-24 14:34] arnowelzel commented on #469
BTW: This can also lead to the infamous "Call to a member function getUID() on null" errors in the cron log - see https://github.com/nextcloud/server/issues/9953.

Also see the documentation about event hooks in Nextcloud:
https://docs.nextcloud.com/server/13/developer_manual/app/hooks.html

[2018-06-25 10:06] juliushaertl commented on #202
Fixed with #488

[2018-06-25 10:06] #202 closed

[2018-06-25 10:10] juliushaertl commented on #442
This is already fixed on current master.

[2018-06-25 10:10] #442 closed

[2018-06-28 19:32] juliushaertl commented on #501
Fixed by #511

[2018-06-28 19:32] #501 closed

[2018-06-28 19:35] juliushaertl commented on #504
Fixed by #504

[2018-06-28 19:35] #504 closed

[2018-06-28 19:36] juliushaertl commented on #502
Fixed by #508

[2018-06-28 19:36] #502 closed

[2018-06-30 17:41] GustavoMarcante commented on #15
Hi. NextCloud is great. I'm using it as file storage and synchronization with my team of "non tech people" since before the fork and is becoming very stable now (both the software and the people habits to use it).
Applications is a great idea. But, in my point of view (based on my team feedback) having a lot of applications to do a lot of tasks confuses more than help.
Again, in my point of view,

[2018-06-30 18:31] GustavoMarcante commented on #355
In my point of view, would be more coherent to use Vue, as it is a community driven project and, also, many AngularJS users now feel more "at home" with Vue than with Angular 2 or 4.

[2018-07-02 07:08] juliushaertl commented on #249
Some details that need to be clarified before implementing:

- Labels that are assigned to cards are specific to the individual boards. We need to handle them somehow, since the other board doesn't have those labels. I'd just drop them to keep it simple.
- Same for assigned users. Here we could just keep the users that also have access to the other board.

[2018-07-02 07:53] juliushaertl commented on #355
Yes, since vue is being used more and more in Nextcloud in the future, this would be the framework that deck should also move to. Rewriting probably something that won't happen that fast, but maybe we can find a way to already move some parts of the UI to vue while keeping the existing code based on angularjs.

[2018-07-02 07:54] juliushaertl commented on #355
Let's wait with this until we have some proper vue components, that we can then use to start moving parts of the UI. https://github.com/nextcloud/vue-components

[2018-07-03 17:46] cloud2018 opened #517 "wrong target of link of release 0.4.0-beta4?"
The extracted deck/appinfo/info.xml of the release v0.4.0-beta4 has &lt;version&gt;0.4.0-beta**3**&lt;/version&gt; instead of &lt;version>0.4.0-beta**4**&lt;/version&gt;

The deck.tar.gz was downloaded from page https://github.com/nextcloud/deck/releases/
with the first link (https://github.com/nextcloud/deck/releases/download/v0.4.0-beta4/deck.tar.gz)

The other two links [Source code (zip) and S

[2018-07-03 18:40] cloud2018 opened #518 "Broken link in description after the attachment is deleted"
**Describe the bug**
In the description of a card the link of an inserted attachment is broken, after the attachment is deleted

**To Reproduce**
1. Attach a file to a card
2. Insert the attachment (test_attachment.jpg) into description
3. Delete the attachment
4. Wait until the attachment is finally deleted and the icon for undelete  is disappeared
5. Open the card and click on the link "???? tes

[2018-07-03 18:42] juliushaertl commented on #518
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/17 (Attachments), https://github.com/nextcloud/deck/issues/108 (delete a project), https://github.com/nextcloud/deck/issues/375 (Description entry of a card is deleted after card is dragged to a new stack), https://github.com/nextcloud/deck/issues/127 (Long links in cards description are br

[2018-07-04 12:02] juliushaertl commented on #517
Thanks for reporting. The package uploaded was apparently packaged before bumping the version number. This should have no influence on the functionality. I've uploaded the correct package now.

[2018-07-04 12:02] #517 closed

[2018-07-04 12:04] juliushaertl commented on #518
Seems to be a good improvement. But we need to take care we don't change the description but only show a hint about the missing attachment. Maybe a tooltip on the link would be a good option there.

[2018-07-06 15:31] MangoSmoothie101010 commented on #259
Hey,

The best solution seems to be the soft-delete + undeletion functionality in a "trash-bin"-style view.

I would like to start working on this now.

Any pointers for good starting points?

Is a Cloud9 or CodeAnywhere instance already running to speed up onboarding?

[2018-07-06 15:39] juliushaertl commented on #259
@MangoSmoothie101010 Glad to hear that you want to contribute. :+1:

Not sure aware of any cloud9/codeanywhere setup for Nextcloud development, but you can find some documentation on how to get started here: https://docs.nextcloud.com/server/13/developer_manual/general/devenv.html

For the deck app you basically need to clone the repo to the `apps/` folder and enable the app in the Nextcloud apps

[2018-07-09 20:41] MangoSmoothie101010 commented on #259
I finally set the project up successfully.

First I tried on my work machine, then my personal laptop, then c9 and my last failed attempt was codenvy.

But now I just bought a server and I'm happily coding from my terminal, being connected via ssh.

I figured the best ide is free and is just a ctrl alt t away. :)

[2018-07-09 20:46] MangoSmoothie101010 commented on #259
Hm, so the boards are actually deleted once the cronjub went thru?

[2018-07-10 10:49] MangoSmoothie101010 commented on #259
Should the cards also be deleted after a while by a cron job like the boards? @juliushaertl

[2018-07-10 11:22] Nebri commented on #197
Hello!

I'm interested in finding a solid open source project to contribute to, I wouldn't mind trying to tackle this. Will update once I get a dev environment setup and running locally on my machine.

[2018-07-10 11:37] juliushaertl commented on #197
@Nebri Hi, great to hear that and welcome here :wink:

You'll find some details regarding the development environment at https://docs.nextcloud.com/server/13/developer_manual/general/devenv.html and https://github.com/nextcloud/deck#developing

If you have further questions, feel free to ask either here or join our IRC channel on freenode.net: #nextcloud-deck

[2018-07-10 11:38] juliushaertl commented on #259
@MangoSmoothie101010 Ideally yes, but we need to find a way to display deleted cards properly in the UI. I would suggest to first go for stacks and tackle the card deletion in a different pull request.

[2018-07-10 17:04] MangoSmoothie101010 commented on #259
I already implemented the soft delete and currently working on showing the
deleted cards in a newly introduced tab in the board settings sidebar.

I'm not planning on displaying them grouped by stacks, just sorted by the
date of deletion. Which stack they belonged to will be displayed though.

2018-07-10 13:38 GMT+02:00 Julius Härtl <notifications@github.com>:

[2018-07-10 17:15] juliushaertl commented on #259
deleted cards in a newly introduced tab in the board settings sidebar.

date of deletion. Which stack they belonged to will be displayed though.

Ok, that sounds good to me. We can also integrate that into the activity view later once #211 is implemented.

You also can open a pull request already, if you like to get some early feedback.

[2018-07-10 18:46] Nebri commented on #197
it looks like I've got everything running correctly in my development virtual machine now :D. I'm a bit confused on how to set up my git config so that I can automatically sign on my commits to respect the projects Developer Certificate of Origin policy.

I'm using visual studio code, this is something that I absolutely will forget to do on a regular basis, any instructions / references on how to

[2018-07-10 21:18] Nebri commented on #197
alright here is my first attempt at implementing the createDefaultBoard() function suggested by @juliushaertl  https://github.com/Nebri/deck/commit/e208fd8222f457f3865f14d8feadfd822a4d754f

I'm getting a null reference error on the new DefaultBoardService class that I created, but I'm really not sure how I need to instantiate it. Is there a factory / builder? I saw a mock builder in the unit tests

[2018-07-11 01:20] Nebri commented on #197
I found the IConfig and set it up in my DefaultBoardService, and tried setting a userValue through it. But that doesn't appear to be persisting as each time I test it in my local browser, it's always coming back yes.

Commit in question: a36dfcc14448422da75a5fc8048f74593e4893df Can anyone give me some insights here? Am I missing a step to persist it to database?

[2018-07-11 07:02] juliushaertl commented on #197
@Nebri I've added some comments to the commits, but in general this looks pretty good already. :+1:

Please make sure you use tabs instead of spaces when coding, since those are used across the project.

[2018-07-11 08:31] severin-lemaignan opened #525 "Use mouse wheel to horizontally scroll across cards"
With more than a few cards, you end up scrolling horizontally quite a lot.

Using the mouse wheel to scroll left and right would provide a smoother interaction.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60739521-use-mouse-wheel-to-horizontally-scroll-across-cards?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=is

[2018-07-11 08:32] juliushaertl commented on #525
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/317 (Card overflow scrolling for action menu), https://github.com/nextcloud/deck/issues/39 (Card should stick with the mouse while moving it around), https://github.com/nextcloud/deck/issues/480 (Recurrently cards), https://github.com/nextcloud/deck/issues/466 (Board doesn't scroll to right

[2018-07-11 08:33] juliushaertl commented on #525
It should already work that way. It works well for me with Chrome on Linux. Can you provide some details about your browser?

[2018-07-11 08:39] severin-lemaignan commented on #525
THanks for the super quick response!
I'm on Firefox 60 on Linux.
That said, I've tried with Chromium 67, and it does not work either for me.

[2018-07-11 08:44] juliushaertl commented on #525
Hm, strange. I cannot reproduce this with Firefox/Chome and both scrolling with the mouse wheel as well as with my trackpad works fine. Just to be sure, horizontal scrolling works on other webpages for you, right?

[2018-07-11 10:10] severin-lemaignan commented on #525
Horizontal scrolling works on all webpages -- including Deck -- if I press shift while scrolling.

It is not immediately intuitive to me, because in my use case, I've a lot of cards, and few tasks per card -> my layout is mostly horizontal, and I do not often need to scroll vertically. As such, using the mouse wheel (without pressing shift) to scroll horizontally by default would make more sense t

[2018-07-11 10:23] juliushaertl commented on #525
I got your request wrong then. So you propose to scroll horizontally by default when the user scrolls the mouse wheel vertically.

That is a rather use case specific issue. I don't feel comfortable with overwriting browser defaults that would then confuse users who might have decks the other way round with lots of cards on one stack. But thank you very much for your idea @severin-lemaignan, highly

[2018-07-11 10:23] #525 closed

[2018-07-11 10:28] severin-lemaignan commented on #525
@juliushaertl thanks for your responsiveness! and I agree, changing the default browser behaviour is probably not a good idea.

[2018-07-11 19:08] Nebri commented on #197
@juliushaertl I'm trying to address the l10n translations in my code, I think I've implemented it correct but I"m not sure where l10n is pulling it's strings from. I've found the folder l10n which keeps the translations as I was expecting. I tried adding the new strings into en_GB.js + en_GB.json expecting that populate the strings, however l10n->t is still returning back empty.

Is there another

[2018-07-11 19:29] juliushaertl commented on #197
The translations are added automatically every night by a bot based on the translations from transifex: https://www.transifex.com/nextcloud/nextcloud/

No need to care about this further :wink: manually added translations there would be overwritten anyway.

[2018-07-11 19:32] juliushaertl commented on #197
Also feel free to already open a pull request with your work in progress changes. This makes testing, reviewing and keeping track a bit easier.

[2018-07-12 02:28] Nebri commented on #10
This seems pretty straight forward. @juliushaertl I'd be willing to give this a go. After reading this over it sounds like the majority wishes to see the comments as a tab under the details view that comes up on the right panel after clicking a card?

View screenshot below for how that comments tab would appear. Once you give me the go ahead I'll happily create a new branch for this issue and get

[2018-07-12 05:53] jmym opened #528 "Lost all data when update to 0.4.0"
**Describe the bug**
Lost all data when update to 0.4.0, and can't add more items.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'update in application notification'
2. Click on 'update'
3. Goto Deck app.
4. See error, the data it's lost.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expl

[2018-07-12 05:54] juliushaertl commented on #528
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/pull/524 (Prepare 0.4.0 release), https://github.com/nextcloud/deck/issues/231 (The style is broken after update to 0.2.1), https://github.com/nextcloud/deck/issues/502 (line feed in decription of cards after update to deck 0.4.0-beta2), https://github.com/nextcloud/deck/issues/517 (wrong target o

[2018-07-12 06:15] jmym commented on #528
The register show me this message:
Level | App | Message | Time
-- | -- | -- | --
Error | PHP | RedisException: read error on connection at /var/www/html/nextcloud/lib/private/Memcache/Redis.php#54 | 2018-07-12T07:40:25+0200

Error | index | Doctrine\DBAL\Exception\DriverException: An exception occurred while executing 'SELECT `configvalue` FROM `oc_preferences` WHERE `userid` = ? AND `appid`='ojs

[2018-07-12 06:35] juliushaertl commented on #528
@jmym First of all there is no indication that the data is lost. I'd assume it just fails to display. Please check the nextcloud log for errors related to the deck app.

Could you post the full error message including the backtrace for the messages you have posted? You can just go to the data folder of your nextcloud and check the nextcloud.log file for more detailed messages.

[2018-07-12 07:51] jmym commented on #528
{"reqId":"RTATBKDZaP0LHQ5WIKAV","level":3,"time":"2018-07-12T05:40:24+00:00","remoteAddr":"146.158.241.x","user":"j***","app":"PHP","method":"POST","url":"\/nextcloud\/index.php\/apps\/ojsxc\/http-bind","message":"Error while sending QUERY packet. PID=7037 at \/var\/www\/html\/nextcloud\/3rdparty\/doctrine\/dbal\/lib\/Doctrine\/DBAL\/Driver\/PDOStatement.php#105","userAgent":"Mozilla\/5.0 (Windows

[2018-07-12 07:56] juliushaertl commented on #528
There is still nothing deck related. The last message seems to be caused by an error to the redis cache, which might be a reason why fetching the data with 0.4.0 fails. Can you check your setup and see if redis is setup correctly? You can also try to disable redis temporarily to see if this causes the issue.

Are there any other errors in the Nextcloud log?

[2018-07-12 10:10] jmym commented on #528
Ok, i disabled the memcache and repair Redis and not show errors, and activate the Redis. But Deck don't show me anything. And can't to create more labels.
I Disable the Deck, in apps, and activate and nothing, occurs. All it's empty.

[2018-07-12 10:17] juliushaertl commented on #528
Can you check the browser console log for errors? Should work by pressing F12 before opening the deck app. Please report what is listed there when opening deck and trying to create labels.

[2018-07-12 11:20] Nebri commented on #83
I'll happily take a look at this, a json api would definitely benefit the app :)

[2018-07-12 12:10] juliushaertl commented on #528
Thanks @jmym, I have an idea where this might come from but I'm still unable to reproduce. Can you check the source code of the deck app page by pressing Ctrl+U in your browser, search for `config="` and paste that line?

[2018-07-12 13:55] bpcurse commented on #438
Just installed Deck 0.4.0 (on Nextcloud 13.0.4) and it got better.
Not perfect, but at least it is usable again.

[2018-07-12 13:59] jmym commented on #528
var
oc_config={"session_lifetime":1440,"session_keepalive":true,"version":"13.0.4.0","versionstring":"13.0.4","enable_avatars":true,"lost_password_link":null,"modRewriteWorking":false,"sharing.maxAutocompleteResults":0,"sharing.minSearchStringLength":0,"blacklist_files_regex":"\\.(part|filepart)$"};

var
oc_appconfig={"core":{"defaultExpireDateEnabled":false,"defaultExpireDate":null,"defaultExpire

[2018-07-12 14:01] juliushaertl commented on #438
@bpcurse Thanks for reporting back. Yes, there are some parts from #486 that I didn't include into #488 but I'll try to improve further for the next release.

[2018-07-12 14:07] juliushaertl commented on #528
@jmym https://github.com/nextcloud/deck/pull/529/files should fix the issue. Do you have the chance to test this?

[2018-07-12 14:20] jmym commented on #528
Yes, now it's working correctly. I recovery my labels.

El jue., 12 jul. 2018 a las 16:07, Julius Härtl (<notifications@github.com>)
escribió:

[2018-07-12 14:43] juliushaertl commented on #528
Thanks @jmym This will be fixed in the next release.

[2018-07-12 14:43] #528 closed

[2018-07-12 14:50] Nebri commented on #83
@juliushaertl If you don't mind take a quick peak at commit: b2843c858c1ab9b2031a12a698f0b010397f79d5

I'm trying to spit back post data into a DataResponse just to verify my understanding, however when I test it, only the boardId is getting populated, everything else is getting returned as null. In fact if I send up an empty post body, boardId is still getting populated to 1! Seems like it's grab

[2018-07-12 15:05] wiertz opened #530 "List of boards broken after update to 0.4"
I just updated to Deck v0.4 (on Nextcloud 13.04) and the menu to the left does not list any existing board. All it shows are the general menu items (All boards, Archived boards...) and the java script placeholder {{ b.title }}. I tried on my iPad and on my Mac using Firefox.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/60803989-l

[2018-07-12 15:07] juliushaertl commented on #530
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/528 (Lost all data when update to 0.4.0), https://github.com/nextcloud/deck/pull/524 (Prepare 0.4.0 release), https://github.com/nextcloud/deck/issues/502 (line feed in decription of cards after update to deck 0.4.0-beta2), https://github.com/nextcloud/deck/issues/78 (Avatars broken on 0.1.

[2018-07-12 15:38] juliushaertl commented on #530
@wiertz Thanks for reporting. I cannot reproduce that, but can you check the browser error console for possible javascript error messages?

Maybe related to #528 so maybe you can try if #529 fixes the issue for you?

[2018-07-12 15:56] wiertz commented on #530
@juliushaertl Thanks for the very fast response. #529 does fix the issue (modifying lib/Controller/PageController.php as in https://github.com/nextcloud/deck/pull/529/files).

I found an unrelated (possible) issue with colours while checking the js console: "The specified value "#{{b.color}}" does not conform to the required format. The format is "#rrggbb" where rr, gg, bb are two-digit hexadecima

[2018-07-12 20:09] RyanFletcher86 opened #531 "BoardService returns 403 instead of not found"
**Describe the bug**
While developing out the JSON api (issue #83), I noticed that the board service is throwing out a json response of 403: permission denied when trying to look up a non-existent bug.

Since the JSON api is consuming the boardService, it will be throwing the 403 response instead of a 404 response, which will be confusing for the app developers that are attempting to consume the u

[2018-07-12 20:10] juliushaertl commented on #531
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/366 (BoardService.getCurrent(...) is undefined), https://github.com/nextcloud/deck/issues/418 ({{b.title}} instead of the board name), https://github.com/nextcloud/deck/issues/110 (0.1.3 renamed to deck instead decks), and https://github.com/nextcloud/deck/issues/43 (Use display names inste

[2018-07-13 07:31] juliushaertl commented on #531
I unified the response for no permission with not found to not leak any information about existing boards to users who don't have access to. But yes, we should better return a 404 in all of those cases. :+1:

Those exceptions for that are thrown here: https://github.com/nextcloud/deck/blob/b633d82c5e9e406a5c2fb51205f4daca2bcebebc/lib/Service/PermissionService.php#L116

[2018-07-13 11:53] Aesculapius opened #532 "After inserting attachment in description, auto-save doesn't work anymore..."
**Describe the bug**
Awesome to see the attachment feature, but after inserting an attachment into the description field, it isn't being auto-saved....

**To Reproduce**
Steps to reproduce the behavior:
1. create a card
2. enter some description
3. Go to Attachments tab and upload an attachment
4. Go back to description tab and insert attachment, choose the uploaded one with the arrow
5. Enter som

[2018-07-13 11:54] juliushaertl commented on #532
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/17 (Attachments), https://github.com/nextcloud/deck/issues/518 (Broken link in description after the attachment is deleted), https://github.com/nextcloud/deck/issues/369 (Auto save discards changes), https://github.com/nextcloud/deck/issues/247 (Sharing in left navigation doesn’t seem to wo

[2018-07-13 11:55] Aesculapius opened #533 "Paste image on clipboard directly to comments like GitHub"
The new attachment feature is awesome, it would be even more awesome if screenshots that are taken, can be pasted directly into the description field, like it is done on Github:

![image](https://user-images.githubusercontent.com/617061/42690404-57dfa806-86a4-11e8-9128-c2054aecb086.png)

That would save the step to save into a file and upload that again...

[2018-07-13 11:56] juliushaertl commented on #533
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/86 (Start comment from everywhere in the comments section), and https://github.com/nextcloud/deck/issues/10 (Comments [$100]).

[2018-07-13 12:00] juliushaertl commented on #533
@Aesculapius Yes, that would be a great enhancement. :+1:

[2018-07-13 13:01] Nebri commented on #403
@juliushaertl I think a filter field at the same level or just underneath the stack title would be ideal. Maybe having a 'pin card to top' could also be useful while we are at it?

[2018-07-13 14:10] cloud2018 opened #534 "Mark card as done"
**Situation**
Simple Board with stacks "to do", "doing" and "done" and due dates for cards. When a card is done in time the colour of the due date is grey and i move the card to the stack "done". After the due date the recalculated colour is red. There is no information, weather the card was done in time or over time, cause all my cards in stack "done" have a recalculated colour red of due date.

[2018-07-13 14:11] juliushaertl commented on #534
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/nextcloud/deck/issues/329 (due date not working), https://github.com/nextcloud/deck/issues/106 (Attach due date to cards), https://github.com/nextcloud/deck/issues/205 (Current date should be highlighted in the due date selector), https://github.com/nextcloud/deck/issues/206 (Due date indicator shoud have title

[2018-07-13 20:40] MangoSmoothie101010 commented on #259
@juliushaertl
Just realized now, that this issue is about stack deletions.

Will implement this after the card undo delete.

[2018-07-14 10:07] juliushaertl commented on #259
@MangoSmoothie101010 :grin: We need undo for deleted cards as well, so no problem.

[2018-07-14 10:12] #197 closed

[2018-07-14 22:35] Nebri commented on #409
@juliushaertl I'd recommend taking a look at a javascript plugin called toastr, wonderful little thing that would make for great visual ques.

[2018-07-15 09:31] juliushaertl commented on #409
@Nebri User feedback should in general be displayed inline instead of showing a popover which misses context and distracts a lot. We have that for the success state as we then just show the new content when creating for example. We need some proper loading display mechanism for the various input fields.

As for adding a card I'd propose to instantly add the card to the DOM show a loading indicator

[2018-07-15 09:35] juliushaertl commented on #534
That seems to be a pretty good idea. We should add an option to mark the card as finished in terms of the due date was made or not.

[2018-07-15 09:40] juliushaertl commented on #414
One possible UI implementation could be to show a filter sidebar, similar to how trello does it:
![image](https://user-images.githubusercontent.com/3404133/42732533-b37dd090-8823-11e8-8ec9-b7ff71e68c3b.png)

[2018-07-15 09:42] juliushaertl commented on #403
@Nebri Checkout https://github.com/nextcloud/deck/issues/414 for the filters

@bpcurse I'll close this because filtering will be a much more universal way than just adding a collapse card mode.

[2018-07-15 09:42] #403 closed

[2018-07-15 09:43] juliushaertl commented on #530
Closing as a duplicate of #528

@wiertz Please open separate issues for the color picker bugs. :wink:

[2018-07-15 09:43] #530 closed

[2018-07-15 14:36] wiertz opened #537 "Colour picker does not show in Safari"
**Describe the bug**
Using Firefox and Chrome, clicking on the color picker icon in board properties or new board menu opens a small window to choose a color. Using Safari no such window appears.

**To Reproduce**
Create a new board in Safari and click on the color picker icon to the right of the color scale.

**Client details:**
MacOS High Sierra
Nextcloud 13.04
Deck 0.4
Safari 11.1.1

No big iss

[2018-07-15 15:33] juliushaertl commented on #537
Thanks for reporting. Seems that color input is not supported by IE and Safari 9, but you seem to have Safari 11. Anyway we might need something like jscolor as a fallback then.

https://caniuse.com/#feat=input-color

[2018-07-16 08:01] Aesculapius commented on #532
Well, good catch; that definately seems to be the point where things fail :-)

![image](https://user-images.githubusercontent.com/617061/42748124-40f2ecba-88df-11e8-9b45-091eae1ce051.png)

[2018-07-16 08:11] Aesculapius commented on #532
obviously that PUT command is failing with a 500-error. What permissions are needed to make this work? I already created the /cards folder with write permission in the /apps/deck/ folder (wasn't there) but to no avail...

[2018-07-16 22:55] Nebri commented on #83
@nextcloud/deck just to be sure nothing gets missed, can I get a list of endpoints that we want to support for the api?
We are very close now :+1:

[2018-07-17 03:45] Nebri commented on #14
Can a better description of requirements to be implemented be written for this? I'm getting more and more familiar with the project but I am completely out to town on what needs to be done for this.

The json api that I've been writing is nearing it's completion and this bounty is tempting!

[2018-07-17 09:11] Arvi89 opened #539 "Add cards in calendar"
It would be awesome to have a new calendar per board, and to be able to see cards in the calendar.

[2018-07-17 09:55] juliushaertl commented on #532
Thanks for the log files. This is actually a bug. Your database doesn't have 4-byte support enabled and therefore fails to insert the attachment icon. We should not add that icon in that case.

Reference regarding 4-byte support:
https://docs.nextcloud.com/server/13/admin_manual/configuration_database/mysql_4byte_support.html

[2018-07-17 09:55] juliushaertl commented on #539
Duplicate of #15

[2018-07-17 09:55] #539 closed

[2018-07-17 10:00] Aesculapius commented on #532
Or should I just enable this 4-byte support then?

[2018-07-17 10:05] juliushaertl commented on #532
Yes, that should fix it as well :wink:

[2018-07-17 18:53] jancborchardt commented on #10
Yes – just keep in mind that we also have a plan in the Files app to combine the chronological information (Activity, Comments, Versions) into one timeline. Not sure if anything else is chronological for now, but keep that in mind for the future @juliushaertl @Nebri :)

[2018-07-18 13:52] Aesculapius commented on #449
search can be improved but if that topic is developed I'd also vote to enable search in card descriptions. Stack, board or card names can be found by using simple control-F in your browser but you can't do that within the card descriptions...

[2018-07-18 19:54] juliushaertl commented on #449
@Aesculapius General search improvements are tracked in https://github.com/nextcloud/deck/issues/286

[2018-07-19 06:46] juliushaertl commented on #10
Good point @jancborchardt We need to remind that for comments and activity #211

[2018-07-19 16:28] jonidimo opened #542 "Node(cards)-based interface"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when i'm trying to see the connections and relations between the cards, dates, actions to take in certain columns delineating workflow activities.

**Describe the solution you'd like a clear and concise description of what you want to happen.**

Implementing a node(cards)-based interface like many others like

[2018-07-21 06:52] kiki78 opened #543 "Members right"
When I set shared members right to only read, so uncheck Share, Modify and Manage, this members can edit card.
Is it normal or bug ?

Regards,
Christian

[2018-07-21 07:22] juliushaertl commented on #543
@kiki78 Thanks for your report. I cannot reproduce this, in case it happens, it is of course a bug. Can you tell me some details, is all card data editable or only something specific? Can you check the browser console for errors while setting the permissions?

When testing this i found that it is possible to use the label/user assignment to change data in the UI but the permission check when savin

[2018-07-21 07:30] juliushaertl commented on #542
This is a totally different concept from what the deck app is designed for, so adding a view like this is out of scope. Maybe you can move your request over to the https://github.com/splitt3r/mindmaps app, which at least already provides some type of visual connection between notes.

[2018-07-21 07:30] #542 closed

[2018-07-21 07:45] kiki78 commented on #543
Thank you Julius for your quick response.

So Follow the list of what I can do and not when connect as reader only member.
Can't Do
---------
Add new card
Change Members
Add file to card
Archive or Delete card
Change Date
Change Tags
Change Description
Reorganize cards

Can Do
-------
Add user

As you write, some of can't do appear to work in UI, but are not saved. Sorry for bad report :-(

So the

[2018-07-21 09:18] juliushaertl commented on #543
Thanks for the detailed report. I'll have a look into it.

[2018-07-23 10:43] juliushaertl commented on #542
From my mail to @jonidimo, who asked about some more details, why this was closed:

[2018-07-23 10:49] juliushaertl opened #550 "Adjust template layout for Nextcloud 14"
See https://github.com/nextcloud/server/pull/9982

[2018-07-23 15:28] bpcurse opened #551 "Show tag title on cards overview"
**Is your feature request related to a problem? Please describe.**
It is possible to set differently coloured tags, but colour alone is often not intuitive enough.
Especially when one is using many different colour tags it soon gets complicated and many users won't remember the colour specific relevance. E.g. setting different priority levels is hardly possible.

**Describe the solution you'd like

[2018-07-23 15:51] bpcurse opened #552 "Link cards with related content"
**Is your feature request related to a problem? Please describe.**
Sometimes multiple cards in a stack are connected to each other (logically and/or by content). If you want them to stay visually together you have to pay attention when a card is moved to not separate them.

**Describe the solution you'd like**
It should be possible to "link" cards together. Select 2 or more cards and issue a "link

[2018-07-23 16:38] bpcurse commented on #551
@juliushaertl Thank you for your fast reply. That is exactly what I meant in the alternatives section.
I agree that the additional information will be very helpful and displaying the whole tag name is the better way. Maybe just let the user additionally choose if it is displayed or not or if only the first x letters are shown?

[2018-07-23 18:48] helmut72 commented on #109
What if the attachment is stored in Nextcloud? Download the file and upload into Deck?

[2018-07-23 18:50] juliushaertl commented on #109
@helmut72 That would be a different issue, feel free to open one for that. In general Nextcloud lacks of an API to allow proper sharing into apps right now. The relevant server issue is at https://github.com/nextcloud/server/issues/10292

[2018-07-23 18:58] juliushaertl commented on #551
Regarding the design, I'd just propose to show them as it is done with GitHub issues, under the card title with a smaller font size.

![image](https://user-images.githubusercontent.com/3404133/43096997-00c6992a-8ebb-11e8-9263-9fe5af67bfc3.png)

[2018-07-23 19:32] helmut72 commented on #109
@juliushaertl Thanks for explanation.

[2018-07-24 10:37] Brianetta opened #553 "Configuration setting for width of stacks"
I use a relatively small screen, on which I can see two and a half stacks in my board. I'd be grateful if the width of the stacks could be manually adjusted to suit the user. I'm not suggesting automatic scaling (I read #82) but just a simple input where I can manually scale all of my stacks horizontally.

Zooming doesn't help; by the time I see a reasonable number of stacks, the text is too small

[2018-07-25 16:51] #532 closed

[2018-07-25 16:56] juliushaertl commented on #543
Fixed with #555

[2018-07-25 16:56] #543 closed

[2018-07-25 20:01] juliushaertl commented on #552
If they were to be moved now, all connected cards should be moved together.

I think that would add to much complexity to the way a user interacts with cards.

That sounds like a way nicer approach to me. It doesn't add any additional UI and is way more flexible than having a static linking.

[2018-07-26 22:15] #550 closed

[2018-07-27 12:21] pbek commented on #286
Thank you for this wonderful app to manage the things I do (beside managing them in QOwnNotes :smile: )! I want to give a +1 on the case insensitive search! That really would be an improvement in my opinion. I almost wanted to file an issue because I couldn't find my items. :)

[2018-07-28 10:32] #475 closed

[2018-07-28 11:13] juliushaertl commented on #537
It is more work to do that, so moving to 0.5

[2018-07-30 08:53] schiessle opened #560 "horizontal scrolling broken on Nextcloud 14 beta"
I just tried the deck app with Nextcloud 14beta1 on c.nc.com and noticed that I can't scroll horizontally if I have more stacks then what fits on the screen

Maybe because of https://github.com/nextcloud/server/pull/9982 ?

[2018-07-30 11:54] philippe-levan commented on #551
@juliushaertl : I can take this issue if you want.

[2018-07-30 11:56] juliushaertl commented on #551
@philippe-levan That would be awesome. I've invited you to the deck project, so you can push your branch directly to the repo. That makes it a bit easier to test/contribute on a pull request.

[2018-07-30 15:48] bpcurse commented on #12
Automatically opening the first board is a good idea but only makes sense if you can change the board order. Else you could end up with an open board on startup that you seldom use.
Regarding Mail this behaviour is not optimal for all users (automatically opening all Inboxes view).

Adding user flexibility by providing customization options hidden in the "settings" symbol shouldn't be seen as disa

[2018-07-30 20:17] juliushaertl commented on #560
Thanks, yes seems there is still something broken, scrolling works, but the scrollbar is not visible.

[2018-07-30 21:44] juliushaertl commented on #560
Seems to work fine on master, so it has probably been fixed with https://github.com/nextcloud/server/pull/10421

Let's wait for beta2 and see if it works.

[2018-07-31 07:58] juliushaertl commented on #551
Implemented with #561

[2018-07-31 07:58] #551 closed

[2018-07-31 08:31] philippe-levan opened #562 "Add a new "Add card button" at the top of the columns"
**Is your feature request related to a problem? Please describe.**

When you have a lot of cards in a column, you have to scroll down to add a new card.
If you want your card to be at the top of the column, you have to move it manually to the top.

**Describe the solution you'd like**

We could add a new "add card button" at the top of a column that would add a card at the top of the column.
(the

[2018-07-31 17:48] UrienRakarth opened #563 "Register Activity events to get Email notifications"
**Is your feature request related to a problem? Please describe.**
The problem is that we cannot have email notifications when a card or stack are created.

**Describe the solution you'd like**
I think the integration with Activity app will be great (also with Notifications too).

**Describe alternatives you've considered**
I tried hard-codding it but we don't want that method since Activity has a

[2018-07-31 23:57] bpcurse commented on #562
Please have a look at #399 and #404

[2018-08-01 07:14] schiessle commented on #83
I know that there is already a pull request with a lot of code. I just found kanboard.org which already provides a API with existing Android clients (didn't checked other platforms) so I wonder if it would make sense to copy the API. This way we would be compatible with existing apps.

[2018-08-01 14:46] Nebri commented on #83
The API code is finished, we're just getting through validation checks. Also REST provides a common interface that easily allows data exchange with other applications, so we're already compatible with existing applications.

[2018-08-01 21:14] schiessle opened #564 "Nextcloud Files integration"
Would be nice if I could not only upload new files as attachment but also select files which are already stored in my Nextcloud to connect then with a specific card.

## Updated specification:

* The user is able to upload a file as an attachment to a card.
* Files uploaded from local storage will be stored in a default folder, pre-defined by the user.
* The uploaded file will be shared with all u

[2018-08-01 21:18] schiessle opened #565 "Date picker is broken with Nextcloud 14"
When I try to set a due date the date and time picker is no longer shown on Nextcloud 14 beta 1

[2018-08-02 11:45] bpcurse opened #566 "Deliver due date notifications only to assigned users"
**Is your feature request related to a problem? Please describe.**
If a card has a due date, notifications about a passed due date are displayed to all board users, even if they aren't assigned to it.
With many cards and users this can be annoying, some kind of filtering or additional notification option seems to be a probable solution.

**Describe the solution you'd like**
If a card has a due dat

[2018-08-02 14:46] rullzer commented on #560
Beta2 is out :)

[2018-08-02 16:42] juliushaertl commented on #560
Yes works as expected for me now with both releases.

[2018-08-02 16:42] #560 closed

[2018-08-02 16:44] juliushaertl commented on #565
Looks also like a server issue to me. I also cannot access the date picker in the files app.

[2018-08-02 16:46] juliushaertl commented on #565
See nextcloud/server#10512

[2018-08-02 17:34] juliushaertl commented on #564
Yes, definitely. There are some things that need to be discussed. It doesn't seem to be easily possible with the current share API the server provides, therefore i opened https://github.com/nextcloud/server/issues/10292.

- Files should somehow be accessible by all users who have access to the board
  - Should they just show up in the home directory or in a deck specific subfolder
- Files need to

[2018-08-02 17:37] juliushaertl commented on #562
Yes, lets continue discussing that in #399

[2018-08-02 17:37] #562 closed

[2018-08-02 17:37] juliushaertl commented on #563
This is a duplicate of #211

[2018-08-02 17:37] #563 closed

[2018-08-02 17:40] UrienRakarth commented on #563
Lol sorry, thx :)

[2018-08-03 07:49] schiessle commented on #565
@juliushaertl the fix you provided here https://github.com/nextcloud/server/pull/10515 fixes the issue for the date picker for me but not for the time picker. The time picker seems to be hidden behind the sidebar.

[2018-08-03 10:40] schiessle commented on #564
True, didn't thought about shared boards. Maybe you could use the existing share api to automatically share the file/folder with all users to who the board is shared.

[2018-08-03 23:43] bpcurse opened #567 "Missing indicator in board view if more than 3 users are assigned to a card"
**Is your feature request related to a problem? Please describe.**
If there are more than 3 users assigned to a card there is no way to tell in board view. One has to open the card to see it.

**Describe the solution you'd like**
Indicate somehow that there are more users assigned than displayed.

- Show a "+" sign in the third user icon if there are more than 3 users assigned.

**Alternatives**
-

[2018-08-04 15:11] bpcurse opened #568 "Auto close sidebar after board is opened"
**Is your feature request related to a problem? Please describe.**
Probably many users have more stacks in a board than fit their screen width.
The sidebar consumes some of the valuable space and has to be manually collapsed for a better overview.

**Describe the solution you'd like**
Once a board is accessed the left sidebar should automatically collapse if there are more boards than fit the scre

[2018-08-04 15:31] bpcurse opened #569 "Show (new) card count in stack title"
**Is your feature request related to a problem? Please describe.**
It would be nice to see how many cards are in a large stack and especially how many have been added since the users last login. Sure, low priority...

**Describe the solution you'd like**
Show card count after the stack title and additionally the "new" card count.

**Describe alternatives you've considered**
Only show the count of

[2018-08-04 16:31] bpcurse opened #570 "Tag colour does not change immediately"
**Describe the bug**
After having edited a tag by setting a new colour, the tags on the cards are not immediately updated.
It is necessary to reload the page, open the board details again or click once on all affected cards.

**To Reproduce**
Steps to reproduce the behavior:
1. Tag a card with tag x
2. Go to board-details and edit tag x
3. Change tag colour
4. Confirm change
5. Exit board-details

[2018-08-06 07:05] jgrete opened #573 "Upload of even smaller files as attachment to a card fails (upload_max_filesize)"
### Steps to reproduce
1.Try to upload a file of smaller size (I've done it with a 98k file) as an attachment for card
2.
3.

### Expected behaviour
upload works without problems because the upload limit is  about 8Gb
and there's no problem with it when I upload much larger files to other directories.

### Actual behaviour
Failed to upload: Filename...
The uploaded file is larger than upload_max_f

[2018-08-07 09:33] HonkXL opened #574 "Integration of Deck in the Nextcloud notification system"
**Is your feature request related to a problem? Please describe.**
When a other user creates a new deck and share this deck with me, I get a notification inside Nextcloud, but it is not shown in the activity stream. The creation or change of cards is not viewable in the stream.

**Describe the solution you'd like**
I would prefer that Deck puts all changes of decks and cards to the activity stream

[2018-08-07 21:06] beta2k commented on #187
So Deck cannot be used on a mobile as of now, is this correct?

[2018-08-08 02:11] benyanke commented on #187
The workflow is surprisingly usable in a mobile browser in my experience.

But yes, for mobile native, it's not yet supported.

[2018-08-08 06:00] juliushaertl commented on #573
@jgrete Thanks for your report. Can you post your php config? Does this only happen for a specific file?

[2018-08-08 08:50] jgrete commented on #573
@juliushaertl The behaviour does not depend on what kind of file it is.
php.ini follows

[php_ini.txt](https://github.com/nextcloud/deck/files/2269589/php_ini.txt)

[2018-08-09 14:58] jancborchardt commented on #12
Of course it is the last opened board which should automatically be opened. :) That is the highest likelyhood of relevance, and allows you to dive right in where you left off.

It is however the defaults which we discuss about. And the majority of normal people never change default settings. So the defaults need to be great.

[2018-08-10 04:39] ashgoodman commented on #249
+1, this was the first thing I noticed I needed that this excellent software doesn't already provide!

[2018-08-10 07:01] nrgeen opened #575 "Details of cards not visible (Android/Firefox)"
Since the update to version 4.0, I can no longer open the details of the individual cards in Firefox on my Android smartphone.

My system
---
- Nextcloud 13.0.5
- Deck 0.4.1

When will the problem arise?
---
- open deck in Firefox browser (version 61.0.2) under Android 8/9
- open a board
- type / open a card in the card overview

What should happen?
---
- the details of the card should appear (des

[2018-08-10 12:36] juliushaertl commented on #569
I'm a bit concerned that this would clutter the interface, but we could show a small number indicator in a light text color, i guess.

Bug reports and feature requests are also a very important contribution. I highly appreaciate your regular contributions. :+1:

But of course you are also welcome to checkout one of the issues labeled as [good first issue](https://github.com/nextcloud/deck/issues?q

[2018-08-10 12:57] juliushaertl commented on #567
That would actually be the direction I'd go. Maybe use a 3-dots indicator and show them in a popover then, because a + would always indicate that you can add more on click.

[2018-08-10 15:44] Mannshoch commented on #15
I would prefer to sort the cards by Category. And Stack as Status.
May a category could be upgraded to a Deck.
In thunderbird it appear as normal Category

If I create a task in Thunderbird and don't add at least one Deck category you could put them in nextcloud/deck to a  kind of "unsorted" deck .

The good point is, if I set a category on more then one deck I'm able to put a task into more then

[2018-08-10 16:11] Mannshoch commented on #15
Hmm... If I add two Deck Category maybe a drawer which contain the link to this Task on the other Deck would be interesting.

[2018-08-10 17:06] Mannshoch opened #576 "Template enhancement"
**Is your feature request related to a problem? Please describe.**
I don't like the sidebar It use to much space on my small monitor. In different situation I need different views.

**Describe the solution you'd like**
View Button:
![grafik](https://user-images.githubusercontent.com/7795891/43971136-44c68cca-9cd0-11e8-8eb3-920a1b4533a4.png)

TaskList view:
![grafik](https://user-images.githubuserc

[2018-08-10 18:52] rullzer commented on #565
@juliushaertl do we need something fixed in server for this?

[2018-08-11 18:17] linuxpete opened #577 "Checklist items are not stable marked"
**Describe the bug**

- I have cards in which I have made a checklist, and this card is put in a stack.
- When I mark these checklist items "done" the card shows this in the summary in the Stack (see picture stack1.png
![stack1](https://user-images.githubusercontent.com/7695965/43994717-08a5729c-9da2-11e8-96c2-5ef1955720ea.png)
- When I move the card between stacks the checked items become uncheck

[2018-08-11 19:30] laurentiu2 commented on #577
I can confirm the problem. When marking in checklist, I can see Autosave working, but then when I leave the card and return afterwards, some other items appear marked/checked, not the one I marked initially.

[2018-08-13 01:58] ashgoodman opened #585 "Drag and drop Re-order boards"
It would be nice if the order boards are listed in the left pane could be controlled by either a drag and drop option or a "up/down" arrow tool.

[2018-08-13 06:37] ashgoodman opened #586 "Prevent duplicate tag names"
**Describe the bug**
I am able to create duplicate tags (identical in spelling, capitalization etc) for the same board

**To Reproduce**
Steps to reproduce the behavior:
1. Create tag for a board
2. Create another tag for the same board with an identical name

**Expected behavior**
A warning message that the tag already exists for that board

<bountysource-plugin>

---
Want to back this issue? **[

[2018-08-13 10:39] juliushaertl commented on #586
Makes sense, however this is nothing to urgent. Thanks for reportin :+1:

[2018-08-13 11:11] ashgoodman commented on #586
Yep, I understand.

Glad to help improve the project!

[2018-08-14 02:15] benyanke opened #587 "Compact View"
**Is your feature request related to a problem? Please describe.**
Often on a smaller screen (my daily driver is a 13 inch notebook), I feel like I do a lot of scrolling to get a good general picture.

**Describe the solution you'd like**
Similar to Taiga's zoom levels, I'd like to implement a "compact mode" which changes the CSS to display more tightly packed cards. It's quite nice right now on a

[2018-08-14 19:55] juliushaertl commented on #576
Let's merge this with https://github.com/nextcloud/deck/issues/587 since the request is kind of similar.

[2018-08-14 19:55] #576 closed

[2018-08-14 19:57] juliushaertl commented on #587
From @Mannshoch in https://github.com/nextcloud/deck/issues/576

[2018-08-14 19:57] juliushaertl commented on #587
I think providing a simple switch (maybe in the settings section) would be a good impovement then, since this has popped up a couple of times already.

[2018-08-14 20:06] benyanke commented on #587
I agree - I didn't even look at the sidebar with my first-draft CSS, but that's another piece to look at.

Perhaps not even putting it in settings, but a button next to settings would be nice, as it would allow very quick flipping between modes.

[2018-08-15 14:45] juliushaertl commented on #565
Yes, the server side fix is in https://github.com/nextcloud/server/pull/10701

[2018-08-15 18:52] #259 closed

[2018-08-15 18:52] juliushaertl commented on #259
@LemonAndroid Don't forget to claim your bounty for this one. :wink:

[2018-08-15 19:48] #83 closed

[2018-08-15 19:50] juliushaertl opened #588 "API documentation"
We need a proper API documentation for the brand new rest API from #535. Proposals for tooling that could help provide a nice documentation is welcome :wink:

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62191319-api-documentation?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept b

[2018-08-15 20:04] juliushaertl commented on #577
I might have an idea where this is goin wrong. Can you check if it works fine, if you click the checkbox instead of the label text besides it?

[2018-08-15 20:18] nrgeen commented on #577
Normally I click on the checkboxes and have the same problem. So I can't confirm that it works reliably with this approach.

[2018-08-16 07:08] pixelipo commented on #588
Is there an official "Nextcloud" way of creating documentation for apps?

The easiest method is to just create a markdown file in code. However, I believe documentation should be accessible from within the NC instance itself.

There is already `/settings/help` page which hosts NC server documentation - why not expand it to include app-specific docs as well? It's just a placeholder anyway, since it

[2018-08-16 08:07] juliushaertl commented on #588
I think the API documentation could still be independently hosted somewhere else since it is nothing regular users will care about. The usual nextcloud documentation is build with sphinx, but I'd like to have something more API focused. Maybe with some examples like curl requests.

[2018-08-16 13:49] fpetry opened #589 "Card Title can be empty and hence not be edited anymore"
**Describe the bug**
If I create a card and then click it and edit the title  to an empty string on the right, I cannot edit it afterwards because of the way it is displayed (field gets smaller and cannot be clicked anymore)

**To Reproduce**
Steps to reproduce the behavior:
1. Click the big "+" to create a new card
2. Write anything as title
3. Click the card and edit the title to an empty string

[2018-08-16 13:51] fpetry commented on #589
It also works if you just write a " " when creating the card.

[2018-08-16 21:53] d4rdos opened #590 "Adding tags without editing"
Hi, I'm pretty new on this, if I make a mistake please let me know.

Could you add the option to grant permission to users so that they could only add tags? At this time you can only add tags giving permission to edit, but this includes being able to remove decks ... is that possible?

Thank you

[2018-08-18 08:26] juliushaertl commented on #590
@d4rdos Thanks for your request. In general I don't think that allowing to set tags without editing permissions is the right way. Maybe we should just make the delete option require manage permissions on boards? Can you describe the use case a bit more?

[2018-08-18 08:43] juliushaertl commented on #573
@jgrete It seems you have an error at your upload_max_filesize setting, as there is a space between `8 GB`. It should be `upload_max_filesize = 8GB`

[2018-08-18 08:43] #573 closed

[2018-08-18 08:47] juliushaertl commented on #574
Duplicate of #211

[2018-08-18 08:47] #574 closed

[2018-08-18 08:49] juliushaertl commented on #568
Duplicate of https://github.com/nextcloud/deck/issues/117

[2018-08-18 08:49] #568 closed

[2018-08-18 08:59] juliushaertl commented on #553
We should not introduce a setting for UI preferences here. This will cause various problems, since the card view is not only about a text that can be shrinked but also has indicator icons, that need some space.

We already have the option to hide the left sidebar, so that should give you a bit more space. In general space is always limited somehow and it really depends on the number of stacks/card

[2018-08-18 08:59] #553 closed

[2018-08-18 11:40] jgrete commented on #573
Ahh, we're getting closer. It's true, the size has to be written in a different manner.
But only these size specifications were successful:
8G
8 G
Don't know why it so strict...

Thanks alot
Juergen

[2018-08-18 18:50] Brianetta commented on #553
Thanks for you time. I'll find some other software.

[2018-08-18 21:09] master-m1000 opened #591 "Auto refresh and warning if someone changed anything"
My team and I have been using Deck for several days. In this short time we noticed a few things:

1. If you work together at the same time on a board, you ever have to refresh the site, to see what the others have changed.
2. If you want to edit something, but you didn't refresh the page before, you maybe overwrite something.

**My suggested solution:**
An auto refresh or an info bar at the top of

[2018-08-20 16:31] Nebri commented on #251
@juliushaertl This is pretty straight forward, I'd like to take this one on. I'll get started on your go-ahead.

[2018-08-20 18:37] JumpLink commented on #10
@Nebri Do you want to implement this feature? Did you need help?

[2018-08-20 18:39] Nebri commented on #10
@JumpLink No thank you, this is currently being handled by @juliushaertl . When I started commenting on this issue I had missed the fact that he is currently assigned to this task.

[2018-08-21 08:52] laurentiu2 commented on #10
and from nov 17, 2017 since Julius assigned himself, nothing happened! Wouldn't be better if Ryan handles this? btw awesome work on REST API :)

[2018-08-21 09:46] juliushaertl commented on #10
@laurentiu2 @JumpLink Comments and activity have actually gotten a high priority issue in the last month so I'm activly working on it right now. Expect a pull request soon. Both features will land in the next relase probably around end of september.

[2018-08-21 10:49] JumpLink commented on #10
Nce to hear, good luck!

[2018-08-21 16:13] Nebri commented on #10
@laurentiu2 I appreciate your kind words regarding my work on the REST api. I would like to also gently remind that juliushaertl has much more on his plate regarding deck. Typically Pull Requests are created when one of two things happen. We need feedback on the work in progress, or we believe the work is ready to be reviewed for a merge. Just because you haven't seen the pull request yet, doesn't

[2018-08-21 17:48] Nebri commented on #250
Personally I like the way it is right now, but yes empty view placeholders is definitely good to clarify! Here's a list of the messages that I would insert. Upon @juliushaertl  approval I will get started!

"There are currently no stacks for this board, get started by creating a stack"

"There are currently no cards for this stack, get started by creating a card"

"There are currently no archived

[2018-08-21 19:04] Nebri commented on #490
@juliushaertl I found a plugin under the MIT license that gives us this functionality: https://github.com/jakiestfu/Mention.js/

I'm not sure if this would conflict with the AGPL license deck is currently under. Mind putting your input on this? If there is a conflict I will happily write my own solution for this.

[2018-08-21 19:16] Nebri commented on #531
pretty sure this was resolved with REST API #535 pull request

[2018-08-21 19:27] Nebri commented on #249
@juliushaertl Where would you like this to be placed? I'm thinking the side panel on the card details with typeahead's for the new board?

[2018-08-21 19:56] Nebri commented on #87
@juliushaertl How should this be implemented? My initial thoughts is to create a page in the admin to export various boards / everything (for example a list of check boxes that represents the boards, the stacks, and cards in a tree) or to have an export button on the board pages themselves available to admins.

And yes I'm loving the "bounty hunter" role that I have found via Bounty source. It mak

[2018-08-21 20:05] Nebri commented on #32
Just to clarify, swim lanes would essentially be containers for stacks? I could see that being very useful if we set up the swim lanes as rows that housed the stacks with show / hide functionality.

[2018-08-21 20:39] jancborchardt commented on #250
@Nebri sounds good! :) Make sure to use the `div class="emptycontent"` standard with an icon, h2 and p inside of it. (Check how the Files app does it for empty folders for example.)

[2018-08-21 20:45] Nebri commented on #250
Thanks for pointing that out! I'll revise my PR :).

[2018-08-22 00:35] Nebri commented on #411
@linksilver @juliushaertl I assume that we are meaning versioning / history similar to what WordPress has for it's page + post functionality yes?

This would be a fun feature to implement and learn how to do. Keep fund raising the bounty, I'm chasing low hanging fruit right now between job interviews. I'd love to be able to do development work like this full time.

[2018-08-22 13:57] Nebri commented on #14
@nextcloud/deck  Is there any api / references to generate the shares from the nextcloud core? I'd hate to re-invent the wheel here. Just trying to formulate a plan of attack before I pull up my editor for this.

[2018-08-22 18:25] lllHuber opened #594 "Add option to show only tasks assigned to a specific user"
This would be especially helpful, when collaborating on large projects with multiple people. Tasks will add up quickly (the board gets cluttered) and it would be awesome if each member could swap between

- viewing just the tasks that are assigned to them (for effective work) or
- seeing all the tasks (for a project overview).

A bonus would be an option to restrict individual users to only see th

[2018-08-22 18:29] lllHuber opened #595 "Fixed deck headlines"
When there are many cards on one deck and it's needed to scroll down the screen, the headlines of the decks scroll out of the screen as well. It becomes difficult to see which cards are on which deck.
It would be wonderful if the headlines were fixed to keep a good overview of which card is on which deck.

[2018-08-23 00:01] willianveiga commented on #330
@juliushaertl, it's already using user's locale to display the dates.

The only piece that does not respect user's locale is the due date field value.

Am I missing something?

Thank you.

[2018-08-23 05:51] juliushaertl commented on #595
@lllHuber Thanks for reporting. We already have https://github.com/nextcloud/deck/issues/399 for this, so I'm closing this as a duplicate.

[2018-08-23 05:51] #595 closed

[2018-08-23 07:34] juliushaertl commented on #14
@Nebri Unfortunately there is no generic share API right now in Nextcloud. The current one is just for files, so we need to build something on our own there. We already do this for the general board sharing, so i think it makes sense to just extend the current acl table to support public links.

We started with some unification of public templates/controllers in 14 but we either need to add a fall

[2018-08-23 08:02] juliushaertl commented on #330
@willianveiga Yes, that is exactly what this issue is about. The input field for due dates is now hardcoded to the YYYY-MM-DD but should use the users personal settings.

[2018-08-23 08:09] juliushaertl commented on #249
@Nebri It would make sense to add this as an option to the 3-dots menu on the board view. We can then just show a popover with the option to copy/move the card to a different stack or board. Similar to how trello does it:

![image](https://user-images.githubusercontent.com/3404133/44512992-7a41df80-a6bc-11e8-9d66-21290170fc10.png)

[2018-08-23 10:52] juliushaertl commented on #330
@willianveiga I've invited you to the repo,  once you are a member, I can assign you. Great that you want to tackle that.

[2018-08-23 10:58] willianveiga commented on #330
Great, @juliushaertl! Thank you very much! :smile:

[2018-08-23 11:57] #250 closed

[2018-08-23 12:40] juliushaertl commented on #32
Somehow, a swimlane would more be a container for cards that are distributed across several stacks. I'd aim to something similar to the kanboard swimlane feature: https://docs.kanboard.org/en/latest/user_guide/swimlanes.html

[2018-08-23 12:50] juliushaertl commented on #87
I think we will limit import/export to boards, so we can add the export action to the 3-dots menu in the board list. The should always create a new board then. We could put that one at the bottom of the app navigation (left sidebar).

[2018-08-23 12:58] juliushaertl commented on #531
@Nebri No, just tested, we still return the following for an nonexisting board:

[code]

[2018-08-24 13:57] juliushaertl commented on #251
Fixed by #592

[2018-08-24 13:57] #251 closed

[2018-08-26 14:20] LEDfan opened #598 "Accessibility issues found by aXe"
To find the issues yourself:

1. install the [aXe](https://addons.mozilla.org/nl/firefox/addon/axe-devtools/) browser extension
2. open the network tab and go to the aXe panel
3. click 'Analyze'

This issue is about solving some remaining errors:

![image](https://user-images.githubusercontent.com/2996275/44629171-b179f000-a94b-11e8-8a52-1f6fdaaf5621.png)
(The first one is a false-positive due to

[2018-08-28 21:44] compumatter opened #601 "Prioritize Sort Order by Dragging instead of Alphabetical"
**Is your feature request related to a problem? Please describe.**
I need a way to insure projects that have higher priority are at the top of my list.  I am sure that is by nature a typical expected human interaction.  At present there is no way to do this

**Describe the solution you'd like**
Either provide a handle or simply clicking on the row item and allow it to be dragged up or down to its

[2018-08-29 09:02] juliushaertl commented on #587
@weeman1337 Icons as discussed: https://cloud.bitgrid.net/s/e472zjCn7aC3ykf

[2018-08-29 11:50] d4rdos commented on #590
?? =(

[2018-08-29 14:16] weeman1337 commented on #589
I'll have a look at this.

[2018-08-29 15:47] #587 closed

[2018-08-29 17:46] weeman1337 opened #603 "Display tag (colors) in compact mode"
As an user I want to see the colors of the tags at the card in compact mode,
so I know which tags are assigned to the card.

Followup to #587, #602

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/62767995-display-tag-colors-in-compact-mode?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We a

[2018-08-30 15:39] corpuslinea commented on #603
Hi this is class we want to edit and organize our processes in Nextcloud
How can I visualize and edit this on the go with the app?

[2018-08-30 19:17] cloud2018 opened #604 "notification when a user is removed from a card"
**Is your feature request related to a problem? Please describe.**
When a user is assigned to a card a notification is sent to the user. But when a user is removed from a card a notification isn't sent to the deasssigned user

**Describe the solution you'd like**
When a user is removed from a card it would be consitent that there is also a notification

[2018-08-31 11:23] ashgoodman opened #605 "Integrate with Mail app so email can be linked to from card"
**Is your feature request related to a problem? Please describe.**
It would be nice if a card could have a link to email(s) related to it

**Describe the solution you'd like**
Add another attachment option: attach email, that lets you select an email((s) from the Mail app to link to from the card. Cicking the link should take you to that mail in the Mail app

Granted given the mail app isn't reall

[2018-09-03 07:48] mennowo commented on #14
Really hope to see this feature added some time soon! Just added a bit to the bounty.

[2018-09-03 10:10] juliushaertl commented on #605
Thanks for your feature request.

This is another use case for https://github.com/nextcloud/server/issues/11015

[2018-09-05 09:53] smrhp commented on #594
Another bonus: ability to cut / copy / paste a task from one board to another

[2018-09-06 08:10] evs-cp opened #610 "Mobile view of Deck not working"
**Description of the problem**
When using docker in mobile view, the cards aren't clickable anymore. If tapped/clicked, they wont react and nothing happens. Happens to be one of the newest versions, was upgraded only one or two weeks ago.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Deck'
2. resize your browser to fit on a normal phone screen, cards should now be in a row
3. Now cl

[2018-09-06 19:11] weeman1337 commented on #355
:+1: for Vue.
I suggest not doing a 1:1 migration - instead we should use the opportunity to decouple some deck components. E.g. encapsulate a deck card, that's currently part of the board "object" somehow.

I would like to help doing the migration. Just ping me @juliushaertl

[2018-09-06 20:44] jfowl commented on #286
Push for case insensive search.

[2018-09-07 07:59] laurentiu2 commented on #610
Can confirm that. NC 13.0.6, Chrome on Android. Didn't notice before..

[2018-09-07 14:18] juliushaertl opened #612 "Activity papercuts"
- Due date should respect the users locale format
- Labels should be rendered with their color
- Card description diff should only contain changed lines

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/63130012-activity-papercuts?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bount

[2018-09-07 14:18] #211 closed

[2018-09-10 01:37] ashgoodman opened #617 "Create a list of predefined labels to be applied to each new board"
**Is your feature request related to a problem? Please describe.**
When running a lot of projects, I tend to use the same labels for each board. It would be useful to be able to edit the predefined list so that each new board automatically has the labels I want without having to create the labels for each new board manually.

**Describe the solution you'd like**
A settings UI where I can pick a la

[2018-09-10 02:54] ashgoodman commented on #577
still occurs

[2018-09-10 15:09] Nebri commented on #14
Life has gotten busy but later this week I will take a serious look at implementing this 👍

[2018-09-13 08:06] ashgoodman opened #618 "Upload once attach many times"
**Is your feature request related to a problem? Please describe.**
There are situations where several cards in a board or across boards may need to reference the same image or file. Currently, I have to re-upload that file each time

**Describe the solution you'd like**
I would like to be able to upload a file once but attach it to as many cards as I need. This could be limited to just cards on on

[2018-09-13 20:19] laurentiu2 commented on #490
As a lawyer I can tell it can be used without problems.
Regards,

[2018-09-17 14:49] Nebri commented on #249
Sorry for inactivity, needed a break / interviews. Getting back on this task.

[2018-09-17 16:00] Nebri commented on #249
@juliushaertl Having a hard time figuring out how to do the pop over form you have mocked up there. Anybody able to contribute a code snippet to help get me on my way?

[2018-09-18 10:38] js-d-coder opened #621 "fclose(): supplied resource is not a valid stream resource at /var/www/html/nextcloud/apps/deck/lib/Service/FileService.php#156"
**Error in one of the php files belonging to this app**
Bug from `Logging` in nextcloud setting:

    fclose(): supplied resource is not a valid stream resource at /var/www/html/nextcloud/apps/deck/lib/Service/FileService.php#156

**To Reproduce**
(not sure)

**Expected behavior**
(no PHP error)

**Screenshots**
(no need)

**Client details:**
 - OS: Kubuntu
 - Browser: Firefox
 - Version: 63
 - De

[2018-09-19 09:03] ashgoodman commented on #601
As a workaround, I have been prefixing less important boards with  Z-

But it would be so much better to drag and drop as @compumatter suggested

[2018-09-19 09:05] ashgoodman commented on #601
Duplicate of #585 ?

[2018-09-19 09:09] ashgoodman commented on #446
Drag and drop on mobile has always seemed problematic to me in every app I've used, even native apps.

Maybe a better solution is to have a 3 dot menu option that lets you "assign to stack"?

However that wouldn't address the issue of ordering the card withinn a stack

[2018-09-19 14:16] ikke-t commented on #446
Perhaps four direction buttons there or smth like that, top/bottom?

[2018-09-19 18:28] liquidat commented on #446
I'd like to mention that this works for me. First, the stacks are shown underneath if I keep the normal orientation. If I tilt the mobile, the stacks are shown left to right.

Dragging cards works for me in both ways, though in Firefox there were problems dragging it to the staples on the right side if the display was tilted. Tested on Android 9 with Chrome 68 and Firefox 62

[2018-09-20 00:06] LollenJumplan commented on #618
This sounds like something that could be solved by supporting attaching files from nextcloud itself, rather than the local machine only. Wasn't that planned anyway?

[2018-09-21 03:14] ffuentes commented on #617
+1

[2018-09-21 15:41] tarpin opened #622 "Show ID on cards and boards"
**Is your feature request related to a problem? Please describe.**
Can't simply and strict refer to specific card or board.

**Describe the solution you'd like**
Each card and board should have a visible numeric ID.
- The ID should be unique (globally) and not editable.
- The IDs may be visible as greyed out number on the bottom, like issue's ID in Projects on GitHub [link](https://github.com/next

[2018-09-25 06:59] shashankmc commented on #564
Started using deck a couple of days ago, and this feature is definitely useful. Hoping to see this feature! :)

[2018-09-26 07:09] hitam4450 opened #627 "Show Percentage of Completion"
In one of the earlier versions, it was possible to add the percentage of completion to each task!

Why this feature was dropped ? Please add again!

regards, hitam4450

[2018-10-01 12:32] henning commented on #570
Maybe related to this:

I just experienced the issue that after adding tags, and editing them to change their color, some tags at first did show up "properly" as expected. But suddenly i added a card and the color of the tag didn't show up. I did a full reload of the page/deck - and now all colors for tags disappeared completely. No tag had the previously selected and configured color. In the edit

[2018-10-01 12:33] juliushaertl commented on #621
Thanks for reporting.

[2018-10-02 08:59] juliushaertl commented on #627
We didn't have any percentage tracking in the past. We introduced an indicator for checkboxes that shows `finished tasks/total tasks`. That should be enough indication on the progress. Adding an additional percentage indicator would clutter the UI to much in my oppinion.

[2018-10-02 08:59] #627 closed

[2018-10-03 10:57] biva opened #631 "[Design feature request] Default view without left menu"
Thank you for this great app that we use all days.

The way we use it is with specific URL for different boards, for example: https://mynextcloud.com/apps/deck/#!/board/1/ for the board 1

But when I open this URL, the left menu is present: If I want to see only my board on the full screen, I need to click on the 3-bars menu (next to the "Home" icon).

Is there a possibility to hide the left menu

[2018-10-04 15:52] juliushaertl commented on #414
@RobindaRobot There is no filtering implemented right now. The other issues were closed since they were duplicates of this one basically.

[2018-10-04 16:00] juliushaertl commented on #618
It is already possible to add the attachment link or inline embedded by copying the URL to a different cards description.

As @LollenJumplan mentioned at some point attaching files from your nextcloud would solve this, so I'm closing this in favour of #564

[2018-10-04 16:00] #618 closed

[2018-10-06 07:39] tykayn opened #633 "modifications lost after a delay of inactivity"
**Describe the bug**
after some time without activity (minutes or hours), the user is logged out, be we can still fill cards and move them to other columns. Nothing notifies us our modifications will not be taken, the app acts like everything is ok but when we reload the page we are still at the previous state. this is really annoying.

**To Reproduce**
Steps to reproduce the behavior:like describ

[2018-10-07 18:58] joeldeteves commented on #187
This app is very useful, and it is such an integral part of many organizational structures. Therefore it should be considered for adoption into the Nextcloud project (and thus the official NextCloud mobile app). Tagging @jancborchardt

[2018-10-07 20:55] cieska opened #634 "Card deskription text partly visible on mobile browser"
**Description**
When using Deck on mobile phone Card text description partly visible, only about 60-70% of line visible. Not really possible to slide some frame or text itself to read it fully.

**Screenshots**
![screenshot_20181007-213759](https://user-images.githubusercontent.com/41318524/46586815-a4d4d580-ca7b-11e8-9587-bfa93c348e4a.png)
![screenshot_20181007-213817](https://user-images.githubu

[2018-10-07 21:06] benyanke commented on #187
hear hear! Also critical to my workflow as well.

[2018-10-08 08:44] hitam4450 commented on #187
Well, same here! It would be a great extension of the Nextcloud mobile app!

regards, hitam4450

[2018-10-08 09:11] juliushaertl commented on #187
The app is part of the Nextcloud project, but the Nextcloud app you are refering to is just a files app, so I don't see integration of any other nextcloud app into that happening.

Since we have a REST API since the last release, it should be possible for community people to start developing something, but since I'm not an Android/iOS developer we need people who are up for doing that. :wink:

May

[2018-10-08 09:14] juliushaertl commented on #633
That is an issue with Nextcloud 13 since after some timeout the CSRF token is becoming invalid. There is nothing we can do about that in deck, but with Nextcloud 14 the token is updating in the background so the issue should be fixed there.

[2018-10-08 09:14] #633 closed

[2018-10-08 09:28] stefan-niedermann commented on #187
Yeah, i am definitely interested in developing an android app.

I will let you know if i have news for you :)

[2018-10-08 20:32] juliushaertl commented on #631
I think the best way would be to just store the shown/hidden status when toggling the sidebar using the burger button.

[2018-10-09 10:48] hitam4450 commented on #627
Sorry, perhaps I mixed up something!

[2018-10-09 12:56] juliushaertl commented on #446
Drag and drop is always a bit problematic on mobile, so ideally this should be fixed by #249 which should also support moving the card to a different stack on mobile.

[2018-10-09 12:57] juliushaertl commented on #610
Closing as a duplicate of #575

[2018-10-09 12:57] #610 closed

[2018-10-09 13:01] juliushaertl commented on #622
The card id is unique, so if you have the url `#!/board/3//card/2` card 2 is only available once on the whole Nextcloud instance.

I'm not sure if showing the id in the user interface is a good idea or if it is just additional noise inside of the ui. cc @nextcloud/designers

[2018-10-09 13:02] juliushaertl commented on #585
CLosing as a duplicate of #601 since it contains a bit more reasoning on the use case and options.

[2018-10-09 13:02] #585 closed

[2018-10-09 13:03] juliushaertl commented on #591
Thanks for your report. This is actually a duplicate of https://github.com/nextcloud/deck/issues/256

[2018-10-09 13:03] #591 closed

[2018-10-09 13:05] juliushaertl commented on #604
I would prefer to not have to many notifications, since removing a user is probably something that you will notice if you check back for an already assigned task. Also the assignemnts are available in the activities coming with 0.5 as well. Opinions @nextcloud/deck

[2018-10-09 14:06] ikke-t commented on #446
@juliushaertl, I agree, the other issue covers this.

[2018-10-09 14:44] #10 closed

[2018-10-09 22:30] hx187 opened #640 "Comment function for cards"
**Is your feature request related to a problem? Please describe.**
If I am editing a card together with another person, I would like to write comments for that card. So that my colleague, among others, knows why there are current problems, etc.

**Describe the solution you'd like**
A comment function for each map. Best with the editor and the time stamp.

**Describe alternatives you've considered*

[2018-10-10 05:31] juliushaertl commented on #640
This is a duplicate of #10 We just released a first beta of the new version 0.5 which includes this feature. Feel free to test it: https://help.nextcloud.com/t/call-for-testing-deck-0-5-beta/38749

[2018-10-10 05:31] #640 closed

[2018-10-11 09:34] juliushaertl commented on #431
Running fine again https://travis-ci.org/nextcloud/deck/jobs/439909469#L787

[2018-10-11 09:34] #431 closed

[2018-10-11 14:15] PenguinNexus opened #644 "Cannot share Decks with other Users / Groups"
When I try to share a Deck with my team members, I get the "No matching user or group found." error.

No errors appear in my log, so I'm a bit stuck. In the meantime, could someone show me the Database schema so I can manually allow the Decks to be shared?

Thanks,
Penguin

[2018-10-11 14:33] juliushaertl commented on #644
@PenguinNexus It works fine here. Can you please fill out the issue template with some more details about your versions/server setup/logs? Otherwise it is quite hard to figure out what the problem is there.

[2018-10-11 14:34] juliushaertl commented on #644
Also the output of the browser console might be interesting during the time you try to add a user.

[2018-10-11 15:01] PenguinNexus commented on #644
Hi there, I can't seem to find the issue template, must be me missing something obvious, but here's some useful information:

Version: 14.0.2 (Stable)

Client details:

OS: Windows 10
Browser: Chrome Version 69.0.3497.100 (Official Build) (64-bit)
Web server: Apache
Database: MySQL
PHP version: 7

I get the following Error in Developer Tools:

vendor.js?v=156f74ca-19:34 TypeError: Cannot read prop

[2018-10-11 17:16] tarpin commented on #622
I didn't know. Anycase, I still have to know board's ID to display card 2 in browser by URL (I've tried without any luck). Is there possibility to display this card without board's ID, e.g. `[...]index.php/apps/deck/2`?

It could be optional, disabled by default.

[2018-10-12 07:35] HorlogeSkynet opened #645 "Cards not very readable with NC 14 black theme"
Hey over here !

**Describe the bug**
Simple feedback of a short usage of this wonderful app, once the Nextcloud 14 black theme has been enabled : Cards are not really readable...

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Deck application
2. Choose a board
2. See the unreadable aspect of cards

**Expected behavior**
A cards design compatible with the black theme.

**Screenshots

[2018-10-12 07:39] juliushaertl commented on #645
Thanks for reporting. I have already started fixing this in #643

[2018-10-12 07:40] juliushaertl opened #646 "Show a hint to the user if sharing is disabled"
If sharing is disabled for apps on the Nextcloud server, the user should see a message that adding users to the board is not possible then. (ref https://github.com/nextcloud/deck/issues/644)

[2018-10-12 07:41] juliushaertl commented on #644
Created https://github.com/nextcloud/deck/issues/646 for providing better information to the user.

[2018-10-12 07:43] HorlogeSkynet commented on #645
Wow such a fast feedback, thanks to you and sorry then (your PR does not contain "black" nor "theme") :joy:

++ :bowing_man:

[2018-10-12 08:28] cloud2018 opened #647 "cardinfo: Modified: ... created: .. by"
**Describe the bug**
In card-metainformation modifier and creator of a card are swapped

**To Reproduce**
Steps to reproduce the behavior:
1. create a card with testuser_creator
2. modify the card with testuser_modifier
3. open the card
4. "Modified: seconds ago **Created: 6 minutes ago by testuser_modifier**" is displayed, although the card was not created by test_modifier:
![___screenshot from 2

[2018-10-12 09:15] juliushaertl commented on #647
I think we could actually get rid of the user, since we have pretty detailed change log in the activity feed now.

[2018-10-12 09:21] cloud2018 commented on #647
ja, Deine Variante ist noch geschickter

[2018-10-12 09:38] juliushaertl commented on #647
@cloud2018 Since you have already looked into the template code, would you mind to create a pull request to remove the user from the sidebar then? That would be awesome :wink:

[2018-10-12 09:39] juliushaertl commented on #645
@HorlogeSkynet Let's keep it open, so we can properly keep track of it :wink:

[2018-10-12 09:45] cloud2018 commented on #647
sorry, i'm not very familiar with github :-(

[2018-10-12 09:47] plrunner commented on #119
+1

[2018-10-14 10:13] rakekniven opened #649 "i18n: Understanding problem with "{user} has mentioned in a comment on "%s"""
https://github.com/nextcloud/deck/blob/1d777550edbe6879cf94d94e6aacddba726b6651/lib/Notification/Notifier.php#L121

What does this sentence is about?

Please provide some context.

Issue at Transifex: https://www.transifex.com/nextcloud/nextcloud/translate/#de_DE/deck/154637012?q=text%3A'{user}+has+mentioned'

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www

[2018-10-15 05:51] juliushaertl commented on #649
This is a notification, that a user has mentioned you in a comment on a card. %s is the title of the card.

[2018-10-15 06:54] juliushaertl commented on #649
Commented on the transifex issue as well.

[2018-10-15 06:55] juliushaertl commented on #647
@cloud2018 No problem. ;)

[2018-10-15 11:28] rakekniven commented on #649
Maybe my english skillz are not good enough.

For me this does not sound valid.

It should be

or?

[2018-10-15 11:33] juliushaertl commented on #649
@rakekniven Totally right :see_no_evil: Thanks for recognizing.

[2018-10-15 18:07] Nebri commented on #249
Aplogies for inactivity, resuming work on this task now :).

[2018-10-15 20:51] Nebri commented on #249
@nextcloud/deck opened up PR #652 as a WIP. I'm blocked on trying to resolve the entire boardsList. If anyone doesn't mind looking at that PR and the changes I've got in the boardscontroller that will help to get this done in a timely manner.

My guess is that I am either misuing the BoardService or it is bugged and not returning the expected results. I need to which is the case in order to contin

[2018-10-16 06:43] Nebri commented on #14
Going to add a new database table to track generated public links.

Will add in a new menu option from the boards ... menu that will confirm the generation of a new link / deleting existing links.

@juliushaertl what is the procedure for scripting the creation of new database tables when the app gets updated / installed?

[2018-10-16 18:37] mgartin commented on #398
I assume this is similar to what Trello has at "https://trello.com/my/cards", but perhaps even better, ie. with the ability to filter out and/or combine cards from selected boards. I think I managed to put a bounty on this, but it hasn't shown up here yet.

[2018-10-17 09:39] #649 closed

[2018-10-17 13:53] mamatt opened #655 "Card description not editable"
**Describe the bug**
Using MD char like ">" or "#" in the description without any other content make the card description not editable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new card
2. Edit description
3. Add just a single "#"
4. Leave the card and try to edit description again

**Expected behavior**
Description should be editable

**Client details:**
 - OS: Linux /Window

[2018-10-21 09:55] LemonAndroid commented on #398
Let me take it from here.

[2018-10-21 16:29] desperateCoder opened #659 "Provide "Changes since X" in the API"
**Is your feature request related to a problem? Please describe.**
We are currently about to write an Android-App for Deck, and i am thinking about a efficient way to synchronize all the data from the server since my last sync.

**Describe the solution you'd like**
I came to the conclusion it would be very convenient to have an endpoint that tells me about all the changes in boards, stacks and car

[2018-10-22 04:56] karloluiten commented on #87
As long as there is no export/import, is there a way to manually transfer the data to a new server? Via sql for example? I changed from VPS hosted NC to a server at home and would like to transfer this data as well.

[2018-10-22 07:51] juliushaertl commented on #659
@desperateCoder @stefan-niedermann  How about adding an optional "" header to the existing API calls (see https://tools.ietf.org/html/rfc7232#section-3.3) We could apply this to all GET requests on the API and then only return data, that has changed in newer time than the transmitted date in the header. We should then also provide proper ETags and a `Last-Modified` header to make sure you can prop

[2018-10-22 08:17] juliushaertl commented on #398
@LemonAndroid Great to hear that :+1: It would be awesome if you could provide some more details on what you plan to implement, maybe a quick mockup of how you imagine this to look, so we can properly discuss it and find possible issues before you invest time in coding :wink:

[2018-10-22 08:19] juliushaertl commented on #14
I think it would be fine to just add a field to the board table to have a public link token there. One link per board should be enough, I think.

When adding a new column/table you can just change the database.xml, but if you want to earn some bonus points, it would be awesome if we could just migrate the existing database schema to migrations (https://docs.nextcloud.com/server/14/developer_manual

[2018-10-22 08:59] LemonAndroid commented on #398
https://i.gyazo.com/3618d4f876bb63097a65d2d976f18feb.png

[2018-10-22 18:01] juliushaertl opened #660 "Migrate to markdown-it-link-attributes"
npm WARN deprecated markdown-it-link-target@1.0.2: This package has been deprecated. Use markdown-it-link-attributes instead.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/65094473-migrate-to-markdown-it-link-attributes?utm_campaign=plugin&utm_content=tracker%2F52758431&utm_medium=issues&utm_source=github)** We accept bounties via

[2018-10-22 18:05] juliushaertl commented on #398
Ok, so we have one row for each board and inside of that a list of all cards a user is assigned to. Looks good to me. Just to make sure, we also need to somehow show on which stack the card is.

[2018-10-22 18:14] LemonAndroid commented on #398
any idea for the ui of stack info?

earlier i just popped the marvel screengrab into paint, maybe you can do that

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Oct 22 2018, at 8:05 pm, Julius Härtl <notifications@github.com> wrote:

[2018-10-23 07:29] #647 closed

[2018-10-23 09:45] desperateCoder commented on #659
Hi,

sounds like this is exactly what we need!

Thanks in advance!

[2018-10-23 14:03] stefan-niedermann commented on #659
Sounds good :) Is there any reason why you prefer a http header over an optional url parameter? (i'm just curious)

[2018-10-23 17:40] LemonAndroid commented on #398
@juliushaertl opinion?

![deckmycardswlabel](https://user-images.githubusercontent.com/3209250/47379530-730a7280-d6fb-11e8-9d9c-e6a8422a13c2.png)

[2018-10-24 07:13] Salokyn opened #662 "Limit number of cards on stacks"
To use Desk as a Kanban board, it would be great to be able to set a maximum number of card in a column.

[2018-10-24 10:10] juliushaertl commented on #659
Ok, great, I'll look into that.

Mostly because there is a standard, so I prefer to use it instead of adding additional parameters. :wink:

[2018-10-24 12:19] juliushaertl commented on #398
@LemonAndroid Here is a quick mockup of what I had in mind:

![image](https://user-images.githubusercontent.com/3404133/47429766-a39fea00-d797-11e8-915e-eb45d60eefbd.png)

- ToDo/Done/Backlog are the name of stacks inside of the boards

[2018-10-24 12:22] plyaskin opened #663 "Only allow users access to cards they are assigned on"
The rules of permission (show or hide) to cards for assigned users

[2018-10-24 12:39] LemonAndroid commented on #398
How are multiple stacks handled?

[2018-10-24 13:03] juliushaertl commented on #398
What do you mean with multiple stacks? They are just shown besides each other. A card can only be on one stack at a time.

[2018-10-24 13:15] LemonAndroid commented on #398
Oh, ok, i confused stacks with labels/tags.

Sent from Mailspring (https://getmailspring.com/), the best free email app for work
On Oct 24 2018, at 3:03 pm, Julius Härtl <notifications@github.com> wrote:

[2018-10-24 14:11] LemonAndroid commented on #398
What's the bounty on this again?

[2018-10-24 14:14] LemonAndroid commented on #398
I'll start this issue once the bounty reached 100$.

[2018-10-25 12:20] #429 closed

[2018-10-25 12:44] #645 closed

[2018-10-25 12:52] juliushaertl commented on #663
Will be there in the next release: #10

This is a very specific use case which will could lead to a lot of confusion when users can only see specific cards, so I don't think it is worth adding.

Will also be there in the next release: #211

[2018-10-25 13:10] plyaskin commented on #663
Maybe you can to add the specific board for this case? Or the track below on a board with permission for a user some like this?
https://en.kaiten.io/kanban

[2018-10-25 13:17] juliushaertl commented on #663
Can you try to describe what you would like to achieve with this feature? As I understand it you just want cards to be visible to specific users only.

[2018-10-25 13:19] juliushaertl commented on #662
Not sure about this, while I get that you might want to limit the number cards, I'm a bit concerned that we mess up the UI with to many settings. Especially since we don't have any section in the UI that would allow us to quickly add some values for stacks.

cc @nextcloud/deck

[2018-10-25 14:00] juliushaertl commented on #663
OK, so it would be a permission on a per board level. I think we could integrate that nicely into the board permission management by adding another checkbox like "Only allow users access to cards they are assigned on". What do you think @nextcloud/deck ?

[2018-10-25 14:03] juliushaertl commented on #594
Duplicate of #414 and #489

[2018-10-26 02:30] duybq86 opened #664 "Picture for card"
I think card need a picture for description, Anyone with the same thoughts with me.

[2018-10-26 07:12] pixelipo commented on #662
This is a very important feature for professional users of Kanban boards. However, I'm not sure if it doesn't require some additional pro-features, such as:
- permissions: having user roles and limiting which roles are allowed to move cards to which stacks
- workflow: conditions that allow/block moving cards to certain stacks
- card types: each type with a unique set of user role permissions and w

[2018-10-26 07:14] pixelipo commented on #663
Please see my reply in https://github.com/nextcloud/deck/issues/662

Permissions system is one of the must-have "pro" features, but it's not really necessary for private ones. In order to build it, we need to sit down and work out a really good concept for it - then a UI - then implement it :)

[2018-10-26 08:47] plyaskin commented on #663
Hi @pixelipo,
I think you can to do this for pro, but for private will enough just this checkbox with a functionality of permission :)

[2018-10-26 09:05] pixelipo commented on #663
@plyaskin  it's not "just a checkbox" - you need to set up a whole interface. Your requirement is just one very particular usecase in the wider range of "permissions" feature. Why would it make sense to implement this single usecase now? Why is that one more important than any other permissions feature, such as "Give "write" access to a card only for admin and assignee"?

Implementing a single use

[2018-10-27 10:19] desperateCoder commented on #659
Offtopic: Do you have any ER-Diagram or something like this? Do you think i should build the whole DB-Model into the App, or is there any irrelevant data for an App like this? Should i sync the DB-Layout or do my own thing? What is your opinion?

[2018-10-27 11:42] desperateCoder commented on #659
Hi @juliushaertl,
first of all thanks for the quick response.
OK so far, i was prefering the DB-mirroring anyway. And yes, i already have an accounts-table for saved accounts (via SSO). That is totally fine.

After you mentioned the `If-Modiefied-Since` header, i was already expecting something similar to your approach (more than one call for fetching changes).

Your particular idea would work jus

[2018-10-27 12:06] desperateCoder commented on #659
I just looked at your gist, not sure, but don't you have constraints or indices? I'm kinda confused...

[2018-10-27 12:10] juliushaertl commented on #659
We don't do that right now, but I'll add that while adding the If-Modified-Since header.

No, we just keep one state in the database. However we expose changes to the Nextcloud activity app. That is good for giving the user a list of changes, but doesn't allow to properly track revisions back.

We don't have foreign key contraints, since that is not supported properly by the Nextcloud app framewor